<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AccountSearchResultsLV">
    <ExposeIterator
      valueType="entity.AccountSearchView"
      widget="AccountSearchResultsLV"/>
    <Require
      name="accountSearchViews"
      type="AccountSearchViewQuery"/>
    <Require
      name="tAccountOwnerReference"
      type="web.accounting.TAccountOwnerReference"/>
    <Require
      name="isWizard"
      type="boolean"/>
    <Require
      name="showHyperlinks"
      type="boolean"/>
    <Require
      name="showCheckboxes"
      type="Boolean"/>
    <RowIterator
      canPick="!isWizard"
      checkBoxVisible="showCheckboxes"
      editable="false"
      elementName="accountSearchView"
      hasCheckBoxes="true"
      pickValue="gw.api.web.search.SearchPopupUtil.getAccount(accountSearchView)"
      value="accountSearchViews">
      <Row>
        <LinkCell
          id="SelectCell"
          label="displaykey.Web.AccountSearchResultsLV.Select"
          visible="isWizard and !showCheckboxes">
          <Link
            action="tAccountOwnerReference.TAccountOwner = accountSearchView.Account; (CurrentLocation as pcf.api.Wizard).next();"
            id="Select"
            label="displaykey.Web.AccountSearchResultsLV.Select"
            styleClass="miniButton"/>
        </LinkCell>
        <Cell
          action="AccountDetailSummary.go(accountSearchView.Account)"
          available="showHyperlinks"
          id="AccountNumber"
          label="displaykey.Web.AccountSearchResultsLV.AccountNumber"
          sortOrder="1"
          value="accountSearchView.AccountNumber"/>
        <Cell
          id="AccountName"
          label="displaykey.Web.AccountSearchResultsLV.AccountName"
          sortBy="accountSearchView.AccountName"
          value="accountSearchView.AccountNameKanji.HasContent ? accountSearchView.AccountNameKanji : accountSearchView.AccountName"/>
        <TypeKeyCell
          id="Currency"
          label="displaykey.Web.AccountSearchResultsLV.Currency"
          value="accountSearchView.Currency"
          visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
        <TypeKeyCell
          id="Segment"
          label="displaykey.Web.AccountSearchResultsLV.Segment"
          sortOrder="3"
          value="accountSearchView.Segment"/>
        <TypeKeyCell
          id="AccountType"
          label="displaykey.Web.AccountSearchResultsLV.AccountType"
          value="accountSearchView.AccountType"/>
        <DateCell
          id="CreationDate"
          label="displaykey.Web.AccountSearchResultsLV.CreationDate"
          sortBy="accountSearchView.CreateTime"
          sortOrder="2"
          value="accountSearchView.CreateTime"/>
        <TypeKeyCell
          id="DelinquencyStatus"
          label="displaykey.Web.AccountSearchResultsLV.DelinquencyStatus"
          value="accountSearchView.DelinquencyStatus"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>