<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewsearch and perm.System.actsearch"
    id="ActivitySearch"
    title="displaykey.Web.Search.Activities.Title">
    <ScreenRef
      def="ActivitySearchScreen()"/>
  </Page>
</PCF>