<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="CommissionPlanSearchPopup"
    returnType="CommissionPlan"
    title="tier == null ?                   displaykey.Web.Search.CommissionPlan.Title.SearchForActiveCommissionPlans :                   displaykey.Web.Search.CommissionPlan.Title.SearchForActiveCommissionPlansWithTier(tier)">
    <LocationEntryPoint
      signature="CommissionPlanSearchPopup()"/>
    <LocationEntryPoint
      signature="CommissionPlanSearchPopup(tier : ProducerTier)"/>
    <Variable
      name="tier"
      type="ProducerTier"/>
    <ScreenRef
      def="CommissionPlanSearchScreen(tier, false)"/>
  </Popup>
</PCF>