<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="CommissionPlanSearchDV">
    <Require
      name="searchCriteria"
      type="CommissionPlanSearchCriteria"/>
    <InputColumn>
      <Label
        id="SearchCriteria"
        label="displaykey.Web.CommissionPlanSearchDV.SearchCriteria"/>
      <Input
        editable="true"
        id="NameCriterion"
        label="displaykey.Web.CommissionPlanSearchDV.Name"
        value="searchCriteria.Name"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>