<?xml version="1.0"?>
<PCF
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
    <Page
            alwaysInEditMode="true"
            canEdit="true"
            canVisit="perm.System.viewsearch and (perm.System.acctsearch or perm.System.plcysearch or perm.System.prodsearch)"
            countsAsWork="false"
            id="ContactSearch"
            startInEditMode="true"
            title="displaykey.Web.Search.Contacts.Title">
        <ScreenRef
                def="ContactSearchScreen(false)"/>
    </Page>
</PCF>