<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewsearch and perm.System.delsearch"
    id="DelinquencyProcessSearch"
    title="displaykey.Web.Search.DelinquencyProcesses.Title">
    <ScreenRef
      def="DelinquencyProcessSearchScreen()"/>
  </Page>
</PCF>