<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewsearch and perm.System.pmntsearch"
    id="DirectBillSuspenseItemSearch"
    title="displaykey.Web.Search.DirectBillSuspenseItems.Title">
    <ScreenRef
      def="DirectBillSuspenseItemSearchScreen()"/>
  </Page>
</PCF>