<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="DirectBillSuspenseItemSearchDV">
    <Require
      name="searchCriteria"
      type="DirectSuspPmntItemSearchCriteria"/>
    <InputColumn>
      <Label
        id="SearchCriteria"
        label="displaykey.Web.DirectBillSuspenseItemSearchDV.SearchCriteria"/>
      <DateInput
        editable="true"
        id="EarliestDateCriterion"
        label="displaykey.Web.DirectBillSuspenseItemSearchDV.EarliestDate"
        value="searchCriteria.EarliestDate"/>
      <DateInput
        editable="true"
        id="LatestDateCriterion"
        label="displaykey.Web.DirectBillSuspenseItemSearchDV.LatestDate"
        value="searchCriteria.LatestDate"/>
      <TypeKeyInput
        editable="true"
        id="CurrencyCriterion"
        label="displaykey.Web.PaymentSearchDV.Currency"
        value="searchCriteria.Currency"
        visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()">
        <PostOnChange
          onChange="blankMinimumAndMaximumFields()"/>
      </TypeKeyInput>
      <MonetaryAmountInput
        available="(searchCriteria.Currency != null or gw.api.util.CurrencyUtil.isSingleCurrencyMode())"
        currency="gw.search.SearchHelper.getDefaultCurrencyIfNull(searchCriteria.Currency)"
        editable="true"
        id="MinAmountCriterion"
        label="displaykey.Web.DirectBillSuspenseItemSearchDV.MinAmount"
        value="searchCriteria.MinAmount"/>
      <MonetaryAmountInput
        available="(searchCriteria.Currency != null or gw.api.util.CurrencyUtil.isSingleCurrencyMode())"
        currency="gw.search.SearchHelper.getDefaultCurrencyIfNull(searchCriteria.Currency)"
        editable="true"
        id="MaxAmountCriterion"
        label="displaykey.Web.DirectBillSuspenseItemSearchDV.MaxAmount"
        value="searchCriteria.MaxAmount"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
    <Code><![CDATA[function blankMinimumAndMaximumFields() {
  searchCriteria.MinAmount = null
  searchCriteria.MaxAmount = null
}]]></Code>
  </DetailViewPanel>
</PCF>