<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    editable="false"
    id="DisbursementSearchResultsLV"
    mode="default">
    <Require
      name="disbursementSearchViews"
      type="DisbursementSearchViewQuery"/>
    <RowIterator
      editable="false"
      elementName="disbursementSearchView"
      value="disbursementSearchViews">
      <Row>
        <DateCell
          id="CloseDate"
          label="displaykey.Web.DisbursementSearchResultsLV.CloseDate"
          sortOrder="1"
          value="disbursementSearchView.CloseDate"/>
        <Cell
          id="CheckNumber"
          label="displaykey.Web.DisbursementSearchResultsLV.CheckNumber"
          value="disbursementSearchView.CheckNumber"/>
        <TypeKeyCell
          action="DisbursementDetail.go(disbursementSearchView.Disbursement, false)"
          id="Reason"
          label="displaykey.Web.DisbursementSearchResultsLV.Reason"
          value="disbursementSearchView.Reason"/>
        <Cell
          id="Payee"
          label="displaykey.Web.DisbursementSearchResultsLV.Payee"
          value="disbursementSearchView.PayTo"/>
        <MonetaryAmountCell
          currency="disbursementSearchView.Currency"
          id="Amount"
          label="displaykey.Web.DisbursementSearchResultsLV.Amount"
          sortBy="disbursementSearchView.Currency, disbursementSearchView.Amount"
          value="disbursementSearchView.Amount.ofCurrency(disbursementSearchView.Currency)"/>
        <TypeKeyCell
          id="PaymentMethod"
          label="displaykey.Web.OutgoingProducerPaymentSearchResultsLV.PaymentMethod"
          value="disbursementSearchView.PaymentMethod"/>
        <TypeKeyCell
          id="Status"
          label="displaykey.Web.DisbursementSearchResultsLV.Status"
          value="disbursementSearchView.Status"/>
        <Cell
          enableSort="false"
          id="Suspense"
          label="displaykey.Web.DesktopDisbursement.SuspenseTransactionNumber"
          value="disbursementSearchView.Disbursement typeis SuspenseDisbursement ? disbursementSearchView.Disbursement.SuspensePayment : null"/>
        <Cell
          enableSort="false"
          id="Collateral"
          label="displaykey.Web.DesktopDisbursement.Collateral"
          value="disbursementSearchView.Disbursement typeis CollateralDisbursement ? disbursementSearchView.Disbursement.Collateral.Account.AccountNumber : null"/>
        <Cell
          enableSort="false"
          id="Producer"
          label="displaykey.Web.DesktopDisbursement.Producer"
          value="disbursementSearchView.Disbursement typeis AgencyDisbursement ? disbursementSearchView.Disbursement.Producer : null"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>