<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Popup
    id="InvoiceSearchPopup"
    returnType="Invoice"
    title="displaykey.Web.InvoiceSearchPopup">
    <LocationEntryPoint
      signature="InvoiceSearchPopup()"/>
    <ScreenRef
      def="InvoiceSearchScreen(false, false)"/>
  </Popup>
</PCF>