<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewsearch and perm.System.invcsearch"
    id="InvoiceSearch"
    title="displaykey.Web.Search.Invoices.Title">
    <ScreenRef
      def="InvoiceSearchScreen(true, true)"/>
  </Page>
</PCF>