<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="PaymentSearchScreen">
    <!-- Regarding SearchMethods.validateAndSearch: The 2nd parameter controls the search mode of all associated contact fields. -->
    <SearchPanel
      criteriaName="searchCriteria"
      resultsName="paymentSearchViews"
      search="gw.search.SearchMethods.validateAndSearch(searchCriteria)"
      searchCriteria="new gw.search.PaymentSearchCriteria()"
      searchResultsType="DirectBillMoneyReceivedSearchViewQuery">
      <PanelRef
        def="PaymentSearchDV(searchCriteria)">
        <Toolbar/>
      </PanelRef>
      <PanelRef>
        <CardViewPanel>
          <Card
            id="PaymentSearchResults"
            title="displaykey.Web.Search.Payments.PaymentResults(searchCriteria.NumPaymentSearchResults())">
            <PanelRef>
              <Toolbar/>
              <ListViewPanel
                editable="false"
                id="PaymentSearchResultsLV">
                <RowIterator
                  canPick="false"
                  editable="false"
                  elementName="paymentSearchView"
                  type="DirectBillMoneyReceivedSearchView"
                  value="searchCriteria.DirectBillMoneyRcvdSearchResults">
                  <!-- IMPORTANT: Do not call paymentSearchView.Payment unless as an argument in a go() or push() call.
                        Instead, simply access the field off the viewEntity. To access a field not already on the viewEntity,
                        configure or extend dm_bc_search_view.xml to add the appropriate viewEntityLink/Name/Column/Typekey, etc.
                        Accessing large entities via FK from viewEntities leads to serious performance issues. -->
                  <Row>
                    <DateCell
                      action="AccountPayments.go(paymentSearchView.Account, paymentSearchView.DirectBillMoneyRcvd)"
                      id="PaymentDate"
                      label="displaykey.Web.PaymentSearchResultsLV.PaymentDate"
                      sortOrder="1"
                      value="paymentSearchView.ReceivedDate"/>
                    <MonetaryAmountCell
                      action="AccountPayments.go(paymentSearchView.Account, paymentSearchView.DirectBillMoneyRcvd)"
                      currency="paymentSearchView.Currency"
                      id="Amount"
                      label="displaykey.Web.PaymentSearchResultsLV.Amount"
                      sortBy="paymentSearchView.Currency, paymentSearchView.Amount"
                      value="paymentSearchView.Amount.ofCurrency(paymentSearchView.Currency)"/>
                    <Cell
                      id="AccountNumber"
                      label="displaykey.Web.PaymentSearchResultsLV.AccountNumber"
                      value="paymentSearchView.Account.AccountNumber"/>
                    <Cell
                      id="UnappliedFund"
                      label="displaykey.Web.PaymentSearchResultsLV.UnappliedFund"
                      value="paymentSearchView.UnappliedFund"/>
                    <Cell
                      enableSort="false"
                      id="Description"
                      label="displaykey.Web.PaymentSearchResultsLV.Description"
                      value="paymentSearchView.DirectBillMoneyRcvd.Description"/>
                    <Cell
                      enableSort="false"
                      id="Distributed"
                      label="displaykey.Web.PaymentSearchResultsLV.Distributed"
                      value="paymentSearchView.DirectBillMoneyRcvd.DistributedDenorm"/>
                    <TypeKeyCell
                      id="Method"
                      label="displaykey.Web.PaymentSearchResultsLV.Method"
                      value="paymentSearchView.PaymentMethod"/>
                    <Cell
                      id="CheckRefNumber"
                      label="displaykey.Web.PaymentSearchResultsLV.CheckRefNumber"
                      value="paymentSearchView.RefNumber"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </Card>
          <Card
            id="AgencyMoneyReceivedSearchResults"
            title="displaykey.Web.Search.Payments.AgencyMoneyReceivedResults(searchCriteria.NumAgencyMoneyReceivedSearchResults())">
            <PanelRef>
              <Toolbar/>
              <ListViewPanel
                editable="false"
                id="AgencyMoneyReceivedSearchResultsLV">
                <RowIterator
                  canPick="false"
                  editable="false"
                  elementName="agencyMoneyReceived"
                  type="AgencyMoneyReceivedSearchView"
                  value="searchCriteria.AgencyBillMoneyRcvdSearchResults as AgencyMoneyReceivedSearchViewQuery">
                  <Row>
                    <Cell
                      id="ProducerName"
                      label="displaykey.Web.AgencyMoneyReceivedSearchResultsLV.ProducerName"
                      sortBy="agencyMoneyReceived.ProducerName"
                      sortOrder="1"
                      value="agencyMoneyReceived.ProducerNameKanji.HasContent ? agencyMoneyReceived.ProducerNameKanji : agencyMoneyReceived.ProducerName"/>
                    <DateCell
                      id="AppliedDate"
                      label="displaykey.Web.AgencyMoneyReceivedSearchResultsLV.AppliedDate"
                      value="agencyMoneyReceived.ReceivedDate"/>
                    <MonetaryAmountCell
                      currency="agencyMoneyReceived.Currency"
                      id="Amount"
                      label="displaykey.Web.AgencyMoneyReceivedSearchResultsLV.Amount"
                      sortBy="agencyMoneyReceived.Currency, agencyMoneyReceived.Amount"
                      value="agencyMoneyReceived.Amount.ofCurrency(agencyMoneyReceived.Currency)"/>
                    <TypeKeyCell
                      id="Method"
                      label="displaykey.Web.AgencyMoneyReceivedSearchResultsLV.Method"
                      value="agencyMoneyReceived.PaymentMethod"/>
                    <Cell
                      id="CheckRefNumber"
                      label="displaykey.Web.AgencyMoneyReceivedSearchResultsLV.CheckRefNumber"
                      value="agencyMoneyReceived.RefNumber"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </Card>
          <Card
            id="SuspensePaymentSearchResults"
            title="displaykey.Web.Search.Payments.SuspensePaymentResults(searchCriteria.NumSuspensePaymentSearchResults())">
            <PanelRef>
              <Toolbar/>
              <ListViewPanel
                editable="false"
                id="SuspensePaymentSearchResultsLV">
                <RowIterator
                  canPick="false"
                  editable="false"
                  elementName="suspensePayment"
                  type="SuspensePayment"
                  value="searchCriteria.SuspensePaymentSearchResults as SuspensePaymentQuery">
                  <Row>
                    <DateCell
                      action="DesktopSuspensePayments.go()"
                      id="SuspensePaymentDate"
                      label="displaykey.Web.SuspensePaymentSearchResultsLV.PaymentDate"
                      sortOrder="1"
                      value="suspensePayment.PaymentDate"/>
                    <MonetaryAmountCell
                      currency="suspensePayment.Currency"
                      id="SuspenseAmount"
                      label="displaykey.Web.SuspensePaymentSearchResultsLV.Amount"
                      sortBy="suspensePayment.Amount"
                      value="suspensePayment.Amount"/>
                    <Cell
                      id="SuspenseAccountNumber"
                      label="displaykey.Web.SuspensePaymentSearchResultsLV.AccountNumber"
                      value="suspensePayment.AccountNumber"/>
                    <Cell
                      id="SuspensePolicyNumber"
                      label="displaykey.Web.SuspensePaymentSearchResultsLV.PolicyNumber"
                      value="suspensePayment.PolicyNumber"/>
                    <TypeKeyCell
                      id="SuspenseMethod"
                      label="displaykey.Web.SuspensePaymentSearchResultsLV.Method"
                      value="suspensePayment.PaymentInstrument.PaymentMethod"/>
                    <Cell
                      id="SuspenseCheckRefNumber"
                      label="displaykey.Web.SuspensePaymentSearchResultsLV.CheckRefNumber"
                      value="suspensePayment.RefNumber"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>