<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewsearch and perm.System.pmntreqsearch"
    id="PaymentRequestSearch"
    title="displaykey.Web.Search.PaymentRequests.Title">
    <ScreenRef
      def="PaymentRequestSearchScreen()"/>
  </Page>
</PCF>