<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewsearch and perm.System.plcysearch"
    id="PolicySearch"
    title="displaykey.Web.Search.Policies.Title">
    <ScreenRef
      def="PolicySearchScreen(true, true)"/>
  </Page>
</PCF>