<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="PolicySearchPopup"
    returnType="PolicyPeriod"
    title="displaykey.Web.PolicySearchPopup">
    <LocationEntryPoint
      signature="PolicySearchPopup()"/>
    <ScreenRef
      def="PolicySearchScreen(false, false)"/>
  </Popup>
</PCF>