<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="PolicySearchResultsLV">
    <ExposeIterator
      valueType="entity.PolicySearchView"
      widget="PolicySearchResultsLV"/>
    <Require
      name="policySearchViews"
      type="PolicySearchViewQuery"/>
    <Require
      name="tAccountOwnerReference"
      type="web.accounting.TAccountOwnerReference"/>
    <Require
      name="isWizard"
      type="boolean"/>
    <Require
      name="showHyperlinks"
      type="boolean"/>
    <Require
      name="showCheckboxes"
      type="Boolean"/>
    <RowIterator
      canPick="!isWizard"
      checkBoxVisible="showCheckboxes"
      editable="false"
      elementName="policySearchView"
      hasCheckBoxes="true"
      pickValue="gw.api.web.search.SearchPopupUtil.getPolicyPeriod(policySearchView)"
      value="policySearchViews">
      <Row>
        <LinkCell
          id="SelectCell"
          label="displaykey.Web.PolicySearchResultsLV.Select"
          visible="isWizard and !showCheckboxes">
          <Link
            action="tAccountOwnerReference.TAccountOwner = policySearchView.PolicyPeriod; (CurrentLocation as pcf.api.Wizard).next()"
            id="Select"
            label="displaykey.Web.AccountSearchResultsLV.Select"
            styleClass="miniButton"/>
        </LinkCell>
        <Cell
          action="PolicyDetailSummary.go(policySearchView.PolicyPeriod)"
          available="showHyperlinks"
          id="PolicyNumber"
          label="displaykey.Web.PolicySearchResultsLV.PolicyNumber"
          sortBy="policySearchView.PolicyNumberLong"
          sortOrder="1"
          value="policySearchView.PolicyNumberLong"/>
        <Cell
          id="Currency"
          label="displaykey.Web.PolicySearchResultsLV.Currency"
          value="policySearchView.Currency"/>
        <Cell
          id="AccountNumber"
          label="displaykey.Web.PolicySearchResultsLV.AccountNumber"
          sortOrder="2"
          value="policySearchView.AccountNumber"/>
        <TypeKeyCell
          id="Status"
          label="displaykey.Web.PolicySearchResultsLV.Status"
          value="policySearchView.ClosureStatus"/>
        <TypeKeyCell
          id="Product"
          label="displaykey.Web.PolicySearchResultsLV.Product"
          value="policySearchView.LOBCode"/>
        <DateCell
          id="PolicyPerEffDate"
          label="displaykey.Web.PolicySearchResultsLV.PolicyPerEffDate"
          value="policySearchView.PolicyPerEffDate"/>
        <DateCell
          id="PolicyPerExpirDate"
          label="displaykey.Web.PolicySearchResultsLV.PolicyPerExpirDate"
          value="policySearchView.PolicyPerExpirDate"/>
        <Cell
          id="Producer"
          label="displaykey.Web.PolicySearchResultsLV.Producer"
          value="policySearchView.Producer"/>
        <Cell
          id="ProducerCode"
          label="displaykey.Web.PolicySearchResultsLV.ProducerCode"
          value="policySearchView.Code"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>