<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="PolicySearchDV">
    <Require
      name="searchCriteria"
      type="gw.search.PolicySearchCriteria"/>
    <InputColumn>
      <Label
        id="SearchCriteria"
        label="displaykey.Web.PolicySearchDV.SearchCriteria"/>
      <PickerInput
        conversionExpression="PickedValue.DisplayName"
        editable="true"
        id="AccountNumberCriterion"
        label="displaykey.Web.PolicySearchDV.AccountNumber"
        pickLocation="AccountSearchPopup.push()"
        value="searchCriteria.AccountNumber"/>
      <Input
        editable="true"
        id="PolicyNumberCriterion"
        label="displaykey.Web.PolicySearchDV.PolicyNumber"
        value="searchCriteria.PolicyNumber"/>
      <TypeKeyInput
        editable="true"
        id="CurrencyCriterion"
        label="displaykey.Web.AccountSearchDV.Currency"
        value="searchCriteria.CurrencyCriterion"
        visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
      <TypeKeyInput
        editable="true"
        id="StatusCriterion"
        label="displaykey.Web.PolicySearchDV.PolicyStatus"
        value="searchCriteria.ClosureStatus"/>
      <TypeKeyInput
        editable="true"
        id="ProductCriterion"
        label="displaykey.Web.PolicySearchDV.Product"
        value="searchCriteria.LOBCode"/>
      <RangeInput
        editable="true"
        id="BillingMethodCriterion"
        label="displaykey.Web.PolicySearchDV.BillingMethod"
        value="searchCriteria.BillingMethod"
        valueRange="PolicyPeriodBillingMethod.getTypeKeys(false)"/>
      <InputDivider/>
      <Input
        editable="true"
        id="ProducerCodeCriterion"
        label="displaykey.Web.PolicySearchDV.ProducerCode"
        value="searchCriteria.ProducerCode"/>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="ContactCriteriaInputSet(searchCriteria.ContactCriteria)"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>