<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="ProducerSearchPopup"
    returnType="Producer"
    title="displaykey.Web.ProducerSearchPopup">
    <LocationEntryPoint
      signature="ProducerSearchPopup()"/>
    <ScreenRef
      def="ProducerSearchScreen(false, false)"/>
  </Popup>
</PCF>