<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewsearch and perm.System.prodsearch"
    id="ProducerSearch"
    title="displaykey.Web.Search.Producers.Title">
    <ScreenRef
      def="ProducerSearchScreen(true, true)"/>
  </Page>
</PCF>