<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="TransactionDetailPopup"
    title="displaykey.Web.TransactionDetail.Title(Transaction.LongDisplayName)">
    <LocationEntryPoint
      signature="TransactionDetailPopup(Transaction : Transaction)"/>
    <Variable
      name="Transaction"
      type="Transaction"/>
    <Screen
      id="TransactionDetailScreen">
      <Toolbar/>
      <PanelRef
        def="TransactionDetailDV(Transaction)"/>
    </Screen>
  </Popup>
</PCF>