<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="TransactionSearchScreen">
    <SearchPanel
      criteriaName="searchCriteria"
      maxSearchResults="gw.api.system.BCConfigParameters.MaxSearchResults.Value"
      resultsName="transactions"
      search="gw.search.SearchMethods.validateAndSearch(searchCriteria)"
      searchCriteria="new TransactionSearchCrit()"
      searchResultsType="TransactionQuery">
      <PanelRef
        def="TransactionSearchDV(searchCriteria)">
        <Toolbar/>
      </PanelRef>
      <PanelRef>
        <Toolbar/>
        <ListViewPanel
          id="TransactionsLV">
          <RowIterator
            editable="false"
            elementName="transaction"
            value="transactions">
            <Row>
              <DateCell
                id="Date"
                label="displaykey.Web.TransactionsLV.Date"
                sortDirection="descending"
                sortOrder="1"
                value="transaction.TransactionDate"/>
              <Cell
                action="TransactionDetailPopup.push(transaction)"
                id="TransactionNumber"
                label="displaykey.Web.TransactionsLV.TransactionNumber"
                value="transaction.TransactionNumber"/>
              <TypeKeyCell
                id="Type"
                label="displaykey.Web.TransactionsLV.Type"
                value="transaction.Subtype"/>
              <MonetaryAmountCell
                currency="transaction.Currency"
                id="Amount"
                label="displaykey.Web.TransactionsLV.Amount"
                value="transaction.Amount"/>
              <Cell
                enableSort="false"
                id="TAccount"
                label="displaykey.Web.TransactionsLV.TAccount"
                value="transaction.FirstLineItem.TAccount.TAccountOwnerTypeNameTAccountName"/>
              <MonetaryAmountCell
                currency="transaction.Currency"
                enableSort="false"
                formatType="currency"
                id="Debit"
                label="displaykey.Web.TransactionsLV.Debit"
                value="transaction.FirstLineItem.Type == &quot;debit&quot; ? transaction.FirstLineItem.Amount : null"/>
              <MonetaryAmountCell
                currency="transaction.Currency"
                enableSort="false"
                formatType="currency"
                id="Credit"
                label="displaykey.Web.TransactionsLV.Credit"
                value="transaction.FirstLineItem.Type == &quot;credit&quot; ? transaction.FirstLineItem.Amount : null"/>
            </Row>
            <RowIterator
              editable="false"
              elementName="LineItem"
              id="OtherDebits"
              pageSize="0"
              value="org.apache.commons.lang.ArrayUtils.remove(transaction.DebitLineItems, 0) as LineItem[]">
              <Row>
                <Cell
                  id="Date"
                  value="null"/>
                <Cell
                  id="TransactionNumber"
                  value="null"/>
                <Cell
                  id="Type"
                  value="null"/>
                <Cell
                  id="Amount"
                  value="null"/>
                <Cell
                  id="TAccount"
                  value="LineItem.TAccount.TAccountOwnerTypeNameTAccountName"/>
                <MonetaryAmountCell
                  currency="LineItem.Currency"
                  formatType="currency"
                  id="Debit"
                  value="LineItem.Amount"/>
                <MonetaryAmountCell
                  currency="LineItem.Currency"
                  formatType="currency"
                  id="Credit"
                  value="0bd.ofCurrency(LineItem.Currency)"/>
              </Row>
            </RowIterator>
            <RowIterator
              editable="false"
              elementName="LineItem"
              id="OtherCredits"
              pageSize="0"
              value="transaction.CreditLineItems">
              <Row>
                <Cell
                  id="Date"
                  value="null"/>
                <Cell
                  id="TransactionNumber"
                  value="null"/>
                <Cell
                  id="Type"
                  value="null"/>
                <Cell
                  id="Amount"
                  value="null"/>
                <Cell
                  id="TAccount"
                  value="LineItem.TAccount.TAccountOwnerTypeNameTAccountName"/>
                <MonetaryAmountCell
                  currency="LineItem.Currency"
                  formatType="currency"
                  id="Debit"
                  value="0bd.ofCurrency(transaction.Currency)"/>
                <MonetaryAmountCell
                  currency="LineItem.Currency"
                  formatType="currency"
                  id="Credit"
                  value="LineItem.Amount"/>
              </Row>
            </RowIterator>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>