<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="TroubleTicketSearchDV">
    <Require
      name="searchCriteria"
      type="gw.search.TroubleTicketSearchCriteria"/>
    <InputColumn>
      <Label
        id="SearchCriteria"
        label="displaykey.Web.TroubleTicketSearchDV.SearchCriteria"/>
      <Input
        editable="true"
        id="TroubleTicketNumberCriterion"
        label="displaykey.Web.TroubleTicketSearchDV.TroubleTicketNumber"
        value="searchCriteria.TroubleTicketNumber"/>
      <PickerInput
        conversionExpression="PickedValue.DisplayName"
        editable="true"
        id="AccountNumberCriterion"
        label="displaykey.Web.TroubleTicketSearchDV.AccountNumber"
        pickLocation="AccountSearchPopup.push()"
        value="searchCriteria.AccountNumber"/>
      <PickerInput
        conversionExpression="PickedValue.DisplayName"
        editable="true"
        id="PolicyNumberCriterion"
        label="displaykey.Web.TroubleTicketSearchDV.PolicyNumber"
        pickLocation="PolicySearchPopup.push()"
        value="searchCriteria.PolicyNumber"/>
      <PickerInput
        conversionExpression="PickedValue.Name"
        editable="true"
        id="ProducerNameCriterion"
        label="gw.api.util.LocaleUtil.CurrentLocaleType == LocaleType.TC_JA_JP ? displaykey.Web.TroubleTicketSearchDV.ProducerNamePhonetic : displaykey.Web.TroubleTicketSearchDV.ProducerName"
        pickLocation="ProducerSearchPopup.push()"
        value="searchCriteria.ProducerName"/>
      <PickerInput
        conversionExpression="PickedValue.NameKanji"
        editable="true"
        id="ProducerNameKanjiCriterion"
        label="displaykey.Web.TroubleTicketSearchDV.ProducerName"
        pickLocation="ProducerSearchPopup.push()"
        value="searchCriteria.ProducerNameKanji"
        visible="gw.api.util.LocaleUtil.CurrentLocaleType == LocaleType.TC_JA_JP"/>
      <TypeKeyInput
        editable="true"
        id="StatusCriterion"
        label="displaykey.Web.TroubleTicketSearchDV.Status"
        noneSelectedLabel="displaykey.Web.TroubleTicketSearchDV.Any"
        value="searchCriteria.IsClosed"/>
      <CheckBoxInput
        editable="true"
        id="HasHoldCriterion"
        label="displaykey.Web.TroubleTicketSearchDV.HasHold"
        value="searchCriteria.HasHold"/>
      <AltUserInput
        editable="true"
        id="AssignedToUserCriterion"
        label="displaykey.Web.TroubleTicketSearchDV.AssignedToUser"
        value="searchCriteria.AssignedToUser"/>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="ContactCriteriaInputSet(searchCriteria.ContactCriteria)"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>