<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="SecurityZoneDetailScreen">
    <Require
      name="securityZone"
      type="SecurityZone"/>
    <Toolbar>
      <EditButtons/>
    </Toolbar>
    <PanelRef
      def="SecurityZoneDetailDV(securityZone)"/>
    <PanelRef
      def="LocalizedValuesDV(securityZone, { &quot;Name&quot;, &quot;Description&quot; }, { displaykey.Web.Admin.SecurityZoneDetailDV.Name, displaykey.Web.Admin.SecurityZoneDetailDV.Description })"/>
  </Screen>
</PCF>
