<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="SecurityZones.go()"
    afterCommit="SecurityZones.go()"
    canEdit="perm.Group.edit"
    canVisit="perm.Group.edit"
    id="SecurityZoneDetail"
    parent="SecurityZones()"
    showUpLink="true"
    title="displaykey.Web.Admin.SecurityZoneDetail(SecurityZone.Name)">
    <LocationEntryPoint
      signature="SecurityZoneDetail(SecurityZone : SecurityZone)"/>
    <Variable
      name="SecurityZone"
      type="SecurityZone"/>
    <ScreenRef
      def="SecurityZoneDetailScreen(SecurityZone)"/>
  </Page>
</PCF>