<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    beforeCommit="suspensePaymentUtil.createSuspensePaymentFromPayment(originalMoney, accountNumber, policyNumber, accountOrPolicy)"
    canEdit="true"
    canVisit="perm.DirectBillMoneyRcvd.pmntmanproc"
    id="MovePaymentToSuspense"
    parent="AccountGroup( account )"
    startInEditMode="true"
    title="displaykey.Web.MovePaymentToSuspense.Title">
    <LocationEntryPoint
      signature="MovePaymentToSuspense(account: Account, originalMoney : DirectBillMoneyRcvd)"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      name="originalMoney"
      type="DirectBillMoneyRcvd"/>
    <Variable
      name="accountNumber"
      type="String"/>
    <Variable
      name="policyNumber"
      type="String"/>
    <Variable
      initialValue="new gw.api.web.payment.SuspensePaymentUtil()"
      name="suspensePaymentUtil"
      type="gw.api.web.payment.SuspensePaymentUtil"/>
    <Variable
      initialValue="true"
      name="accountOrPolicy"
      type="Boolean"/>
    <Screen>
      <Toolbar>
        <EditButtons
          updateLabel="displaykey.Web.NewDirectBillPayment.Execute"/>
      </Toolbar>
      <DetailViewPanel
        id="PaymentDetailsDV">
        <InputColumn>
          <Label
            label="displaykey.Web.MovePaymentToSuspense.IdentifyingInformation"/>
          <Input
            id="OriginatingAccountNumber"
            label="displaykey.Web.MovePaymentToSuspense.OriginatingAccountNumber"
            value="originalMoney.Account"/>
          <Input
            id="OriginatingAccountName"
            label="displaykey.Web.MovePaymentToSuspense.AccountName"
            value="originalMoney.Account.AccountNameLocalized"/>
          <Label
            label="displaykey.Web.MovePaymentToSuspense.PaymentData"/>
          <DateInput
            id="PaymentDate"
            label="displaykey.Web.MovePaymentToSuspense.PaymentDate"
            value="originalMoney.ReceivedDate"/>
          <TextInput
            id="Description"
            label="displaykey.Web.MovePaymentToSuspense.Description"
            value="originalMoney.Description"/>
          <MonetaryAmountInput
            currency="originalMoney.Currency"
            formatType="currency"
            id="Amount"
            label="displaykey.Web.MovePaymentToSuspense.Amount"
            value="originalMoney.Amount">
            <PostOnChange/>
          </MonetaryAmountInput>
        </InputColumn>
        <InputColumn>
          <Label
            label="displaykey.Web.MovePaymentToSuspense.PaymentInstrument"/>
          <Input
            id="PaymentInstrument"
            label="displaykey.Web.MovePaymentToSuspense.PaymentInstrument"
            value="originalMoney.PaymentInstrument"/>
          <InputSetRef
            def="PaymentInstrumentInputSet(originalMoney.PaymentInstrument)"
            mode="originalMoney.PaymentInstrument.PaymentMethod"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.MovePaymentToSuspense.SuspensePaymentDetails"/>
          <Choice
            id="AccountChoice"
            option="true"
            value="accountOrPolicy">
            <Input
              available="accountOrPolicy"
              conversionExpression="(PickedValue as Account).AccountNumber"
              editable="true"
              id="AccountNumber"
              label="displaykey.Web.NewSuspensePayment.AccountNumber"
              value="accountNumber">
              <MenuItem
                action="AccountSearchPopup.push()"
                icon="&quot;search.png&quot;"
                id="AccountPicker"/>
            </Input>
          </Choice>
          <Choice
            id="PolicyChoice"
            option="false"
            value="accountOrPolicy">
            <Input
              available="!accountOrPolicy"
              conversionExpression="(PickedValue as PolicyPeriod).PolicyNumber"
              editable="true"
              id="PolicyNumber"
              label="displaykey.Web.NewSuspensePayment.PolicyNumber"
              value="policyNumber">
              <MenuItem
                action="PolicySearchPopup.push()"
                icon="&quot;search.png&quot;"
                id="PolicyPicker"/>
            </Input>
          </Choice>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>