<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    editable="true"
    id="NewPaymentRequestConfirmationScreen">
    <Require
      name="request"
      type="PaymentRequest"/>
    <Variable
      initialValue="request.Account"
      name="account"
      type="Account"/>
    <Variable
      name="payMethod"
      type="PaymentMethod"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
        <DetailViewPanel>
          <InputColumn>
            <Input
              id="PaymentInstrument"
              label="displaykey.Web.NewPaymentRequestConfirmationScreen.PaymentInstrument"
              value="request.PaymentInstrument"/>
            <Label
              label="displaykey.Web.NewPaymentRequestConfirmationScreen.Execute"/>
            <TypeKeyInput
              boldLabel="true"
              filter="VALUE == &quot;creditcard&quot; or VALUE == &quot;ach&quot; or VALUE ==&quot;wire&quot;"
              id="TypeKeyInput0"
              label="displaykey.Web.NewPaymentRequestConfirmationScreen.TransactionType"
              required="true"
              value="request.PaymentInstrument.PaymentMethod">
              <PostOnChange/>
            </TypeKeyInput>
            <Input
              id="accountNumber"
              label="displaykey.Web.NewPaymentRequestConfirmationScreen.AccountNumber"
              value="account.AccountNumber"/>
            <Input
              id="accountName"
              label="displaykey.Web.NewPaymentRequestConfirmationScreen.AccountName"
          value="account.AccountNameLocalized"/>
            <MonetaryAmountInput
              currency="account.Currency"
              id="amount"
              label="displaykey.Web.NewPaymentRequestConfirmationScreen.Amount"
              value="request.Amount"/>
            <DateInput
              id="paymentDate"
              label="displaykey.Web.NewPaymentRequestConfirmationScreen.Date"
              value="request.DraftDate"/>
          </InputColumn>
        </DetailViewPanel>
  </Screen>
</PCF>
