<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    editable="true"
    id="NewPaymentRequestScreen">
    <Require
      name="request"
      type="PaymentRequest"/>
    <Variable
      initialValue="request.Account"
      name="account"
      recalculateOnRefresh="false"
      type="Account"/>
    <Variable
      name="payMethod"
      recalculateOnRefresh="false"
      type="PaymentMethod"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <PanelRef
      def="PaymentRequestDV(request)"/>
  </Screen>
</PCF>