<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="OutgoingPaymentDetailPopup"
    title="displaykey.Web.PaymentDetails.Title">
    <LocationEntryPoint
      signature="OutgoingPaymentDetailPopup(outgoingPayment : OutgoingPayment)"/>
    <Variable
      name="outgoingPayment"
      type="OutgoingPayment"/>
    <Screen
      id="OutgoingPaymentDetailPopupScreen">
      <DetailViewPanel>
        <InputColumn>
          <Input
            editable="true"
            id="IssueDate"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.IssueDate"
            value="outgoingPayment.IssueDate"/>
          <Input
            editable="true"
            id="PaidDate"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.PaidDate"
            value="outgoingPayment.PaidDate"/>
          <Input
            editable="true"
            id="RejectedDate"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.RejectedDate"
            value="outgoingPayment.RejectedDate"
            visible="outgoingPayment.RejectedDate != null"/>
          <Input
            editable="true"
            id="RefNumber"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.RefNumber"
            value="outgoingPayment.RefNumber"/>
          <MonetaryAmountInput
            align="right"
            currency="outgoingPayment.Currency"
            formatType="currency"
            id="Amount"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.Amount"
            value="outgoingPayment.Amount"/>
          <RangeInput
            editable="true"
            id="Status"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.Status"
            value="outgoingPayment.Status"
            valueRange="typekey.OutgoingPaymentStatus.getTypeKeys(false)"/>
          <Input
            id="PayTo"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.PayTo"
            value="outgoingPayment.PayTo"/>
          <Input
            id="MailTo"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.MailTo"
            value="outgoingPayment.MailTo"/>
          <Input
            id="MailToAddress"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.MailToAddress"
            value="outgoingPayment.MailToAddress"/>
          <Input
            id="Memo"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.Memo"
            value="outgoingPayment.Memo"/>
          <Input
            id="PaymentInstrument"
            label="displaykey.Web.ProducerOutgoingPaymentDetail.PaymentInstrument"
            value="outgoingPayment.PaymentInstrument"/>
          <InputSetRef
            def="PaymentReceiptInputSet(outgoingPayment)"
            mode="outgoingPayment.PaymentInstrument.PaymentMethod"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>