<?xml version="1.0"?>
<PCF
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
    <InputSet
            id="PaymentInstrumentInputSet"
            mode="misc">
        <Require
                name="paymentInstrument"
                type="PaymentInstrument"/>
        <Input
                id="TokenForMisc"
                label="displaykey.Web.PaymentInstrument.Token"
                required="false"
                value="paymentInstrument.Token"/>
    </InputSet>
</PCF>