<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="ChooseInvoicePlacementPopup"
    returnType="Invoice"
    title="displaykey.Web.ChooseInvoicePlacementPopup.SelectInvoice">
    <LocationEntryPoint
      signature="ChooseInvoicePlacementPopup(entry : gw.api.domain.invoice.ChargeInstallmentChanger.Entry, payer: gw.api.domain.invoice.InvoicePayer)"/>
    <Variable
      name="entry"
      type="gw.api.domain.invoice.ChargeInstallmentChanger.Entry"/>
    <Variable
      name="payer"
      type="gw.api.domain.invoice.InvoicePayer"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.ChooseInvoicePlacementPopup.ItemToBePlaced"/>
          <DateInput
            id="EventDate"
            label="displaykey.Web.ChooseInvoicePlacementPopup.EventDate"
            value="entry.EventDate"/>
          <Input
            id="Invoice"
            label="displaykey.Web.ChooseInvoicePlacementPopup.CurrentInvoice"
            value="entry.Invoice"/>
          <MonetaryAmountInput
            currency="entry.Amount.Currency"
            id="Amount"
            label="displaykey.Web.ChooseInvoicePlacementPopup.Amount"
            value="entry.Amount"/>
          <InputDivider/>
          <ListViewInput
            boldLabel="true"
            def="InvoiceSelectorSimpleLV(payer)"
            id="targetInvoicesLV"
            label="displaykey.Web.MoveInvoiceItemsPopup.ChooseDestination"
            labelAbove="true">
            <Toolbar/>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>