<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="InvoiceSelectorSimpleLV">
    <Require
      name="payer"
      type="gw.api.domain.invoice.InvoicePayer"/>
    <RowIterator
      editable="true"
      elementName="invoice"
      pageSize="0"
      pickValue="invoice"
      value="payer.InvoicesSortedByEventDate">
      <Row>
        <TypeKeyCell
          id="InvoiceStatus"
          label="displaykey.Web.InvoiceSelectorSimpleLV.Status"
          value="invoice.Status"/>
        <DateCell
          id="EventDate"
          label="displaykey.Web.InvoiceSelectorSimpleLV.StatementDate"
          value="invoice.EventDate"/>
        <DateCell
          id="DueDate"
          label="displaykey.Web.InvoiceSelectorSimpleLV.DueDate"
          value="invoice.DUEDATE"/>
        <Cell
          id="InvoiceNumber"
          label="displaykey.Web.InvoiceSelectorSimpleLV.InvoiceNumber"
          value="invoice.InvoiceNumber"/>
        <Cell
          id="InvoiceStream"
          label="displaykey.Web.InvoiceSelectorSimpleLV.InvoiceStream"
          value="invoice.InvoiceStream"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>