<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="RoleDetailDV">
    <Require
      name="Role"
      type="Role"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Admin.RoleDetailDV.Role"/>
      <Input
        editable="true"
        id="Name"
        label="displaykey.Web.Admin.RoleDetailDV.Name"
        required="true"
        value="Role.Name"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="displaykey.Web.Admin.RoleDetailDV.Description"
        numRows="3"
        value="Role.Description"/>
      <ListViewInput>
        <Toolbar>
          <IteratorButtons
            addVisible="perm.RolePrivilege.create"
            iterator="RolePrivilegesLV"
            removeVisible="perm.RolePrivilege.delete"/>
        </Toolbar>
        <ListViewPanel
          id="RolePrivilegesLV">
          <RowIterator
            editable="true"
            elementName="RolePrivilege"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            pageSize="30"
            toAdd="Role.addToPrivileges(RolePrivilege)"
            toRemove="Role.removeFromPrivileges(RolePrivilege)"
            value="Role.Privileges">
            <Row>
              <TypeKeyCell
                editable="perm.RolePrivilege.edit"
                id="Permission"
                label="displaykey.Web.Admin.RolePrivileges.Permission"
                required="true"
                sortBy="RolePrivilege.Permission"
                sortOrder="1"
                unique="true"
                value="RolePrivilege.Permission">
                <PostOnChange/>
              </TypeKeyCell>
              <Cell
                id="PermissionCode"
                label="displaykey.Web.Admin.RolePrivileges.Permission.Code"
                value="RolePrivilege.Permission.Code"/>
              <Cell
                id="PermissionDesc"
                label="displaykey.Web.Admin.RolePrivileges.Permission.Description"
                value="RolePrivilege.Permission.Description"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>