<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="BillingPlanDetailDV">
    <Require
      name="billingPlan"
      type="BillingPlan"/>
    <Variable
      initialValue="not billingPlan.InUse"
      name="planNotInUse"
      type="Boolean"/>
    <Variable
      initialValue="gw.api.util.LocaleUtil.getAllLanguages().Count &gt; 1"
      name="hasMultipleLanguages"/>
    <InputColumn>
      <Input
        editable="planNotInUse"
        id="Name"
        label="displaykey.Web.BillingPlanDetailDV.Name"
        required="true"
        value="billingPlan.Name">
        <PostOnChange/>
      </Input>
      <Input
        editable="planNotInUse"
        id="Description"
        label="displaykey.Web.BillingPlanDetailDV.Description"
        value="billingPlan.Description">
        <PostOnChange/>
      </Input>
      <Input
        editable="planNotInUse"
        id="PaymentDueInterval"
        label="displaykey.Web.BillingPlanDetailDV.PaymentDueInterval"
        required="true"
        value="billingPlan.PaymentDueInterval"/>
      <Input
        editable="planNotInUse"
        id="NonResponsivePaymentDueInterval"
        label="displaykey.Web.BillingPlanDetailDV.NonResponsivePaymentDueInterval"
        required="true"
        validationExpression="isPaymentDueIntervalBigEnough(billingPlan.NonResponsivePmntDueInterval) ? null : displaykey.Java.Error.PaymentRequestInterval"
        value="billingPlan.NonResponsivePmntDueInterval"/>
      <RangeInput
        editable="planNotInUse"
        id="PaymentDueDayLogic"
        label="displaykey.Web.BillingPlanDetailDV.PaymentDueDayLogic"
        required="true"
        value="billingPlan.PaymentDueDayLogic"
        valueRange="new DayOfMonthLogic[]{DayOfMonthLogic.TC_EXACT, DayOfMonthLogic.TC_NEXTBUSINESSDAY, DayOfMonthLogic.TC_PREVBUSINESSDAY}"/>
      <DateInput
        editable="planNotInUse"
        id="EffectiveDate"
        label="displaykey.Web.BillingPlanDetailDV.EffectiveDate"
        required="true"
        value="billingPlan.EffectiveDate"/>
      <DateInput
        editable="true"
        id="ExpirationDate"
        label="displaykey.Web.BillingPlanDetailDV.ExpirationDate"
        validationExpression="billingPlan.hasValidExpirationDate() ? null : displaykey.Web.Plan.ExpirationDate.ValidationError"
        value="billingPlan.ExpirationDate"/>
      <TextInput
        id="Currency"
        label="displaykey.Web.BillingPlanDetailDV.Currency"
        value="billingPlan.Currency"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.BillingPlanDetailDV.Fees"/>
      <MonetaryAmountInput
        currency="billingPlan.Currency"
        editable="planNotInUse"
        id="InvoiceFeeAmount"
        label="displaykey.Web.BillingPlanDetailDV.InvoiceFeeAmount"
        value="billingPlan.InvoiceFee"/>
      <MonetaryAmountInput
        currency="billingPlan.Currency"
        editable="planNotInUse"
        id="PaymentReversalFeeAmount"
        label="displaykey.Web.BillingPlanDetailDV.PaymentReversalFeeAmount"
        value="billingPlan.PaymentReversalFee"/>
      <BooleanRadioInput
        editable="planNotInUse"
        id="SkipInstallmentFees"
        label="displaykey.Web.BillingPlanDetailDV.SkipInstallmentFees"
        required="true"
        value="billingPlan.SkipInstallmentFees"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.BillingPlanDetailDV.Aggregation"/>
      <TypeKeyInput
        editable="planNotInUse"
        id="Aggregation"
        label="displaykey.Web.BillingPlanDetailDV.LineItemsShow"
        value="billingPlan.Aggregation"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.BillingPlanDetailDV.LowBalanceInvoices"/>
      <BooleanRadioInput
        editable="planNotInUse"
        id="SuppressLowBalInvoices"
        label="displaykey.Web.BillingPlanDetailDV.SuppressLowBalInvoices"
        value="billingPlan.SuppressLowBalInvoices">
        <PostOnChange/>
      </BooleanRadioInput>
      <MonetaryAmountInput
        currency="billingPlan.Currency"
        editable="planNotInUse and billingPlan.SuppressLowBalInvoices"
        id="LowBalanceThreshold"
        label="displaykey.Web.BillingPlanDetailDV.LowBalanceThreshold"
        required="billingPlan.SuppressLowBalInvoices"
        value="billingPlan.LowBalanceThreshold"/>
      <TypeKeyInput
        editable="planNotInUse and billingPlan.SuppressLowBalInvoices"
        id="LowBalanceMethod"
        label="displaykey.Web.BillingPlanDetailDV.LowBalanceMethod"
        required="billingPlan.SuppressLowBalInvoices"
        value="billingPlan.LowBalanceMethod"/>
      <Label
        label="displaykey.Web.BillingPlanDetailDV.Disbursements"/>
      <MonetaryAmountInput
        currency="billingPlan.Currency"
        editable="planNotInUse"
        id="DisbursementAmount"
        label="displaykey.Web.BillingPlanDetailDV.ReviewDisbursement"
        value="billingPlan.ReviewDisbursementOver"/>
      <Input
        editable="planNotInUse"
        id="DelayDisbursement"
        label="displaykey.Web.BillingPlanDetailDV.DelayDisbursement"
        required="true"
        value="billingPlan.DelayDisbursement"/>
      <MonetaryAmountInput
        currency="billingPlan.Currency"
        editable="planNotInUse"
        id="DisbursementOver"
        label="displaykey.Web.BillingPlanDetailDV.DisbursementOver"
        required="true"
        value="billingPlan.DisbursementOver"/>
      <TypeKeyInput
        editable="planNotInUse"
        id="AvailableDisbAmtType"
        label="displaykey.Web.BillingPlanDetailDV.AvailableDisbAmtType"
        required="true"
        value="billingPlan.AvailableDisbAmtType"/>
      <BooleanRadioInput
        editable="planNotInUse"
        id="CreateApprActForAutoDisb"
        label="displaykey.Web.BillingPlanDetailDV.CreateApprActForAutoDisb"
        required="true"
        value="billingPlan.CreateApprActForAutoDisb"/>
      <BooleanRadioInput
        editable="planNotInUse"
        id="SendAutoDisbAwaitingApproval"
        label="displaykey.Web.BillingPlanDetailDV.SendAutoDisbAwaitingApproval"
        required="true"
        value="billingPlan.SendAutoDisbAwaitingApproval"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.BillingPlanDetailDV.PaymentRequests"/>
      <Input
        editable="planNotInUse"
        id="RequestDate"
        label="displaykey.Web.BillingPlanDetailDV.RequestInterval"
        required="true"
        value="billingPlan.RequestInterval"/>
      <Input
        editable="planNotInUse"
        id="FixDate"
        label="displaykey.Web.BillingPlanDetailDV.ChangeInterval"
        required="true"
        value="billingPlan.ChangeDeadlineInterval"/>
      <Input
        editable="planNotInUse"
        id="DraftDate"
        label="displaykey.Web.BillingPlanDetailDV.DraftInterval"
        required="true"
        value="billingPlan.DraftInterval"/>
      <RangeInput
        editable="planNotInUse"
        id="DraftDayLogic"
        label="displaykey.Web.BillingPlanDetailDV.DraftDayLogic"
        required="true"
        value="billingPlan.DraftDayLogic"
        valueRange="new DayOfMonthLogic[]{DayOfMonthLogic.TC_EXACT, DayOfMonthLogic.TC_NEXTBUSINESSDAY, DayOfMonthLogic.TC_PREVBUSINESSDAY}"/>
    </InputColumn>
    <InputFooterSection>
      <InputDivider/>
    </InputFooterSection>
    <Code><![CDATA[function isPaymentDueIntervalBigEnough(interval : int) : boolean {
  return interval >= billingPlan.MinimumAcceptablePaymentDueInterval
}]]></Code>
  </DetailViewPanel>
</PCF>