<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="perm.System.billplanedit"
    id="BillingPlanDetailPopup"
    startInEditMode="false"
    title="displaykey.Web.BillingPlanDetail.Title(billingPlan.Name)">
    <LocationEntryPoint
      signature="BillingPlanDetailPopup(billingPlan : BillingPlan)"/>
    <Variable
      name="billingPlan"
      type="BillingPlan"/>
    <ScreenRef
      def="BillingPlanDetailScreen(billingPlan)"/>
  </Popup>
</PCF>