<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.System.billplanedit"
    id="BillingPlanDetail"
    parent="BillingPlans()"
    showUpLink="true"
    startInEditMode="false"
    title="displaykey.Web.BillingPlanDetail.Title(billingPlan.Name)">
    <LocationEntryPoint
      signature="BillingPlanDetail(billingPlan : BillingPlan)"/>
    <Variable
      name="billingPlan"
      type="BillingPlan"/>
    <ScreenRef
      def="BillingPlanDetailScreen(billingPlan)"/>
  </Page>
</PCF>