<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Popup
    canEdit="perm.System.payallocplanedit"
    id="PaymentAllocationPlanDetailPopup"
    title="displaykey.Web.PaymentAllocationPlanDetail.Title(paymentAllocationPlan.Name)">
    <LocationEntryPoint
      signature="PaymentAllocationPlanDetailPopup(paymentAllocationPlan : PaymentAllocationPlan)"/>
    <Variable
      name="paymentAllocationPlan"
      type="PaymentAllocationPlan"/>
    <ScreenRef
      def="PaymentAllocationPlanDetailScreen(paymentAllocationPlan)"/>
  </Popup>
</PCF>