<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    beforeCommit="policyPeriod.changeBillingMethodToDirectBill(createInvoiceForToday, reversePayments)"
    canEdit="true"
    id="ChangeBillingMethodToDirectBillPopup"
    startInEditMode="true"
    title="displaykey.Web.PolicyChangeBillingMethod.Title">
    <LocationEntryPoint
      signature="ChangeBillingMethodToDirectBillPopup(policyPeriod : PolicyPeriod)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="false"
      name="createInvoiceForToday"
      type="boolean"/>
    <Variable
      initialValue="gw.api.domain.invoice.ReversePaymentsWhenMovingInvoiceItem.No"
      name="reversePayments"
      type="gw.api.domain.invoice.ReversePaymentsWhenMovingInvoiceItem"/>
    <Screen
      editable="true"
      id="PolicyChangeBillingMethodConfirmationScreen">
      <Toolbar
        id="PolicyChangeBillingMethodToolbar">
        <EditButtons
          editVisible="false"
          showUpdateConfirmMessage="false"
          updateLabel="displaykey.Button.OK"
          updateShortcut="O"/>
      </Toolbar>
      <AlertBar
        id="ChangeCommissionReservedAlert"
        label="displaykey.Web.PolicyChangeBillingMethod.Confirmation.ChangeCommissionReservedAlert"
        visible="policyPeriod.isAgencyBill()"/>
      <DetailViewPanel
        id="PolicyChangeBillingMethodDV">
        <InputColumn
          id="ChangeTo">
          <Label
            id="ConfirmationLabel"
            label="displaykey.Web.PolicyChangeBillingMethod.Confirmation.Label"/>
          <InputDivider/>
          <Label
            label="displaykey.Web.PolicyChangeBillingMethod.Confirmation.ToDirectBillMessage"/>
          <BooleanRadioInput
            editable="true"
            id="CreateInvoiceForToday"
            label="displaykey.Web.PolicyChangeBillingMethod.Confirmation.CreateTodayInvoiceForPastItems"
            value="createInvoiceForToday"
            visible="policyPeriod.hasPastInvoiceItems()"/>
          <RangeInput
            editable="true"
            id="reversePayments"
            label="displaykey.Web.PolicyChangeBillingMethod.Confirmation.ReversePayments"
            value="reversePayments"
            valueRange="gw.api.domain.invoice.ReversePaymentsWhenMovingInvoiceItem.values()"
            visible="policyPeriod.isPaymentHasBeenApplied()"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>