<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.System.plcytabview and perm.System.plcynoteview"
    id="PolicyDetailNotes"
    parent="PolicyGroup(policyPeriod)"
    showUpLink="true"
    title="displaykey.Web.PolicyDetailNotes.Title">
    <LocationEntryPoint
      signature="PolicyDetailNotes(policyPeriod : PolicyPeriod, isClearBundle : Boolean)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="isClearBundle"
      type="Boolean"/>
    <Screen
      id="PolicyDetailNotesScreen">
      <Toolbar/>
      <SearchPanel
        criteriaName="NoteSearchCriteria"
        resultsName="notes"
        search="return NoteSearchCriteria.performSearch(isClearBundle)"
        searchCriteria="var c = new NoteSearchCriteria(); c.Policy = policyPeriod.Policy; return c;"
        searchResultsType="NoteQuery">
        <DetailViewPanel
          id="NoteSearchDV">
          <InputColumn>
            <Input
              editable="true"
              id="TextSearch"
              label="displaykey.Web.PolicyDetailNotes.NotesSearch.Text"
              value="NoteSearchCriteria.Text"/>
            <RangeInput
              editable="true"
              id="Author"
              label="displaykey.Web.PolicyDetailNotes.NotesSearch.Author"
              noneSelectedLabel="displaykey.Web.PolicyDetailNotes.NotesSearch.Any"
              value="NoteSearchCriteria.Author"
              valueRange="policyPeriod.Policy.NoteAuthors"/>
            <TypeKeyInput
              editable="true"
              id="RelatedToSearch"
              label="displaykey.Web.PolicyDetailNotes.NotesSearch.RelatedTo"
              noneSelectedLabel="displaykey.Web.PolicyDetailNotes.NotesSearch.Any"
              value="NoteSearchCriteria.RelatedToEntity"/>
            <TypeKeyInput
              editable="true"
              id="Topic"
              label="displaykey.Web.PolicyDetailNotes.NotesSearch.Topic"
              noneSelectedLabel="displaykey.Web.PolicyDetailNotes.NotesSearch.Any"
              value="NoteSearchCriteria.Topic"/>
          </InputColumn>
          <InputColumn>
            <DateCriterionChoiceInput
              editable="true"
              id="DateSearch2"
              label="displaykey.Web.PolicyDetailNotes.NotesSearch.DateRange"
              value="NoteSearchCriteria.DateCriterionChoice"/>
            <TypeKeyInput
              editable="true"
              id="LanguageSearch"
              label="displaykey.Web.PolicyDetailNotes.NotesSearch.Language"
              value="NoteSearchCriteria.Language"
              visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
          </InputColumn>
          <InputColumn>
            <TypeKeyInput
              editable="true"
              id="SortByOption"
              label="displaykey.Web.PolicyDetailNotes.NotesSearch.SortBy"
              required="true"
              value="NoteSearchCriteria.SortBy"/>
            <BooleanRadioInput
              editable="true"
              falseLabel="displaykey.Web.PolicyDetailNotes.NotesSearch.SortDescending"
              id="SortAscending"
              label="displaykey.Web.PolicyDetailNotes.NotesSearch.SortOrder"
              trueLabel="displaykey.Web.PolicyDetailNotes.NotesSearch.SortAscending"
              value="NoteSearchCriteria.SortAscending"/>
          </InputColumn>
          <InputFooterSection>
            <InputSetRef
              def="SearchAndResetInputSet()"/>
          </InputFooterSection>
        </DetailViewPanel>
        <PanelRef
          def="NotesLV(notes)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.PolicyDetailNotes.Results"/>
          <Toolbar/>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>