<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.System.plcytabview and perm.System.plcypmntview"
    id="PolicyDetailPayments"
    showUpLink="true"
    title="displaykey.Web.PolicyDetailPayments.Title">
    <LocationEntryPoint
      signature="PolicyDetailPayments(plcyPeriod : PolicyPeriod)"/>
    <Variable
      name="plcyPeriod"
      type="PolicyPeriod"/>
    <Screen
      id="PolicyDetailPaymentsScreen">
      <Toolbar>
        <ToolbarButton
          action="ChangePaymentPlanPopup.push(plcyPeriod)"
          id="ChangePaymentPlan"
          label="displaykey.Web.PolicyDetailPayments.EditSchedule"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.PolicyDetailPayments.AccountInformation"/>
          <Input
            action="AccountDetailSummary.go(plcyPeriod.Policy.Account)"
            id="AccountNumber"
            label="displaykey.Web.PolicyDetailPayments.AccountNumber"
            value="plcyPeriod.Policy.Account.AccountNumber"/>
          <Input
            action="AccountDetailSummary.go(plcyPeriod.Policy.Account)"
            id="AccountName"
            label="displaykey.Web.PolicyDetailPayments.AccountName"
            value="plcyPeriod.Policy.Account.AccountNameLocalized"/>
          <Input
            action="AccountDetailSummary.go(plcyPeriod.Policy.Account)"
            id="AccountDBA"
            label="displaykey.Web.PolicyDetailPayments.AccountDBA"
            value="plcyPeriod.Policy.Account.DBA"/>
          <Label
            label="displaykey.Web.PolicyDetailPayments.PaymentSettings"/>
          <Input
            id="PaymentPlan"
            label="displaykey.Web.PolicyDetailPayments.PaymentPlan"
            value="plcyPeriod.PaymentPlan"/>
          <Input
            id="DepositPercent"
            label="displaykey.Web.PolicyDetailPayments.Deposit"
            value="plcyPeriod.PaymentPlan.DownPaymentPercent"/>
          <Input
            id="NumPayments"
            label="displaykey.Web.PolicyDetailPayments.NumPayments"
            value="plcyPeriod.PaymentPlan.MaximumNumberOfInstallments"/>
          <Input
            id="LatestLastInvoiceSent"
            label="displaykey.Web.PolicyDetailPayments.LatestLastInvoice"
            value="plcyPeriod.PaymentPlan.DaysBeforePolicyExpirationForInvoicingBlackout"/>
        </InputColumn>
        <InputColumn>
          <Label
            label="displaykey.Web.PolicyDetailPayments.Amounts"/>
          <MonetaryAmountInput
            align="right"
            currency="plcyPeriod.Currency"
            formatType="currency"
            id="TotalScheduledPayments"
            label="displaykey.Web.PolicyDetailPayments.TotalScheduledPayments"
            value="plcyPeriod.TotalValue"/>
          <MonetaryAmountInput
            align="right"
            currency="plcyPeriod.Currency"
            formatType="currency"
            id="AmountReceived"
            label="displaykey.Web.PolicyDetailPayments.AmountReceived"
            value="plcyPeriod.PaidAmount"/>
          <MonetaryAmountInput
            align="right"
            currency="plcyPeriod.Currency"
            formatType="currency"
            id="Balance"
            label="displaykey.Web.PolicyDetailPayments.Balance"
            value="plcyPeriod.RemainingBalance"/>
          <MonetaryAmountInput
            align="right"
            currency="plcyPeriod.Currency"
            formatType="currency"
            id="UnbilledBalance"
            label="displaykey.Web.PolicyDetailPayments.UnbilledBalance"
            value="plcyPeriod.UnbilledAmount"/>
          <MonetaryAmountInput
            align="right"
            currency="plcyPeriod.Currency"
            formatType="currency"
            id="Deposit"
            label="displaykey.Web.PolicyDetailPayments.Deposit"
            value="plcyPeriod.getDepositAmount(getPremiumChargePattern())"/>
          <MonetaryAmountInput
            align="right"
            currency="plcyPeriod.Currency"
            formatType="currency"
            id="AverageInstallmentAmount"
            label="displaykey.Web.PolicyDetailPayments.AverageInstallmentAmount"
            value="plcyPeriod.getAvgInstallmentAmount(getPremiumChargePattern())"/>
        </InputColumn>
      </DetailViewPanel>
      <CardViewPanel>
        <Card
          id="ScheduledPaymentsCard"
          title="displaykey.Web.PolicyDetailPayments.ScheduledPayments">
          <PanelRef
            def="InvoiceItemsLV(plcyPeriod.ScheduledPayments, null, true)">
            <Toolbar/>
          </PanelRef>
        </Card>
        <Card
          id="ActualPaymentsCard"
          title="displaykey.Web.PolicyDetailPayments.ActualPayments">
          <PanelRef>
            <Toolbar/>
            <ListViewPanel
              id="DistItemsDetailLV">
              <RowIterator
                editable="false"
                elementName="paymentItem"
                type="BasePaymentItem"
                value="com.google.common.collect.Lists.newArrayList(plcyPeriod.ActualPayments)">
                <Row>
                  <DateCell
                    id="payment"
                    label="displaykey.Web.PolicyDetailPayments.PaymentDate"
                    value="paymentItem.BaseDist.DistributedDate"/>
                  <Cell
                    id="invoiceItem"
                    label="displaykey.Web.PolicyDetailPayments.InvoiceItem"
                    value="paymentItem.InvoiceItem"/>
                  <Cell
                    id="charge"
                    label="displaykey.Web.PolicyDetailPayments.Charge"
                    value="paymentItem.InvoiceItem.Charge"/>
                  <Cell
                    id="payer"
                    label="displaykey.Web.PolicyDetailPayments.Payer"
                    value="getPayer(paymentItem)"/>
                  <MonetaryAmountCell
                    currency="paymentItem.GrossAmountToApply.Currency"
                    id="amount"
                    label="displaykey.Web.PolicyDetailPayments.Amount"
                    value="paymentItem.GrossAmountToApply"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
    <Code><![CDATA[function getPremiumChargePattern() : ChargePattern {
      return web.accounting.ChargePatternHelper.getChargePattern("Premium");
      }

function getPayer(paymentItem: BasePaymentItem) : gw.api.domain.invoice.InvoicePayer{
  if(paymentItem typeis AgencyPaymentItem){
    return (paymentItem.BaseDist.BaseMoneyReceived as AgencyBillMoneyRcvd).Producer
  } else if (paymentItem typeis DirectBillPaymentItem){
    return (paymentItem.BaseDist.BaseMoneyReceived as DirectBillMoneyRcvd).Account
  }
  return null
}]]></Code>
  </Page>
</PCF>