<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="PolicyTransferDetail"
    parent="PolicyDetailHistory(policyHistory.PolicyPeriod)"
    showUpLink="true"
    title="displaykey.Web.PolicyTransferDetail.Title">
    <LocationEntryPoint
      signature="PolicyTransferDetail(policyHistory : PolicyHistory)"/>
    <Variable
      name="policyHistory"
      type="PolicyHistory"/>
    <Variable
      initialValue="policyHistory.PolicyPeriod"
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Screen
      id="PolicyTransferDetailScreen">
      <Toolbar/>
      <DetailViewPanel
        id="PolicyTransferDetailDV">
        <InputColumn>
          <Label
            label="displaykey.Web.PolicyTransferDetail.General"/>
          <Input
            id="PolicyNumber"
            label="displaykey.Web.PolicyTransferDetail.PolicyNumber"
            value="policyPeriod.PolicyNumber"/>
          <DateInput
            id="EffectiveDate"
            label="displaykey.Web.PolicyTransferDetail.EffectiveDate"
            value="policyPeriod.PolicyPerEffDate"/>
          <DateInput
            id="ExpirationDate"
            label="displaykey.Web.PolicyTransferDetail.ExpirationDate"
            value="policyPeriod.PolicyPerExpirDate"/>
          <Label
            label="displaykey.Web.PolicyTransferDetail.TransferDetails"/>
          <DateInput
            id="TransferDate"
            label="displaykey.Web.PolicyTransferDetail.TransferDate"
            value="policyHistory.EventDate"/>
          <Label
            label="displaykey.Web.PolicyTransferDetail.OriginalAccount"/>
          <Input
            id="OriginalAccountInsured"
            label="displaykey.Web.PolicyTransferDetail.OriginalAccountInsured"
            value="policyHistory.OtherAccount.Insured.Contact typeis Person ? policyHistory.OtherAccount.Insured.Contact : null"/>
          <Input
            id="OriginalAccountNumber"
            label="displaykey.Web.PolicyTransferDetail.OriginalAccountNumber"
            value="policyHistory.OtherAccount.AccountNumber"/>
          <Label
            label="displaykey.Web.PolicyTransferDetail.NewAccount"/>
          <Input
            id="NewAccountInsured"
            label="displaykey.Web.PolicyTransferDetail.NewAccountInsured"
            value="policyHistory.Account.Insured.Contact typeis Person ? policyHistory.Account.Insured.Contact : null"/>
          <Input
            id="NewAccountNumber"
            label="displaykey.Web.PolicyTransferDetail.NewAccountNumber"
            value="policyHistory.Account.AccountNumber"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>