<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.plcytabview and perm.System.plcycommview"
    id="PolicyDetailCommissions"
    showUpLink="true"
    title="displaykey.Web.PolicyDetailCommissions.Title">
    <LocationEntryPoint
      signature="PolicyDetailCommissions(plcyPeriod : PolicyPeriod)"/>
    <Variable
      name="plcyPeriod"
      recalculateOnRefresh="true"
      type="PolicyPeriod"/>
    <Screen
      id="PolicyDetailCommissionsScreen">
      <Toolbar>
        <ToolbarButton
          action="TransferPolicyWizard.push(plcyPeriod)"
          available="perm.PolicyPeriod.plcyprodtx"
          id="TransferPolicy"
          label="displaykey.Web.PolicyDetailCommissions.Button.TransferPolicy"/>
        <ToolbarButton
          action="OverrideCommissionPlanPopup.push(plcyPeriod)"
          available="plcyPeriod.OverrideCommissionPlanSettings.Settings.length &gt; 0 and perm.Producer.commplanoride"
          id="OverridePlan"
          label="displaykey.Web.PolicyDetailCommissions.Button.OverridePlan"/>
      </Toolbar>
      <PanelRef>
        <DetailViewPanel
          id="PolicyCommissionsDetailPanelDV">
          <InputColumn>
            <InputIterator
              elementName="policyRole"
              value="typekey.PolicyRole.getTypeKeys(false).toTypedArray()">
              <InputSetRef
                def="PolicyDetailCommissionsProducerInfoInputSet(plcyPeriod, policyRole)"/>
            </InputIterator>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <PanelRef>
        <TitleBar
          title="displaykey.Web.PolicyDetailCommissions.Transactions"/>
        <Toolbar/>
        <ListViewPanel
          id="TransactionsLV">
          <Variable
            initialValue="plcyPeriod.findCommissionsReserveTxns()"
            name="commissionTransactions"/>
          <Variable
            initialValue="commissionTransactions.Query as ProducerTransactionQuery"
            name="commissionTransactionQuery"/>
          <RowIterator
            editable="false"
            elementName="producerTransaction"
            value="commissionTransactionQuery">
            <ToolbarFilter
              label="displaykey.Web.PolicyDetailCommissions.Transactions.Filter.Producer"
              name="Producer">
              <ToolbarFilterOptionGroup
                filters="new web.policy.PolicyCommissionsProducerCodeFilterSet(plcyPeriod).FilterOptions"/>
            </ToolbarFilter>
            <Row>
              <DateCell
                footerLabel="displaykey.Web.PolicyDetailCommissions.Transactions.Total"
                id="TransactionsLV_Date"
                label="displaykey.Web.PolicyDetailCommissions.Transactions.Date"
                sortOrder="1"
                value="producerTransaction.TransactionDate"/>
              <Cell
                action="TransactionDetailPopup.push(producerTransaction)"
                id="TransactionsLV_TransactionNumber"
                label="displaykey.Web.PolicyDetailCommissions.Transactions.TransactionNumber"
                value="producerTransaction.TransactionNumber"/>
              <Cell
                enableSort="false"
                id="TransactionsLV_Type"
                label="displaykey.Web.PolicyDetailCommissions.Transactions.Type"
                value="producerTransaction.ShortDisplayName"/>
              <Cell
                enableSort="false"
                id="TransactionsLV_Charge"
                label="displaykey.Web.PolicyDetailCommissions.Transactions.Charge"
                value="producerTransaction.ChargeCommission.Charge"/>
              <Cell
                action="ProducerDetailPopup.push(producerTransaction.Producer)"
                enableSort="false"
                id="TransactionsLV_Producer"
                label="displaykey.Web.PolicyDetailCommissions.Transactions.Producer"
                value="producerTransaction.Producer"/>
              <Cell
                enableSort="false"
                id="TransactionsLV_ProducerCode"
                label="displaykey.Web.PolicyDetailCommissions.Transactions.ProducerCode"
                value="producerTransaction.ProducerCode.Code"/>
              <MonetaryAmountCell
                currency="producerTransaction.Currency"
                enableSort="false"
                formatType="currency"
                id="TransactionsLV_Basis"
                label="displaykey.Web.PolicyDetailCommissions.Transactions.Basis"
                value="producerTransaction.Basis"/>
              <TextCell
                enableSort="false"
                format="displaykey.Web.AgencyBill.CommissionPercentFormat"
                id="TransactionsLV_Rate"
                label="displaykey.Web.PolicyDetailCommissions.Transactions.Rate"
                value="producerTransaction.Rate"/>
              <MonetaryAmountCell
                currency="producerTransaction.Currency"
                enableSort="false"
                footerSumValue="producerTransaction.CommissionAmount"
                formatType="currency"
                id="TransactionsLV_Amount"
                label="displaykey.Web.PolicyDetailCommissions.Transactions.Amount"
                value="producerTransaction.CommissionAmount"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>