<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="PolicyChangeWizardBasicsStepScreen">
    <Require
      name="policyChange"
      type="PolicyChange"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="ChangePolicyBasicsDV">
      <InputColumn>
        <DateInput
          editable="true"
          id="PolicyChangeDate"
          label="displaykey.Web.ChangePolicyBasicsDV.RevisionEffectiveDate"
          required="true"
          value="policyChange.ModificationDate"/>
        <Input
          editable="true"
          id="Description"
          label="displaykey.Web.ChangePolicyBasicsDV.Description"
          value="policyChange.Description"/>
        <TypeKeyInput
          editable="true"
          id="SpecialHandling"
          label="displaykey.Web.ChangePolicyBasicsDV.SpecialHandling"
          value="policyChange.SpecialHandling"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>