<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- LocationGroup for the "Accounts and Policies" tab pages -->
  <LocationGroup
    id="PoliciesGroup"
    infoBar="CurrentDateInfoBar()"
    menuActions="PoliciesMenuActions()"
    parent="PolicyForward()"
    title="&quot;&quot;">
    <LocationEntryPoint
      signature="PoliciesGroup()"/>
    <LocationRef
      location="Policies()"/>
  </LocationGroup>
</PCF>