<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuLinks
    id="PolicyDetailMenuLinks">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <MenuItemDivider/>
    <MenuItem
      action="PolicyDetailSummary.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailSummary"
      label="displaykey.Web.PolicyDetailSummary.Title"/>
    <MenuItem
      action="PolicyDetailContacts.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailContacts"
      label="displaykey.Web.PolicyDetailContacts.Title"/>
    <MenuItem
      action="PolicyDetailTransactions.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailTransactions"
      label="displaykey.Web.PolicyDetailTransactions.Title"/>
    <MenuItem
      action="PolicyDetailCharges.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailCharges"
      label="displaykey.Web.PolicyDetailCharges.Title"/>
    <MenuItem
      action="PolicyDetailPayments.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailPayments"
      label="displaykey.Web.PolicyDetailPayments.Title"/>
    <MenuItem
      action="PolicyDetailCommissions.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailCommissions"
      label="displaykey.Web.PolicyDetailCommissions.Title"/>
    <MenuItem
      action="PolicyDetailHistory.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailHistory"
      label="displaykey.Web.PolicyDetailHistory.Title"/>
    <MenuItem
      action="PolicyDetailTroubleTickets.go(policyPeriod, true, true)"
      id="PolicyGroup_PolicyDetailTroubleTickets"
      label="displaykey.Web.PolicyDetailTroubleTickets.Title"/>
    <MenuItem
      action="PolicyDetailDocuments.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailDocuments"
      label="displaykey.Web.ProducerDetailDocuments.Title"/>
    <MenuItem
      action="PolicyDetailNotes.go(policyPeriod, true)"
      id="PolicyGroup_PolicyDetailNotes"
      label="displaykey.Web.PolicyDetailNotes.Title"/>
    <MenuItem
      action="PolicyDetailLedger.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailLedger"
      label="displaykey.Web.PolicyDetailLedger.Title"/>
    <MenuItem
      action="PolicyDetailJournal.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailJournal"
      label="displaykey.Web.PolicyDetailJournal.Title"/>
    <MenuItem
      action="PolicyDetailDelinquencies.go(policyPeriod)"
      id="PolicyGroup_PolicyDetailDelinquencies"
      label="displaykey.Web.PolicyDetailDelinquencies.Title"/>
  </MenuLinks>
</PCF>