<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="false"
    canVisit="perm.System.plcytabview and perm.System.plcysummview"
    id="PolicyDetailSummaryPopup"
    title="displaykey.Web.PolicyDetailSummary.Title">
    <LocationEntryPoint
      signature="PolicyDetailSummaryPopup(policyPeriod : PolicyPeriod)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <ScreenRef
      def="PolicyDetailSummaryScreen(policyPeriod)"/>
  </Popup>
</PCF>