<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.System.plcytabview and perm.System.plcydelview"
    id="PolicyDetailDelinquencies"
    showUpLink="true"
    title="displaykey.Web.PolicyDetailDelinquencies.Title">
    <LocationEntryPoint
      signature="PolicyDetailDelinquencies(plcyPeriod: PolicyPeriod)"/>
    <LocationEntryPoint
      signature="PolicyDetailDelinquencies(plcyPeriod : PolicyPeriod, selectedDelinquencyProcessOnEnter : DelinquencyProcess)"/>
    <Variable
      name="plcyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="selectedDelinquencyProcessOnEnter"
      type="DelinquencyProcess"/>
    <ScreenRef
      def="DelinquencyProcessesDetailScreen(plcyPeriod, selectedDelinquencyProcessOnEnter)"/>
  </Page>
</PCF>
