<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="PolicyTransactionDetail"
    parent="PolicyDetailTransactions(policyPeriod)"
    showUpLink="true"
    title="displaykey.Web.PolicyTransactionDetail.Title(transaction.LongDisplayName)">
    <LocationEntryPoint
      signature="PolicyTransactionDetail(policyPeriod : PolicyPeriod, transaction : Transaction)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="transaction"
      type="Transaction"/>
    <Screen
      id="TransactionDetailScreen">
      <Toolbar/>
      <PanelRef
        def="TransactionDetailDV(transaction)"/>
    </Screen>
  </Page>
</PCF>