<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="ProducerTransferDetail"
    parent="PolicyDetailHistory(history.PolicyPeriod)"
    showUpLink="true"
    title="displaykey.Web.ProducerTransferDetail.Title">
    <LocationEntryPoint
      signature="ProducerTransferDetail(history : ProducerPolicyHistory)"/>
    <Variable
      name="history"
      type="ProducerPolicyHistory"/>
    <Variable
      initialValue="history.PolicyPeriod"
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="history.PolicyTransfer"
      name="policyTransfer"
      type="PolicyTransfer"/>
    <Screen
      id="ProducerTransferDetailScreen">
      <Toolbar/>
      <DetailViewPanel
        id="ProducerTransferDetailDV">
        <InputColumn>
          <Label
            label="displaykey.Web.ProducerTransferDetail.General"/>
          <Input
            action="PolicyDetailSummary.go(policyPeriod)"
            id="PolicyNumber"
            label="displaykey.Web.ProducerTransferDetail.PolicyNumber"
            value="policyPeriod.PolicyNumber"/>
          <Input
            action="AccountDetailSummary.go(policyPeriod.Policy.Account)"
            id="Insured"
            label="displaykey.Web.ProducerTransferDetail.Insured"
            value="policyPeriod.Policy.Account.AccountNameLocalized"/>
          <Input
            action="AccountDetailSummary.go(policyPeriod.Policy.Account)"
            id="AccountNumber"
            label="displaykey.Web.ProducerTransferDetail.AccountNumber"
            value="policyPeriod.Policy.Account.AccountNumber"/>
          <DateInput
            id="EffectiveDate"
            label="displaykey.Web.ProducerTransferDetail.EffectiveDate"
            value="policyPeriod.PolicyPerEffDate"/>
          <DateInput
            id="ExpirationDate"
            label="displaykey.Web.ProducerTransferDetail.ExpirationDate"
            value="policyPeriod.PolicyPerExpirDate"/>
          <Label
            label="displaykey.Web.ProducerTransferDetail.TransferDetails"/>
          <DateInput
            id="TransferDate"
            label="displaykey.Web.ProducerTransferDetail.TransferDate"
            value="history.EventDate"/>
          <TypeKeyInput
            id="RoleTransferred"
            label="displaykey.Web.ProducerTransferDetail.RoleTransferred"
            value="history.RoleTransferred"/>
          <TypeKeyInput
            id="CommissionTreatment"
            label="displaykey.Web.ProducerTransferDetail.CommissionTreatment"
            value="policyTransfer.CommissionTransferOption"/>
          <Label
            label="displaykey.Web.ProducerTransferDetail.OriginalProducer"/>
          <Input
            action="ProducerDetail.go(policyTransfer.SourceProducerCode.Producer)"
            id="OriginalProducerName"
            label="displaykey.Web.ProducerTransferDetail.OriginalProducerName"
            value="policyTransfer.SourceProducerCode.Producer"/>
          <Input
            id="OriginalProducerCode"
            label="displaykey.Web.ProducerTransferDetail.OriginalProducerCode"
            value="policyTransfer.SourceProducerCode.Code"/>
          <Label
            label="displaykey.Web.ProducerTransferDetail.NewProducer"/>
          <Input
            action="ProducerDetail.go(policyTransfer.DestinationProducerCode.Producer)"
            id="NewProducerName"
            label="displaykey.Web.ProducerTransferDetail.NewProducerName"
            value="policyTransfer.DestinationProducerCode.Producer"/>
          <Input
            id="NewProducerCode"
            label="displaykey.Web.ProducerTransferDetail.NewProducerCode"
            value="policyTransfer.DestinationProducerCode.Code"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>