<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.System.pmntplanedit"
    id="PaymentPlanDetail"
    parent="PaymentPlans()"
    showUpLink="true"
    title="displaykey.Web.PaymentPlanDetail.Title(paymentPlan.Name)">
    <LocationEntryPoint
      signature="PaymentPlanDetail(paymentPlan : PaymentPlan)"/>
    <Variable
      name="paymentPlan"
      type="PaymentPlan"/>
    <ScreenRef
      def="PaymentPlanDetailScreen(paymentPlan)"/>
  </Page>
</PCF>