<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="PaymentPlanDetailScreen">
    <Require
      name="paymentPlan"
      type="PaymentPlan"/>
    <Variable
      initialValue="gw.api.util.LocaleUtil.getAllLanguages().Count &gt; 1"
      name="hasMultipleLanguages"/>
    <Toolbar>
      <EditButtons/>
      <ToolbarButton
        action="ClonePaymentPlan.go(paymentPlan)"
        hideIfEditable="true"
        id="Clone"
        label="displaykey.Web.PaymentPlanDetailScreen.Clone"
        visible="perm.System.pmntplancreate"/>
    </Toolbar>
    <DetailViewPanel
      editable="true"
      id="PaymentPlanDetailDV">
      <InputColumn>
        <Label
          id="PaymentPlanLabel"
          label="displaykey.Web.PaymentPlanDetailDV.PaymentPlan"/>
        <Input
          editable="true"
          id="Name"
          label="displaykey.Web.PaymentPlanDetailDV.Name"
          required="true"
          value="paymentPlan.Name">
          <PostOnChange/>
        </Input>
        <Input
          editable="true"
          id="Description"
          label="displaykey.Web.PaymentPlanDetailDV.Description"
          value="paymentPlan.Description">
          <PostOnChange/>
        </Input>
        <DateInput
          editable="true"
          id="EffectiveDate"
          label="displaykey.Web.PaymentPlanDetailDV.EffectiveDate"
          required="true"
          value="paymentPlan.EffectiveDate"/>
        <DateInput
          editable="true"
          id="ExpirationDate"
          label="displaykey.Web.PaymentPlanDetailDV.ExpirationDate"
          validationExpression="paymentPlan.hasValidExpirationDate() ? null : displaykey.Web.Plan.ExpirationDate.ValidationError"
          value="paymentPlan.ExpirationDate"/>
        <BooleanRadioInput
          editable="true"
          id="Reporting"
          label="displaykey.Web.PaymentPlanDetailDV.Reporting"
          required="true"
          value="paymentPlan.Reporting"/>
        <TextInput
          id="Currency"
          label="displaykey.Web.PaymentPlanDetailDV.Currency"
          value="paymentPlan.Currency"/>
        <InputDivider/>
        <Label
          id="InvoicingTreatmentLabel"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDetails"/>
        <Input
          editable="true"
          id="DownPaymentPercent"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.DownPaymentPercent"
          required="true"
          value="paymentPlan.DownPaymentPercent"/>
        <Input
          editable="true"
          id="MaximumNumberOfInstallments"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.MaxNumPayments"
          required="true"
          value="paymentPlan.MaximumNumberOfInstallments"/>
      </InputColumn>
      <InputColumn>
        <Label
          id="InstallmentsLabel"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingWindow"/>
        <TypeKeyInput
          editable="true"
          id="PaymentInterval"
          label="displaykey.Web.PaymentPlanDetailDV.PaymentInterval"
          required="true"
          value="paymentPlan.Periodicity"/>
        <TypeKeyInput
          editable="true"
          id="InvoiceItemPlacementCutoffType"
          label="displaykey.Web.PaymentPlanDetailDV.ItemPlacementCutoffDate"
          required="true"
          value="paymentPlan.InvoiceItemPlacementCutoffType"/>
        <TypeKeyInput
          editable="true"
          id="InvoicingBlackoutType"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingBlackoutType"
          required="true"
          value="paymentPlan.InvoicingBlackoutType"/>
        <Input
          editable="true"
          id="LastInvoiceByDaysBeforePolicyExpiration"
          label="displaykey.Web.PaymentPlanDetailDV.LastInvoiceByDaysBeforePolicyExpiration"
          required="true"
          value="paymentPlan.DaysBeforePolicyExpirationForInvoicingBlackout"/>
        <Label
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingFees"/>
        <MonetaryAmountInput
          currency="paymentPlan.Currency"
          editable="true"
          id="FeeAmount"
          label="displaykey.Web.PaymentPlanDetailDV.FeeAmount"
          value="paymentPlan.InstallmentFee"/>
        <BooleanRadioInput
          editable="true"
          id="SkipFeeForDownPayment"
          label="displaykey.Web.PaymentPlanDetailDV.SkipFeeForDownPayment"
          required="true"
          value="paymentPlan.SkipFeeForDownPayment"/>
        <InputDivider/>
        <Label
          id="DownPaymentTreatmentLabel"
          label="displaykey.Web.PaymentPlanDetailDV.DownPayment"/>
        <Input
          editable="true"
          id="DaysFromEventToDownPayment"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.DownPaymentInvoiced"
          value="paymentPlan.DaysFromReferenceDateToDownPayment"/>
        <TypeKeyInput
          editable="true"
          id="ScheduleDownPaymentAfter"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.DownPaymentNotInvoiceableBefore"
          value="paymentPlan.DownPaymentAfter"/>
        <Label
          id="InstallmentTreatmentLabel"
          label="displaykey.Web.PaymentPlanDetailDV.FirstInstallment"/>
        <Input
          editable="true"
          id="DaysFromEventToFirstInstallment"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.InstallmentInvoiced"
          value="paymentPlan.DaysFromReferenceDateToFirstInstallment"/>
        <TypeKeyInput
          editable="true"
          id="ScheduleFirstInstallmentAfter"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.DownPaymentNotInvoiceableBefore"
          value="paymentPlan.FirstInstallmentAfter"/>
        <Label
          id="OneTimeTreatmentLabel"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.OneTimeTreatmentLabel"/>
        <Input
          editable="true"
          id="DaysFromEventToOneTimeCharge"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.OneTimeInvoiced"
          value="paymentPlan.DaysFromReferenceDateToOneTimeCharge"/>
        <TypeKeyInput
          editable="true"
          id="ScheduleOneTimeChargeAfter"
          label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.DownPaymentNotInvoiceableBefore"
          value="paymentPlan.OneTimeChargeAfter"/>
      </InputColumn>
    </DetailViewPanel>
    <ListDetailPanel
      selectionName="selectedBillingInstructionType"
      selectionType="gw.bc.accounting.billinginstruction.typekey.BillingInstruction">
      <PanelRef
        id="PaymentPlanOverridesContextsAndToolbarPanel">
        <TitleBar
          title="displaykey.Web.PaymentPlanDetailScreen.Overrides"/>
        <Toolbar
          id="OverrideButtonsToolbar">
          <AddButton
            hideIfReadOnly="true"
            id="AddOverride"
            iterator="ContextBillingInstructionTypeIterator"
            label="displaykey.Web.PaymentPlanDetailScreen.AddOverride">
            <AddMenuItemIterator
              elementName="billingInstructionType"
              type="gw.bc.accounting.billinginstruction.typekey.BillingInstruction"
              value="paymentPlan.getTypesThatCanHaveOverrides().order()">
              <AddMenuItem
                id="AddButtonMenuItem"
                iterator="ContextBillingInstructionTypeIterator"
                label="billingInstructionType"
                toCreateAndAdd="addOverrides(billingInstructionType)"
                visible="paymentPlan.getOverridesFor(billingInstructionType) == null"/>
            </AddMenuItemIterator>
          </AddButton>
          <RemoveButton
            hideIfReadOnly="true"
            id="RemoveOverride"
            iterator="ContextBillingInstructionTypeIterator"
            label="displaykey.Web.PaymentPlanDetailScreen.RemoveOverride"
            showConfirmMessage="false"/>
        </Toolbar>
        <ListViewPanel
          id="OverrideContextsLV">
          <RowIterator
            checkBoxVisible="CurrentLocation.InEditMode"
            editable="false"
            elementName="billingInstructionType"
            hasCheckBoxes="true"
            id="ContextBillingInstructionTypeIterator"
            toRemove="paymentPlan.removeOverridesFor(billingInstructionType)"
            value="paymentPlan.getTypesThatCanHaveOverrides().where(\ billingInstructionType -&gt; paymentPlan.getOverridesFor(billingInstructionType) != null)">
            <IteratorSort
              sortBy="billingInstructionType"
              sortOrder="1"/>
            <Row>
              <TypeKeyCell
                id="BillingInstructionType"
                label="displaykey.Web.PaymentPlanDetailScreen.ModifierContext"
                value="billingInstructionType"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <CardViewPanel>
        <Variable
          initialValue="selectedBillingInstructionType == null ? null : paymentPlan.getOverridesFor(selectedBillingInstructionType)"
          name="chargeSlicingOverrides"
          recalculateOnRefresh="true"
          type="ChargeSlicingOverrides"/>
        <Card
          id="OverridesCard"
          title="selectedBillingInstructionType.DisplayName">
          <DetailViewPanel>
            <InputColumn>
              <Label
                id="InvoicingTreatmentLabelOverridesCard"
                label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDetails"/>
              <Input
                editable="true"
                id="DownPaymentPercentOverride"
                label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.DownPaymentPercent"
                value="chargeSlicingOverrides.DownPaymentPercent"/>
              <Input
                editable="true"
                id="MaxNumPaymentsOverride"
                label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.MaxNumPayments"
                value="chargeSlicingOverrides.MaximumNumberOfInstallments"/>
            </InputColumn>
            <InputColumn>
              <Label
                id="DownPaymentTreatmentLabel"
                label="displaykey.Web.PaymentPlanDetailDV.DownPayment"/>
              <Input
                editable="true"
                id="DaysFromEventToDownPaymentOverride"
                label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.DownPaymentInvoiced"
                value="chargeSlicingOverrides.DaysFromReferenceDateToDownPayment"/>
              <TypeKeyInput
                editable="true"
                id="ScheduleDownPaymentAfterOverride"
                label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.DownPaymentNotInvoiceableBefore"
                noneSelectedLabel="displaykey.Web.PaymentPlanDetailScreen.NotOverridden"
                value="chargeSlicingOverrides.DownPaymentAfter"/>
              <Label
                id="InstallmentTreatmentLabel"
                label="displaykey.Web.PaymentPlanDetailDV.FirstInstallment"/>
              <Input
                editable="true"
                id="DaysFromEventToFirstInstallmentOverride"
                label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.InstallmentInvoiced"
                value="chargeSlicingOverrides.DaysFromReferenceDateToFirstInstallment"/>
              <TypeKeyInput
                editable="true"
                id="ScheduleFirstInstallmentAfterOverride"
                label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.DownPaymentNotInvoiceableBefore"
                noneSelectedLabel="displaykey.Web.PaymentPlanDetailScreen.NotOverridden"
                value="chargeSlicingOverrides.FirstInstallmentAfter"/>
              <Label
                id="OneTimeTreatmentLabel"
                label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.OneTimeTreatmentLabel"/>
              <Input
                editable="true"
                id="DaysFromEventToOneTimeChargeOverride"
                label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.OneTimeInvoiced"
                value="chargeSlicingOverrides.DaysFromReferenceDateToOneTimeCharge"/>
              <TypeKeyInput
                editable="true"
                id="ScheduleOneTimeChargeAfterOverride"
                label="displaykey.Web.PaymentPlanDetailDV.InvoicingTreatmentDV.DownPaymentNotInvoiceableBefore"
                noneSelectedLabel="displaykey.Web.PaymentPlanDetailScreen.NotOverridden"
                value="chargeSlicingOverrides.OneTimeChargeAfter"/>
            </InputColumn>
          </DetailViewPanel>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
    <PanelRef
      def="LocalizedValuesDV(paymentPlan, { &quot;Name&quot;, &quot;Description&quot; }, { displaykey.Web.PaymentPlanDetailDV.Name, displaykey.Web.PaymentPlanDetailDV.Description })"
      editable="not paymentPlan.InUse"/>
    <Code><![CDATA[private function addOverrides(billingInstructionType : gw.bc.accounting.billinginstruction.typekey.BillingInstruction) : gw.bc.accounting.billinginstruction.typekey.BillingInstruction {
  var overrides = new ChargeSlicingOverrides(); 
  paymentPlan.setOverridesFor(billingInstructionType, overrides)
  return billingInstructionType;
}]]></Code>
  </Screen>
</PCF>