<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    beforeCommit="suspensePaymentUtil.reverse(suspensePayments)"
    canEdit="true"
    canVisit="perm.SuspensePayment.edit"
    id="ReverseSuspensePaymentsPopup"
    startInEditMode="true"
    title="displaykey.Web.ReverseSuspensePaymentsPopup.Title">
    <LocationEntryPoint
      signature="ReverseSuspensePaymentsPopup(suspensePayments : List&lt;SuspensePayment&gt;)"/>
    <Variable
      name="suspensePayments"
      type="List&lt;SuspensePayment&gt;"/>
    <Variable
      initialValue="new web.payment.SuspensePaymentUtil()"
      name="suspensePaymentUtil"/>
    <Screen
      id="ReverseSuspensePaymentsScreen">
      <Toolbar>
        <EditButtons
          updateLabel="displaykey.Button.OK"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.RemoveSuspensePaymentsPopup.ExplanatoryText"/>
        </InputColumn>
      </DetailViewPanel>
      <ListViewPanel
        id="SuspensePaymentsToBeReversedLV">
        <RowIterator
          editable="false"
          elementName="suspensePayment"
          id="SuspensePaymentsIterator"
          type="SuspensePayment"
          value="suspensePayments.toArray(new SuspensePayment[suspensePayments.size()])">
          <Row>
            <Cell
              id="date"
              label="displaykey.Web.DesktopSuspensePaymentsLV.Date"
              value="suspensePayment.PaymentDate"/>
            <Cell
              action="TransactionDetailPopup.push(suspensePayment.CreationTransaction)"
              enableSort="false"
              id="transactionNumber"
              label="displaykey.Web.DesktopSuspensePaymentsLV.TransactionNumber"
              value="suspensePayment.CreationTransaction.TransactionNumber"/>
            <Cell
              id="policyNumber"
              label="displaykey.Web.DesktopSuspensePaymentsLV.PolicyNumber"
              value="suspensePayment.PolicyNumber"/>
            <Cell
              id="accountNumber"
              label="displaykey.Web.DesktopSuspensePaymentsLV.AccountNumber"
              value="suspensePayment.AccountNumber"/>
            <MonetaryAmountCell
              currency="suspensePayment.Currency"
              id="amount"
              label="displaykey.Web.DesktopSuspensePaymentsLV.Amount"
              value="suspensePayment.Amount"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>