<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="SuspensePaymentMultipleTransactionsPopup"
    title="displaykey.Web.SuspensePaymentMultipleTransactionsPopup.Title">
    <LocationEntryPoint
      signature="SuspensePaymentMultipleTransactionsPopup(suspensePayment : SuspensePayment)"/>
    <Variable
      name="suspensePayment"
      type="SuspensePayment"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            def="SuspensePaymentTransactionsLV(suspensePayment)"
            id="suspensePaymentTransactions">
            <Toolbar/>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>