<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.System.payallocplanedit"
    id="PaymentAllocationPlanDetail"
    parent="PaymentAllocationPlans()"
    showUpLink="true"
    title="displaykey.Web.PaymentAllocationPlanDetail.Title(paymentAllocationPlan.Name)">
    <LocationEntryPoint
      signature="PaymentAllocationPlanDetail(paymentAllocationPlan : PaymentAllocationPlan)"/>
    <Variable
      name="paymentAllocationPlan"
      type="PaymentAllocationPlan"/>
    <ScreenRef
      def="PaymentAllocationPlanDetailScreen(paymentAllocationPlan)"/>
  </Page>
</PCF>