<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="AgencyCommissionPaymentWizard_ConfirmationScreen">
    <Require
      name="incomingProducerPayment"
      type="IncomingProducerPayment"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      editable="false">
      <InputColumn>
        <Label
          id="ProducerInformation"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.Confirmation.ProducerInformation"/>
        <Input
          id="ProducerName"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.Confirmation.ProducerName"
          value="incomingProducerPayment.Producer"/>
      </InputColumn>
      <InputColumn>
        <Label
          id="PaymentDetails"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.Confirmation.PaymentDetails"/>
        <Input
          id="PaymentInstrument"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.Confirmation.PaymentInstrument"
          value="incomingProducerPayment.PaymentInstrument"/>
        <Input
          id="RefNumber"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.Confirmation.RefNumber"
          value="incomingProducerPayment.RefNumber"/>
        <MonetaryAmountInput
          currency="incomingProducerPayment.Currency"
          id="AmountReceived"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.Confirmation.AmountReceived"
          value="incomingProducerPayment.Amount"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>