<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="AgencyCommissionPaymentWizard_SelectProducerScreen">
    <Require
      name="incomingProducerPayment"
      type="IncomingProducerPayment"/>
    <Variable
      initialValue="new web.producer.ProducerSearchConverter()"
      name="producerSearchConverter"
      type="web.producer.ProducerSearchConverter"/>
    <Variable
      initialValue="new gw.payment.PaymentInstrumentRange(incomingProducerPayment.Producer.PaymentInstruments)"
      name="paymentInstrumentRange"
      type="gw.payment.PaymentInstrumentRange"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel>
      <InputColumn>
        <Label
          id="Producer"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.SelectProducer.Producer"/>
        <Input
          editable="true"
          id="SelectProducer"
          inputConversion="producerSearchConverter.getProducer(VALUE)"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.SelectProducer.SelectProducer"
          required="true"
          value="incomingProducerPayment.Producer">
          <MenuItem
            action="ProducerSearchPopup.push()"
            icon="&quot;search.png&quot;"
            id="SelectProducerPicker"/>
        </Input>
        <Label
          id="PaymentInformation"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.SelectProducer.PaymentInformation"/>
        <RangeInput
          editable="true"
          id="PaymentInstrument"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.SelectProducer.PaymentInstrument"
          onPick="paymentInstrumentRange.addPaymentInstrument(incomingProducerPayment.PaymentInstrument)"
          value="incomingProducerPayment.PaymentInstrument"
          valueRange="gw.payment.PaymentInstrumentFilters.applyFilter(paymentInstrumentRange, gw.payment.PaymentInstrumentFilters.agencyPaymentInstrumentFilter)">
          <MenuItem
            action="NewPaymentInstrumentPopup.push(gw.payment.PaymentInstrumentFilters.agencyPaymentInstrumentOptions,incomingProducerPayment.Producer,true)"
            id="CreateNewPaymentInstrument"
            label="displaykey.Web.NewPaymentInstrument.CreateNewPaymentInstrument"/>
          <PostOnChange/>
        </RangeInput>
        <Input
          editable="true"
          id="RefNumber"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.SelectProducer.RefNumber"
          required="false"
          value="incomingProducerPayment.RefNumber">
          <PostOnChange/>
        </Input>
        <MonetaryAmountInput
          currency="incomingProducerPayment.Currency"
          editable="true"
          id="Amount"
          label="displaykey.Web.AgencyCommissionPaymentWizard.Step.SelectProducer.Amount"
          required="true"
          value="incomingProducerPayment.Amount"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>