<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="CommissionReceivableReductionWizardTargetsStepScreen">
    <Require
      name="helper"
      type="gw.producer.CommissionReceivableReductionHelper"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="ReserveWriteoffDV">
      <InputColumn>
        <BooleanRadioInput
          editable="true"
          falseLabel="displaykey.Web.CommissionReceivableReductionWizardTargetsStepScreen.WriteoffProducerCode"
          id="writeOffAtLevel"
          label="displaykey.Web.CommissionReceivableReductionWizardTargetsStepScreen.Writeoff"
          required="true"
          trueLabel="displaykey.Web.CommissionReceivableReductionWizardTargetsStepScreen.WriteoffPolicyPeriod"
          value="helper.BooleanLevelToWriteoff">
          <PostOnChange/>
        </BooleanRadioInput>
        <MonetaryAmountInput
          currency="helper.Producer.Currency"
          formatType="currency"
          id="PayableBalance"
          label="displaykey.Web.CommissionReceivableReductionWizardTargetsStepScreen.PayableBalance"
          required="true"
          value="helper.CommissionPayable"/>
        <MonetaryAmountInput
          currency="helper.Producer.Currency"
          editable="true"
          id="Amount"
          label="displaykey.Web.CommissionReceivableReductionWizardTargetsStepScreen.Amount"
          required="true"
          value="helper.Amount"/>
        <RangeInput
          editable="true"
          id="ProducerCode"
          label="helper.EntityToWriteoffLabel"
          required="true"
          value="helper.EntityToWriteoff"
          valueRange="helper.OptionsToWriteoff">
          <PostOnChange/>
        </RangeInput>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>