<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="CommissionReceivableReductionWizardConfirmationStepScreen">
    <Require
      name="helper"
      type="gw.producer.CommissionReceivableReductionHelper"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="ReserveWriteoffDV">
      <InputColumn>
        <TextInput
          id="WriteoffAtLevel"
          label="displaykey.Web.CommissionReceivableReductionWizardConfirmationStepScreen.Writeoff"
          required="true"
          value="helper.LevelToWriteoff"/>
        <MonetaryAmountInput
          currency="helper.Producer.Currency"
          formatType="currency"
          id="PayableBalance"
          label="displaykey.Web.CommissionReceivableReductionWizardConfirmationStepScreen.PayableBalance"
          required="true"
          value="helper.CommissionPayable"/>
        <MonetaryAmountInput
          currency="helper.Producer.Currency"
          formatType="currency"
          id="Amount"
          label="displaykey.Web.CommissionReceivableReductionWizardConfirmationStepScreen.Amount"
          value="helper.Amount"/>
        <TextInput
          id="ProducerCode"
          label="helper.EntityToWriteoffLabel"
          value="helper.EntityToWriteoff"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>