<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    editable="canEdit"
    id="NewCommissionPaymentTimeDV">
    <Require
      name="delayedPayment"
      type="DelayedCmsnPayment"/>
    <Require
      name="canEdit"
      type="Boolean"/>
    <InputColumn>
      <Label
        id="paymentTime"
        label="displaykey.Web.NewCommissionPaymentTimeDV.PaymentTime"/>
      <Choice
        id="ImmediatelyChoice"
        option="CommissionPaymentTime.TC_IMMEDIATELY.Code"
        value="delayedPayment.PaymentTime">
        <Input
          id="Immediately"
          label="displaykey.Web.NewCommissionPaymentTimeDV.Immediately"
          value="null"/>
      </Choice>
      <Choice
        id="NextPaymentChoice"
        option="CommissionPaymentTime.TC_NEXTPAYMENT.Code"
        value="delayedPayment.PaymentTime">
        <Input
          id="NextPayment"
          label="displaykey.Web.NewCommissionPaymentTimeDV.NextPayment"
          value="null"/>
      </Choice>
      <Choice
        id="PayDateChoice"
        option="CommissionPaymentTime.TC_PAYONDATE.Code"
        value="delayedPayment.PaymentTime">
        <DateInput
          editable="true"
          id="PayDate"
          label="displaykey.Web.NewCommissionPaymentTimeDV.PayOnDate"
          required="true"
          value="delayedPayment.PayOn"/>
      </Choice>
    </InputColumn>
  </DetailViewPanel>
</PCF>