<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="NewCommissionPaymentAdvanceDetailsScreen">
    <Require
      name="advancePayment"
      type="AdvanceCmsnPayment"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <PanelRef
      def="NewCommissionPaymentAdvanceDV(advancePayment, true)"/>
    <PanelRef
      def="NewCommissionPaymentTimeDV(advancePayment, true)"/>
  </Screen>
</PCF>