<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    afterEnter="gw.api.web.producer.ProducerUtil.addToRecentlyViewedProducers(producer)"
    canVisit="producer.ViewableByCurrentUser"
    id="ProducerDetailGroup"
    infoBar="ProducerInfoBar(producer)"
    menuActions="ProducerMenuActions(producer)"
    parent="ProducerForward()"
    title="producer.Name">
    <LocationEntryPoint
      signature="ProducerDetailGroup(producer : Producer)"/>
    <Variable
      name="producer"
      type="Producer"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.Summary.MenuItemTitle"
      location="ProducerDetail(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.Contacts.MenuItemTitle"
      location="ProducerContacts(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.Policies.MenuItemTitle"
      location="ProducerPolicies(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.WriteOffs.MenuItemTitle"
      location="ProducerWriteOffs(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.DirectBillCommissionStatements.MenuItemTitle"
      location="ProducerStatementOverview(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.AgencyBillCycles.MenuItemTitle"
      location="ProducerAgencyBillCycles(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.AgencyBillPayments.MenuItemTitle"
      location="AgencyBillPayments(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.AgencyBillPromises.MenuItemTitle"
      location="AgencyBillPromises(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.AgencyBillSuspenseItems.MenuItemTitle"
      location="AgencyBillSuspenseItems(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.AgencyBillOpenItems.MenuItemTitle"
      location="AgencyBillOpenItems(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.AgencyBillExceptions.MenuItemTitle"
      location="AgencyBillExceptions(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.AgencyBillDisbursements.MenuItemTitle"
      location="ProducerDisbursements(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.History.MenuItemTitle"
      location="ProducerDetailHistory(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.TroubleTickets.MenuItemTitle"
      location="ProducerDetailTroubleTickets(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.Documents.MenuItemTitle"
      location="ProducerDetailDocuments(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.Notes.MenuItemTitle"
      location="ProducerDetailNotes(producer, true)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.Transactions.MenuItemTitle"
      location="ProducerTransactions(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.Ledger.MenuItemTitle"
      location="ProducerDetailLedger(producer)"/>
    <LocationRef
      label="displaykey.Web.ProducerDetailGroup.Journal.MenuItemTitle"
      location="ProducerDetailJournal(producer)"/>
  </LocationGroup>
</PCF>