<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="false"
    canVisit="perm.System.prodtabview and perm.System.prodsummview and producer.ViewableByCurrentUser"
    id="ProducerDetailPopup"
    title="displaykey.Web.ProducerDetail.Title">
    <LocationEntryPoint
      signature="ProducerDetailPopup(producer : Producer)"/>
    <Variable
      name="producer"
      type="Producer"/>
    <ScreenRef
      def="ProducerDetailScreen(producer)"/>
  </Popup>
</PCF>