<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.System.prodtabview and perm.System.prodplcyview"
    id="ProducerPolicies"
    showUpLink="true"
    title="displaykey.Web.ProducerPolicies.Title">
    <LocationEntryPoint
      signature="ProducerPolicies(producer : Producer)"/>
    <Variable
      initialValue="null"
      name="policyStartsWith"
      type="String"/>
    <Variable
      name="producer"
      type="Producer"/>
    <Variable
      initialValue="producer.getPolicyCommissionsWhereDefaultInAtLeastOneRole(policyStartsWith)"
      name="policyCommissions"
      type="PolicyCommissionQuery"/>
    <Screen
      id="ProducerPoliciesScreen">
      <Toolbar>
        <ToolbarButton
          action="TransferProducerPoliciesWizard.push(producer)"
          available="perm.PolicyPeriod.plcyprodtx"
          id="transfer"
          label="displaykey.Web.ProducerPolicies.TransferPolicy"/>
        <ToolbarDivider/>
        <ToolbarInput
          editable="true"
          id="PolicyPeriodFilter"
          label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.PolicyPeriodFilter"
          value="policyStartsWith"/>
        <ToolbarButton
          action="policyCommissions = producer.getPolicyCommissionsWithBalances(policyStartsWith)"
          default="true"
          id="PolicyFilterGoButton"
          label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.PolicyPeriodFilterGoButton"/>
        <ToolbarButton
          action="policyStartsWith = null; policyCommissions = producer.getPolicyCommissionsWithBalances(policyStartsWith)"
          id="PolicyFilterClearButton"
          label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.PolicyPeriodFilterClearButton"/>
      </Toolbar>
      <AlertBar
        action="TroubleTicketAlertForward.push(producer)"
        available="perm.System.prodttktview"
        id="ProducerPolicies_TroubleTicketAlertAlertBar"
        label="producer.AlertBarDisplayText"
        visible="producer.HasActiveTroubleTickets"/>
      <CardViewPanel>
        <Card
          id="SummaryCard"
          title="displaykey.Web.ProducerPolicies.Summary.Title">
          <PanelRef>
            <Toolbar/>
            <ListViewPanel
              id="SummaryLV">
              <RowIterator
                editable="false"
                elementName="policyCommission"
                value="policyCommissions">
                <ToolbarFilter
                  label="displaykey.Web.ProducerPolicies.Summary.Filter.ProducerCode"
                  name="ProducerCodeFilter">
                  <ToolbarFilterOptionGroup
                    filters="new web.producer.ProducerPoliciesProducerCodeFilterSet(producer).FilterOptions"/>
                </ToolbarFilter>
                <Row>
                  <Cell
                    action="PolicyDetailSummary.push(policyCommission.PolicyPeriod)"
                    id="PolicyNumber"
                    label="displaykey.Web.ProducerPolicies.Summary.PolicyNumber"
                    value="policyCommission.PolicyPeriod"/>
                  <DateCell
                    id="EffectiveDate"
                    label="displaykey.Web.ProducerPolicies.Summary.EffectiveDate"
                    value="policyCommission.PolicyPeriod.PolicyPerEffDate"/>
                  <DateCell
                    id="ExpirationDate"
                    label="displaykey.Web.ProducerPolicies.Summary.ExpirationDate"
                    value="policyCommission.PolicyPeriod.PolicyPerExpirDate"/>
                  <TypeKeyCell
                    id="Product"
                    label="displaykey.Web.ProducerPolicies.Summary.Product"
                    value="policyCommission.PolicyPeriod.Policy.LOBCode"/>
                  <Cell
                    enableSort="false"
                    id="Insured"
                    label="displaykey.Web.ProducerPolicies.Summary.Insured"
                    value="policyCommission.PolicyPeriod.PrimaryInsured"/>
                  <Cell
                    id="ProducerCode"
                    label="displaykey.Web.ProducerPolicies.Summary.ProducerCode"
                    value="policyCommission.ProducerCode.Code"/>
                  <TypeKeyCell
                    id="Role"
                    label="displaykey.Web.ProducerPolicies.Summary.Role"
                    value="policyCommission.Role"/>
                  <Cell
                    action="AccountDetailSummary.push(policyCommission.PolicyPeriod.Policy.Account)"
                    id="AccountNumber"
                    label="displaykey.Web.ProducerPolicies.Summary.AccountNumber"
                    value="policyCommission.PolicyPeriod.Policy.Account.AccountNumber"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="DetailsCard"
          title="displaykey.Web.ProducerPolicies.Details.Title">
          <PanelRef>
            <Toolbar/>
            <ListViewPanel
              id="DetailsLV">
              <RowIterator
                editable="false"
                elementName="policyCommission"
                value="policyCommissions">
                <Variable
                  initialValue="policyCommission.calculateCommissionBasis()"
                  name="commissionBasis"
                  recalculateOnRefresh="true"/>
                <ToolbarFilter
                  label="displaykey.Web.ProducerPolicies.Details.Filter.ProducerCode"
                  name="ProducerCodeFilter">
                  <ToolbarFilterOptionGroup
                    filters="new web.producer.ProducerPoliciesProducerCodeFilterSet(producer).FilterOptions"/>
                </ToolbarFilter>
                <Row>
                  <Cell
                    action="PolicyDetailSummary.push(policyCommission.PolicyPeriod)"
                    footerLabel="displaykey.Web.ProducerPolicies.Details.Total"
                    id="PolicyNumber"
                    label="displaykey.Web.ProducerPolicies.Details.PolicyNumber"
                    value="policyCommission.PolicyPeriod"/>
                  <DateCell
                    id="EffectiveDate"
                    label="displaykey.Web.ProducerPolicies.Details.EffectiveDate"
                    value="policyCommission.PolicyPeriod.PolicyPerEffDate"/>
                  <DateCell
                    id="ExpirationDate"
                    label="displaykey.Web.ProducerPolicies.Details.ExpirationDate"
                    value="policyCommission.PolicyPeriod.PolicyPerExpirDate"/>
                  <TypeKeyCell
                    id="Product"
                    label="displaykey.Web.ProducerPolicies.Details.Product"
                    value="policyCommission.PolicyPeriod.Policy.LOBCode"/>
                  <Cell
                    enableSort="false"
                    id="Insured"
                    label="displaykey.Web.ProducerPolicies.Details.Insured"
                    value="policyCommission.PolicyPeriod.PrimaryInsured.Contact typeis Person ? policyCommission.PolicyPeriod.PrimaryInsured.Contact : null"/>
                  <Cell
                    id="ProducerCode"
                    label="displaykey.Web.ProducerPolicies.Details.ProducerCode"
                    value="policyCommission.ProducerCode.Code"/>
                  <TypeKeyCell
                    id="Role"
                    label="displaykey.Web.ProducerPolicies.Details.Role"
                    value="policyCommission.Role"/>
                  <Cell
                    action="AccountDetailSummary.push(policyCommission.PolicyPeriod.Policy.Account)"
                    id="AccountNumber"
                    label="displaykey.Web.ProducerPolicies.Details.AccountNumber"
                    value="policyCommission.PolicyPeriod.Policy.Account.AccountNumber"/>
                  <MonetaryAmountCell
                    currency="policyCommission.Currency"
                    enableSort="false"
                    formatType="currency"
                    id="PolicyValue"
                    label="displaykey.Web.ProducerPolicies.Details.PolicyValue"
                    value="policyCommission.PolicyPeriod.TotalValue"/>
                  <MonetaryAmountCell
                    currency="policyCommission.Currency"
                    enableSort="false"
                    footerSumValue="policyCommission.CommissionExpenseBalance"
                    id="TotalCommission"
                    label="displaykey.Web.ProducerPolicies.Details.TotalCommission"
                    value="policyCommission.CommissionExpenseBalance"/>
                  <MonetaryAmountCell
                    currency="policyCommission.Currency"
                    enableSort="false"
                    footerSumValue="policyCommission.CommissionReserveBalance"
                    formatType="currency"
                    id="CommissionReserve"
                    label="displaykey.Web.ProducerPolicies.Details.CommissionReserve"
                    value="policyCommission.CommissionReserveBalance"/>
                  <MonetaryAmountCell
                    currency="policyCommission.Currency"
                    enableSort="false"
                    footerSumValue="policyCommission.CommissionPayableBalance"
                    formatType="currency"
                    id="CommissionPayable"
                    label="displaykey.Web.ProducerPolicies.Details.CommissionPayable"
                    value="policyCommission.CommissionPayableBalance"/>
                  <MonetaryAmountCell
                    currency="policyCommission.Currency"
                    enableSort="false"
                    footerSumValue="policyCommission.CommissionPaid"
                    formatType="currency"
                    id="CommissionPaid"
                    label="displaykey.Web.ProducerPolicies.Details.CommissionPaid"
                    value="policyCommission.CommissionPaid"/>
                  <MonetaryAmountCell
                    currency="policyCommission.Currency"
                    enableSort="false"
                    formatType="currency"
                    id="CommissionBasis"
                    label="displaykey.Web.ProducerPolicies.Details.CommissionBasis"
                    value="commissionBasis"/>
                  <Cell
                    enableSort="false"
                    id="CommissionRate"
                    label="displaykey.Web.ProducerPolicies.Details.CommissionRate"
                    outputConversion="util.StringUtil.formatPercentageValue(VALUE, 2)"
                    value="commissionBasis.IsNotZero ? policyCommission.CommissionExpenseBalance / commissionBasis : null"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>
