<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- LocationGroup for the "Producers" tab pages -->
  <LocationGroup
    id="ProducersGroup"
    infoBar="CurrentDateInfoBar()"
    menuActions="ProducersMenuActions()"
    parent="ProducerForward()"
    title="&quot;&quot;">
    <LocationEntryPoint
      signature="ProducersGroup()"/>
    <LocationRef
      location="Producers()"/>
  </LocationGroup>
</PCF>