<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.prodtabview and perm.System.proddbtxnview"
    id="ProducerTransactions"
    showUpLink="true"
    title="displaykey.Web.ProducerTransactions.Title">
    <LocationEntryPoint
      signature="ProducerTransactions(producer : Producer)"/>
    <Variable
      name="producer"
      type="Producer"/>
    <Variable
      initialValue="producer.PolicyCommissions"
      name="policyCommissions"/>
    <Variable
      initialValue="null"
      name="policyStartsWith"
      type="String"/>
    <Variable
      initialValue="new web.producer.ProducerCommissionsProducerCodeFilterSet(producer)"
      name="producerCodeFilterSet"
      type="web.producer.ProducerCommissionsProducerCodeFilterSet"/>
    <Variable
      initialValue="&quot;Reserves&quot;"
      name="currentTab"
      type="String"/>
    <Screen
      id="ProducerTransactionsScreen">
      <Toolbar>
        <ToolbarInput
          editable="true"
          id="PolicyPeriodFilter"
          label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.PolicyPeriodFilter"
          value="policyStartsWith"/>
        <ToolbarButton
          action="null"
          default="true"
          id="PolicyFilterGoButton"
          label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.PolicyPeriodFilterGoButton"/>
        <ToolbarButton
          action="policyStartsWith = null"
          id="PolicyFilterClearButton"
          label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.PolicyPeriodFilterClearButton"/>
      </Toolbar>
      <AlertBar
        action="TroubleTicketAlertForward.push(producer)"
        available="perm.System.prodttktview"
        id="ProducerTransactions_TroubleTicketAlertAlertBar"
        label="producer.AlertBarDisplayText"
        visible="producer.HasActiveTroubleTickets"/>
      <CardViewPanel>
        <Card
          id="ReservesCard"
          onSelect="currentTab = &quot;Reserves&quot;"
          title="displaykey.Web.ProducerTransactions.Reserves.Title">
          <PanelRef>
            <Toolbar/>
            <ListViewPanel
              id="ReservesLV">
              <RowIterator
                editable="false"
                elementName="producerTransaction"
                value="gw.api.util.BCUtils.conditionalQueryResult(currentTab == &quot;Reserves&quot;, producer.findCommissionsReserveTxns(policyStartsWith).Query)">
                <ToolbarFilter
                  label="displaykey.Web.ProducerTransactions.Reserves.Filter.Show"
                  name="TimeFilter">
                  <ToolbarFilterOptionGroup
                    filters="new web.producer.ProducerCommissionsShowFilterSet().FilterOptions"/>
                </ToolbarFilter>
                <ToolbarFilter
                  label="displaykey.Web.ProducerTransactions.Reserves.Filter.ProducerCode"
                  name="ProducerCodeFilter">
                  <ToolbarFilterOptionGroup
                    filters="producerCodeFilterSet.FilterOptions"/>
                </ToolbarFilter>
                <Row>
                  <DateCell
                    footerLabel="displaykey.Web.ProducerTransactions.Reserves.Total"
                    id="Date"
                    label="displaykey.Web.ProducerTransactions.Reserves.Date"
                    sortOrder="1"
                    value="producerTransaction.TransactionDate"/>
                  <Cell
                    action="TransactionDetailPopup.push(producerTransaction)"
                    enableSort="false"
                    id="TransactionNumber"
                    label="displaykey.Web.ProducerTransactions.Reserves.TransactionNumber"
                    value="producerTransaction.TransactionNumber"/>
                  <Cell
                    action="PolicyDetailSummary.push(producerTransaction.PolicyCommission.PolicyPeriod)"
                    enableSort="false"
                    id="PolicyNumber"
                    label="displaykey.Web.ProducerTransactions.Reserves.PolicyNumber"
                    value="producerTransaction.PolicyCommission.PolicyPeriod"/>
                  <DateCell
                    enableSort="false"
                    id="EffectiveDate"
                    label="displaykey.Web.ProducerTransactions.Reserves.EffectiveDate"
                    value="producerTransaction.PolicyCommission.PolicyPeriod.PolicyPerEffDate"/>
                  <Cell
                    enableSort="false"
                    id="Context"
                    label="displaykey.Web.ProducerTransactions.Reserves.Context"
                    value="producerTransaction.ShortDisplayName"/>
                  <Cell
                    enableSort="false"
                    id="Charge"
                    label="displaykey.Web.ProducerTransactions.Reserves.Charge"
                    value="producerTransaction.ChargeCommission.Charge"/>
                  <Cell
                    enableSort="false"
                    id="ProducerCode"
                    label="displaykey.Web.ProducerTransactions.Reserves.ProducerCode"
                    value="producerTransaction.ProducerCode.Code"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.Basis"
                    formatType="currency"
                    id="Basis"
                    label="displaykey.Web.ProducerTransactions.Reserves.Basis"
                    value="producerTransaction.Basis"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.ReservedAmount"
                    formatType="currency"
                    id="Reserve"
                    label="displaykey.Web.ProducerTransactions.Reserves.Reserve"
                    value="producerTransaction.ReservedAmount"/>
                  <Cell
                    enableSort="false"
                    id="Rate"
                    label="displaykey.Web.ProducerTransactions.Reserves.Rate"
                    outputConversion="util.StringUtil.formatPercentagePoints(VALUE, 2)"
                    value="producerTransaction.Rate">
                    <ColumnFooter>
                      <TextCell
                        align="right"
                        id="RateFooter"
                        outputConversion="util.StringUtil.formatPercentagePoints(VALUE, 2)"
                        value="producer.findCommissionsReserveTxns(policyStartsWith).AggregateRate"/>
                    </ColumnFooter>
                  </Cell>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="EarningsCard"
          onSelect="currentTab = &quot;Earnings&quot;"
          title="displaykey.Web.ProducerTransactions.Earnings.Title">
          <PanelRef>
            <Toolbar/>
            <ListViewPanel
              id="EarningsLV">
              <RowIterator
                editable="false"
                elementName="producerTransaction"
                value="gw.api.util.BCUtils.conditionalQueryResult(currentTab == &quot;Earnings&quot;, producer.findCommissionEarnedTransactions(policyStartsWith))">
                <ToolbarFilter
                  label="displaykey.Web.ProducerTransactions.Earnings.Filter.Show"
                  name="TimeFilter">
                  <ToolbarFilterOptionGroup
                    filters="new web.producer.ProducerCommissionsShowFilterSet().FilterOptions"/>
                </ToolbarFilter>
                <ToolbarFilter
                  label="displaykey.Web.ProducerTransactions.Earnings.Filter.ProducerCode"
                  name="ProducerCodeFilter">
                  <ToolbarFilterOptionGroup
                    filters="producerCodeFilterSet.FilterOptions"/>
                </ToolbarFilter>
                <Row>
                  <DateCell
                    footerLabel="displaykey.Web.ProducerTransactions.Earnings.Total"
                    id="Date"
                    label="displaykey.Web.ProducerTransactions.Earnings.Date"
                    sortOrder="1"
                    value="producerTransaction.TransactionDate"/>
                  <Cell
                    action="TransactionDetailPopup.push(producerTransaction)"
                    enableSort="false"
                    id="TransactionNumber"
                    label="displaykey.Web.ProducerTransactions.Earnings.TransactionNumber"
                    value="producerTransaction.TransactionNumber"/>
                  <Cell
                    action="PolicyDetailSummary.push(producerTransaction.PolicyCommission.PolicyPeriod)"
                    enableSort="false"
                    id="PolicyNumber"
                    label="displaykey.Web.ProducerTransactions.Earnings.PolicyNumber"
                    value="producerTransaction.PolicyCommission.PolicyPeriod"/>
                  <DateCell
                    enableSort="false"
                    id="EffectiveDate"
                    label="displaykey.Web.ProducerTransactions.Earnings.EffectiveDate"
                    value="producerTransaction.PolicyCommission.PolicyPeriod.PolicyPerEffDate"/>
                  <Cell
                    enableSort="false"
                    id="ProducerCode"
                    label="displaykey.Web.ProducerTransactions.Earnings.ProducerCode"
                    value="producerTransaction.ProducerCode.Code"/>
                  <Cell
                    enableSort="false"
                    id="Charge"
                    label="displaykey.Web.ProducerTransactions.Earnings.Charge"
                    value="producerTransaction.ChargeCommission.Charge"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    formatType="currency"
                    id="Basis"
                    label="displaykey.Web.ProducerTransactions.Earnings.Basis"
                    value="producerTransaction.Basis"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.EarnedAmount"
                    formatType="currency"
                    id="Earned"
                    label="displaykey.Web.ProducerTransactions.Earnings.Earned"
                    value="producerTransaction.EarnedAmount"/>
                  <Cell
                    enableSort="false"
                    id="Rate"
                    label="displaykey.Web.ProducerTransactions.Earnings.Rate"
                    outputConversion="util.StringUtil.formatPercentagePoints(VALUE, 2)"
                    value="producerTransaction.Rate"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="PayablesCard"
          onSelect="currentTab = &quot;Payables&quot;"
          title="displaykey.Web.ProducerTransactions.Payables.Title">
          <PanelRef>
            <Toolbar/>
            <ListViewPanel
              id="PayablesLV">
              <RowIterator
                editable="false"
                elementName="producerTransaction"
                value="gw.api.util.BCUtils.conditionalQueryResult(currentTab == &quot;Payables&quot;, producer.findCommissionPayableTransactions(policyStartsWith))">                <ToolbarFilter
                  label="displaykey.Web.ProducerTransactions.Payables.Filter.Show"
                  name="TimeFilter">
                  <ToolbarFilterOptionGroup
                    filters="new web.producer.ProducerCommissionsShowFilterSet().FilterOptions"/>
                </ToolbarFilter>
                <ToolbarFilter
                  label="displaykey.Web.ProducerTransactions.Payables.Filter.ProducerCode"
                  name="ProducerCodeFilter">
                  <ToolbarFilterOptionGroup
                    filters="producerCodeFilterSet.FilterOptions"/>
                </ToolbarFilter>
                <Row>
                  <DateCell
                    footerLabel="displaykey.Web.ProducerTransactions.Payables.Total"
                    id="Date"
                    label="displaykey.Web.ProducerTransactions.Payables.Date"
                    sortOrder="1"
                    value="producerTransaction.TransactionDate"/>
                  <Cell
                    action="TransactionDetailPopup.push(producerTransaction)"
                    enableSort="false"
                    id="TransactionNumber"
                    label="displaykey.Web.ProducerTransactions.Payables.TransactionNumber"
                    value="producerTransaction.TransactionNumber"/>
                  <Cell
                    action="PolicyDetailSummary.push(producerTransaction.PolicyCommission.PolicyPeriod)"
                    enableSort="false"
                    id="PolicyNumber"
                    label="displaykey.Web.ProducerTransactions.Payables.PolicyNumber"
                    value="producerTransaction.PolicyCommission.PolicyPeriod"/>
                  <Cell
                    enableSort="false"
                    id="Context"
                    label="displaykey.Web.ProducerTransactions.Payables.Context"
                    value="producerTransaction.ShortDisplayName"/>
                  <Cell
                    action="PaymentDetailForward.push(producerTransaction.PaymentReceipt)"
                    enableSort="false"
                    id="CheckRefNumber"
                    label="displaykey.Web.ProducerTransactions.Payables.CheckRefNumber"
                    value="getCheckRefNumber(producerTransaction.PaymentReceipt)"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    formatType="currency"
                    id="Basis"
                    label="displaykey.Web.ProducerTransactions.Payables.Basis"
                    value="producerTransaction.Basis"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.PayableAmount"
                    formatType="currency"
                    id="Payable"
                    label="displaykey.Web.ProducerTransactions.Payables.Payable"
                    value="producerTransaction.PayableAmount"/>
                  <Cell
                    enableSort="false"
                    id="Rate"
                    label="displaykey.Web.ProducerTransactions.Payables.Rate"
                    outputConversion="util.StringUtil.formatPercentagePoints(VALUE, 2)"
                    value="producerTransaction.Rate"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="PaymentsCard"
          onSelect="currentTab = &quot;Payments&quot;"
          title="displaykey.Web.ProducerTransactions.Payments.Title">
          <PanelRef>
            <Toolbar/>
            <ListViewPanel
              id="PaymentsLV">
              <RowIterator
                editable="false"
                elementName="producerTransaction"
                value="gw.api.util.BCUtils.conditionalQueryResult(currentTab == &quot;Payments&quot;, producer.findProducerPaymentTransactions(policyStartsWith))">
                <ToolbarFilter
                  label="displaykey.Web.ProducerTransactions.Payments.Filter.Show"
                  name="TimeFilter">
                  <ToolbarFilterOptionGroup
                    filters="new web.producer.ProducerCommissionsShowFilterSet().FilterOptions"/>
                </ToolbarFilter>
                <ToolbarFilter
                  label="displaykey.Web.ProducerTransactions.Payments.Filter.ProducerCode"
                  name="ProducerCodeFilter">
                  <ToolbarFilterOptionGroup
                    filters="producerCodeFilterSet.FilterOptions"/>
                </ToolbarFilter>
                <Row>
                  <LinkCell
                    align="left"
                    id="ReversePaymentCellForModifications">
                    <Link
                      action="ProducerPaymentReversalConfirmationPopup.push(producerTransaction as ProducerPaymentRecd)"
                      id="ReversePaymentOfModification"
                      label="displaykey.Web.ProducerTransactions.Payments.ReversePaymentLink"
                      styleClass="miniButton"
                      visible="!producerTransaction.Reversed and !producerTransaction.Reversal and producerTransaction typeis ProducerPaymentRecd"/>
                    <Link
                      action="OutgoingProducerPaymentReversalConfirmationPopup.push(producerTransaction as ProducerPaymentSent)"
                      id="ReverseOutgoingProducerPayment"
                      label="displaykey.Web.ProducerTransactions.Payments.ReversePaymentLink"
                      styleClass="miniButton"
                      visible="!producerTransaction.Reversed and !producerTransaction.Reversal and producerTransaction typeis ProducerPaymentSent"/>
                  </LinkCell>
                  <DateCell
                    footerLabel="displaykey.Web.ProducerTransactions.Payments.Total"
                    id="Date"
                    label="displaykey.Web.ProducerTransactions.Payments.Date"
                    sortOrder="1"
                    value="producerTransaction.TransactionDate"/>
                  <Cell
                    action="TransactionDetailPopup.push(producerTransaction)"
                    enableSort="false"
                    id="TransactionNumber"
                    label="displaykey.Web.ProducerTransactions.Payments.TransactionNumber"
                    value="producerTransaction.TransactionNumber"/>
                  <Cell
                    action="PolicyDetailSummary.push(producerTransaction.PolicyCommission.PolicyPeriod)"
                    enableSort="false"
                    id="PolicyNumber"
                    label="displaykey.Web.ProducerTransactions.Payments.PolicyNumber"
                    value="producerTransaction.PolicyCommission.PolicyPeriod"/>
                  <Cell
                    enableSort="false"
                    id="Context"
                    label="displaykey.Web.ProducerTransactions.Payments.Context"
                    value="producerTransaction.ShortDisplayName"/>
                  <Cell
                    action="PaymentDetailForward.push(producerTransaction.PaymentReceipt)"
                    enableSort="false"
                    id="CheckRefNumber"
                    label="displaykey.Web.ProducerTransactions.Payments.CheckRefNumber"
                    value="getCheckRefNumber(producerTransaction.PaymentReceipt)"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.ToProducerAmount"
                    formatType="currency"
                    id="ToAgent"
                    label="displaykey.Web.ProducerTransactions.Payments.ToAgent"
                    value="producerTransaction.ToProducerAmount"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.FromProducerAmount"
                    formatType="currency"
                    id="FromAgent"
                    label="displaykey.Web.ProducerTransactions.Payments.FromAgent"
                    value="producerTransaction.FromProducerAmount"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.PaidAmount"
                    formatType="currency"
                    id="Payment"
                    label="displaykey.Web.ProducerTransactions.Payments.Payment"
                    value="producerTransaction.PaidAmount"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="CombinedCard"
          onSelect="currentTab = &quot;Combined&quot;"
          title="displaykey.Web.ProducerTransactions.Combined.Title">
          <PanelRef>
            <Toolbar/>
            <ListViewPanel
              id="CombinedLV">
              <RowIterator
                editable="false"
                elementName="producerTransaction"
                value="gw.api.util.BCUtils.conditionalQueryResult(currentTab == &quot;Combined&quot;, producer.findCombinedCommissionTransactions(policyStartsWith))">
                <ToolbarFilter
                  label="displaykey.Web.ProducerTransactions.Combined.Filter.Show"
                  name="TimeFilter">
                  <ToolbarFilterOptionGroup
                    filters="new web.producer.ProducerCommissionsShowFilterSet().FilterOptions"/>
                </ToolbarFilter>
                <ToolbarFilter
                  label="displaykey.Web.ProducerTransactions.Combined.Filter.ProducerCode"
                  name="ProducerCodeFilter">
                  <ToolbarFilterOptionGroup
                    filters="producerCodeFilterSet.FilterOptions"/>
                </ToolbarFilter>
                <Row>
                  <DateCell
                    footerLabel="displaykey.Web.ProducerTransactions.Combined.Total"
                    id="Date"
                    label="displaykey.Web.ProducerTransactions.Combined.Date"
                    sortOrder="1"
                    value="producerTransaction.TransactionDate"/>
                  <Cell
                    action="TransactionDetailPopup.push(producerTransaction)"
                    enableSort="false"
                    id="TransactionNumber"
                    label="displaykey.Web.ProducerTransactions.Combined.TransactionNumber"
                    value="producerTransaction.TransactionNumber"/>
                  <Cell
                    action="PolicyDetailSummary.push(producerTransaction.PolicyCommission.PolicyPeriod)"
                    enableSort="false"
                    id="PolicyNumber"
                    label="displaykey.Web.ProducerTransactions.Combined.PolicyNumber"
                    value="producerTransaction.PolicyCommission.PolicyPeriod"/>
                  <DateCell
                    enableSort="false"
                    id="EffectiveDate"
                    label="displaykey.Web.ProducerTransactions.Combined.EffectiveDate"
                    value="producerTransaction.PolicyCommission.PolicyPeriod.PolicyPerEffDate"/>
                  <Cell
                    enableSort="false"
                    id="Context"
                    label="displaykey.Web.ProducerTransactions.Combined.Context"
                    value="producerTransaction.ShortDisplayName"/>
                  <Cell
                    enableSort="false"
                    id="Charge"
                    label="displaykey.Web.ProducerTransactions.Combined.Charge"
                    value="producerTransaction.ChargeCommission.Charge"/>
                  <Cell
                    enableSort="false"
                    id="ProducerCode"
                    label="displaykey.Web.ProducerTransactions.Combined.ProducerCode"
                    value="producerTransaction.ProducerCode.Code"/>
                  <Cell
                    action="PaymentDetailForward.push(producerTransaction.PaymentReceipt)"
                    enableSort="false"
                    id="CheckRefNumber"
                    label="displaykey.Web.ProducerTransactions.Combined.CheckRefNumber"
                    value="getCheckRefNumber(producerTransaction.PaymentReceipt)"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.ReservedAmount"
                    formatType="currency"
                    id="Reserve"
                    label="displaykey.Web.ProducerTransactions.Combined.Reserve"
                    value="producerTransaction.ReservedAmount"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.EarnedAmount"
                    formatType="currency"
                    id="Earned"
                    label="displaykey.Web.ProducerTransactions.Combined.Earned"
                    value="producerTransaction.EarnedAmount"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.PayableAmount"
                    formatType="currency"
                    id="Payable"
                    label="displaykey.Web.ProducerTransactions.Combined.Payable"
                    value="producerTransaction.PayableAmount"/>
                  <MonetaryAmountCell
                    currency="producer.Currency"
                    enableSort="false"
                    footerSumValue="producerTransaction.PaidAmount"
                    formatType="currency"
                    id="Payment"
                    label="displaykey.Web.ProducerTransactions.Combined.Payment"
                    value="producerTransaction.PaidAmount"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
    <Code><![CDATA[function getCheckRefNumber(paymentReceipt : PaymentReceipt) : String {
        if (paymentReceipt == null) {
          return null;
        } else if (paymentReceipt.RefNumber == null) {
          return displaykey.Web.ProducerTransactions.Payments.Pending;
        } else {
          return paymentReceipt.RefNumber;
        }
      }]]></Code>
  </Page>
</PCF>
