<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.prodtabview and perm.System.prodjournalview"
    id="ProducerDetailJournal"
    showUpLink="true"
    title="displaykey.Web.ProducerDetailJournal.Title">
    <LocationEntryPoint
      signature="ProducerDetailJournal(producer : Producer)"/>
    <Variable
      name="producer"
      type="Producer"/>
    <ScreenRef
      def="JournalScreen(producer, producer.ProducerCodes)"/>
  </Page>
</PCF>