<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InfoBar
    id="ProducerInfoBar">
    <Require
      name="Producer"
      type="Producer"/>
    <InfoBarElement
      id="Name"
      value="displaykey.Web.ProducerInfoBar.Name(Producer)"/>
    <InfoBarElement
      id="CurrentDate"
      nullString="-"
      value="util.DateUtil.currentDate()"/>
  </InfoBar>
</PCF>