<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="ProducerStatement"
    parent="ProducerStatementOverview(producerStatement.Producer)"
    showUpLink="true"
    title="displaykey.Web.ProducerStatement.Title">
    <LocationEntryPoint
      signature="ProducerStatement(producerStatement : ProducerStatement)"/>
    <Variable
      name="producerStatement"
      type="ProducerStatement"/>
    <Variable
      initialValue="null"
      name="policyNumber"
      type="String"/>
    <Screen
      id="ProducerStatementScreen">
      <Variable
        initialValue="producerStatement.findProducerPayableTransferTransactions()"
        name="payableTransferTransactions"
        recalculateOnRefresh="true"/>
      <Variable
        initialValue="producerStatement.getItemEvents(null, false)"
        name="evt"/>
      <PanelRef
        def="ProducerStatementDV(producerStatement)">
        <Toolbar>
          <ToolbarButton
            action="producerStatement.resendStatement()"
            available="perm.Producer.proddbstmtresent"
            id="resend"
            label="displaykey.Web.ProducerStatement.Send"/>
        </Toolbar>
      </PanelRef>
      <PanelRef>
        <DetailViewPanel>
          <InputColumn>
            <ListViewInput
              boldLabel="true"
              label="displaykey.Web.ProducerStatement.AccountSummary"
              labelAbove="true">
              <Toolbar/>
              <ListViewPanel
                id="AccountSummaryLV">
                <RowIterator
                  editable="false"
                  elementName="summaryEntry"
                  value="producerStatement.Summary">
                  <Row>
                    <Cell
                      footerLabel="displaykey.Web.ProducerStatement.AccountSummary.NewBalance"
                      id="Item"
                      label="displaykey.Web.ProducerStatement.AccountSummary.Item"
                      value="summaryEntry.Item"/>
                    <MonetaryAmountCell
                      currency="producerStatement.Currency"
                      footerSumValue="summaryEntry.Amount"
                      formatType="currency"
                      id="Amount"
                      label="displaykey.Web.ProducerStatement.AccountSummary.Amount"
                      value="summaryEntry.Amount"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </ListViewInput>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <PanelRef
        visible="producerStatement.Type == ProducerStatementType.TC_PRODUCTION">
        <TitleBar
          title="displaykey.Web.ProducerStatement.PolicyActivity.Title"/>
        <Toolbar>
          <ToolbarInput
            editable="true"
            id="PolicyPeriodFilter"
            label="displaykey.Web.ItemEventLV.PolicyPeriodFilter"
            value="policyNumber"/>
          <ToolbarButton
            action="evt = (policyNumber != null) ? producerStatement.getItemEvents(policyNumber, true) : evt"
            default="true"
            id="PolicyFilterGoButton"
            label="displaykey.Web.ItemEventLV.PolicyPeriodFilterGoButton"/>
          <ToolbarButton
            action="policyNumber = null; evt = producerStatement.getItemEvents(null, false)"
            id="PolicyFilterClearButton"
            label="displaykey.Web.ItemEventLV.PolicyPeriodFilterClearButton"/>
        </Toolbar>
        <ListViewPanel
          id="ItemEventLV">
          <RowIterator
            editable="false"
            elementName="evt"
            value="evt">
            <Row>
              <Cell
                action="ProducerStatementPopup.push(evt.get(&quot;PolicyNumber&quot;) as String, producerStatement)"
                enableSort="false"
                id="policyNumber"
                label="displaykey.Web.ItemEventLV.Event.PolicyNumber"
                value="evt.get(&quot;PolicyNumber&quot;)"/>
              <Cell
                enableSort="false"
                id="NumberEarned"
                label="displaykey.Web.ItemEventLV.Event.NumberEarned"
                value="evt.get(&quot;NumberEarned&quot;)"/>
              <MonetaryAmountCell
                currency="producerStatement.Currency"
                enableSort="false"
                footerSumValue="getCommissionAmount(evt)"
                formatType="currency"
                id="commissionAmount"
                label="displaykey.Web.ItemEventLV.Event.CommissionAmount"
                value="getCommissionAmount(evt)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef
        visible="producerStatement.Type == ProducerStatementType.TC_UPGRADE">
        <TitleBar
          id="NotShowingPolicyActivityTitle"
          title="displaykey.Web.ProducerStatement.PolicyActivity.Title"/>
        <DetailViewPanel>
          <InputColumn>
            <Input
              id="NumberOfReversals"
              label="displaykey.Web.ProducerStatement.PolicyActivity.NumberOfReversals"
              value="producerStatement.NumberOfReversalTransactionsWithoutItemEvents"/>
            <Input
              id="NumberOfItemEvents"
              label="displaykey.Web.ProducerStatement.PolicyActivity.NumberOfItemEvents"
              value="producerStatement.NumberOfItemEvents"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <AlertBar
        id="NotShowingPolicyActivityMessage"
        label="displaykey.Web.ProducerStatement.PolicyActivity.NotShowing"
        visible="producerStatement.Type == ProducerStatementType.TC_UPGRADE"/>
      <PanelRef
        visible="producerStatement.Type == ProducerStatementType.TC_PREUPGRADE">
        <TitleBar
          id="PreUpgradePolicyActivityTitle"
          title="displaykey.Web.ProducerStatement.PolicyActivity.Title"/>
        <Toolbar/>
        <ListViewPanel>
          <RowIterator
            editable="false"
            elementName="producerTransaction"
            value="producerStatement.TransactionsWithoutItemEvents">
            <Row>
              <Cell
                footerLabel="displaykey.Web.ProducerStatement.PreUpgradePolicyActivity.Total"
                id="PreUpgradePolicyActivityLV_Date"
                label="displaykey.Web.ProducerStatement.PreUpgradePolicyActivity.Date"
                value="producerTransaction.TransactionDate"/>
              <Cell
                enableSort="false"
                id="PreUpgradePolicyActivityLV_PolicyNumber"
                label="displaykey.Web.ProducerStatement.PreUpgradePolicyActivity.PolicyNumber"
                value="producerTransaction.PolicyCommission.PolicyPeriod.PolicyNumber"/>
              <Cell
                id="PreUpgradePolicyActivityLV_Number"
                label="displaykey.Web.ProducerStatement.PreUpgradePolicyActivity.Number"
                value="producerTransaction.TransactionNumber"/>
              <Cell
                enableSort="false"
                id="PreUpgradePolicyActivityLV_EffectiveDate"
                label="displaykey.Web.ProducerStatement.PreUpgradePolicyActivity.EffectiveDate"
                value="producerTransaction.PolicyCommission.PolicyPeriod.PolicyPerEffDate"/>
              <Cell
                enableSort="false"
                id="PreUpgradePolicyActivityLV_Context"
                label="displaykey.Web.ProducerStatement.PreUpgradePolicyActivity.Context"
                value="producerTransaction.ShortDisplayName"/>
              <Cell
                enableSort="false"
                id="PreUpgradePolicyActivityLV_ProducerCode"
                label="displaykey.Web.ProducerStatement.PreUpgradePolicyActivity.ProducerCode"
                value="producerTransaction.ProducerCode.Code"/>
              <Cell
                enableSort="false"
                id="PreUpgradePolicyActivityLV_Charge"
                label="displaykey.Web.ProducerStatement.PreUpgradePolicyActivity.Charge"
                value="producerTransaction.ChargeCommission.Charge"/>
              <MonetaryAmountCell
                currency="producerStatement.Currency"
                enableSort="false"
                footerSumValue="producerTransaction.PayableAmount"
                formatType="currency"
                id="PreUpgradePolicyActivityLV_Amount"
                label="displaykey.Web.ProducerStatement.PreUpgradePolicyActivity.Amount"
                value="producerTransaction.PayableAmount"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef>
        <TitleBar
          title="displaykey.Web.ProducerStatement.OtherActivity.Title"/>
        <Toolbar/>
        <ListViewPanel
          id="OtherActivityLV">
          <RowIterator
            editable="false"
            elementName="producerTransaction"
            value="producerStatement.findOtherCommissionPayableTransactions()">
            <Row>
              <DateCell
                footerLabel="displaykey.Web.ProducerStatement.OtherActivity.Total"
                id="OtherActivityLV_Date"
                label="displaykey.Web.ProducerStatement.OtherActivity.Date"
                sortOrder="1"
                value="producerTransaction.TransactionDate"/>
              <Cell
                action="TransactionDetailPopup.push(producerTransaction)"
                enableSort="false"
                id="OtherActivityLV_TransactionNumber"
                label="displaykey.Web.ProducerStatement.OtherActivity.TransactionNumber"
                value="producerTransaction.TransactionNumber"/>
              <Cell
                enableSort="false"
                id="OtherActivityLV_Context"
                label="displaykey.Web.ProducerStatement.OtherActivity.Context"
                value="producerTransaction.ShortDisplayName"/>
              <MonetaryAmountCell
                currency="producerStatement.Currency"
                enableSort="false"
                footerSumValue="producerTransaction.PayableAmount"
                formatType="currency"
                id="OtherActivityLV_Amount"
                label="displaykey.Web.ProducerStatement.OtherActivity.Amount"
                value="producerTransaction.PayableAmount"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef
        visible="payableTransferTransactions.HasElements">
        <TitleBar
          title="displaykey.Web.ProducerStatement.PayableTransferActivity.Title"/>
        <Toolbar/>
        <ListViewPanel
          id="PayableTransferActivityLV">
          <RowIterator
            editable="false"
            elementName="payableTransferTransaction"
            value="producerStatement.findProducerPayableTransferTransactions()">
            <Row>
              <DateCell
                footerLabel="displaykey.Web.ProducerStatement.PayableTransferActivity.Total"
                id="PayableTransferActivityLV_Date"
                label="displaykey.Web.ProducerStatement.PayableTransferActivity.Date"
                sortOrder="1"
                value="payableTransferTransaction.TransactionDate"/>
              <Cell
                action="TransactionDetailPopup.push(payableTransferTransaction)"
                enableSort="false"
                id="PayableTransferActivityLV_TransactionNumber"
                label="displaykey.Web.ProducerStatement.PayableTransferActivity.TransactionNumber"
                value="payableTransferTransaction.TransactionNumber"/>
              <Cell
                enableSort="false"
                id="PayableTransferActivityLV_Context"
                label="displaykey.Web.ProducerStatement.PayableTransferActivity.Context"
                value="payableTransferTransaction.ShortDisplayName"/>
              <MonetaryAmountCell
                currency="producerStatement.Currency"
                enableSort="false"
                footerSumValue="payableTransferTransaction.getTransferAmount(producerStatement.Producer)"
                formatType="currency"
                id="PayableTransferActivityLV_Amount"
                label="displaykey.Web.ProducerStatement.PayableTransferActivity.Amount"
                value="payableTransferTransaction.getTransferAmount(producerStatement.Producer)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef>
        <TitleBar
          title="displaykey.Web.ProducerStatement.PaymentActivity.Title"/>
        <Toolbar/>
        <ListViewPanel
          id="PaymentActivityLV">
          <RowIterator
            editable="false"
            elementName="producerTransaction"
            value="producerStatement.findProducerPaymentTransactions()">
            <Row>
              <DateCell
                footerLabel="displaykey.Web.ProducerStatement.PaymentActivity.Total"
                id="PaymentActivityLV_Date"
                label="displaykey.Web.ProducerStatement.PaymentActivity.Date"
                sortOrder="1"
                value="producerTransaction.TransactionDate"/>
              <Cell
                action="TransactionDetailPopup.push(producerTransaction)"
                enableSort="false"
                id="PaymentActivityLV_TransactionNumber"
                label="displaykey.Web.ProducerStatement.PaymentActivity.TransactionNumber"
                value="producerTransaction.TransactionNumber"/>
              <Cell
                action="PolicyDetailSummary.push(producerTransaction.PolicyCommission.PolicyPeriod)"
                enableSort="false"
                id="PaymentActivityLV_PolicyNumber"
                label="displaykey.Web.ProducerStatement.PaymentActivity.PolicyNumber"
                value="producerTransaction.PolicyCommission.PolicyPeriod.PolicyNumber"/>
              <Cell
                enableSort="false"
                id="PaymentActivityLV_Context"
                label="displaykey.Web.ProducerStatement.PaymentActivity.Context"
                value="producerTransaction.ShortDisplayName"/>
              <Cell
                action="PaymentDetailForward.push(producerTransaction.PaymentReceipt)"
                enableSort="false"
                id="PaymentActivityLV_CheckRefNumber"
                label="displaykey.Web.ProducerStatement.PaymentActivity.CheckRefNumber"
                value="getCheckRefNumber(producerTransaction.PaymentReceipt)"/>
              <MonetaryAmountCell
                enableSort="false"
                footerSumValue="producerTransaction.ToProducerAmount"
                formatType="currency"
                id="PaymentActivityLV_ToAgent"
                label="displaykey.Web.ProducerStatement.PaymentActivity.ToAgent"
                value="producerTransaction.ToProducerAmount"/>
              <MonetaryAmountCell
                currency="producerStatement.Currency"
                enableSort="false"
                footerSumValue="producerTransaction.FromProducerAmount"
                formatType="currency"
                id="PaymentActivityLV_FromAgent"
                label="displaykey.Web.ProducerStatement.PaymentActivity.FromAgent"
                value="producerTransaction.FromProducerAmount"/>
              <MonetaryAmountCell
                currency="producerStatement.Currency"
                enableSort="false"
                footerSumValue="producerTransaction.PaidAmount"
                formatType="currency"
                id="PaymentActivityLV_Payment"
                label="displaykey.Web.ProducerStatement.PaymentActivity.Payment"
                value="producerTransaction.PaidAmount"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
    <Code><![CDATA[uses gw.api.financials.MonetaryAmounts
uses gw.pl.currency.MonetaryAmount
uses java.util.Map

function getCheckRefNumber(paymentReceipt : PaymentReceipt) : String {
        if (paymentReceipt == null) {
          return null;
        } else if (paymentReceipt.RefNumber == null) {
          return displaykey.Web.ProducerTransactions.Payments.Pending;
        } else {
          return paymentReceipt.RefNumber;
        }
      }
 function getCommissionAmount(evt : Map<String, Object>) : MonetaryAmount {
   var commissionAmount = evt.get("CommissionAmount")
   return ((commissionAmount == null ? 0 : commissionAmount) as java.math.BigDecimal).ofCurrency(producerStatement.Currency)
 }]]></Code>
  </Page>
</PCF>