<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.accttabview"
    id="Accounts"
    title="displaykey.Web.Accounts.Title">
    <ScreenRef
      def="AccountSearchScreen(true, true)"/>
  </Page>
</PCF>