<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.accttabview and perm.System.acctledgerview"
    id="AccountDetailLedger"
    showUpLink="true"
    title="displaykey.Web.AccountDetailLedger.Title">
    <LocationEntryPoint
      signature="AccountDetailLedger(account : Account)"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      initialValue="AllRelatedTAccountOwners"
      name="relatedTAccountOwner"
      type="TAccountOwner[]"/>
    <ScreenRef
      def="LedgerScreen(account, relatedTAccountOwner)"/>
    <Code><![CDATA[uses gw.api.database.Query

property get AllRelatedTAccountOwners() : TAccountOwner[]{
  var result = new java.util.ArrayList()
  result.add(account.Collateral)
  var q = Query.make(CollateralRequirement)
  q.compare("Collateral", Equals, account.Collateral)
  q.compare("Segregated", Equals, true)
  var segregatedCashCollatealRequirements = q.select()
  for (requirement in segregatedCashCollatealRequirements) {
    result.add(requirement)
  }
  return result as TAccountOwner[]
}]]></Code>
  </Page>
</PCF>