<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="AccountDetailDV">
    <Require
      name="account"
      type="Account"/>
    <Require
      name="accountBalances"
      type="web.account.AccountBalancesView"/>
    <Variable
      initialValue="new web.account.AccountSearchConverter()"
      name="accountSearchConverter"
      type="web.account.AccountSearchConverter"/>
    <Variable
      initialValue="gw.api.database.Query.make(SecurityZone).select()"
      name="allSecurityZones"
      type="SecurityZoneQuery"/>
    <Variable
      initialValue="new gw.payment.PaymentInstrumentRange(account.PaymentInstruments)"
      name="paymentInstrumentRange"
      type="gw.payment.PaymentInstrumentRange"/>
    <Variable
      initialValue="account.DelinquentAmount"
      name="policiesPastDue"/>
    <Variable
      initialValue="account.BillingLevel == BillingLevel.TC_ACCOUNT"
      name="invoiceBy"/>
    <Variable
      initialValue="account.BillingLevel != BillingLevel.TC_POLICYDESIGNATEDUNAPPLIED"
      name="separateIncomingFundsBy"/>
    <InputColumn>
      <Label
        label="displaykey.Web.AccountDetailDV.AccountBasics"/>
      <Input
        id="AccountNumber"
        label="displaykey.Web.AccountDetailDV.AccountNumber"
        value="account.AccountNumber"/>
      <Input
        id="AccountName"
        label="displaykey.Web.AccountDetailDV.AccountName"
        value="account.AccountNameLocalized"/>
      <TypeKeyInput
        id="AccountType"
        label="displaykey.Web.AccountDetailDV.AccountType"
        value="account.AccountType"/>
      <Input
        action="AccountDetailSummary.push(account.ParentAccount)"
        actionAvailable="account.ParentAccount != null"
        editable="true"
        id="ParentAccount"
        inputConversion="accountSearchConverter.getAccount(VALUE)"
        label="displaykey.Web.AccountDetailDV.ParentAccount"
        required="false"
        validationExpression="account.hasValidParentAccount() ? null : displaykey.Web.AccountDetailDV.ParentNotValid"
        value="account.ParentAccount">
        <MenuItem
          action="AccountSearchPopup.push()"
          icon="&quot;search.png&quot;"
          id="AccountPicker"/>
      </Input>
      <TypeKeyInput
        id="Currency"
        label="displaykey.Web.AccountDetailDV.Currency"
        required="true"
        value="account.Currency"/>
      <Input
        id="DBA"
        label="displaykey.Web.AccountDetailDV.DBA"
        value="account.DBA"/>
      <TypeKeyInput
        id="Segment"
        label="displaykey.Web.AccountDetailDV.Segment"
        value="account.Segment"/>
      <DateInput
        id="CreationDate"
        label="displaykey.Web.AccountDetailDV.CreationDate"
        value="account.CreateTime"/>
      <DateInput
        id="CloseDate"
        label="displaykey.Web.AccountDetailDV.CloseDate"
        value="account.CloseDate"
        visible="account.Closed"/>
      <TypeKeyInput
        editable="true"
        id="CustomerServiceTier"
        label="displaykey.Web.NewAccountDV.CustomerServiceTier"
        value="account.ServiceTier"/>
      <RangeInput
        action="SecurityZoneDetail.go(account.SecurityZone)"
        editable="true"
        id="SecurityZone"
        label="displaykey.Web.AccountDetailDV.SecurityZone"
        value="account.SecurityZone"
        valueRange="allSecurityZones"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.AccountDetailDV.ContactInfo"/>
      <Input
        id="PrimaryContact"
        label="displaykey.Web.AccountDetailDV.PrimaryContact"
        value="account.PrimaryPayer.DisplayName"/>
      <Input
        id="Address"
        label="displaykey.Web.NewAccountDV.PrimaryContact.Address"
        value="new gw.api.address.AddressFormatter().format(account.PrimaryPayer.Contact.PrimaryAddress, &quot;\n&quot;)"/>
      <Input
        id="Phone"
        label="displaykey.Web.AccountDetailDV.Phone"
        value="account.PrimaryPayer.Contact.WorkPhoneValue"/>
      <Input
        id="Email"
        label="displaykey.Web.AccountDetailDV.Email"
        value="account.PrimaryPayer.Contact.EmailAddress1"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.AccountDetailDV.CompanyType"/>
      <Input
        id="OrgType"
        label="displaykey.Web.AccountDetailDV.OrgType"
        value="account.OrganizationType"/>
      <Input
        id="FEIN"
        label="displaykey.Web.AccountDetailDV.FEIN"
        value="account.FEIN"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.AccountDetailDV.AccountTotals"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="AccountUnbilledAmount"
        label="displaykey.Web.AccountDetailDV.AccountUnbilledAmount"
        value="accountBalances.AdjustedUnbilledAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="AccountCurrentAmountBilled"
        label="displaykey.Web.AccountDetailDV.AccountCurrentBilled"
        value="accountBalances.AdjustedBilledAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="AccountPastDueAmount"
        label="displaykey.Web.AccountDetailDV.AccountPastDueAmount"
        value="policiesPastDue"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="AccountTotalOutstanding"
        label="displaykey.Web.AccountDetailDV.AccountTotalOutstanding"
        value="accountBalances.AdjustedOutstandingAmount"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.AccountDetailDV.PolicyTotals"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="PoliciesUnbilledAmount"
        label="displaykey.Web.AccountDetailDV.PoliciesUnbilledAmount"
        value="accountBalances.PoliciesAdjustedUnbilledAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="PoliciesCurrentAmountDue"
        label="displaykey.Web.AccountDetailDV.PoliciesCurrentAmountDue"
        value="accountBalances.PoliciesAdjustedBilledAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="PoliciesPastDueAmount"
        label="displaykey.Web.AccountDetailDV.PoliciesPastDueAmount"
        value="policiesPastDue - account.RawDelinquentAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="PoliciesTotalOutstanding"
        label="displaykey.Web.AccountDetailDV.PoliciesTotalOutstanding"
        value="accountBalances.PoliciesAdjustedOutstandingAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="PoliciesPaidAmount"
        label="displaykey.Web.AccountDetailDV.PoliciesPaidAmount"
        value="account.PoliciesPaidAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="PoliciesTotalValue"
        label="displaykey.Web.AccountDetailDV.PoliciesTotalValue"
        value="account.PoliciesTotalValue"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.AccountDetailDV.UnappliedFunds"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="UnappliedAmount"
        label="displaykey.Web.AccountDetailDV.DefaultUnappliedAmount"
        value="account.TotalUnappliedAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="SuspenseAmount"
        label="displaykey.Web.AccountDetailDV.SuspenseAmount"
        value="account.SuspenseAmount"/>
      <InputSet
        visible="!account.isListBill()">
        <InputDivider/>
        <Label
          label="displaykey.Web.AccountDetailDV.Collateral"/>
        <TypeKeyInput
          action="AccountCollateral.push(account)"
          id="CollateralStatus"
          label="displaykey.Web.AccountDetailDV.CollateralStatus"
          value="account.Collateral.Compliance"/>
      </InputSet>
      <InputDivider/>
      <InputSet>
        <Label
          label="displaykey.Web.AccountDetailDV.PaymentAllocation"/>
        <Input
          action="PaymentAllocationPlanDetailPopup.push(account.PaymentAllocationPlan)"
          id="PaymentAllocationPlan"
          label="displaykey.Web.AccountDetailDV.PaymentAllocationPlan"
          required="true"
          value="account.PaymentAllocationPlan.Name"/>
      </InputSet>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.AccountDetailDV.BillingInfo"/>
      <Input
        action="BillingPlanDetailPopup.push(account.BillingPlan)"
        id="BillingPlan"
        label="displaykey.Web.AccountDetailDV.BillingPlan"
        required="true"
        value="account.BillingPlan.Name"/>
      <TypeKeyRadioInput
        editable="true"
        id="dueDateBilling"
        label="displaykey.Web.AccountDetailDV.DueDateBilling"
        required="true"
        value="account.BillDateOrDueDateBilling"/>
      <InputGroup
        allowToggle="false"
        childrenVisible="true"
        id="InvoicesFixedOnInputGroup"
        label="displaykey.Web.AccountDetailDV.InvoicesFixedOn">
        <Input
          editable="true"
          id="InvoiceDayOfMonth"
          label="displaykey.Web.AccountDetailDV.InvoiceDayOfMonth"
          validationExpression="account.InvoiceDayOfMonth != null and account.InvoiceDayOfMonth &gt; 0 and account.InvoiceDayOfMonth &lt;= 31 ? null : displaykey.Java.Account.InvoiceDayOfMonth.ValidationError"
          value="account.InvoiceDayOfMonth"/>
        <Input
          editable="true"
          id="FirstTwicePerMonthInvoiceDayOfMonth"
          label="displaykey.Web.AccountDetailDV.FirstTwicePerMonthInvoiceDayOfMonth"
          required="true"
          validationExpression="account.FirstTwicePerMonthInvoiceDayOfMonth != null and account.FirstTwicePerMonthInvoiceDayOfMonth &gt; 0 and account.FirstTwicePerMonthInvoiceDayOfMonth &lt;= 31 ? null : displaykey.Java.Account.FirstTwicePerMonthInvoiceDayOfMonth.ValidationError"
          value="account.FirstTwicePerMonthInvoiceDayOfMonth"/>
        <Input
          editable="true"
          id="SecondTwicePerMonthInvoiceDayOfMonth"
          label="displaykey.Web.AccountDetailDV.SecondTwicePerMonthInvoiceDayOfMonth"
          required="true"
          validationExpression="account.SecondTwicePerMonthInvoiceDayOfMonth != null and account.SecondTwicePerMonthInvoiceDayOfMonth &gt; 0 and account.SecondTwicePerMonthInvoiceDayOfMonth &lt;= 31 ? null : displaykey.Java.Account.SecondTwicePerMonthInvoiceDayOfMonth.ValidationError"
          value="account.SecondTwicePerMonthInvoiceDayOfMonth"/>
        <TypeKeyInput
          editable="true"
          id="InvoiceDayOfWeek"
          label="displaykey.Web.AccountDetailDV.InvoiceDayOfWeek"
          value="account.InvoiceDayOfWeek"/>
        <DateInput
          editable="true"
          id="EveryOtherWeekInvoiceAnchorDate"
          label="displaykey.Web.AccountDetailDV.EveryOtherWeekInvoiceAnchorDate"
          value="account.EveryOtherWeekInvoiceAnchorDate"/>
      </InputGroup>
      <TypeKeyInput
        editable="true"
        id="SendInvoicesBy"
        label="displaykey.Web.AccountDetailDV.SendInvoicesBy"
        value="account.InvoiceDeliveryType"/>
      <BooleanRadioInput
        editable="true"
        falseLabel="displaykey.Web.AccountDetailDV.Billing.PolicyGroup"
        id="BillingLevelInvoiceByAccount"
        label="displaykey.Web.AccountDetailDV.Billing.InvoiceBy"
        required="true"
        trueLabel="displaykey.Web.AccountDetailDV.Billing.Account"
        validationExpression="updateBillingLevel()"
        value="invoiceBy"
        visible="!account.isListBill()">
        <PostOnChange
          onChange="if (invoiceBy) {separateIncomingFundsBy = true }"/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="!invoiceBy"
        falseLabel="displaykey.Web.AccountDetailDV.Billing.PolicyGroup"
        id="BillingLevelSeparateIncomingFundsByAccount"
        label="displaykey.Web.AccountDetailDV.Billing.SeparateIncomingFundsBy"
        required="true"
        trueLabel="displaykey.Web.AccountDetailDV.Billing.Account"
        validationExpression="updateBillingLevel()"
        value="separateIncomingFundsBy"
        visible="!account.isListBill()"/>
      <RangeInput
        editable="true"
        id="DefaultPaymentInstrument"
        label="displaykey.Web.AccountDetailDV.PaymentInstrument"
        onPick="paymentInstrumentRange.addPaymentInstrument(account.DefaultPaymentInstrument)"
        required="true"
        value="account.DefaultPaymentInstrument"
        valueRange="gw.payment.PaymentInstrumentFilters.applyFilter(paymentInstrumentRange, gw.payment.PaymentInstrumentFilters.accountDetailsPaymentInstrumentFilter)">
        <MenuItem
          action="NewPaymentInstrumentPopup.push(gw.payment.PaymentInstrumentFilters.accountDetailsPaymentInstrumentOptions,account,false)"
          id="CreateNewPaymentInstrument"
          label="displaykey.Web.NewPaymentInstrument.CreateNewPaymentInstrument"/>
        <PostOnChange/>
      </RangeInput>
      <ContentInput
        visible="account.AccountType==AccountType.TC_LISTBILL">
        <Link
          action="ListBillPaymentPlansPopup.push(account)"
          id="ListBillPaymentPlansLink"
          label="displaykey.Web.AccountDetailDV.ListBillPaymentPlans"/>
      </ContentInput>
      <InputDivider/>
      <Label
        label="displaykey.Web.AccountDetailDV.NextBillInfo"/>
      <DateInput
        id="NextInvoice"
        label="displaykey.Web.AccountDetailDV.NextInvoiceDate"
        value="account.NextInvoice.EventDate"/>
      <DateInput
        id="NextPaymentDue"
        label="displaykey.Web.AccountDetailDV.NextPaymentDueDate"
        value="account.NextDueInvoice.PaymentDueDate"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.AccountDetailDV.Writeoffs"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="WriteoffAmount"
        label="displaykey.Web.AccountDetailDV.WriteoffAmount"
        value="account.WriteoffExpense - account.NegativeWriteoff"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.AccountDetailDV.Delinquency"/>
      <MonetaryAmountInput
        align="right"
        currency="account.Currency"
        formatType="currency"
        id="DelinquentAmount"
        label="displaykey.Web.AccountDetailDV.DelinquentAmount"
        value="policiesPastDue"/>
      <RangeInput
        action="DelinquencyPlanDetailPopup.push(account.DelinquencyPlan)"
        editable="true"
        id="DelinquencyPlan"
        label="displaykey.Web.AccountDetailDV.DelinquencyPlan"
        required="true"
        value="account.DelinquencyPlan"
        valueRange="account.getApplicableDelinquencyPlans()"/>
      <RangeInput
        editable="true"
        id="CollectionAgency"
        label="displaykey.Web.AccountDetailDV.CollectionAgency"
        value="account.CollectionAgency"
        valueRange="gw.api.database.Query.make(CollectionAgency).select()"
        visible="account.hasActiveDelinquencyProcess()"/>
    </InputColumn>
    <Code><![CDATA[function updateBillingLevel() : String {
  if (invoiceBy) {
    account.BillingLevel = BillingLevel.TC_ACCOUNT
    separateIncomingFundsBy = true
  } else if (separateIncomingFundsBy) {
    account.BillingLevel = BillingLevel.TC_POLICYDEFAULTUNAPPLIED
  } else {
    account.BillingLevel = BillingLevel.TC_POLICYDESIGNATEDUNAPPLIED
  }
  return null;
}]]></Code>
  </DetailViewPanel>
</PCF>