<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- LocationGroup for the "Accounts and Policies" tab pages -->
  <LocationGroup
    id="AccountsGroup"
    infoBar="CurrentDateInfoBar()"
    menuActions="AccountsMenuActions()"
    parent="AccountForward()"
    title="&quot;&quot;">
    <LocationEntryPoint
      signature="AccountsGroup()"/>
    <LocationRef
      location="Accounts()"/>
  </LocationGroup>
</PCF>