<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <CardViewPanel
    id="AccountContactCV">
    <Require
      name="contact"
      type="AccountContact"/>
    <Card
      id="ContactDetailCard"
      title="displaykey.Web.AccountContactCV.ContactInfo">
      <PanelRef
        def="AccountContactDetailDV(contact, true)"/>
    </Card>
    <Card
      id="CorrespondenceDetailCard"
      title="displaykey.Web.AccountContactCV.Correspondence">
      <PanelRef
        def="AccountContactCorrespondenceDV(contact)"/>
    </Card>
  </CardViewPanel>
</PCF>