<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.accttabview and perm.System.acctevalview"
    id="AccountDetailEvaluation"
    showUpLink="true"
    title="displaykey.Web.AccountDetailEvaluation.Title">
    <LocationEntryPoint
      signature="AccountDetailEvaluation(account : Account)"/>
    <Variable
      name="account"
      type="Account"/>
    <Screen
      id="AccountDetailEvaluationScreen">
      <Toolbar/>
      <DetailViewPanel
        id="AccountDetailEvaluationDV">
        <InputColumn>
          <InputSetRef
            def="AccountEvaluationInputSet(account, null)"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>