<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="AccountInvoiceStreamDetailDV">
    <Require
      name="account"
      type="Account"/>
    <Require
      name="invoiceStreamView"
      type="gw.api.web.invoice.InvoiceStreamView"/>
    <Variable
      initialValue="new gw.payment.PaymentInstrumentRange(account.PaymentInstruments)"
      name="paymentInstrumentRange"
      type="gw.payment.PaymentInstrumentRange"/>
    <InputColumn>
      <Input
        id="InvoiceStreamDisplayName"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.InvoiceStreamName"
        required="false"
        value="invoiceStreamView.DisplayName"/>
      <RangeInput
        editable="invoiceStreamView.InvoiceStream.New"
        id="Periodicity"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.InvoiceStreamPeriodicity"
        required="true"
        value="invoiceStreamView.Periodicity"
        valueRange="gw.api.domain.invoice.InvoiceStreams.getInvoiceStreamPeriodicities()">
        <PostOnChange/>
      </RangeInput>
      <TextInput
        editable="true"
        id="Description"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.InvoiceStreamDescription"
        required="false"
        value="invoiceStreamView.Description"
        visible="CurrentLocation.InEditMode || (invoiceStreamView.Description != null)"/>
      <InputDivider/>
      <Label
        id="InvoiceDayLabel"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.InvoiceStreamDates"/>
      <InputSetRef
        def="InvoiceStreamAnchorDateInputSet(invoiceStreamView)"
        mode="invoiceStreamView.Periodicity"/>
      <InputDivider/>
      <Label
        id="BillDateOrDueDateBillingLabel"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.BillDateOrDueDateBilling"/>
      <BooleanRadioInput
        editable="true"
        id="OverrideBillDateOrDueDateBilling"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.OverrideAccountBillDateOrDueDateBilling"
        required="true"
        value="invoiceStreamView.OverrideBillDateOrDueDateBilling">
        <PostOnChange/>
      </BooleanRadioInput>
      <TypeKeyRadioInput
        id="AccountBillDateOrDueDateBilling"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.AccountBillDateOrDueDateBilling"
        value="account.BillDateOrDueDateBilling"/>
      <TypeKeyRadioInput
        editable="invoiceStreamView.OverrideBillDateOrDueDateBilling"
        id="OverridingBillDateOrDueDateBilling"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.OverridingBillDateOrDueDateBilling"
        required="true"
        value="invoiceStreamView.OverridingBillDateOrDueDateBilling"
        visible="invoiceStreamView.OverrideBillDateOrDueDateBilling"/>
      <InputDivider/>
      <Label
        id="PaymentInstrumentLabel"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.PaymentInstrument"/>
      <BooleanRadioInput
        editable="true"
        id="OverridePaymentInstrument"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.OverridePaymentInstrument"
        required="true"
        value="invoiceStreamView.OverridePaymentInstrument">
        <PostOnChange/>
      </BooleanRadioInput>
      <TextInput
        id="AccountPaymentInstrument"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.AccountPaymentInstrument"
        value="account.DefaultPaymentInstrument"/>
      <RangeInput
        editable="invoiceStreamView.OverridePaymentInstrument"
        id="OverridingPaymentInstrument"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.OverridingPaymentInstrument"
        onPick="paymentInstrumentRange.addPaymentInstrument(invoiceStreamView.OverridingPaymentInstrument)"
        required="true"
        value="invoiceStreamView.OverridingPaymentInstrument"
        valueRange="gw.payment.PaymentInstrumentFilters.applyFilter(paymentInstrumentRange, gw.payment.PaymentInstrumentFilters.accountDetailsPaymentInstrumentFilter)"
        visible="invoiceStreamView.OverridePaymentInstrument">
        <MenuItem
          action="NewPaymentInstrumentPopup.push(gw.payment.PaymentInstrumentFilters.accountDetailsPaymentInstrumentOptions,account,false)"
          id="CreateNewPaymentInstrument"
          label="displaykey.Web.NewPaymentInstrument.CreateNewPaymentInstrument"/>
        <PostOnChange/>
      </RangeInput>
      <InputDivider/>
      <Label
        id="LeadTimeLabel"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.LeadTime"/>
      <BooleanRadioInput
        editable="true"
        id="OverrideInvoicingLeadTime"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.OverrideLeadTime"
        required="true"
        value="invoiceStreamView.OverrideInvoicingLeadTime">
        <PostOnChange/>
      </BooleanRadioInput>
      <TextInput
        id="AccountInvoicingLeadTime"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.AccountLeadTime"
        value="account.getInvoicingLeadTime(invoiceStreamView.PaymentInstrument)"/>
      <TextInput
        editable="invoiceStreamView.OverrideInvoicingLeadTime"
        id="OverridingInvoicingLeadTime"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.OverridingLeadTime"
        required="true"
        value="invoiceStreamView.OverridingInvoicingLeadTime"
        visible="invoiceStreamView.OverrideInvoicingLeadTime"/>
      <InputDivider/>
      <Label
        id="UnappliedFundsSelectionLabel"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.UnappliedFundSelectionLabel"/>
      <BooleanRadioInput
        editable="invoiceStreamView.InvoiceStream.New &amp;&amp; !(invoiceStreamView.InvoiceStream.InvoicePayer as Account).ListBill"
        falseLabel="displaykey.Web.AccountDetailInvoices.InvoiceStream.Existing"
        hideIfReadOnly="true"
        id="UnappliedFundsNewOrExisting"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.UnappliedFundNewOrExisting"
        trueLabel="displaykey.Web.AccountDetailInvoices.InvoiceStream.New"
        value="invoiceStreamView.IsUnappliedFundsNew">
        <PostOnChange/>
      </BooleanRadioInput>
      <Input
        id="SelectedUnappliedFunds"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.UnappliedFund"
        value="invoiceStreamView.InvoiceStream.UnappliedFund"
        visible="!invoiceStreamView.InvoiceStream.New || invoiceStreamView.IsUnappliedFundsNew || (invoiceStreamView.InvoiceStream.InvoicePayer as Account).ListBill"/>
      <Input
        editable="invoiceStreamView.InvoiceStream.New"
        hideIfReadOnly="true"
        id="NewUnappliedFundsDescription"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.Description"
        required="true"
        value="invoiceStreamView.DescriptionOnNewUnappliedFund"
        visible="invoiceStreamView.IsUnappliedFundsNew">
        <PostOnChange/>
      </Input>
      <RangeInput
        editable="invoiceStreamView.InvoiceStream.New  &amp;&amp; !(invoiceStreamView.InvoiceStream.InvoicePayer as Account).ListBill"
        hideIfReadOnly="true"
        id="ExistingUnappliedFunds"
        label="displaykey.Web.AccountDetailInvoices.InvoiceStream.UnappliedFund"
        required="!invoiceStreamView.IsUnappliedFundsNew"
        value="invoiceStreamView.UnappliedFund"
        valueRange="account.UnappliedFundsOrdered"
        visible="!invoiceStreamView.IsUnappliedFundsNew">
        <PostOnChange/>
      </RangeInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>