<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <CardViewPanel
    id="AccountPaymentDistributionItemsCV">
    <Require
      name="selectedMoney"
      type="DirectBillMoneyRcvd"/>
    <Variable
      initialValue="selectedMoney.DirectBillPayment"
      name="selectedPayment"
      recalculateOnRefresh="true"
      type="DirectBillPayment"/>
    <Variable
      initialValue="selectedMoney.Account"
      name="account"
      type="Account"/>
    <Card
      id="PaymentDetails"
      title="displaykey.Web.AccountPaymentDetails">
      <PanelRef>
        <Toolbar/>
        <ListViewPanel
          id="DirectBillDistItemsLV"
          visible="selectedPayment != null">
          <RowIterator
            editable="false"
            elementName="distItem"
            type="DirectBillPaymentItem"
            value="selectedPayment.DistItemsList">
            <Variable
              initialValue="distItem.InvoiceItem"
              name="invoiceItem"
              type="InvoiceItem"/>
            <Row>
              <Cell
                align="right"
                id="InstallmentNumber"
                label="displaykey.Web.NewDirectBillPayment.InvoiceNumber"
                value="invoiceItem.Invoice.InvoiceNumber"/>
              <Cell
                id="Invoice"
                label="displaykey.Web.NewDirectBillPayment.Invoice"
                sortOrder="1"
                value="invoiceItem.Invoice"/>
              <DateCell
                id="DueDate"
                label="displaykey.Web.NewDirectBillPayment.DueDate"
                value="invoiceItem.InvoiceDueDate"/>
              <Cell
                action="AccountDetailSummary.push(invoiceItem.Owner)"
                enableSort="false"
                id="itemOwner"
                label="displaykey.Web.NewDirectBillPayment.Owner"
                value="invoiceItem.Owner"/>
              <RangeCell
                id="Type"
                label="displaykey.Web.NewDirectBillPayment.Type"
                value="invoiceItem.Type"
                valueRange="web.invoice.InvoiceUtil.getUserVisibleInvoiceItemTypes()"/>
              <MonetaryAmountCell
                align="left"
                currency="account.Currency"
                formatType="currency"
                id="Amount"
                label="displaykey.Web.NewDirectBillPayment.ItemAmount"
                required="true"
                value="invoiceItem.Amount">
                <PostOnChange/>
              </MonetaryAmountCell>
              <MonetaryAmountCell
                align="right"
                currency="account.Currency"
                formatType="currency"
                id="UnpaidAmount"
                label="displaykey.Web.NewDirectBillPayment.UnPaidAmount"
                required="true"
                value="invoiceItem.GrossUnsettledAmount"/>
              <MonetaryAmountCell
                currency="account.Currency"
                id="GrossAmountToApply"
                label="displaykey.Web.DirectBillDistItems.GrossAmountToApply"
                value="distItem.GrossAmountToApply"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Card>
    <Card
      id="suspenseItemsCard"
      title="displaykey.Web.NewDirectBillPayment.SuspenseItems"
      visible="!selectedPayment.SuspDistItemsThatHaveNotBeenReleased.IsEmpty">
      <ListViewPanel
        id="SuspenseItemsLV">
        <RowIterator
          editable="true"
          elementName="item"
          hideCheckBoxesIfReadOnly="true"
          id="SuspenseItems"
          pageSize="0"
          type="BaseSuspDistItem"
          value="selectedPayment.SuspDistItemsThatHaveNotBeenReleased">
          <ToolbarFlag
            name="SubRow"/>
          <Row>
            <Cell
              editable="!item.Executed"
              id="PolicyNumber"
              label="displaykey.Web.NewDirectBillPayment.PolicyNumber"
              required="true"
              value="item.PolicyNumber"/>
            <MonetaryAmountCell
              currency="account.Currency"
              editable="!item.Executed"
              enableSort="false"
              formatType="currency"
              id="GrossAmountToApply"
              label="displaykey.Web.NewDirectBillPayment.GrossAmount"
              numCols="10"
              required="true"
              value="item.GrossAmountToApply">
              <PostOnChange/>
            </MonetaryAmountCell>
            <Cell
              editable="true"
              id="Comments"
              label="displaykey.Web.NewDirectBillPayment.Comments"
              value="item.PaymentComments"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Card>
    <Card
      id="collateralItemsCard"
      title="displaykey.Web.NewDirectBillPayment.CollateralItems"
      visible="selectedPayment.CollateralPaymentItems.HasElements and selectedPayment.CollateralPaymentItems.where(\ c -&gt; c.ReversedDate == null).HasElements">
      <ListViewPanel
        id="CollateralItemsLV">
        <RowIterator
          editable="true"
          elementName="item"
          hideCheckBoxesIfReadOnly="true"
          id="CollateralItems"
          pageSize="0"
          type="CollateralPaymentItem"
          value=" selectedPayment.CollateralPaymentItems.where(\ c -&gt; c.ReversedDate == null)">
          <ToolbarFlag
            name="SubRow"/>
          <Row>
            <Cell
              id="Collateral"
              label="displaykey.Web.NewDirectBillPayment.Collateral"
              required="true"
              value="account.Collateral"/>
            <MonetaryAmountCell
              currency="account.Currency"
              editable="!item.Executed"
              enableSort="false"
              formatType="currency"
              id="GrossAmountToApply"
              label="displaykey.Web.NewDirectBillPayment.GrossAmount"
              numCols="10"
              required="true"
              value="item.GrossAmountToApply">
              <PostOnChange/>
            </MonetaryAmountCell>
            <Cell
              editable="true"
              id="Comments"
              label="displaykey.Web.NewDirectBillPayment.Comments"
              value="item.PaymentComments"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Card>
    <Card
      id="ReversedItemsDetails"
      title="displaykey.Web.AccountDetailPayments.ReversedItems"
      visible="selectedPayment.ReversedDistItems.Count &gt; 0">
      <PanelRef>
        <Toolbar/>
        <ListViewPanel
          id="ReversedDirectBillDistItemsLV"
          visible="selectedPayment != null">
          <RowIterator
            editable="false"
            elementName="distItem"
            type="DirectBillPaymentItem"
            value="selectedPayment.ReversedDistItems">
            <Variable
              initialValue="distItem.InvoiceItem"
              name="invoiceItem"
              type="InvoiceItem"/>
            <Row>
              <Cell
                align="right"
                id="InstallmentNumber"
                label="displaykey.Web.NewDirectBillPayment.InvoiceNumber"
                value="invoiceItem.Invoice.InvoiceNumber"/>
              <Cell
                id="Invoice"
                label="displaykey.Web.NewDirectBillPayment.Invoice"
                sortOrder="1"
                value="invoiceItem.Invoice"/>
              <DateCell
                id="DueDate"
                label="displaykey.Web.NewDirectBillPayment.DueDate"
                value="invoiceItem.InvoiceDueDate"/>
              <Cell
                action="AccountDetailSummary.push(invoiceItem.Owner)"
                enableSort="false"
                id="itemOwner"
                label="displaykey.Web.NewDirectBillPayment.Owner"
                value="invoiceItem.Owner"/>
              <RangeCell
                id="Type"
                label="displaykey.Web.NewDirectBillPayment.Type"
                value="invoiceItem.Type"
                valueRange="web.invoice.InvoiceUtil.getUserVisibleInvoiceItemTypes()"/>
              <MonetaryAmountCell
                align="left"
                currency="account.Currency"
                formatType="currency"
                id="Amount"
                label="displaykey.Web.NewDirectBillPayment.ItemAmount"
                required="true"
                value="invoiceItem.Amount">
                <PostOnChange/>
              </MonetaryAmountCell>
              <MonetaryAmountCell
                align="right"
                currency="account.Currency"
                formatType="currency"
                id="UnpaidAmount"
                label="displaykey.Web.NewDirectBillPayment.UnPaidAmount"
                required="true"
                value="invoiceItem.GrossUnsettledAmount"/>
              <MonetaryAmountCell
                currency="account.Currency"
                id="GrossAmountToApply"
                label="displaykey.Web.DirectBillDistItems.GrossAmountToApply"
                value="distItem.GrossAmountToApply"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Card>
    <Card
      id="reversedMonies"
      title="displaykey.Web.AccountDetailPayments.PreviousVersions"
      visible="!selectedMoney.PreviousMonies.Empty">
      <PanelRef>
        <Toolbar/>
        <ListViewPanel
          id="AccountDBPaymentsLV">
          <RowIterator
            editable="false"
            elementName="moneyReceived"
            value="selectedMoney.PreviousMonies">
            <Row>
              <DateCell
                enableSort="false"
                id="Date"
                label="displaykey.Web.AccountPaymentsLV.PaymentDate"
                value="moneyReceived.ReceivedDate"/>
              <Cell
                enableSort="false"
                fontColor="moneyReceived.Reversed ? (moneyReceived.Modifying  ? &quot;#336&quot; : &quot;#C00&quot;) : null"
                id="Description"
                label="displaykey.Web.AccountPaymentsLV.Description"
                value="moneyReceived.Description"/>
              <DateCell
                enableSort="false"
                id="Reversed"
                label="displaykey.Web.AccountPaymentsLV.Reversed"
                value="moneyReceived.ReversalDate"/>
              <Cell
                enableSort="false"
                id="Method"
                label="displaykey.Web.AccountPaymentsLV.PaymentInstrument"
                value="moneyReceived.PaymentInstrument"/>
              <Cell
                enableSort="false"
                id="CheckRef"
                label="displaykey.Web.AccountPaymentsLV.CheckRef"
                value="moneyReceived.RefNumber"/>
              <MonetaryAmountCell
                currency="account.Currency"
                enableSort="false"
                formatType="currency"
                id="Amount"
                label="displaykey.Web.AccountPaymentsLV.Amount"
                value="moneyReceived.Amount"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Card>
  </CardViewPanel>
</PCF>