<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="AccountCreateSubrogationTargetsScreen">
    <Require
      name="subrogation"
      type="Subrogation"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="AccountCreateSubrogationTargetsDV">
      <InputColumn>
        <Label
          label="displaykey.Web.CreateSubrogationTargetsScreen.General"/>
        <Input
          id="Account"
          label="displaykey.Web.CreateSubrogationTargetsScreen.AccountNumber"
          value="subrogation.SourceAccount"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>