<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="perm.System.accttabview and perm.System.acctsummview"
    id="AccountDetailSummary"
    showUpLink="true"
    title="displaykey.Web.AccountDetailSummary.Title">
    <LocationEntryPoint
      signature="AccountDetailSummary(account : Account)"/>
    <Variable
      name="account"
      type="Account"/>
    <ScreenRef
      def="AccountDetailSummaryScreen(account)"/>
  </Page>
</PCF>