<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InfoBar
    id="AccountInfoBar">
    <Require
      name="Account"
      type="Account"/>
    <InfoBarElement
      id="AccountNumber"
      value="displaykey.Web.AccountInfoBar.AccountNumber(Account.AccountNumber, Account.AccountNameLocalized)"/>
    <InfoBarElement
      id="CurrentDate"
      nullString="-"
      value="util.DateUtil.currentDate()"/>
  </InfoBar>
</PCF>