<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuActions
    id="AccountDetailMenuActions">
    <Require
      name="account"
      type="Account"/>
    <MenuItem
      action="NewPolicyWizard.go(account)"
      available="!account.isListBill()"
      hideIfDisabled="true"
      id="AccountDetailMenuActions_NewPolicy"
      label="displaykey.Web.AccountDetailMenuActions.NewPolicy"/>
    <MenuItem
      id="AccountDetailMenuActions_Payments"
      label="displaykey.Web.AccountDetailMenuActions.Payment">
      <MenuItem
        action="NewDirectBillPayment.push(account)"
        id="AccountDetailMenuActions_NewDirectBillPayment"
        label="displaykey.Web.AccountDetailMenuActions.NewDirectBillPayment"
        shortcut="P"
        visible="perm.DirectBillMoneyRcvd.pmntmanproc"/>
      <MenuItem
        action="NewDirectBillCreditDistribution.push(account)"
        id="AccountDetailMenuActions_NewDirectBillCreditDistribution"
        label="displaykey.Web.AccountDetailMenuActions.NewDirectCreditDistribution"
        shortcut="P"
        visible="perm.DirectBillMoneyRcvd.pmntmanproc"/>
      <MenuItem
        action="AccountDetailNewPaymentRequestWizard.push(account)"
        id="AccountDetailMenuActions_NewPaymentRequest"
        label="displaykey.Web.AccountDetailMenuActions.NewPaymentRequest"/>
    </MenuItem>
    <MenuItem
      id="AccountDetailMenuActions_NewTransaction"
      label="displaykey.Web.AccountDetailMenuActions.NewTransaction">
      <MenuItem
        action="AccountCreateDisbursementWizard.push(account)"
        id="AccountDetailMenuActions_Disbursement"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.Disbursement"
        visible="perm.Transaction.disbcreate"/>
      <MenuItem
        action="AccountNewTransferWizard.push(account)"
        id="AccountDetailMenuActions_Transfer"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.Transfer"
        visible="perm.Transaction.cashtx "/>
      <MenuItem
        action="AccountNewWriteoffWizard.push(account)"
        id="AccountDetailMenuActions_Writeoff"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.Writeoff"
        visible="perm.Transaction.acctwo"/>
      <MenuItem
        action="AccountNewNegativeWriteoffWizard.push(account)"
        id="AccountDetailMenuActions_NegativeWriteoff"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.NegativeWriteoff"
        visible="perm.Transaction.acctwo"/>
      <MenuItem
        action="AccountCreateSubrogationWizard.push(account)"
        id="AccountDetailMenuActions_Subrogation"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.Subrogation"
        visible="perm.Transaction.subrtxn"/>
      <MenuItem
        action="AccountNewChargeReversalWizard.push(account)"
        id="AccountDetailMenuActions_ChargeReversal"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.ChargeReversal"
        visible="perm.Transaction.revtxn"/>
      <MenuItem
        action="AccountNewWriteoffReversalWizard.push(account)"
        id="AccountDetailMenuActions_WriteoffReversal"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.WriteoffReversal"
        visible="perm.Transaction.revtxn"/>
      <MenuItem
        action="AccountNewNegativeWriteoffReversalWizard.push(account)"
        id="AccountDetailMenuActions_NegativeWriteoffReversal"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.NegativeWriteoffReversal"
        visible="perm.Transaction.revtxn"/>
      <MenuItem
        action="AccountToCollateralXFerTransaction.push(account)"
        id="AccountDetailMenuActions_accountToCollateralXFerTransaction"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.AcctToColl"
        visible="perm.Transaction.gentxn and !account.isListBill()"/>
      <MenuItem
        action="AccountNewRecaptureWizard.push(account)"
        id="AccountDetailMenuActions_Recapture"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.Recapture"
        visible="perm.Transaction.gentxn"/>
      <MenuItem
        action="AccountNewCreditWizard.push(account)"
        id="AccountDetailMenuActions_Credit"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.Credit"
        visible="perm.Transaction.credit"/>
      <MenuItem
        action="AccountNewCreditReversalWizard.push(account)"
        id="AccountDetailMenuActions_CreditReversal"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.CreditReversal"
        visible="perm.Transaction.credit"/>
      <MenuItem
        action="AccountNewTransactionWizard.push(account)"
        id="AccountDetailMenuActions_General"
        label="displaykey.Web.AccountDetailMenuActions.NewTransaction.General"
        visible="perm.Transaction.gentxn"/>
    </MenuItem>
    <MenuItem
      action="AccountTransferWizard.push(account.ID)"
      available="!account.isListBill()"
      id="AccountDetailMenuActions_TransferPolicies"
      label="displaykey.Web.AccountDetailMenuActions.TransferPolicies"
      shortcut="T"
      visible="perm.Account.acctplcytx and !account.isListBill()"/>
    <MenuItem
      action="AccountNewNoteWorksheet.goInWorkspace(account)"
      id="AccountsMenuActions_NewNote"
      label="displaykey.Web.AccountsMenuActions.Note"
      shortcut="N"
      visible="perm.Note.create"/>
    <MenuItem
      id="NewDocument"
      label="displaykey.Web.AccountDetailMenuActions.NewDocument"
      visible="perm.Document.create">
      <MenuItem
        action="NewDocumentFromTemplateWorksheet.goInWorkspace(account)"
        id="NewDocumentFromTemplate"
        label="displaykey.Web.AccountDetailMenuActions.NewDocumentFromTemplate"/>
      <MenuItem
        action="NewDocumentLinkedWorksheet.goInWorkspace(account)"
        id="NewDocumentByUpload"
        label="displaykey.Web.AccountDetailMenuActions.NewDocumentByUpload"/>
    </MenuItem>
    <MenuItem
      id="NewEmail"
      label="displaykey.Web.AccountDetailMenuActions.NewEmail">
      <MenuItem
        action="SampleEmailWorksheet.goInWorkspace(account, account)"
        id="NewEmail"
        label="displaykey.Web.AccountDetailMenuActions.NewEmail"/>
      <MenuItem
        action="SampleEmailWorksheet.goInWorkspace(account, account, &quot;EmailReceived.gosu&quot;)"
        id="NewEmailWithTemplate"
        label="displaykey.Web.AccountDetailMenuActions.NewEmailWithTemplate"/>
    </MenuItem>
  </MenuActions>
</PCF>