<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.System.accttabview and perm.System.acctdelview"
    id="AccountDetailDelinquencies"
    showUpLink="true"
    title="displaykey.Web.AccountDetailDelinquencies.Title">
    <LocationEntryPoint
      signature="AccountDetailDelinquencies(account : Account)"/>
    <LocationEntryPoint
      signature="AccountDetailDelinquencies(account : Account, selectedDelinquencyProcessOnEnter : DelinquencyProcess)"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      initialValue="(account.DelinquencyProcesses.length == 0 ? null : account.DelinquencyProcesses[0])"
      name="selectedDelinquencyProcessOnEnter"
      type="DelinquencyProcess"/>
    <ScreenRef
      def="DelinquencyProcessesDetailScreen(account, selectedDelinquencyProcessOnEnter)"/>
  </Page>
</PCF>
