<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AccountPaymentPlanLV">
    <Require
      name="account"
      type="Account"/>
    <RowIterator
      editable="false"
      elementName="paymentPlan"
      id="PaymentPlanRowIterator"
      value="account.PaymentPlans">
      <Variable
        initialValue="account.PaymentPlans"
        name="paymentPlans"/>
      <ToolbarFilter
        label="displaykey.Web.PaymentPlansLV.Show"
        name="Filter">
        <ToolbarFilterOptionGroup
          filters="new web.plan.PlanListFilterSet().FilterOptions"/>
      </ToolbarFilter>
      <Row>
        <Cell
          action="PaymentPlanDetail.go(paymentPlan)"
          id="Name"
          label="displaykey.Web.PaymentPlansLV.Name"
          value="paymentPlan.Name_en_US"/>
        <Cell
          id="Description"
          label="displaykey.Web.PaymentPlansLV.Description"
          value="paymentPlan.Description"/>
        <DateCell
          id="EffectiveDate"
          label="displaykey.Web.PaymentPlansLV.EffectiveDate"
          value="paymentPlan.EffectiveDate"/>
        <DateCell
          id="ExpirationDate"
          label="displaykey.Web.PaymentPlansLV.ExpirationDate"
          value="paymentPlan.ExpirationDate"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>