<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="editing"
    id="AgencySuspenseItemsPopup"
    startInEditMode="editing"
    title="displaykey.Web.AgencySuspenseItemsPopup.Title">
    <LocationEntryPoint
      signature="AgencySuspenseItemsPopup( distribution : AgencyCycleDist, editing : boolean )"/>
    <Variable
      name="distribution"
      type="AgencyCycleDist"/>
    <Variable
      name="editing"
      type="boolean"/>
    <Screen>
      <Toolbar>
        <EditButtons
          updateShortcut="O"/>
        <IteratorButtons
          iterator="SuspenseItems"
          removeLabel="displaykey.Web.AgencySuspenseItemsPopup.Release"/>
      </Toolbar>
      <ListViewPanel>
        <RowIterator
          autoAdd="distribution.SuspDistItemsThatHaveNotBeenReleased.Count == 0"
          editable="true"
          elementName="item"
          hideCheckBoxesIfReadOnly="true"
          id="SuspenseItems"
          numEntriesToAdd="1"
          toCreateAndAdd="distribution.createAndAddSuspDistItem()"
          toRemove="item.release()"
          type="BaseSuspDistItem"
          value="distribution.SuspDistItemsThatHaveNotBeenReleased">
          <ToolbarFlag
            name="SubRow"/>
          <Row>
            <Cell
              editable="!item.Executed"
              id="PolicyNumber"
              label="displaykey.Web.AgencyBillStatementDetail.PolicyActivityLV.PolicyNumber"
              required="true"
              value="item.PolicyNumber"/>
            <MonetaryAmountCell
              currency="distribution.Currency"
              editable="!item.Executed"
              enableSort="false"
              formatType="currency"
              id="GrossAmountToApply"
              label="displaykey.Web.AgencyBillStatementDetail.PolicyActivityLV.GrossAmount"
              numCols="10"
              required="true"
              validationExpression="item.GrossAmountToApply.IsZero and item.CommissionAmountToApply.IsZero ? displaykey.Web.AgencySuspenseItemsPopup.ZeroDollarGrossItem : null"
              value="item.GrossAmountToApply">
              <PostOnChange/>
            </MonetaryAmountCell>
            <MonetaryAmountCell
              currency="distribution.Currency"
              editable="!item.Executed"
              enableSort="false"
              formatType="currency"
              id="CommissionAmountToApply"
              label="displaykey.Web.AgencyBillStatementDetail.PolicyActivityLV.CommissionAmount"
              numCols="10"
              required="true"
              value="item.CommissionAmountToApply">
              <PostOnChange/>
            </MonetaryAmountCell>
            <MonetaryAmountCell
              currency="distribution.Currency"
              enableSort="false"
              formatType="currency"
              id="NetAmountToApply"
              label="displaykey.Web.AgencyBillStatementDetail.PolicyActivityLV.NetAmount"
              numCols="10"
              required="false"
              value="item.NetAmountToApply"/>
            <Cell
              editable="true"
              id="Comments"
              label="displaykey.Web.AgencyBillStatementDetail.PolicyActivityLV.Comments"
              value="item.PaymentComments"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>