<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="CreateSubrogationConfirmScreen">
    <Require
      name="Subrogation"
      type="Subrogation"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="CreateSubrogationConfirmDV">
      <InputColumn>
        <Label
          label="displaykey.Web.CreateSubrogationConfirmScreen.Execute"/>
        <Label
          label="displaykey.Web.CreateSubrogationConfirmScreen.PayerInformation"/>
        <Input
          action="AccountDetailSummaryPopup.push(subrogation.SourceAccount)"
          id="Account"
          label="displaykey.Web.CreateSubrogationConfirmScreen.AccountNumber"
          value="Subrogation.SourceAccount.AccountNumber"/>
        <Input
          id="AccountInformation"
          label="displaykey.Web.CreateSubrogationConfirmScreen.AccountName"
          value="Subrogation.SourceAccount.AccountNameLocalized"/>
        <Label
          label="displaykey.Web.CreateSubrogationConfirmScreen.ClaimInformation"/>
        <Input
          id="ClaimNumber"
          label="displaykey.Web.CreateSubrogationConfirmScreen.ClaimNumber"
          value="Subrogation.ClaimNumber"/>
        <InputDivider/>
        <Label
          label="displaykey.Web.CreateSubrogationConfirmScreen.Details"/>
        <MonetaryAmountInput
          currency="Subrogation.Currency"
          id="Amount"
          label="displaykey.Web.CreateSubrogationConfirmScreen.Amount"
          value="Subrogation.Amount"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>