<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="CreateSubrogationInfoScreen">
    <Require
      name="subrogation"
      type="Subrogation"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="CreateSubrogationInfoDV">
      <InputColumn>
        <Label
          label="displaykey.Web.CreateSubrogationInfoScreen.PayerInformation"/>
        <Input
          id="Account"
          label="displaykey.Web.CreateSubrogationInfoScreen.AccountNumber"
          value="subrogation.SourceAccount.AccountNumber"/>
        <Input
          id="AccountInformation"
          label="displaykey.Web.CreateSubrogationInfoScreen.AccountName"
          value="subrogation.SourceAccount.AccountNameLocalized"/>
        <Label
          label="displaykey.Web.CreateSubrogationInfoScreen.ClaimInformation"/>
        <Input
          editable="true"
          id="ClaimNumber"
          label="displaykey.Web.CreateSubrogationInfoScreen.ClaimNumber"
          value="subrogation.ClaimNumber"/>
        <InputDivider/>
        <Label
          label="displaykey.Web.CreateSubrogationInfoScreen.Details"/>
        <MonetaryAmountInput
          currency="subrogation.Currency"
          editable="true"
          formatType="currency"
          id="Amount"
          label="displaykey.Web.CreateSubrogationInfoScreen.Amount"
          required="true"
          validationExpression="subrogation.Amount.IsZero ? displaykey.Web.CreateSubrogationInfoScreen.NonZeroAmount : null"
          value="subrogation.Amount"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>