<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="InEditMode"
    id="ListBillPaymentPlansPopup"
    startInEditMode="InEditMode"
    title="displaykey.Web.AccountListBill.PaymentPlans.Title">
    <LocationEntryPoint
      signature="ListBillPaymentPlansPopup(account : Account)"/>
    <Variable
      name="account"
      type="Account"/>
    <Screen>
      <Toolbar/>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            def="AccountPaymentPlanLV(account)"
            id="PaymentPlansLV">
            <Toolbar/>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>