<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    beforeCommit="duplicateContactsPopupNavigator.beforeCommitOfContactCreationPage(\ c -&gt; {accountContact.Contact = c})"
    canEdit="true"
    canVisit="perm.AccountContact.create"
    id="NewAccountContactPopup"
    returnType="AccountContact"
    startInEditMode="true"
    title="displaykey.Web.NewAccountContact.Title">
    <LocationEntryPoint
      signature="NewAccountContactPopup(account : Account, contactSubtype : Type&lt;Contact&gt;)"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      initialValue="initNewAccountContact()"
      name="accountContact"
      type="AccountContact"/>
    <Variable
      name="contactSubtype"
      type="Type&lt;Contact&gt;"/>
    <Variable
      initialValue="createDuplicateContactsPopupNavigator()"
      name="duplicateContactsPopupNavigator"
      type="gw.pcf.duplicatecontacts.DuplicateContactsPopupNavigator"/>
    <ScreenRef
      def="NewAccountContactScreen(accountContact, duplicateContactsPopupNavigator)"/>
    <Code><![CDATA[function initNewAccountContact() : AccountContact {
  var newAccountContact = new AccountContact();
  var newContact = instantiateContact()
  newAccountContact.Contact = newContact
  account.addToContacts(newAccountContact);
  return newAccountContact;
}

private function instantiateContact() : Contact {
  // Instantiate the appropriate contact subtype (e.g. a Person or a Company)
  return contactSubtype.TypeInfo.getConstructor(null).Constructor.newInstance(null) as Contact  
}

function createDuplicateContactsPopupNavigator() : gw.pcf.duplicatecontacts.DuplicateContactsPopupNavigator {
  var newContactBeingCreatedOnThisPage = accountContact.Contact
  var existingContactsOnThisAccount = account.Contacts.map(\ ac -> ac.Contact).where(\ c -> c != newContactBeingCreatedOnThisPage)
  return new gw.pcf.duplicatecontacts.DuplicateContactsPopupNavigatorImpl(accountContact.Contact, existingContactsOnThisAccount, entity.Account)
}]]></Code>
  </Popup>
</PCF>