<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="false"
    id="PaymentItemGroupPopup"
    title="displaykey.Web.PaymentItemGroupPopup.Title">
    <LocationEntryPoint
      signature="PaymentItemGroupPopup(paymentItemGroup : PaymentItemGroup)"/>
    <Variable
      name="paymentItemGroup"
      type="PaymentItemGroup"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <Input
            id="paymentItemGroupDisplayName"
            label="displaykey.Web.PaymentItemGroupPopup.PaymentItemGroup"
            value="paymentItemGroup.DisplayName"/>
          <Input
            action="PolicyDetailSummary.push(paymentItemGroup.PolicyPeriod)"
            id="policyPeriodDisplayName"
            label="displaykey.Web.PaymentItemGroupPopup.AssociatedPolicyPeriod"
            value="paymentItemGroup.PolicyPeriod.DisplayName"
            visible="paymentItemGroup.PolicyPeriod != null"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef>
        <Toolbar/>
        <ListViewPanel
          editable="false"
          id="DirectBillDistItemsLV">
          <RowIterator
            editable="false"
            elementName="paymentItemAction"
            type="PaymentItemAction"
            value="paymentItemGroup.PaymentItemActions">
            <Variable
              initialValue=" paymentItemAction.Item typeis DirectBillPaymentItem ? paymentItemAction.Item.InvoiceItem : null"
              name="invoiceItem"
              type="InvoiceItem"/>
            <Row>
              <Cell
                align="right"
                id="InstallmentNumber"
                label="displaykey.Web.PaymentItemGroupPopup.InvoiceNumber"
                value="invoiceItem.Invoice.InvoiceNumber"/>
              <Cell
                id="Invoice"
                label="displaykey.Web.PaymentItemGroupPopup.Invoice"
                sortOrder="1"
                value="invoiceItem.Invoice"/>
              <DateCell
                id="DueDate"
                label="displaykey.Web.PaymentItemGroupPopup.DueDate"
                value="invoiceItem.InvoiceDueDate"/>
              <Cell
                action="AccountDetailSummary.push(invoiceItem.Owner)"
                enableSort="false"
                id="itemOwner"
                label="displaykey.Web.PaymentItemGroupPopup.Owner"
                value="invoiceItem.Owner"/>
              <Cell
                id="itremType"
                label="displaykey.Web.PaymentItemGroupPopup.Type"
                value="invoiceItem != null ? invoiceItem.Type.DisplayName : &quot;Collateral&quot;"/>
              <MonetaryAmountCell
                align="left"
                currency="invoiceItem.Currency"
                formatType="currency"
                id="Amount"
                label="displaykey.Web.PaymentItemGroupPopup.InvoiceItemAmount"
                required="true"
                value="invoiceItem.Amount">
                <PostOnChange/>
              </MonetaryAmountCell>
              <MonetaryAmountCell
                action="AccountPayments.push(paymentItemGroup.UnappliedFund.Account, paymentItemAction.Item.DirectBillPayment.DirectBillMoneyRcvd)"
                currency="invoiceItem.Currency"
                formatType="currency"
                id="GrossAmountToApply"
                label="displaykey.Web.PaymentItemGroupPopup.PaidAmount"
                value="paymentItemAction.Amount"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>