<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="PolicyPeriodPanelLV">
    <Require
      name="policyPeriods"
      type="List&lt;PolicyPeriod&gt;"/>
    <RowIterator
      editable="false"
      elementName="policyPeriod"
      type="PolicyPeriod"
      value="policyPeriods">
      <Row>
        <Cell
          action="PolicyDetailSummary.go(policyPeriod)"
          footerLabel="displaykey.Web.AccountDetailPolicyPeriodsLV.Total"
          id="Number"
          label="displaykey.Web.AccountDetailPolicyPeriodsLV.PolicyNumber"
          sortBy="policyPeriod.PolicyNumber"
          value="policyPeriod.DisplayName"/>
        <Cell
          id="Insured"
          label="displaykey.Web.AccountDetailPolicyPeriodsLV.PrimaryInsured"
          value="policyPeriod.PrimaryInsured"/>
        <DateCell
          id="PolicyPerEffDate"
          label="displaykey.Web.AccountDetailPolicyPeriodsLV.PolicyPerEffDate"
          value="policyPeriod.PolicyPerEffDate"/>
        <DateCell
          id="PolicyPerExpirDate"
          label="displaykey.Web.AccountDetailPolicyPeriodsLV.PolicyPerExpirDate"
          value="policyPeriod.PolicyPerExpirDate"/>
        <TypeKeyCell
          id="Status"
          label="displaykey.Web.AccountDetailPolicyPeriodsLV.Status"
          value="policyPeriod.Status"/>
        <MonetaryAmountCell
          currency="policyPeriod.Currency"
          footerSumValue="policyPeriod.TotalValue"
          formatType="currency"
          id="TotalValue"
          label="displaykey.Web.AccountDetailPolicyPeriodsLV.TotalValue"
          value="policyPeriod.TotalValue"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>