<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    beforeCommit="assignmentPopup.Picker.setSelection(pickedValue);assignmentPopup.performAssignment()"
    canEdit="true"
    id="AssignTroubleTicketsPopup"
    returnType="gw.api.assignment.Assignee"
    startInEditMode="true"
    title="displaykey.Web.AssignTroubleTicketsPopup.Title">
    <LocationEntryPoint
      signature="AssignTroubleTicketsPopup(assignmentPopup : web.troubleticket.TroubleTicketAssignmentPopup)"/>
    <Variable
      name="assignmentPopup"
      type="web.troubleticket.TroubleTicketAssignmentPopup"/>
    <ScreenRef
      def="AssignmentPopupScreen(assignmentPopup)"/>
  </Popup>
</PCF>