<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- This screen is one of the steps in the Create Trouble Ticket wizard.  It is where the user will select
       any transactions that are related to this new trouble ticket. -->
  <Screen
    id="CreateTroubleTicketTransactionsScreen">
    <Require
      name="TroubleTicket"
      type="TroubleTicket"/>
    <Require
      name="AssigneeHolder"
      type="assignment.Assignee[]"/>
    <Require
      name="CreateTroubleTicketHelper"
      type="CreateTroubleTicketHelper"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <PanelRef
      def="TroubleTicketRelatedTransactionsDV(TroubleTicket)"/>
  </Screen>
</PCF>