<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="HoldDV">
    <Require
      name="hold"
      type="Hold"/>
    <Require
      name="ShowRelatedEntities"
      type="Boolean"/>
    <InputColumn>
      <Label
        id="HoldTypesLabel"
        label="displaykey.Web.HoldDV.HoldItems"/>
      <InputIterator
        elementName="holdTypeRow"
        id="HoldTypes"
        value="gw.troubleticket.ApplyHoldType.getRows(hold)">
        <CheckBoxInput
          boldLabel="true"
          editable="true"
          id="HoldType"
          label="holdTypeRow.HoldType"
          value="holdTypeRow.Applied">
          <PostOnChange/>
        </CheckBoxInput>
        <DateInput
          available="holdTypeRow.Applied"
          editable="true"
          id="ReleaseDate"
          label="displaykey.Web.HoldDV.ReleaseDate"
          value="holdTypeRow.ReleaseDate"/>
      </InputIterator>
    </InputColumn>
    <InputColumn>
      <ListViewInput
        boldLabel="true"
        label="displaykey.Web.HoldDV.RelatedEntities"
        labelAbove="true"
        visible="ShowRelatedEntities">
        <Toolbar
          visible="false"/>
        <ListViewPanel
          id="HoldRelatedEntitiesLV">
          <RowIterator
            editable="false"
            elementName="ticketRelatedEntity"
            value="hold.TroubleTicket.TicketRelatedEntities">
            <Row>
              <Cell
                id="EntityDisplayName"
                label="displaykey.Web.HoldDV.Entity"
                value="web.troubleticket.TroubleTicketUtil.getRelatedEntityDisplayName(ticketRelatedEntity)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>