<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    autosaveable="true"
    countsAsWork="true"
    id="SelectMultipleAccountsPopup"
    returnType="Account[]"
    startInEditMode="false"
    title="displaykey.Web.TroubleTicket.SelectMultipleAccountsPopup"
    validateOnBundleCommit="true">
    <LocationEntryPoint
      signature="SelectMultipleAccountsPopup()"/>
    <ScreenRef
      def="SelectMultipleAccountsScreen()"/>
  </Popup>
</PCF>