<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="SelectMultipleProducersPopup"
    returnType="Producer[]"
    title="displaykey.Web.TroubleTicket.SelectMultipleProducersPopup">
    <LocationEntryPoint
      signature="SelectMultipleProducersPopup()"/>
    <ScreenRef
      def="SelectMultipleProducersScreen()"/>
  </Popup>
</PCF>