<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="SelectMultiplePolicyPeriodsPopup"
    returnType="PolicyPeriod[]"
    title="displaykey.Web.TroubleTicket.SelectMultiplePolicyPeriodsPopup">
    <LocationEntryPoint
      signature="SelectMultiplePolicyPeriodsPopup(policySearchCriteria : gw.search.PolicySearchCriteria)"/>
    <Variable
      name="policySearchCriteria"
      type="gw.search.PolicySearchCriteria"/>
    <ScreenRef
      def="SelectMultiplePolicyPeriodsScreen(policySearchCriteria)"/>
  </Popup>
</PCF>