<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <CardViewPanel
    hideIfEditable="true"
    id="TroubleTicketTabbedDetailDV">
    <Require
      name="troubleTicket"
      type="TroubleTicket"/>
    <Require
      name="CreateTroubleTicketHelper"
      type="CreateTroubleTicketHelper"/>
    <Variable
      initialValue="troubleTicket.InitialAssigneeForPicker"
      name="AssigneeHolder"
      type="assignment.Assignee[]"/>
    <Card
      id="RelatedEntitiesCard"
      title="displaykey.Web.TroubleTicketTabbedDetailDV.RelatedEntities">
      <PanelRef
        def="TroubleTicketRelatedEntitiesDV(troubleTicket, CreateTroubleTicketHelper)"/>
    </Card>
    <!-- <Toolbar>
      <EditButtons/>
    </Toolbar> -->
    <Card
      id="NotesCard"
      title="displaykey.Web.TroubleTicketTabbedDetailDV.Notes">
      <DetailViewPanel
        id="TroubleTicketsNotesDV">
        <InputColumn>
          <ListViewInput
            def="ViewNotesLV(troubleTicket.Notes)"
            editable="true">
            <Toolbar>
              <ToolbarButton
                action="NewNoteOnTroubleTicketPopup.push(troubleTicket)"
                hideIfEditable="true"
                id="newNote"
                label="displaykey.Web.TroubleTicketDetailsPopup.NewNote"/>
              <IteratorButtons
                iterator="ViewNotesLV.ViewNotesLV"/>
            </Toolbar>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Card>
    <Card
      id="ActivitiesCard"
      title="displaykey.Web.TroubleTicketTabbedDetailDV.Activities">
      <PanelRef
        def="TroubleTicketActivitiesDV(troubleTicket)"/>
    </Card>
    <Card
      id="TransactionsCard"
      title="displaykey.Web.TroubleTicketTabbedDetailDV.Transactions">
      <PanelRef
        def="TroubleTicketRelatedTransactionsDV(troubleTicket)"/>
    </Card>
    <Card
      id="HoldsCard"
      title="displaykey.Web.TroubleTicketTabbedDetailDV.Holds">
      <DetailViewPanel
        id="TroubleTicketHoldsDV">
        <InputColumn>
          <ListViewInput>
            <Toolbar>
              <ToolbarButton
                action="HoldDetailsPopup.push(troubleTicket.Hold)"
                id="HoldDetailsButton"
                label="displaykey.Web.TroubleTicketHoldsDV.EditHolds"/>
            </Toolbar>
            <ListViewPanel
              id="AppliedHoldTypesLV">
              <RowIterator
                editable="false"
                elementName="appliedHoldType"
                value="troubleTicket.Hold.HoldTypes">
                <Row>
                  <TypeKeyCell
                    id="AppliedHoldType"
                    label="displaykey.Web.TroubleTicketHoldsDV.Hold"
                    value="appliedHoldType.HoldType"/>
                  <DateCell
                    id="ReleaseDate"
                    label="displaykey.Web.TroubleTicketHoldsDV.ReleaseDate"
                    value="appliedHoldType.ReleaseDate"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Card>
  </CardViewPanel>
</PCF>