<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- Displays a list of the notes associated with a specific trouble ticket -->
  <ListViewPanel
    id="ViewNotesLV">
    <ExposeIterator
      valueType="entity.Note"
      widget="ViewNotesLV"/>
    <Require
      name="NoteList"
      type="NoteQuery"/>
    <RowIterator
      editable="true"
      elementName="noteItem"
      hideCheckBoxesIfReadOnly="true"
      value="NoteList">
      <Row>
        <DateCell
          enableSort="false"
          id="AuthoringDate"
          label="displaykey.Web.ViewNotesLV.Date"
          value="noteItem.AuthoringDate"/>
        <TextCell
          enableSort="false"
          id="Author"
          label="displaykey.Web.ViewNotesLV.Author"
          value="noteItem.Author"/>
        <Cell
          enableSort="false"
          id="Subject"
          label="displaykey.Web.ViewNotesLV.Subject"
          value="noteItem.Subject"/>
        <Cell
          enableSort="false"
          id="Body"
          label="displaykey.Web.ViewNotesLV.Body"
          value="noteItem.getTruncatedBodyText()"/>
        <Cell
          action="NoteDetailsPopup.push(noteItem)"
          enableSort="false"
          id="ViewDetails"
          styleClass="miniButton"
          value="displaykey.Web.ViewNotesLV.Details"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>