<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="ApprovalActivityDV">
    <Require
      name="approvalActivity"
      type="Activity"/>
    <Variable
      initialValue="approvalActivity != null"
      name="isVisible"/>
    <InputColumn>
      <Label
        id="Label"
        label="displaykey.Web.ApprovalActivityDV.Label"
        visible="isVisible"/>
      <Label
        id="Notification"
        label="displaykey.Web.ApprovalActivityDV.Notification"
        visible="isVisible"/>
      <Input
        id="Subject"
        label="displaykey.Web.ApprovalActivityDV.Subject"
        value="approvalActivity.Subject"
        visible="isVisible"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="displaykey.Web.ApprovalActivityDV.Description"
        numCols="60"
        numRows="5"
        value="approvalActivity.Description"
        visible="isVisible"/>
      <TypeKeyInput
        editable="true"
        id="Priority"
        label="displaykey.Web.ApprovalActivityDV.Priority"
        value="approvalActivity.Priority"
        visible="isVisible"/>
      <DateInput
        editable="true"
        id="TargetDate"
        label="displaykey.Web.ApprovalActivityDV.TargetDate"
        value="approvalActivity.TargetDate"
        visible="isVisible"/>
      <DateInput
        editable="true"
        id="EscalationDate"
        label="displaykey.Web.ApprovalActivityDV.EscalationDate"
        value="approvalActivity.EscalationDate"
        visible="isVisible"/>
      <Input
        id="AssignedTo"
        label="displaykey.Web.ApprovalActivityDV.AssignedTo"
        value="approvalActivity.AssignedTo"
        visible="isVisible"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>