<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewNoteDV">
    <Require
      name="Note"
      type="Note"/>
    <InputColumn>
      <DateInput
        id="AuthoringDate"
        label="displaykey.Web.NewNoteDV.Date"
        value="Note.AuthoringDate"/>
      <TextInput
        id="Author"
        label="displaykey.Web.NewNoteDV.Author"
        value="Note.Author"/>
      <TypeKeyInput
        editable="true"
        id="Confidential"
        label="displaykey.Web.NewNoteDV.Confidential"
        required="true"
        value="Note.SecurityType">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="LanguageType.getTypeKeys( false ).Count &gt; 1"
        id="Language"
        label="displaykey.Web.NewNoteDV.Language"
        required="true"
        value="Note.Language"/>
      <TypeKeyInput
        editable="true"
        id="RelatedTo"
        label="displaykey.Web.NewNoteDV.RelatedTo"
        value="Note.RelatedTo">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="Topic"
        label="displaykey.Web.NewNoteDV.Topic"
        value="Note.Topic">
        <PostOnChange/>
      </TypeKeyInput>
      <Input
        editable="true"
        id="Subject"
        label="displaykey.Web.NewNoteDV.Subject"
        required="true"
        value="Note.Subject"/>
      <TextAreaInput
        editable="true"
        id="Text"
        label="displaykey.Web.NewNoteDV.Text"
        numCols="60"
        numRows="15"
        required="true"
        value="Note.Body"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>