<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="perm.Note.edit(Note)"
    id="NoteEditPopup"
    startInEditMode="true"
    title="displaykey.Web.NoteEdit.Title">
    <LocationEntryPoint
      signature="NoteEditPopup(Note:Note)"/>
    <Variable
      name="Note"
      type="Note"/>
    <Screen
      id="NoteEditScreen">
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <PanelRef
        def="NewNoteDV(Note)"/>
    </Screen>
  </Popup>
</PCF>