<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="perm.System.delplanedit"
    id="DelinquencyPlanDetailPopup"
    title="displaykey.Web.DelinquencyPlan.Title( delinquencyPlan )">
    <LocationEntryPoint
      signature="DelinquencyPlanDetailPopup(delinquencyPlan : DelinquencyPlan)"/>
    <Variable
      name="delinquencyPlan"
      type="DelinquencyPlan"/>
    <ScreenRef
      def="DelinquencyPlanDetailScreen(delinquencyPlan)"/>
  </Popup>
</PCF>