<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="UserDetailDV">
    <ExposeIterator
      valueType="entity.UserRole"
      widget="UserRolesLV"/>
    <Require
      name="user"
      type="User"/>
    <Require
      name="isNew"
      type="Boolean"/>
    <Variable
      initialValue="Role.finder.allOrderedByName()"
      name="allRoles"
      type="RoleQuery"/>
    <InputColumn>
      <InputSetRef
        def="GlobalPersonNameInputSet(new gw.api.name.BCNameOwner(new gw.api.name.UserContactNameDelegate(user)))"
        mode="gw.api.name.NameLocaleSettings.PCFMode"/>
      <Input
        editable="true"
        id="Username"
        label="displaykey.Web.Admin.UserDetailDV.Username"
        required="true"
        validationExpression="gw.api.web.admin.UserUtil.validateUsername(user)"
        value="user.Credential.UserName"/>
      <ConfirmPasswordInput
        confirmLabel="displaykey.Web.Admin.UserDetailDV.ConfirmPassword"
        editable="true"
        id="Password"
        label="displaykey.Web.Admin.UserDetailDV.Password"
        required="isNew"
        value="user.Credential.Password"/>
      <InputSet
        id="UserPreferencesInputSet">
        <TypeKeyInput
          editable="true"
          id="Language"
          label="displaykey.Web.User.Preferences.UserLanguage"
          value="user.UserLanguage"
          visible="gw.api.util.LocaleUtil.canSwitchLanguage()"/>
        <TypeKeyInput
          editable="true"
          id="RegionalFormats"
          label="displaykey.Web.User.Preferences.UserRegionalFormats"
          value="user.UserLocale"
          visible="gw.api.util.LocaleUtil.canSwitchLocale()"/>
        <TypeKeyInput
          editable="true"
          id="DefaultCountry"
          label="displaykey.Web.User.Preferences.UserDefaultCountry"
          value="user.UserDefaultCountry"/>
        <TypeKeyInput
          editable="true"
          id="DefaultPhoneCountry"
          label="displaykey.Web.User.Preferences.UserDefaultPhoneRegion"
          value="user.UserDefaultPhoneCountry"/>
      </InputSet>
      <BooleanRadioInput
        editable="true"
        id="Active"
        label="displaykey.Web.Admin.UserDetailDV.Active"
        required="true"
        value="user.Credential.Active"
        visible="!user.New"/>
      <BooleanRadioInput
        editable="true"
        id="AccountLocked"
        label="displaykey.Web.Admin.UserDetailDV.AccountLocked"
        value="user.AccountLocked"
        visible="!user.New"/>
      <Input
        editable="true"
        id="SessionTimeout"
        label="displaykey.Web.Admin.UserDetailDV.SessionTimeoutSecs"
        required="false"
        validationExpression="(user.SessiontimeoutSecs == null || (user.SessionTimeoutSecs &gt;= 300 /* 5 minutes */) &amp;&amp; (user.SessionTimeoutSecs &lt;= 604800 /* 1 wk */)) ? null : displaykey.Web.Admin.UserDetailDV.SessionTimeoutSecs.Validation"
        value="user.SessionTimeoutSecs"/>
      <ListViewInput
        editable="true"
        id="RolesLVI"
        label="displaykey.Web.Admin.UserDetailDV.Roles">
        <Toolbar>
          <IteratorButtons
            addLabel="displaykey.Web.Admin.UserRoles.Toolbar.Add"
            iterator="UserRolesLV"
            removeLabel="displaykey.Web.Admin.UserRoles.Toolbar.Remove"/>
        </Toolbar>
        <ListViewPanel
          id="UserRolesLV">
          <RowIterator
            editable="true"
            elementName="userRole"
            hasCheckBoxes="true"
            toAdd="user.addToRoles(userRole)"
            toRemove="user.removeFromRoles(userRole)"
            type="UserRole"
            value="user.Roles">
            <Row>
              <RangeCell
                action="RoleDetailPage.go(userRole.Role)"
                actionAvailable="!CurrentLocation.InEditMode"
                editable="true"
                id="RoleName"
                label="displaykey.Web.Admin.UserRoles.Name"
                required="true"
                unique="true"
                value="userRole.Role"
                valueRange="allRoles"
                width="110">
                <PostOnChange
                  target="DATA_ONLY"/>
              </RangeCell>
              <Cell
                id="Description"
                label="displaykey.Web.Admin.UserRoles.Description"
                value="userRole.Role.Description"
                width="300"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>