<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    autosaveable="true"
    canEdit="perm.System.colagencyedit"
    countsAsWork="true"
    id="CollectionAgencyDetailPopup"
    startInEditMode="false"
    title="displaykey.Web.CollectionAgencyDetail.Title(collectionAgency)"
    validateOnBundleCommit="true">
    <LocationEntryPoint
      signature="CollectionAgencyDetailPopup(collectionAgency : CollectionAgency)"/>
    <Variable
      name="collectionAgency"
      recalculateOnRefresh="false"
      type="CollectionAgency"/>
    <ScreenRef
      def="CollectionAgencyDetailScreen(collectionAgency)"/>
  </Popup>
</PCF>