<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    border="false"
    editable="true"
    id="CollectionAgencyDetailDV">
    <Require
      name="collectionAgency"
      type="CollectionAgency"/>
    <InputColumn>
      <Input
        boldLabel="false"
        editable="true"
        hideChildrenIfReadOnly="true"
        id="Name"
        label="displaykey.Web.CollectionAgencyDetailDV.Name"
        labelAbove="false"
        required="true"
        value="collectionAgency.Name"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>