<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="true"
    id="CollectionAgencyDetailScreen">
    <Require
      name="collectionAgency"
      type="CollectionAgency"/>
    <Toolbar>
      <EditButtons
        cancelShortcut="L"
        editShortcut="E"
        showUpdateConfirmMessage="true"
        updateShortcut="U"/>
    </Toolbar>
    <PanelRef
      def="CollectionAgencyDetailDV(collectionAgency)"/>
    <PanelRef
      def="CollectionAgencyAccountsLV(collectionAgency)"/>
  </Screen>
</PCF>