<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="AuthorityLimitProfiles.go()"
    afterCommit="AuthorityLimitProfileDetailPage.go(authorityLimitProfile)"
    canEdit="perm.System.alpmanage"
    canVisit="perm.System.alpmanage"
    id="AuthorityLimitProfileDetailPage"
    parent="AuthorityLimitProfiles()"
    showUpLink="true"
    title="displaykey.Web.Admin.AuthorityLimitProfileDetail(authorityLimitProfile.Name)">
    <LocationEntryPoint
      signature="AuthorityLimitProfileDetailPage(authorityLimitProfile : AuthorityLimitProfile)"/>
    <Variable
      name="authorityLimitProfile"
      type="AuthorityLimitProfile"/>
    <ScreenRef
      def="AuthorityLimitProfileDetailScreen(authorityLimitProfile)"/>
  </Page>
</PCF>