<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="AuthorityLimitProfiles.go()"
    afterCommit="AuthorityLimitProfiles.go()"
    canEdit="true"
    canVisit="perm.System.alpmanage"
    id="NewAuthorityLimitProfile"
    parent="AuthorityLimitProfiles()"
    showUpLink="true"
    startInEditMode="true"
    title="displaykey.Web.Admin.NewAuthorityLimitProfile.Title">
    <LocationEntryPoint
      signature="NewAuthorityLimitProfile()"/>
    <Variable
      initialValue="new AuthorityLimitProfile()"
      name="authorityLimitProfile"
      type="AuthorityLimitProfile"/>
    <ScreenRef
      def="AuthorityLimitProfileDetailScreen(authorityLimitProfile)"/>
  </Page>
</PCF>