<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="LedgerScreen">
    <Require
      name="tAccountOwner"
      type="TAccountOwner"/>
    <Require
      name="relatedTAccountOwners"
      type="TAccountOwner[]"/>
    <ListDetailPanel
      selectionName="selectedTAccountOwner"
      selectionType="TAccountOwner">
      <PanelRef
        def="TAccountOwnersLV(tAccountOwner, relatedTAccountOwners)">
        <Toolbar/>
      </PanelRef>
      <CardViewPanel>
        <Card
          id="TAccountsCard"
          title="displaykey.Web.Ledger.TAccounts.Title">
          <ListDetailPanel
            selectionName="selectedTAccount"
            selectionType="TAccount">
            <PanelRef>
              <Toolbar/>
              <ListViewPanel
                id="TAccountsLV">
                <RowIterator
                  editable="false"
                  elementName="tAccount"
                  id="TAccounts"
                  pageSize="10"
                  value="selectedTAccountOwner.getTAccountsSortedByName()">
                  <Row>
                    <Cell
                      id="Name"
                      label="displaykey.Web.Ledger.TAccounts.Name"
                      value="tAccount"/>
                    <MonetaryAmountCell
                      currency="tAccount.Currency"
                      formatType="currency"
                      id="Balance"
                      label="displaykey.Web.Ledger.TAccounts.Balance"
                      value="tAccount.Balance"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
            <CardViewPanel>
              <Card
                id="LineItemsCard"
                title="displaykey.Web.Ledger.TAccounts.LineItems.Title">
                <PanelRef>
                  <Toolbar/>
                  <ListViewPanel
                    id="LineItemsLV">
                    <RowIterator
                      editable="false"
                      elementName="LineItem"
                      id="LineItems"
                      value="selectedTAccount.LineItems">
                      <Row>
                        <DateCell
                          dateFormat="short"
                          id="TransactionDate"
                          label="displaykey.Web.Ledger.TAccounts.LineItems.TransactionDate"
                          sortOrder="1"
                          timeFormat="long"
                          value="LineItem.Transaction.TransactionDate"/>
                        <Cell
                          enableSort="false"
                          id="Description"
                          label="displaykey.Web.Ledger.TAccounts.LineItems.Description"
                          value="LineItem.Transaction.LongDisplayName"/>
                        <MonetaryAmountCell
                          currency="LineItem.Currency"
                          enableSort="false"
                          formatType="currency"
                          id="Debit"
                          label="displaykey.Web.Ledger.TAccounts.LineItems.Debit"
                          value="LineItem.Type == &quot;debit&quot; ? LineItem.Amount : 0bd.ofCurrency(LineItem.Currency)"/>
                        <MonetaryAmountCell
                          currency="LineItem.Currency"
                          enableSort="false"
                          formatType="currency"
                          id="Credit"
                          label="displaykey.Web.Ledger.TAccounts.LineItems.Credit"
                          value="LineItem.Type == &quot;credit&quot; ? LineItem.Amount : 0bd.ofCurrency(LineItem.Currency)"/>
                      </Row>
                    </RowIterator>
                  </ListViewPanel>
                </PanelRef>
              </Card>
            </CardViewPanel>
          </ListDetailPanel>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </Screen>
</PCF>