<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="TransactionDetailDV">
    <Require
      name="Transaction"
      type="Transaction"/>
    <InputColumn>
      <DateInput
        id="TransactionDate"
        label="displaykey.Web.TransactionDetailDV.TransactionDate"
        value="Transaction.TransactionDate"/>
      <Input
        id="Description"
        label="displaykey.Web.TransactionDetailDV.Description"
        value="Transaction.LongDisplayName"/>
      <Input
        desc="Useful to tell if the transaction was created by a batch process"
        id="CreateUser"
        label="displaykey.Web.TransactionDetailDV.CreatedUser"
        value="Transaction.CreateUser"/>
      <ListViewInput
        editable="false"
        label="displaykey.Web.TransactionDetailDV.LineItems">
        <Toolbar/>
        <ListViewPanel
          id="TransactionLineItemsLV">
          <RowIterator
            editable="false"
            elementName="LineItem"
            value="Transaction.LineItems">
            <Row>
              <MonetaryAmountCell
                currency="LineItem.Currency"
                formatType="currency"
                id="Amount"
                label="displaykey.Web.TransactionLineItemsLV.Amount"
                value="LineItem.Amount"/>
              <TypeKeyCell
                id="Type"
                label="displaykey.Web.TransactionLineItemsLV.Type"
                value="LineItem.Type"/>
              <Cell
                id="TAccount"
                label="displaykey.Web.TransactionLineItemsLV.TAccount"
                value="LineItem.TAccount.TAccountOwnerTypeNameTAccountName"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>