<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.ActivityPattern.view"
    id="ActivityPatterns"
    title="displaykey.Web.Admin.ActivityPatterns">
    <LocationEntryPoint
      signature="ActivityPatterns()"/>
    <Variable
      initialValue="gw.api.database.Query.make(ActivityPattern).select()"
      name="activityPatternList"
      type="ActivityPatternQuery"/>
    <Screen
      id="ActivityPatternsScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.ActivityPatterns"/>
      <Toolbar>
        <ToolbarButton
          action="NewActivityPattern.go(web.admin.ActivityPatternsUtil.getCurrentCategory())"
          available="web.admin.ActivityPatternsUtil.canAddPatternWithCategory(web.admin.ActivityPatternsUtil.getCurrentCategory())"
          id="ActivityPatterns_NewActivityPatternButton"
          label="displaykey.Web.Admin.NewActivityPattern"
          shortcut="V"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.BaseAdminUtil.deleteActivityPatterns(CheckedValues)"
          available="perm.ActivityPattern.delete"
          confirmMessage="displaykey.Web.Admin.ActivityPatternsLV.DeleteConfirmation"
          flags="all DeleteableActivityPattern"
          id="ActivityPatterns_DeleteButton"
          iterator="ActivityPatternsLV"
          label="displaykey.Button.Delete"
          shortcut="R"/>
      </Toolbar>
      <ListViewPanel
        id="ActivityPatternsLV">
        <Variable
          initialValue="new web.admin.ActivityPatternFilterSet()"
          name="filterSet"/>
        <RowIterator
          editable="false"
          elementName="activityPattern"
          hasCheckBoxes="true"
          value="activityPatternList">
          <ToolbarFlag
            condition="!activityPattern.SystemPattern"
            name="DeleteableActivityPattern"/>
          <ToolbarFilter
            name="ActivityPatternsFilter">
            <ToolbarFilterOption
              filter="filterSet.AllFilter"
              label="displaykey.Web.Admin.ActivityPattern.AllCategories"
              selectOnEnter="true"/>
            <ToolbarFilterOptionGroup
              filters="filterSet.CategoryFilters.FilterOptions"/>
          </ToolbarFilter>
          <Row>
            <Cell
              action="ActivityPatternDetail.go(activityPattern)"
              id="Subject"
              label="displaykey.Web.Admin.ActivityPatternsLV.Subject"
              sortBy="activityPattern.Subject"
              sortOrder="1"
              value="activityPattern.Subject != null ? activityPattern.Subject : displaykey.Web.ActivityPattern.NoSubject"/>
            <TypeKeyCell
              id="ActivityClass"
              label="displaykey.Web.Admin.ActivityPatternsLV.ActivityClass"
              sortOrder="2"
              value="activityPattern.ActivityClass"/>
            <TypeKeyCell
              id="Category"
              label="displaykey.Web.Admin.ActivityPatternsLV.Category"
              sortOrder="2"
              value="activityPattern.Category"/>
            <TypeKeyCell
              id="Type"
              label="displaykey.Web.Admin.ActivityPatternsLV.Type"
              sortOrder="3"
              value="activityPattern.Type"/>
            <TypeKeyCell
              id="Priority"
              label="displaykey.Web.Admin.ActivityPatternsLV.Priority"
              value="activityPattern.Priority"/>
            <Cell
              id="Mandatory"
              label="displaykey.Web.Admin.ActivityPatternsLV.Mandatory"
              value="activityPattern.Mandatory"/>
            <Cell
              id="AutomatedOnly"
              label="displaykey.Web.Admin.ActivityPatternsLV.AutomatedOnly"
              value="activityPattern.AutomatedOnly"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>