<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.admintabview and perm.System.chargepatternview"
    id="ChargePatterns"
    title="displaykey.Web.ChargePatterns.Title">
    <Screen
      id="ChargePatternsScreen">
      <Toolbar/>
      <ListViewPanel
        id="ChargePatternsLV">
        <RowIterator
          editable="false"
          elementName="chargePattern"
          value="gw.api.database.Query.make(ChargePattern).select()">
          <Row>
            <Cell
              action="ChargePatternDetail.go(chargePattern)"
              id="ChargeCode"
              label="displaykey.Web.ChargePatternsLV.ChargeCode"
              value="chargePattern.ChargeCode"/>
            <Cell
              action="ChargePatternDetail.go(chargePattern)"
              id="ChargeName"
              label="displaykey.Web.ChargePatternsLV.ChargeName"
              value="chargePattern.ChargeName"/>
            <TypeKeyCell
              id="Type"
              label="displaykey.Web.ChargePatternsLV.Type"
              value="chargePattern.Subtype"/>
            <TypeKeyCell
              id="Category"
              label="displaykey.Web.ChargePatternsLV.Category"
              value="chargePattern.Category"/>
            <Cell
              id="TAccountOwner"
              label="displaykey.Web.ChargePatternsLV.TAccountOwner"
              value="chargePattern.TAccountOwnerPattern"/>
            <TypeKeyCell
              id="InvoiceTreatment"
              label="displaykey.Web.ChargePatternsLV.InvoiceTreatment"
              value="chargePattern.InvoiceTreatment"/>
            <TypeKeyCell
              id="PaymentPriority"
              label="displaykey.Web.ChargePatternsLV.PaymentPriority"
              value="chargePattern.Priority"/>
            <Cell
              id="InternalCharge"
              label="displaykey.Web.ChargePatternsLV.InternalCharge"
              value="chargePattern.InternalCharge"/>
            <Cell
              id="IncludedInEquityDating"
              label="displaykey.Web.ChargePatternsLV.IncludedInEquityDating"
              value="chargePattern.IncludedInEquityDating"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>