<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="Roles.go()"
    afterCommit="Roles.go()"
    canEdit="true"
    canVisit="perm.System.admintabview and perm.System.useradmin"
    id="Roles"
    showUpLink="true"
    title="displaykey.Web.Admin.Roles.Title">
    <Variable
      initialValue="Role.finder.allOrderedByName()"
      name="AllRoles"
      type="RoleQuery"/>
    <Screen
      id="RolesScreen">
      <Toolbar>
        <ToolbarButton
          action="NewRole.go()"
          id="Roles_NewRoleButton"
          label="displaykey.Web.Admin.NewRole"
          shortcut="R"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.BaseAdminUtil.deleteRoles(CheckedValues)"
          flags="any Role"
          id="Roles_DeleteButton"
          iterator="RolesLV.RolesLV"
          label="displaykey.Web.Admin.Roles.Delete"
          shortcut="R"
          visible="perm.Role.delete"/>
      </Toolbar>
      <PanelRef
        def="RolesLV(AllRoles)"/>
    </Screen>
  </Page>
</PCF>
