<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <LocationGroup
          id="UsersAndSecurity"
    title="displaykey.Web.Admin.UsersAndSecurity">
    <LocationRef
      label="displaykey.Web.Admin.Users"
      location="UserSearch()"/>
    <LocationRef
      location="Groups()"/>
    <LocationRef
      location="Roles()"/>
    <LocationRef
      location="SecurityZones()"/>
    <LocationRef
      location="AuthorityLimitProfiles()"/>
  </LocationGroup>
</PCF>