<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.admintabview and perm.System.useradmin and perm.System.usersearch"
    id="UserSearch"
    title="displaykey.Web.Admin.UserSearch">
    <LocationEntryPoint
      signature="UserSearch()"/>
    <ScreenRef
      def="UserSearchScreen()"/>
  </Page>
</PCF>