<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="perm.System.commplanedit"
    id="CommissionPlanDetailPopup"
    title="commissionPlan.Name">
    <LocationEntryPoint
      signature="CommissionPlanDetailPopup(commissionPlan : CommissionPlan)"/>
    <Variable
      name="commissionPlan"
      type="CommissionPlan"/>
    <Screen
      id="CommissionPlanDetailPopupScreen">
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <PanelRef
        def="CommissionPlanDetailPanelSet(commissionPlan)"/>
    </Screen>
  </Popup>
</PCF>