<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.prodtabview and perm.System.prodabopenitemsview"
    id="AgencyBillOpenItems"
    title="displaykey.Web.AgencyBillOpenItems.Title(producer)">
    <LocationEntryPoint
      signature="AgencyBillOpenItems(producer : Producer)"/>
    <Variable
      name="producer"
      type="Producer"/>
    <Variable
      initialValue="InvoiceItemViewOption.TC_BILLED"
      name="viewOption"
      type="InvoiceItemViewOption"/>
    <Variable
      initialValue="StatementViewOption.TC_BYITEM"
      name="showByPolicy"/>
    <Variable
      initialValue="web.invoice.AgencyBillStatementView.createStatementViewForOpenItems(producer)"
      name="agencyBillStatementView"/>
    <Screen
      id="AgencyBillOpenItemsScreen">
      <PanelRef
        def="PolicyActivityLV(agencyBillStatementView, viewOption)"
        mode="showByPolicy == StatementViewOption.TC_BYITEM ? &quot;itemlevel&quot; : &quot;policylevel&quot;">
        <Toolbar
          visible="agencyBillStatementView != null">
          <ToolbarRangeInput
            editable="true"
            id="DisplayMode"
            label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.Show"
            required="true"
            value="viewOption"
            valueRange="InvoiceItemViewOption.getTypeKeys( false )">
            <PostOnChange/>
          </ToolbarRangeInput>
          <ToolbarRangeInput
            id="ByItemOrPolicy"
            label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.Show"
            required="true"
            value="showByPolicy"
            valueRange="StatementViewOption.getTypeKeys( false )">
            <PostOnChange/>
          </ToolbarRangeInput>
          <ToolbarDivider/>
          <ToolbarInput
            editable="true"
            id="PolicyPeriodFilter"
            label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.PolicyPeriodFilter"
            value="agencyBillStatementView.PolicyPeriodFilter"/>
          <ToolbarButton
            action="null"
            default="true"
            id="PolicyFilterGoButton"
            label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.PolicyPeriodFilterGoButton"/>
          <ToolbarButton
            action="agencyBillStatementView.PolicyPeriodFilter = null"
            id="PolicyFilterClearButton"
            label="displaykey.Web.AgencyPaymentWizard.AgencyPaymentItemsLV.PolicyPeriodFilterClearButton"/>
        </Toolbar>
      </PanelRef>
    </Screen>
  </Page>
</PCF>