<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.prodtabview and perm.System.prodpmntview"
    id="AgencyBillExecutedCreditDistributions"
    title="displaykey.Web.AgencyBillPayments.CreditDistributions.Title">
    <LocationEntryPoint
      signature="AgencyBillExecutedCreditDistributions(producer : Producer)"/>
    <Variable
      name="producer"
      type="Producer"/>
    <Screen>
      <ListDetailPanel
        selectionName="selectedCreditDistribution"
        selectionType="AgencyCyclePayment">
        <Variable
          initialValue="producer.ExecutedCreditDistributions"
          name="creditDistributions"
          recalculateOnRefresh="true"/>
        <Variable
          name="initialCreditDistribution"
          type="AgencyCyclePayment"/>
        <PanelRef>
          <Toolbar>
            <ToolbarFilter
              iterator="CreditDistributionsIterator"
              label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.PaymentsReceivedFilter.PaymentReceived"
              name="PaymentsReceivedFilter">
              <ToolbarFilterOption
                filter="new gw.payment.BaseDistReceivedDateFilter(30)"
                label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.PaymentsReceivedFilter.Last30Days"/>
              <ToolbarFilterOption
                filter="new gw.payment.BaseDistReceivedDateFilter(60)"
                label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.PaymentsReceivedFilter.Last60Days"/>
              <ToolbarFilterOption
                filter="new gw.payment.BaseDistReceivedDateFilter(90)"
                label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.PaymentsReceivedFilter.Last90Days"/>
              <ToolbarFilterOption
                filter="new filters.StandardQueryFilter(&quot;All&quot;, \ qf -&gt; {})"
                label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.PaymentsReceivedFilter.All"/>
            </ToolbarFilter>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              checkedRowAction="AgencyDistributionWizard.go(producer, CheckedValue.BaseMoneyReceived)"
              flags="one CreditDistribution, all NotModifiedOrReversed, all Executed"
              id="Edit"
              iterator="CreditDistributionsIterator"
              label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.Edit"
              shortcut="E"/>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              checkedRowAction="AgencyDistributionReversalConfirmationPopup.push(CheckedValue)"
              flags="one CreditDistribution, all NotModifiedOrReversed"
              id="Reverse"
              iterator="CreditDistributionsIterator"
              label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.Reverse"
              shortcut="R"/>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              checkedRowAction="AgencySuspenseItemsPopup.push(CheckedValue, false)"
              flags="one CreditDistribution, all HaveSuspItems"
              id="ViewSuspenseItems"
              iterator="CreditDistributionsIterator"
              label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.ViewSuspenseItems"
              shortcut="U"/>
          </Toolbar>
          <ListViewPanel
            id="CreditDistributionsLV">
            <RowIterator
              checkBoxVisible="true"
              editable="false"
              elementName="creditDistribution"
              hasCheckBoxes="true"
              id="CreditDistributionsIterator"
              value="creditDistributions">
              <ToolbarFlag
                name="CreditDistribution"/>
              <ToolbarFlag
                condition="not (creditDistribution.BaseMoneyReceived.Reversed or creditDistribution.BaseMoneyReceived.Modified)"
                name="NotModifiedOrReversed"/>
              <ToolbarFlag
                condition="creditDistribution.BaseMoneyReceived.Executed"
                name="Executed"/>
              <ToolbarFlag
                condition="creditDistribution.SuspDistItemsThatHaveNotBeenReleased.HasElements"
                name="HaveSuspItems"/>
              <Row
                id="creditDistribution">
                <DateCell
                  id="Date"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.Date"
                  sortDirection="descending"
                  sortOrder="1"
                  value="creditDistribution.BaseMoneyReceived.ReceivedDate"/>
                <Cell
                  enableSort="false"
                  id="Reversed"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.Reversed"
                  value="creditDistribution.BaseMoneyReceived.Reversed"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="Distributed"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.Distributed"
                  value="creditDistribution.NetDistributedToInvoiceItems"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="Suspense"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.Suspense"
                  value="creditDistribution.NetInSuspense"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="Total"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionsLV.Total"
                  value="creditDistribution.NetDistributedToInvoiceItems + creditDistribution.NetInSuspense"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <CardViewPanel>
          <Card
            id="CreditDistributionDetailCard"
            title="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionDetail(selectedCreditDistribution.BaseMoneyReceived.ReceivedDate.AsUIStyle)">
            <DetailViewPanel>
              <InputColumn>
                <Label
                  id="CreditDistributionDetails"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionDetails.Header"/>
                <TypeKeyInput
                  id="Reversed"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionDetails.Reversed"
                  value="selectedCreditDistribution.BaseMoneyReceived.ReversalReason"
                  visible="selectedCreditDistribution.BaseMoneyReceived.Reversed"/>
                <DateInput
                  id="CreateDate"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionDetails.CreateDate"
                  value="selectedCreditDistribution.BaseMoneyReceived.ReceivedDate"/>
                <Input
                  id="Name"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionDetails.Name"
                  value="selectedCreditDistribution.BaseMoneyReceived.Name"/>
                <Input
                  id="PaymentDescription"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionDetails.PaymentDescription"
                  value="selectedCreditDistribution.AgencyMoneyReceived.Description"/>
              </InputColumn>
              <InputColumn>
                <Label
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionApplication.Header"/>
                <MonetaryAmountInput
                  currency="selectedCreditDistribution.Currency"
                  formatType="currency"
                  id="DistributedAmount"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionApplication.DistributedAmount"
                  value="selectedCreditDistribution.NetDistributedToInvoiceItems"/>
                <MonetaryAmountInput
                  currency="selectedCreditDistribution.Currency"
                  formatType="currency"
                  id="SuspenseAmount"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionApplication.SuspenseAmount"
                  value="selectedCreditDistribution.NetInSuspense"/>
                <MonetaryAmountInput
                  currency="selectedCreditDistribution.Currency"
                  formatType="currency"
                  id="ProducerWriteoffAmount"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionApplication.ProducerWriteOffAmount"
                  value="selectedCreditDistribution.ProducerWriteoffAmount"/>
                <MonetaryAmountInput
                  currency="selectedCreditDistribution.Currency"
                  formatType="currency"
                  id="ItemWriteOff"
                  label="displaykey.Web.AgencyBillPayments.CreditDistributions.CreditDistributionApplication.ItemWriteOffAmount"
                  value="selectedCreditDistribution.ItemWriteOffAmount"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRef
              def="AgencyDistItemsReadOnlyCV(selectedCreditDistribution)"
              id="AgencyDistItemsReadOnlyPanel">
              <TitleBar
                id="DistributionHeader"
                title="displaykey.Web.AgencyBillPayments.CreditDistributions.AgencyDistItemsLV"/>
              <Toolbar/>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>