<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="AgencyPaymentSplitConfirmationScreen">
    <Variable
      initialValue="new web.producer.ProducerSearchConverter()"
      name="producerSearchConverter"
      type="web.producer.ProducerSearchConverter"/>
    <Require
      name="agencySplitPayment"
      type="web.producer.agencybill.AgencySplitPayment"/>
    <Require
      name="alertBarMessageText"
      type="String"/>
    <Toolbar>
      <EditButtons
        editVisible="false"
        id="ConfirmationButtons"
        updateLabel="displaykey.Button.Execute"
        updateShortcut="O"/>
    </Toolbar>
    <AlertBar
      id="MessageAlertBar"
      label="alertBarMessageText"
      visible="alertBarMessageText != null"/>
    <DetailViewPanel
      id="PaymentDetailsDV">
      <InputColumn
        id="PaymentDetails">
        <Label
          label="displaykey.Web.AgencyPaymentSplitConfirmationPopup.PaymentDetails.Label"/>
        <Input
          id="CheckRef"
          label="displaykey.Web.AgencyPaymentSplitConfirmationPopup.CheckRef"
          value="agencySplitPayment.OriginalPaymentReceipt.RefNumber"/>
        <MonetaryAmountInput
          currency="agencySplitPayment.OriginalPaymentReceipt.Amount.Currency"
          formatType="currency"
          id="Amount"
          label="displaykey.Web.AgencyPaymentSplitConfirmationPopup.Amount"
          value="agencySplitPayment.OriginalPaymentReceipt.Amount"/>
      </InputColumn>
    </DetailViewPanel>
    <DetailViewPanel>
      <InputColumn>
        <Label
          label="displaykey.Web.AgencyPaymentSplitConfirmationPopup.AgencyPaymentSplitLV.Label"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar>
            <IteratorButtons
              iterator="AgencyPaymentSplitLV"/>
          </Toolbar>
          <ListViewPanel
            id="AgencyPaymentSplitLV">
            <RowIterator
              editable="true"
              elementName="splitItem"
              toCreateAndAdd="agencySplitPayment.createAndAddToSplit()"
              toRemove="agencySplitPayment.removeFromSplit( splitItem )"
              value="agencySplitPayment.Split">
              <Row>
                <PickerCell
                  editable="true"
                  footerLabel="displaykey.Web.AgencyPaymentSplitConfirmationPopup.AgencyPaymentSplitLV.Total"
                  id="Producer"
                  inputConversion="producerSearchConverter.getProducer(VALUE)"
                  label="displaykey.Web.AgencyPaymentSplitConfirmationPopup.AgencyPaymentSplitLV.Producer.Label"
                  pickLocation="ProducerSearchPopup.push()"
                  validationExpression="splitItem.Producer != null ? null : displaykey.Web.AgencyPaymentSplitConfirmationPopup.AgencyPaymentSplitLV.Producer.Error"
                  value="splitItem.Producer"/>
                <MonetaryAmountCell
                  currency="agencySplitPayment.OriginalPaymentReceipt.Amount.Currency"
                  editable="true"
                  footerSumValue="splitItem.Amount"
                  formatType="currency"
                  id="Amount"
                  label="displaykey.Web.AgencyPaymentSplitConfirmationPopup.AgencyPaymentSplitLV.Amount.Label"
                  validationExpression="agencySplitPayment.verifySplitAmounts()"
                  value="splitItem.Amount">
                  <PostOnChange/>
                </MonetaryAmountCell>
              </Row>
            </RowIterator>
            <Row
              highlighted="true"
              visible="(agencySplitPayment.OriginalPaymentReceipt.Amount - agencySplitPayment.SplitSum).IsNotZero">
              <Cell
                bold="true"
                id="UnallocatedLabel"
                value="displaykey.Web.InvoiceItemsLV.Unallocated"/>
              <MonetaryAmountCell
                bold="true"
                currency="agencySplitPayment.OriginalPaymentReceipt.Amount.Currency"
                formatType="currency"
                id="UnallocatedAmount"
                value="agencySplitPayment.OriginalPaymentReceipt.Amount - agencySplitPayment.SplitSum"/>
            </Row>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>
