<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AgencyItemCreditsInputSet">
    <Require
      name="invoiceItem"
      type="InvoiceItem"/>
    <MonetaryAmountInput
      align="right"
      currency="invoiceItem.Currency"
      formatType="currency"
      id="PaidAmount"
      label="displaykey.Web.InvoiceItemHistoryPopup.Gross"
      value="invoiceItem.PaidAmount"/>
    <MonetaryAmountInput
      align="right"
      currency="invoiceItem.Currency"
      formatType="currency"
      id="PaidCommission"
      label="displaykey.Web.InvoiceItemHistoryPopup.Commission"
      value="invoiceItem.PrimaryPaidCommission"/>
    <TextInput
      align="right"
      format="displaykey.Web.AgencyBill.CalculatedCommissionPercentFormat"
      id="CommissionPercentage"
      label="displaykey.Web.InvoiceItemHistoryPopup.CommissionPercentage"
      value="invoiceItem.PrimaryPaidCommission.percentageOfAsBigDecimal(invoiceItem.PaidAmount)"/>
    <MonetaryAmountInput
      align="right"
      currency="invoiceItem.Currency"
      formatType="currency"
      id="NetPaidAmount"
      label="displaykey.Web.InvoiceItemHistoryPopup.Net"
      value="invoiceItem.NetAmountPaidForPrimaryProducer"/>
  </InputSet>
</PCF>