<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="perm.System.prodpmntedit"
    canVisit="perm.System.prodtabview and perm.System.prodpmntview"
    id="AgencyBillSavedPayments"
    title="displaykey.Web.AgencyBillPayments.SavedPayments.Title">
    <LocationEntryPoint
      signature="AgencyBillSavedPayments(producer : Producer)"/>
    <Variable
      name="producer"
      type="Producer"/>
    <Screen>
      <ListDetailPanel
        selectionName="selectedPayment"
        selectionType="AgencyCyclePayment">
        <Variable
          initialValue="producer.SavedPayments"
          name="payments"
          recalculateOnRefresh="true"/>
        <Variable
          name="initialPayment"
          type="AgencyCyclePayment"/>
        <PanelRef>
          <Toolbar>
            <ToolbarFilter
              iterator="PaymentsIterator"
              label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.PaymentsReceivedFilter.PaymentReceived"
              name="PaymentsReceivedFilter">
              <ToolbarFilterOption
                filter="new gw.payment.BaseDistReceivedDateFilter(30)"
                label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.PaymentsReceivedFilter.Last30Days"/>
              <ToolbarFilterOption
                filter="new gw.payment.BaseDistReceivedDateFilter(60)"
                label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.PaymentsReceivedFilter.Last60Days"/>
              <ToolbarFilterOption
                filter="new gw.payment.BaseDistReceivedDateFilter(90)"
                label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.PaymentsReceivedFilter.Last90Days"/>
              <ToolbarFilterOption
                filter="new filters.StandardQueryFilter(&quot;All&quot;, \ qf -&gt; {})"
                label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.PaymentsReceivedFilter.All"/>
            </ToolbarFilter>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              checkedRowAction="AgencyDistributionWizard.go(producer, CheckedValue.BaseMoneyReceived)"
              flags="one SavedPayment"
              id="EditSaved"
              iterator="PaymentsIterator"
              label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.EditSaved"
              shortcut="e"/>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              checkedRowAction="AgencySuspenseItemsPopup.push(CheckedValue, false)"
              flags="one SavedPayment, all HaveSuspItems"
              id="ViewSuspenseItems"
              iterator="PaymentsIterator"
              label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.ViewSuspenseItems"
              shortcut="u"/>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="discardPayments(CheckedValues)"
              confirmMessage="displaykey.Web.AgencyBillPayments.SavedPayments.DeleteConfirmation"
              flags="any SavedPayment"
              id="Discard"
              iterator="PaymentsIterator"
              label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.Discard"
              shortcut="i"
              visible="perm.System.prodpromedit"/>
          </Toolbar>
          <ListViewPanel
            id="PaymentsLV">
            <RowIterator
              checkBoxVisible="true"
              editable="false"
              elementName="payment"
              hasCheckBoxes="true"
              id="PaymentsIterator"
              value="payments">
              <ToolbarFlag
                name="SavedPayment"/>
              <ToolbarFlag
                condition="payment.SuspDistItemsThatHaveNotBeenReleased.HasElements"
                name="HaveSuspItems"/>
              <Row>
                <DateCell
                  id="Date"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.ReceivedDate"
                  sortDirection="descending"
                  sortOrder="1"
                  value="payment.BaseMoneyReceived.ReceivedDate"/>
                <DateCell
                  id="SavedDate"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.SavedDate"
                  sortDirection="descending"
                  sortOrder="1"
                  value="payment.UpdateTime"/>
                <Cell
                  enableSort="false"
                  id="SavedBy"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.SavedBy"
                  value="payment.UpdateUser"/>
                <Cell
                  id="Name"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.Name"
                  value="payment.BaseMoneyReceived.Name"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="Amount"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.Amount"
                  value="payment.BaseMoneyReceived.TotalAmount"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="Distributed"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.Distributed"
                  value="payment.DistributedAmountForUnexecutedDist"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="Suspense"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.Suspense"
                  value="payment.SuspenseAmountForUnexecutedDist"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="Remaining"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentsLV.Remaining"
                  value="payment.RemainingAmount"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <CardViewPanel>
          <Card
            id="PaymentDetailCard"
            title="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentDetail(selectedPayment.BaseMoneyReceived.ReceivedDate.AsUIStyle)">
            <DetailViewPanel>
              <InputColumn>
                <Label
                  id="PaymentDetails"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentDetails.Header"/>
                <DateInput
                  id="ReceivedDate"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentDetails.ReceivedDate"
                  value="selectedPayment.BaseMoneyReceived.ReceivedDate"
                  visible="!selectedPayment.isCreditDistribution()"/>
                <DateInput
                  id="SavedDate"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentDetails.SavedDate"
                  value="selectedPayment.UpdateTime"/>
                <Input
                  id="SavedBy"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentDetails.SavedBy"
                  value="selectedPayment.UpdateUser"/>
                <Input
                  id="Name"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentDetails.Name"
                  value="selectedPayment.BaseMoneyReceived.Name"/>
                <Input
                  id="PaymentDescription"
                  label="displaykey.Web.AgencyBillPayments.Executed.PaymentDetails.PaymentDescription"
                  value="selectedPayment.AgencyMoneyReceived.Description"/>
              </InputColumn>
              <InputColumn>
                <Label
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentApplication.Header"/>
                <MonetaryAmountInput
                  currency="producer.Currency"
                  formatType="currency"
                  id="Amount"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentApplication.Amount"
                  value="selectedPayment.BaseMoneyReceived.Amount"
                  visible="!selectedPayment.isCreditDistribution()"/>
                <MonetaryAmountInput
                  currency="producer.Currency"
                  formatType="currency"
                  id="DistributedAmount"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentApplication.DistributedAmount"
                  value="selectedPayment.DistributedAmountForUnexecutedDist"/>
                <MonetaryAmountInput
                  currency="producer.Currency"
                  formatType="currency"
                  id="SuspenseAmount"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentApplication.SuspenseAmount"
                  value="selectedPayment.SuspenseAmountForUnexecutedDist"/>
                <MonetaryAmountInput
                  currency="producer.Currency"
                  formatType="currency"
                  id="RemainingAmount"
                  label="displaykey.Web.AgencyBillPayments.SavedPayments.PaymentApplication.Remaining"
                  value="selectedPayment.RemainingAmount"
                  visible="!selectedPayment.isCreditDistribution()"/>
              </InputColumn>
              <InputColumn>
                <Label
                  label="displaykey.Web.AgencyBillPayments.Executed.PaymentInstrument.Header"
                  visible="!selectedPayment.isCreditDistribution()"/>
                <Input
                  id="PaymentInstrument"
                  label="displaykey.Web.AgencyBillPayments.Executed.PaymentInstrument.PaymentInstrument"
                  value="selectedPayment.AgencyMoneyReceived.PaymentInstrument"
                  visible="!selectedPayment.isCreditDistribution()"/>
                <Input
                  id="RefNumber"
                  label="displaykey.Web.AgencyBillPayments.Executed.PaymentInstrument.RefNumber"
                  value="selectedPayment.AgencyMoneyReceived.RefNumber"
                  visible="!selectedPayment.isCreditDistribution()"/>
                <Input
                  id="PaymentInstrumentToken"
                  label="displaykey.Web.AgencyBillPayments.Executed.PaymentInstrument.PaymentInstrumentToken"
                  value="selectedPayment.AgencyMoneyReceived.PaymentInstrument.Token"
                  visible="!selectedPayment.isCreditDistribution()"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRef
              def="AgencyDistItemsReadOnlyCV(selectedPayment)">
              <TitleBar
                id="DistributionHeader"
                title="displaykey.Web.AgencyBillPayments.SavedPayments.AgencyDistItemsLV"/>
              <Toolbar/>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
    <Code><![CDATA[function discardPayments(payments : AgencyCyclePayment[]) {
  gw.transaction.Transaction.runWithNewBundle(\ bundle -> {
    payments.each( \ payment ->  {
      if (payment.Executed) {
        throw new gw.api.util.DisplayableException(displaykey.Web.BaseDistEnhancement.Error.CalledOnExecutedDist.Discard)
      }
      payment = bundle.add(payment)
      payment.remove()
    })
  })
}]]></Code>
  </Page>
</PCF>