<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AgencyInvoiceItemsLV">
    <ExposeIterator
      flags="Row"
      valueType="entity.InvoiceItem"
      widget="AgencyInvoiceItemsLV"/>
    <Require
      name="invoiceItems"
      type="InvoiceItem[]"/>
    <RowIterator
      editable="false"
      elementName="item"
      hasCheckBoxes="true"
      value="invoiceItems">
      <ToolbarFlag
        name="Row"/>
      <Row>
        <DateCell
          id="Date"
          label="displaykey.Web.InvoiceItemsLV.Invoice"
          sortOrder="1"
          value="item.Invoice.EventDate"/>
        <TypeKeyCell
          id="Description"
          label="displaykey.Web.InvoiceItemsLV.Description"
          value="item.Type"/>
        <Cell
          id="PolicyPeriod"
          label="displaykey.Web.InvoiceItemsLV.Policy"
          value="item.PolicyPeriod"/>
        <MonetaryAmountCell
          currency="item.Currency"
          id="Amount"
          label="displaykey.Web.InvoiceItemsLV.Amount"
          value="item.Amount"/>
        <MonetaryAmountCell
          currency="item.Currency"
          formatType="currency"
          id="CommissionAmount"
          label="displaykey.Web.InvoiceItemsLV.CommissionAmount"
          value="item.PrimaryCommissionAmount"/>
        <Cell
          id="InsuredName"
          label="displaykey.Web.InvoiceItemsLV.InsuredName"
          value="item.PolicyPeriod.Account.Insured.Contact.Name"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>