<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="AgencyBillPolicySummaryDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <InputColumn>
      <Label
        label="displaykey.Web.PolicyDetailDV.PolicyInformation"/>
      <Input
        action="PolicyDetailSummary.push( policyPeriod )"
        id="PolicyNumber"
        label="displaykey.Web.PolicyDetailDV.PolicyNumber"
        value="policyPeriod.DisplayName"/>
      <Input
        id="PrimaryInsured_Name"
        label="displaykey.Web.PolicyDetailDV.PrimaryInsured.Name"
        value="policyPeriod.PrimaryInsured"/>
      <TypeKeyInput
        id="Product"
        label="displaykey.Web.PolicyDetailDV.Product"
        value="policyPeriod.Policy.LOBCode"/>
      <DateInput
        id="PolicyPerEffDate"
        label="displaykey.Web.PolicyDetailDV.PolicyPerEffDate"
        value="policyPeriod.PolicyPerEffDate"/>
      <DateInput
        id="PolicyPerExpirDate"
        label="displaykey.Web.PolicyDetailDV.PolicyPerExpirDate"
        value="policyPeriod.PolicyPerExpirDate"/>
      <Label
        label="displaykey.Web.PolicyDetailDV.AccountInformation"/>
      <Input
        action="AccountDetailSummary.go(policyPeriod.Account)"
        id="AccountNumber"
        label="displaykey.Web.PolicyDetailDV.AccountNumber"
        value="policyPeriod.Account"/>
      <Input
        action="AccountDetailSummary.go(policyPeriod.Account)"
        id="AccountName"
        label="displaykey.Web.PolicyDetailDV.AccountName"
        value="policyPeriod.Account.AccountNameLocalized"/>
      <Label
        label="displaykey.Web.PolicyDetailDV.ProducerInformation"/>
      <Input
        action="ProducerDetail.go(policyPeriod.PrimaryPolicyCommission.ProducerCode.Producer)"
        id="Producer"
        label="displaykey.Web.PolicyDetailDV.Producer"
        value="policyPeriod.PrimaryPolicyCommission.ProducerCode.Producer"/>
      <Input
        id="ProducerCode"
        label="displaykey.Web.PolicyDetailDV.ProducerCode"
        value="policyPeriod.PrimaryPolicyCommission.ProducerCode.Code"/>
      <TypeKeyInput
        hideChildrenIfReadOnly="false"
        id="BillingMethod"
        label="displaykey.Web.PolicyDetailDV.BillingMethod"
        value="policyPeriod.BillingMethod"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.PolicyDetailDV.GrossCharges"/>
      <MonetaryAmountInput
        align="right"
        currency="policyPeriod.Currency"
        formatType="currency"
        id="Unbilled"
        label="displaykey.Web.PolicyDetailDV.Unbilled"
        value="policyPeriod.UnbilledAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="policyPeriod.Currency"
        formatType="currency"
        id="Billed"
        label="displaykey.Web.PolicyDetailDV.Billed"
        value="policyPeriod.BilledAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="policyPeriod.Currency"
        formatType="currency"
        id="PastDue"
        label="displaykey.Web.PolicyDetailDV.PastDue"
        value="policyPeriod.DelinquentAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="policyPeriod.Currency"
        formatType="currency"
        id="Unpaid"
        label="displaykey.Web.PolicyDetailDV.Unpaid"
        value="policyPeriod.UnpaidAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="policyPeriod.Currency"
        formatType="currency"
        id="Paid"
        label="displaykey.Web.PolicyDetailDV.Paid"
        value="policyPeriod.PaidOrWrittenOffAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="policyPeriod.Currency"
        formatType="currency"
        id="TotalGross"
        label="displaykey.Web.PolicyDetailDV.Total"
        value="policyPeriod.TotalValue"/>
      <Label
        label="displaykey.Web.PolicyDetailDV.Commissions"/>
      <MonetaryAmountInput
        align="right"
        currency="policyPeriod.Currency"
        formatType="currency"
        id="CommissionReserved"
        label="displaykey.Web.PolicyDetailDV.Reserved"
        value="policyPeriod.PrimaryPolicyCommission.CommissionReserveBalance"/>
      <MonetaryAmountInput
        align="right"
        currency="policyPeriod.Currency"
        formatType="currency"
        id="CommissionAllocated"
        label="displaykey.Web.PolicyDetailDV.Allocated"
        value="policyPeriod.PrimaryPolicyCommission.CommissionPaid"/>
      <MonetaryAmountInput
        align="right"
        currency="policyPeriod.Currency"
        formatType="currency"
        id="TotalCommission"
        label="displaykey.Web.PolicyDetailDV.Total"
        value="policyPeriod.getTotalCommission()"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>