<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    id="AgencyBillPayments"
    title="&quot;title&quot;">
    <LocationEntryPoint
      signature="AgencyBillPayments(producer : Producer)"/>
    <Variable
      name="producer"
      type="Producer"/>
    <LocationRef
      location="AgencyBillExecutedPayments(producer)"/>
    <LocationRef
      location="AgencyBillSavedPayments(producer)"/>
    <LocationRef
      location="AgencyBillExecutedCreditDistributions(producer)"/>
  </LocationGroup>
</PCF>