<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.prodtabview and perm.System.prodpromview"
    id="AgencyBillExecutedPromises"
    title="displaykey.Web.AgencyBillPromises.Executed.Title">
    <LocationEntryPoint
      signature="AgencyBillExecutedPromises(producer : Producer)"/>
    <Variable
      name="producer"
      type="Producer"/>
    <Screen>
      <ListDetailPanel
        selectionName="selectedPromise"
        selectionType="AgencyCyclePromise">
        <PanelRef>
          <Toolbar>
            <ToolbarFilter
              iterator="PromisesIterator"
              label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.PromiseReceivedFilter.Label"
              name="PromiseReceivedFilter">
              <ToolbarFilterOption
                filter="new gw.payment.BaseDistReceivedDateFilter(30)"
                label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.PromiseReceivedFilter.Last30Days"/>
              <ToolbarFilterOption
                filter="new gw.payment.BaseDistReceivedDateFilter(60)"
                label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.PromiseReceivedFilter.Last60Days"/>
              <ToolbarFilterOption
                filter="new gw.payment.BaseDistReceivedDateFilter(90)"
                label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.PromiseReceivedFilter.Last90Days"/>
              <ToolbarFilterOption
                filter="new filters.StandardQueryFilter(&quot;All&quot;, \ qf -&gt; {})"
                label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.PromiseReceivedFilter.All"/>
            </ToolbarFilter>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              checkedRowAction="AgencyDistributionWizard.go(producer, CheckedValue.BaseMoneyReceived)"
              flags="one Promise, all ActiveNotModified"
              id="Edit"
              iterator="PromisesIterator"
              label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.Edit"/>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              checkedRowAction="AgencyDistributionReversalConfirmationPopup.push(CheckedValue)"
              flags="one Promise, all ActiveNotModified"
              id="Reverse"
              iterator="PromisesIterator"
              label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.Reverse"
              shortcut="R"/>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              checkedRowAction="AgencySuspenseItemsPopup.push(CheckedValue, false)"
              flags="one Promise, all HaveSuspItems"
              id="ViewSuspenseItems"
              iterator="PromisesIterator"
              label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.ViewSuspenseItems"
              shortcut="U"/>
          </Toolbar>
          <ListViewPanel
            id="PromisesLV">
            <RowIterator
              checkBoxVisible="true"
              editable="false"
              elementName="promise"
              hasCheckBoxes="true"
              id="PromisesIterator"
              type="AgencyCyclePromise"
              value="producer.ExecutedPromises">
              <Variable
                initialValue="promise.BaseMoneyReceived"
                name="money"/>
              <ToolbarFlag
                name="Promise"/>
              <ToolbarFlag
                condition="promise.Active and not promise.Modified"
                name="ActiveNotModified"/>
              <ToolbarFlag
                condition="promise.SuspDistItemsThatHaveNotBeenReleased.HasElements"
                name="HaveSuspItems"/>
              <Row>
                <DateCell
                  id="PromiseReceived"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.PromiseReceived"
                  sortBy="promise.BaseMoneyReceived.ReceivedDate"
                  sortOrder="1"
                  value="money.ReceivedDate"/>
                <Cell
                  id="Name"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.Name"
                  sortBy="promise.BaseMoneyReceived.Name"
                  value="money.Name"/>
                <Cell
                  enableSort="false"
                  id="Paid"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.Paid"
                  value="promise.Applied"/>
                <DateCell
                  enableSort="false"
                  id="PaymentDate"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.PaymentDate"
                  value="promise.PaymentAppliedTo.BaseMoneyReceived.ReceivedDate"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="Amount"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.Amount"
                  value="money.TotalAmount"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="Distributed"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.Distributed"
                  value="promise.NetDistributedToInvoiceItems"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="InSuspense"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.InSuspense"
                  value="promise.NetInSuspense"/>
                <MonetaryAmountCell
                  currency="producer.Currency"
                  enableSort="false"
                  formatType="currency"
                  id="Remaining"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.Remaining"
                  value="promise.RemainingAmount"/>
                <Cell
                  enableSort="false"
                  id="Reversed"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromisesLV.Reversed"
                  value="promise.Reversed"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <CardViewPanel>
          <Card
            id="PromiseDetail"
            title="displaykey.Web.AgencyBillPromises.Executed.PromiseDetail(selectedPromise.BaseMoneyReceived.ReceivedDate.AsUIStyle)">
            <DetailViewPanel>
              <InputColumn
                id="AgencyBillPromises_PromiseDetailsInputSet">
                <Label
                  label="displaykey.Web.AgencyBillPromises.Executed.PromiseDetails.Header"/>
                <DateInput
                  id="PromiseReceived"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromiseDetails.PromiseReceived"
                  value="selectedPromise.BaseMoneyReceived.ReceivedDate"/>
                <Input
                  id="Name"
                  label="displaykey.Web.AgencyBillPromises.Executed.PromiseDetails.Name"
                  value="selectedPromise.BaseMoneyReceived.Name"/>
              </InputColumn>
              <InputColumn>
                <InputSetRef
                  def="AgencyBillPromises_PromiseApplicationInputSet(selectedPromise)"/>
              </InputColumn>
              <InputColumn>
                <InputSet
                  id="AgencyBillPromises_PaymentDetailsInputSet">
                  <Label
                    label="displaykey.Web.AgencyBillPromises.Executed.PaymentDetails.Header"/>
                  <DateInput
                    id="PaymentDate"
                    label="displaykey.Web.AgencyBillPromises.Executed.PaymentDetails.PaymentDate"
                    value="selectedPromise.PaymentAppliedTo.BaseMoneyReceived.ReceivedDate"/>
                  <MonetaryAmountInput
                    currency="selectedPromise.Currency"
                    formatType="currency"
                    id="Amount"
                    label="displaykey.Web.AgencyBillPromises.Executed.PaymentDetails.Amount"
                    value="selectedPromise.PaymentAppliedTo.BaseMoneyReceived.Amount"/>
                  <MonetaryAmountInput
                    currency="selectedPromise.Currency"
                    formatType="currency"
                    id="Distributed"
                    label="displaykey.Web.AgencyBillPromises.Executed.PaymentDetails.Distributed"
                    value="selectedPromise.PaymentAppliedTo.NetDistributedToInvoiceItems"/>
                  <MonetaryAmountInput
                    currency="selectedPromise.Currency"
                    formatType="currency"
                    id="InSuspense"
                    label="displaykey.Web.AgencyBillPromises.Executed.PaymentDetails.InSuspense"
                    value="selectedPromise.PaymentAppliedTo.NetInSuspense"/>
                  <MonetaryAmountInput
                    currency="selectedPromise.Currency"
                    formatType="currency"
                    id="ProducerWriteOff"
                    label="displaykey.Web.AgencyBillPromises.Executed.PaymentDetails.ProducerWriteOff"
                    value="selectedPromise.PaymentAppliedTo.ProducerWriteoffAmount"/>
                </InputSet>
              </InputColumn>
            </DetailViewPanel>
            <PanelRef
              def="AgencyDistItemsReadOnlyCV(selectedPromise)">
              <TitleBar
                id="DistributionHeader"
                title="displaykey.Web.AgencyBillPromises.Executed.AgencyDistItemsLV"/>
              <Toolbar/>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>