<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AgencyItemBalanceInputSet">
    <Require
      name="invoiceItem"
      type="InvoiceItem"/>
    <MonetaryAmountInput
      align="right"
      currency="invoiceItem.Currency"
      formatType="currency"
      id="UnpaidAmount"
      label="displaykey.Web.InvoiceItemHistoryPopup.Gross"
      value="invoiceItem.GrossUnsettledAmount"/>
    <MonetaryAmountInput
      align="right"
      currency="invoiceItem.Currency"
      formatType="currency"
      id="UnpaidCommission"
      label="displaykey.Web.InvoiceItemHistoryPopup.Commission"
      value="invoiceItem.UnsettledCommission"/>
    <TextInput
      align="right"
      format="displaykey.Web.AgencyBill.CalculatedCommissionPercentFormat"
      formatType="general"
      id="CommissionPercentage"
      label="displaykey.Web.InvoiceItemHistoryPopup.CommissionPercentage"
      value="invoiceItem.UnsettledCommission.percentageOfAsBigDecimal(invoiceItem.GrossUnsettledAmount)"/>
    <MonetaryAmountInput
      align="right"
      currency="invoiceItem.Currency"
      formatType="currency"
      id="Net"
      label="displaykey.Web.InvoiceItemHistoryPopup.Net"
      value="invoiceItem.NetAmountUnsettled"/>
  </InputSet>
</PCF>