<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    border="true"
    id="AgencyBillStatementTotalsDV">
    <Require
      name="agencyBillStatementView"
      type="web.invoice.AgencyBillStatementView"/>
    <InputColumn>
      <Label
        label="displaykey.Web.AgencyBillStatementDetail.Dates"/>
      <DateInput
        id="BillingDate"
        label="displaykey.Web.AgencyBillStatementDetail.Dates.BillingDate"
        value="agencyBillStatementView.EventDate"/>
      <DateInput
        id="DueDate"
        label="displaykey.Web.AgencyBillStatementDetail.Dates.DueDate"
        value="agencyBillStatementView.PaymentDueDate"/>
      <Input
        id="Status"
        label="displaykey.Web.AgencyBillStatementDetail.Dates.Status"
        value="agencyBillStatementView.StatementInvoice.DisplayStatus"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.AgencyBillStatementDetail.TotalsForThisStatement"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="GrossAmountOnThisStatement"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalAmountDueGross"
        value="agencyBillStatementView.TotalGrossAmountForItemsOnThisStatement"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="CommissionAmountOnThisStatement"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalCommission"
        value="agencyBillStatementView.TotalCommissionAmountForItemsOnThisStatement"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="NetAmountOnThisStatement"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalAmountDueNet"
        value="agencyBillStatementView.TotalNetAmountForItemsOnThisStatement"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="NetPaymentAppliedOnThisStatement"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalPaymentAppliedNet"
        value="agencyBillStatementView.TotalNetAmountSettledForItemsOnThisStatement"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="NetOfPaymentOnThisStatement"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalNetOfPaymentNet"
        value="agencyBillStatementView.TotalNetAmountForItemsOnThisStatement.subtract( agencyBillStatementView.TotalNetAmountSettledForItemsOnThisStatement )"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.AgencyBillStatementDetail.TotalsForPreviousUnpaidStatements"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="GrossAmountFromPreviousUnpaidStatements"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalAmountDueGross"
        value="agencyBillStatementView.TotalGrossAmountForPreviousSnapshotItemsOnly"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="CommissionAmountFromPreviousUnpaidStatements"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalCommission"
        value="agencyBillStatementView.TotalCommissionAmountForPreviousSnapshotItemsOnly"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="NetAmountFromPreviousUnpaidStatements"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalAmountDueNet"
        value="agencyBillStatementView.TotalNetAmountForPreviousSnapshotItemsOnly"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="NetPaymentAppliedFromPreviousUnpaidStatements"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalPaymentAppliedNet"
        value="agencyBillStatementView.TotalNetAmountSettledForPreviousSnapshotItemsOnly"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="NetOfPaymentFromPreviousUnpaidStatements"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalNetOfPaymentNet"
        value="agencyBillStatementView.TotalNetAmountForPreviousSnapshotItemsOnly.subtract( agencyBillStatementView.TotalNetAmountSettledForPreviousSnapshotItemsOnly )"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.AgencyBillStatementDetail.Totals"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="AmountDue"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalAmountDueGross"
        value="agencyBillStatementView.TotalGrossAmountIncludingPreviousSnapshotItems"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="CommissionAmount"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalCommission"
        value="agencyBillStatementView.TotalCommissionAmountIncludingPreviousSnapshotItems"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="NetAmount"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalAmountDueNet"
        value="agencyBillStatementView.TotalNetAmountIncludingPreviousSnapshotItems"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="NetPaymentApplied"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalPaymentAppliedNet"
        value="agencyBillStatementView.TotalNetAmountSettledInclPrevSnapshotItems"/>
      <MonetaryAmountInput
        align="right"
        currency="agencyBillStatementView.Producer.Currency"
        formatType="currency"
        id="NetOfPayment"
        label="displaykey.Web.AgencyBillStatementDetail.Totals.TotalNetOfPaymentNet"
        value="agencyBillStatementView.TotalNetAmountIncludingPreviousSnapshotItems.subtract( agencyBillStatementView.TotalNetAmountSettledInclPrevSnapshotItems )"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>