<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    id="AgencyBillPromises"
    title="&quot;my title&quot;">
    <LocationEntryPoint
      signature="AgencyBillPromises(producer : Producer)"/>
    <Variable
      name="producer"
      type="Producer"/>
    <LocationRef
      location="AgencyBillExecutedPromises(producer)"/>
    <LocationRef
      location="AgencyBillSavedPromises(producer)"/>
  </LocationGroup>
</PCF>