<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="AgencyBillStatementDetailPopup"
    title="displaykey.Web.AgencyBillStatementDetail.Title(statement.InvoiceNumber)">
    <LocationEntryPoint
      signature="AgencyBillStatementDetailPopup(statement : StatementInvoice)"/>
    <Variable
      name="statement"
      type="StatementInvoice"/>
    <Variable
      initialValue="statement.AgencyBillCycle"
      name="cycle"
      type="AgencyBillCycle"/>
    <ScreenRef
      def="AgencyBillStatementDetailScreen(cycle)"/>
  </Popup>
</PCF>