<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    editable="true"
    id="AgencyBillExceptionsLV">
    <ExposeIterator
      flags="Row"
      valueType="gw.api.web.invoice.ExceptionItemView"
      widget="AgencyBillExceptionsLV"/>
    <Require
      name="exceptionItemViews"
      type="gw.api.web.invoice.ExceptionItemView[]"/>
    <Require
      name="ShowCheckboxes"
      type="boolean"/>
    <Require
      name="ShowWriteoffReasonDropdowns"
      type="boolean"/>
    <RowIterator
      checkBoxVisible="ShowCheckboxes"
      editable="true"
      elementName="exceptionItemView"
      hasCheckBoxes="true"
      type="gw.api.web.invoice.ExceptionItemView"
      value="exceptionItemViews">
      <Variable
        initialValue="exceptionItemView.TAccountOwner typeis PolicyPeriod ? exceptionItemView.TAccountOwner : null"
        name="policyPeriod"
        type="PolicyPeriod"/>
      <ToolbarFlag
        name="Row"/>
      <Row>
        <RangeCell
          editable="true"
          enableSort="false"
          id="WriteoffReason"
          label="displaykey.Web.AgencyBillExceptionsLV.WriteoffReason"
          required="true"
          value="exceptionItemView.WriteoffReason"
          valueRange="WriteoffReason.getTypeKeys(false)"
          visible="ShowWriteoffReasonDropdowns"/>
        <Cell
          action="AgencyBillStatementDetail.go(exceptionItemView.StatementInvoice.AgencyBillCycle)"
          id="statementNumber"
          label="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.Number"
          value="exceptionItemView.StatementNumber"/>
        <DateCell
          id="statementDate"
          label="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.Date"
          required="false"
          value="exceptionItemView.StatementInvoice.EventDate"/>
        <DateCell
          id="createDate"
          label="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.CreateDate"
          value="exceptionItemView.CreateDate"/>
        <Cell
          id="event"
          label="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.EventDescription"
          value="exceptionItemView.Issue"/>
        <Cell
          action="InvoiceItemHistoryPopup.push(exceptionItemView.InvoiceItem)"
          id="ItemType"
          label="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.Item"
          value="exceptionItemView.ItemType"/>
        <Cell
          action="PolicyDetailSummary.go(policyPeriod)"
          actionAvailable="policyPeriod != null"
          id="TAccountOwner"
          label="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.Owner"
          value="exceptionItemView.TAccountOwner.DisplayName"/>
        <DateCell
          id="PolicyEffectiveDate"
          label="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.PolicyEffectiveDate"
          value="exceptionItemView.PolicyEffectiveDate"/>
        <Cell
          action="AccountDetailSummary.push(exceptionItemView.InvoiceItem.PolicyPeriod.Account)"
          id="Insured"
          label="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.Insured"
          value="exceptionItemView.AccountNumber"/>
        <DateCell
          footerLabel="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.Total"
          id="Product"
          label="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.DueDate"
          value="exceptionItemView.InvoiceItem.InvoiceDueDate"/>
        <MonetaryAmountCell
          currency="exceptionItemView.ExceptionItem.GrossDifference.Currency"
          footerSumValue="exceptionItemView.ExceptionItem.GrossDifference"
          formatType="currency"
          id="GrossDifference"
          label="displaykey.Web.AgencyBillExceptions.Gross"
          value="exceptionItemView.ExceptionItem.GrossDifference"/>
        <MonetaryAmountCell
          currency="exceptionItemView.ExceptionItem.CommissionDifference.Currency"
          footerSumValue="exceptionItemView.ExceptionItem.CommissionDifference"
          formatType="currency"
          id="CommissionDifference"
          label="displaykey.Web.AgencyBillExceptions.Commission"
          value="exceptionItemView.ExceptionItem.CommissionDifference"/>
        <Cell
          id="Comments"
          label="displaykey.Web.AgencyBillExceptions.AgencyPaymentExceptionsLV.Comments"
          value="exceptionItemView.Comments"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>