<?xml version="1.0"?>

<config xmlns="http://guidewire.com/config">
    <!-- Velocity parameters; can be overridden -->
    <!-- NOTE velocimacro.library.autoreload MUST be set false in production -->
    <!-- NOTE file.resource.loader.modificationCheckInterval SHOULD be set to -1 in production (disables reloading the files) -->
    <!-- NOTE resource.manager.defaultcache.size SHOULD be a prime number larger than total number of templates -->
    <velocityParam name="file.resource.loader.cache" value="true"/>
    <velocityParam name="file.resource.loader.modificationCheckInterval" value="-1"/>
    <velocityParam name="velocimacro.library" value="cc_VelocityMacros.vm"/>
    <velocityParam name="velocimacro.permissions.allow.inline" value="true"/>
    <velocityParam name="velocimacro.library.autoreload" value="false"/>
    <velocityParam name="velocimacro.permissions.allow.inline.to.replace.global" value="true"/>
    <velocityParam name="resource.manager.defaultcache.size" value="127"/>

    <!-- PAS integration parameters -->
    <!--
      BillingCenter as of this release uses Date to store policy period effective date, expiration
      date, and modification date. On the other hand, PAS including PolicyCenter stores these dates as
      DateTime. As the result, when BillingCenter refers to a policy period in PAS as of some date,
      it has to add this effective time to that date to match with that of PAS.
    -->
    <param name="PASEffectiveTime" value="12:01 am"/>

    <!--Parameters that work around optimizer issues in databases-->

    <!--
         BillingCenter works around hash join related query plan problems when executing certain
         Policy searches on Oracle. This parameter controls part of the work around and is true by default.
         The parameter has no effect on databases other than Oracle
    -->
    <param name="DisableHashJoinForPolicySearch" value="true"/>

    <!--
         BillingCenter works around sort merge join query plan problems when executing certain
         Policy searches on Oracle. This parameter controls part of the workaround when DisableHashJoinForPolicySearch
         is set to true and is true by default. The parameter has no effect on databases other than Oracle
    -->
    <param name="DisableSortMergeJoinForPolicySearch" value="true"/>

    <!--
         BillingCenter works around hash join related query plan problems when executing agency cycle exception
         queries for the My Agency Items page on Oracle. This parameter controls part of the work around and is true by default.
         The parameter has no effect on databases other than Oracle
    -->
    <param name="DisableIndexFastFullScanForAgencyCycleException" value="true"/>

    <!--
         BillingCenter works around hash join related query plan problems when executing agency cycle exception
         queries for the My Agency Items page on Oracle. This parameter controls part of the work around and is true by default.
         The parameter has no effect on databases other than Oracle
    -->
    <param name="DisableHashJoinForAgencyCycleException" value="true"/>

    <!--
        BillingCenter works around sort merge join query plan problems when executing agency cycle exception
        queries for the My Agency Items page on Oracle. This parameter controls part of the workaround when
        set to true. The parameter is true by default. The parameter has no effect on databases other than Oracle
    -->
    <param name="DisableSortMergeJoinForAgencyCycleException" value="true"/>


    <!-- Whether an Invoice allocates its InvoiceNumber during instantiation
  	     initialization or later during commit.
  	     Setting this to true has negative consequences to preview functionality
  	     and throughput, and is not recommended, but is done by default for
  	     existing production installations.

  	     Deprecated 8.0.3
  	 -->
    <param name="AllocateInvoiceNumberOnInit" value="true"/>

    <!--
      Parameters that control clustering
    -->

    <!-- Is clustering enabled? -->
    <param name="ClusteringEnabled" value="false"/>

    <!--
      The IP multicast address used by the jgroups-based cluster. Must be unique within the range of the cache time
      to live parameter. Valid IPv4 address is in the range between 224.0.0.0 and 239.255.255.255.
      Valid IPv6 address starts with "ff" (i.e. first eight bits must be "1111 1111")
    -->
    <param name="ClusterMulticastAddress" value="228.9.9.9"/>

    <!--
      The time to live for the multicast packets used for jgroups-based cluster communication.
      For Claim Center the value will nearly always be 1, meaning only
      deliver the packets to the local subnet. Higher time to live values require
      multicast routing to be enabled on any intermediate routers (rare in most IT
      organizations). Also the larger the time to live the more you have to worry
      about allocating unique multicast addresses.
    -->
    <param name="ClusterMulticastTTL" value="1"/>

    <!-- The port to use for jgroups-based cluster communication -->
    <param name="ClusterMulticastPort" value="45566"/>

    <!-- denotes the username of the unrestricted user.  If not specified, defaults to "su" -->
    <param name="UnrestrictedUserName" value="su"/>

    <!-- Indicates if resoruces are mutable on this server. Studio uses this to
         determine whether or not to enable modification of resources. -->
    <param name="ResourcesMutable" value="true"/>

    <!--
      Cached range size key generator uses when generating individual keys. This
      cannot be a normal parameter in the database because we need it before the
      database has been initialized (and possibly upgraded)
    -->
    <param name="KeyGeneratorRangeSize" value="1000"/>

    <!-- The default application locale if locale can't be determined from user or browser -->
    <param name="DefaultApplicationLocale" value="en_US"/>

    <!-- The default application language if language can't be determined from user or browser -->
    <param name="DefaultApplicationLanguage" value="en_US"/>

    <!-- the default country code for the application -->
    <param name="DefaultCountryCode" value="US"/>

    <!-- Determines whether or not the phone widget will always show the region code or only shows it on demand. -->
    <param name="AlwaysShowPhoneWidgetRegionCode" value="false"/>

    <!-- The default server-wide phone country setting. Can be overridden per user -->
    <param name="DefaultPhoneCountryCode" value="US"/>

    <!-- The default country code inside NANPA region 1-->
    <param name="DefaultNANPACountryCode" value="US"/>

    <!-- Currency Display mode for billing: SINGLE currency used-->
    <param name="MulticurrencyDisplayMode" value="SINGLE"/>

    <!-- Default/Base currency for all Financials. (a.k.a. Reporting currency)
      Financials values are tracked in this currency. -->
    <param name="DefaultApplicationCurrency" value="usd"/>

    <!-- This marks the beginning of a business day, inclusive -->
    <param name="BusinessDayDemarcation" value="12:00 AM"/>

    <!-- At what time the invoice period is cut off -->
    <param name="InvoicePeriodCutoff" value="12:00 AM"/>

    <!-- At what time the invoice period due is cut off -->
    <param name="InvoicePeriodDueCutoff" value="12:00 AM"/>

    <!-- Whether future invoices should be collapsed into a single invoice when a cancellation billing instruction is received -->
    <param name="CollapseFutureInvoicesUponCancellation" value="true"/>

    <!-- How to distribute the remainder amount for commission in agency bill in pro-rata calculations.
         Choices: overweightFromFront, overweightFromBack, overweightFirst, overweightLast, writeoff -->
    <param name="CommissionRemainderTreatment" value="writeoff"/>

    <!-- Whether to create rollup transactions at the time a policy is closed -->
    <param name="CreateRollupTxnsUponPolicyClosure" value="true"/>

    <!-- Whether equity dating calculations should consider policy writeoffs when calculating policy equity and paid through date -->
    <param name="EquityDatingIncludeWriteoffs" value="false"/>

    <!-- Whether to include closed policies in the totals returned by an Account's balance methods -->
    <param name="IncludeClosedPoliciesInAccountAggregateBalances" value="false"/>

    <!-- How to distribute the remainder amount in pro-rata calculations.
         Choices: overweightFromFront, overweightFromBack, overweightFirst, overweightLast -->
    <param name="ProRataCalculationRemainderTreatment" value="overweightFromFront"/>

    <!-- What time the business day starts at. -->
    <param name="BusinessDayStart" value="8:00 AM"/>

    <!-- What time the business day ends at. -->
    <param name="BusinessDayEnd" value="5:00 PM"/>

    <!-- The day of the week considered the end of the business week. -->
    <param name="BusinessWeekEnd" value="Friday"/>

    <!-- Whether Sunday is considered a business day. -->
    <param name="IsSundayBusinessDay" value="false"/>

    <!-- Whether Monday is considered a business day. -->
    <param name="IsMondayBusinessDay" value="true"/>

    <!-- Whether Tuesday is considered a business day. -->
    <param name="IsTuesdayBusinessDay" value="true"/>

    <!-- Whether Wednesday is considered a business day. -->
    <param name="IsWednesdayBusinessDay" value="true"/>

    <!-- Whether Thursday is considered a business day. -->
    <param name="IsThursdayBusinessDay" value="true"/>

    <!-- Whether Friday is considered a business day. -->
    <param name="IsFridayBusinessDay" value="true"/>

    <!-- Whether Saturday is considered a business day. -->
    <param name="IsSaturdayBusinessDay" value="false"/>

    <!-- Value used by AccountInactivityBatchProcess to determine whether an account is inactive. -->
    <param name="DaysBeforeAccountIsConsideredInactive" value="60"/>

    <!-- A comma-delimited list of dates that should be considered holidays. -->
    <!-- This parameter is obsolete, as holidays are now queried from the database.
         There is an Admin UI screen which can configure these holidays.
         However, it remains present here so that the values can be imported once
         into the database upon upgrade to the Bedrock release. -->
    <param name="HolidayList" value="1/1/2007, 12/25/2007"/>

    <!-- Session expriration timeout, in seconds. -->
    <param name="SessionTimeoutSecs" value="10800"/>

    <!-- The minimum length of a user's password. -->
    <param name="MinPasswordLength" value="2"/>

    <!-- The maximum length of a user's password. -->
    <param name="MaxPasswordLength" value="16"/>

    <!-- Number of failed attempts that are allowed before a user is locked out, or -1 to disable the account lockout feature
  For example, setting this to 3 means that the fourth unsuccessful try will lock the user's account -->
    <param name="FailedAttemptsBeforeLockout" value="3"/>

    <!-- Time in milliseconds before a user can retry after an unsuccessful login attempt -->
    <param name="LoginRetryDelay" value="0"/>

    <!-- Time in seconds that a user's account will stay locked for, or -1 if it must be manually unlocked.
         Please note that at this point, BillingCenter does not support manual unlocking from the UI. -->
    <param name="LockoutPeriod" value="180"/>

    <!-- Whether the internal scheduler is enabled. -->
    <param name="SchedulerEnabled" value="true"/>

    <!-- Number of minutes between each memory usage monitor logging. -->
    <param name="MemoryUsageMonitorIntervalMins" value="15"/>

    <!-- If true, stepping off a spellcheck-enabled field after making any change will invoke the spell checker for the field -->
    <param name="CheckSpellingOnChange" value="false"/>

    <!-- If true, any screen containing editable spellcheck-enabled fields will have a spell check button in the the toolbar -->
    <param name="CheckSpellingOnDemand" value="false"/>

    <!-- The number of entries to display per page in a ListView, where not explicitly specified. -->
    <param name="ListViewPageSizeDefault" value="15"/>

    <!-- The character used as a placeholder in masked input fields -->
    <param name="InputMaskPlaceholderCharacter" value="."/>

    <!-- The maximum number of browser history items to keep.  Set this to 0 to disable to back button functionality entirely. -->
    <param name="MaxBrowserHistoryItems" value="5"/>

    <!-- The prefix to use for publicids generated by the application.  Generated publicids will be of the form prefix:id where id is
         the actual id for the entity.  This parameter should be set to different values in production and test systems
         to allow for the clean import/export of data between systems.  This field must be 9 characters or less in length.
    -->
    <param name="PublicIDPrefix" value="bc"/>

    <!-- Enable internal debug tools page http://localhost:8080/app/InternalTools.do -->
    <param name="EnableInternalDebugTools" value="false"/>

    <!-- generate sample data using QA sample data method -->
    <param name="GosuSampleDataMethod" value="createBillingCenterQASampleData"/>
    <!-- generate sample data using Perf datagen method -->
    <!--<param name="GosuSampleDataMethod" value="createBillingCenterPerfSampleData"/>-->
    <!-- generate sample data using Upgrade sample data method -->
    <!--<param name="GosuSampleDataMethod" value="createBillingCenterUpgradeSampleData"/>-->

    <!-- The number of times to retry sending a BillingInstruction into the system.  Only used when there are multiple
         threads sending in BillingInstruction requests at the same time, and related to the same account -->
    <param name="IBillingCenterAPICDCENumRetries" value="50"/>

    <!-- The rounding mode used by BillingCenter.  The options available are identical to those supported by
         java.math.RoundingMode: UP, DOWN, CEILING, FLOOR, HALF_UP, HALF_DOWN, HALF_EVEN, and UNNECESSARY-->
    <param name="DefaultRoundingMode" value="HALF_EVEN"/>

    <!-- Maximum number of results when searching for contacts. Specified because of performance impact associated with
         searches of external contact systems. -->
    <param name="MaxContactSearchResults" value="100"/>

    <!-- Whether to signal the database to discard existing query plans during a database stats batch process.-->
    <param name="DiscardQueryPlansDuringStatsUpdateBatch" value="false"/>

    <!-- This parameter enables splitting of charges into earning installments. Once this parameter has been set to false:
         1) it should never be set back to true and 2) the ChargeProRataTxnWorkQueue should be disabled as well. -->
    <param name="EnableChargeProRataTxCreation" value="true"/>

    <!--
      Limits the number of results on the search pages; if a search would return more results than this
      number the user will see a message asking them to refine their search. This can substantially
      reduce the load on the database for searches that would otherwise return many pages of results.
      A zero or negative value for this parameter means no limit (not recommended). Alternatively the
      limit for a particular page can be configured by editing the PCF for that page.
    -->
    <param name="MaxSearchResults" value="300"/>

    <!--
    ==============================================================================
      Document Creation and Document Management Parameters
    ==============================================================================
    -->

    <!-- Set this parameter to false to completely disable the Guidewire Document Assistant control -->
    <param name="AllowDocumentAssistant" value="false"/>

    <!--- URL for Document Assistant JNLP launch file -->
    <param name="DocumentAssistantJNLP" value="/jnlp/gw/documentassistant/DocumentAssistant.jnlp"/>

    <!-- Whether the Guidewire Document Assistant control be used to display document contents. -->
    <param name="UseDocumentAssistantToDisplayDocuments" value="true"/>

    <!--Whether the Documents list should display Edit/Upload buttons.
           Set this to false if the IDocumentContentSource integration mechanism doesn't support them. -->
    <param name="DisplayDocumentEditUploadButtons" value="true"/>

    <!-- The Content-Disposition setting to use when document content is returned
         directly to the browser (when AllowDocumentAssistant is set to false. Must be either 'inline' (the default) or
         'attachment' -->
    <param name="DocumentContentDispositionMode" value="inline"/>

    <!-- Location of the XSD file to be used to validate Doc Template Descriptor xml files -->
    <param name="DocumentTemplateDescriptorXSDLocation"
           value="document-template.xsd"/>

    <!-- This flag indicates that if a Document has been rolledback, that on commit both the isDocument and addDocument should be called again -->
    <param name="ReCallDocumentContentSourceAfterRollback" value="false"/>

    <!-- Controls whether BillingCenter uses the pre-BillingCenter 3.0 behavior for configuring data types, through the
         use of the fieldvalidators.xml file.
         Set this value to false to preserve the existing behavior. This is useful for existing installations that are
         upgrading but want to preserve the existing functionality.
         Set this value to true to implement the new behavior. This is useful for new BillingCenter installations that ]
         want to implement the new behavior. -->
    <param name="StrictDataTypes" value="true"/>

    <!--
    ==============================================================================
      Integration Parameters
    ==============================================================================
    -->

    <!--
      Issue pl-9001 dealt with a performance penalty for locking during message send processing.   This lock also occurs
      when the message is acted upon in the UI or in a message reply plugin.  Normally this should not be an issue and
      the locking of claim first prevents deadlocks.  However, some sites consider this not worth the penalty
      and have agree to insure that deadlocks don't occur (i.e., by either not locking message, or locking all message
      on the claim before locking the claim).  If the message has no primary entity then this has no effect.
      -->
    <param name="LockPrimaryEntityDuringMessageHandling" value="true"/>

    <!-- Issue PL-28921 was attempting to optimize oracle for message queries.  But with a full time DBA there
    maybe other means of accomplishing this -->
    <param name="UseOracleHintsOnMessageQueries" value="true"/>

    <!--
    ==============================================================================
      Work Queues
    ==============================================================================
    -->

    <!--
      The number of policy period ids to store per work item for the Full Pay Discount work queue. The optimal number of
      ids per work item depends on the cost of the IPolicyPeriod.applyFullPayDiscount plugin method, the total number of
      policy periods to be processed and the number of worker threads used. Smaller numbers of policy periods per work
      item allow greater parallelism but can increase the costs of administering the queue (more queue items, more
      locking). Larger numbers of policy periods reduce work queue administration costs, but reduce parallelism.
    -->
    <param name="FullPayDiscountPolicyPeriodsPerWorkItem" value="10"/>

    <!--
      The number of payment request ids to store per work item for the Payment Request work queue. The optimal number of
      ids per work item depends on the cost of processing one work item, the total number of payment requests to be
      processed and the number of worker threads used. Smaller numbers of payment requests per work item allow greater
      parallelism but can increase the costs of administering the queue (more queue items, more locking). Larger numbers
      of payment requests reduce work queue administration costs, but reduce parallelism. Typically, if there are a
      large number of cheap work items then putting multiple ids per work item will improve performance. The Payment
      Request work item cost is small in the out of box configuration. However, messaging costs may make it much higher
      at customer sites, so customers may need to reduce the value of this parameter.
    -->
    <param name="PaymentRequestsPerWorkItem" value="50"/>

    <!--
      The number of account ids to store per work item for the Funds Allotment work queue. The optimal number of
      ids per work item depends on the cost of the IFundsTracking.allotFunds plugin method, the total number of
      accounts to be processed and the number of worker threads used. Smaller numbers of accounts per work
      item allow greater parallelism but can increase the costs of administering the queue (more queue items, more
      locking). Larger numbers of accounts reduce work queue administration costs, but reduce parallelism.
    -->
    <param name="FundsAllotmentAccountsPerWorkItem" value="10"/>

    <!--
      The BillingCenter specific work queues turn off validation rules by default. This improves performance and should
      not affect functionality as neither the core product nor most customers use validation rules. This parameter can
      be used to enable validation for these work queues, at some performance cost (even if there are no validation rules
      there is some per commit overhead associated with validation). Guidewire recommends leaving this parameter false
      unless validation is needed for backwards compatibility. This parameter only affects validation for BC specific
      work queues and does not affect generic work queues such as Activity Escalation, User/Group Exception and Contact
      Auto Sync, which continue to run the validation rules (if any) on every commit.
    -->
    <param name="EnableWorkQueueValidation" value="false"/>

    <!-- **************************************************************-->
    <!-- Mime Type Information                                         -->
    <!-- This section tells the system how to map between mime types,  -->
    <!-- file extensions, and icons in the UI                          -->
    <!-- **************************************************************-->

    <mimetypemapping>
        <mimetype name="application/msword" extensions=".doc" icon="word.png" description="Microsoft Word Document"/>
        <mimetype name="application/vnd.ms-excel" extensions=".xls" icon="excel.png"
                  description="Microsoft Excel Worksheet"/>
        <mimetype name="application/x-msexcel" extensions=".xls" icon="excel.png"
                  description="Microsoft Excel Worksheet (Windows 98)"/>
        <mimetype name="application/pdf" extensions=".pdf" icon="acrobat.png" description="PDF File"/>
        <mimetype name="text/plain" extensions=".txt" icon="document.png" description="Text Document"/>
        <mimetype name="text/html" extensions=".html|.htm" icon="document.png" description="HTML File"/>
        <mimetype name="text/xml" extensions=".xml" icon="document.png" description="XML Document"/>
        <mimetype name="image/bmp" extensions=".bmp" icon="document.png"
                  description="Bitmap Image"/>
        <mimetype name="image/jpeg" extensions=".jpg" icon="document.png"
                  description="JPEG Image"/>
        <mimetype name="image/pjpeg" extensions=".jpg" icon="document.png"
                  description="JPEG Image"/>
        <mimetype name="application/rtf" extensions=".rtf" icon="word.png" description="Rich Text Format"/>
        <mimetype name="application/csv" extensions=".csv" icon="excel.png"
                  description="Microsoft Office Excel Comma Separated Values File"/>
        <mimetype name="image/tiff" extensions=".tiff|.tif" icon="document.png"
                  description="Microsoft Office Document Imaging File"/>
        <mimetype name="application/octet-stream" extensions="" icon="document.png"
                  description="Unrecognized File Format"/>
        <mimetype extensions=".docx" name="application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                  icon="word.png"
                  description="open xml word"/>
        <mimetype extensions=".xlsx" name="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                  icon="excel.png"
                  description="open xml excel"/>
        <mimetype extensions=".ps" name="application/postscript" icon="document.png"
                  description="Postscript"/>
        <mimetype extensions=".rtx" name="text/richtext" icon="document.png"
                  description="Rich text"/>
        <mimetype extensions=".wav" name="audio/wav" icon="document.png"
                  description="Wave audio"/>
        <mimetype extensions=".wma" name="audio/x-ms-wma" icon="document.png"
                  description="Microsoft audio"/>
        <mimetype extensions=".mdi" name="image/vnd.ms-modi" icon="document.png"
                  description="Microsoft modi"/>
        <mimetype extensions=".gif" name="image/gif" icon="document.png"
                  description="gif image"/>
        <mimetype extensions=".png" name="image/x-png" icon="document.png"
                  description="png image"/>
        <mimetype extensions=".mov" name="video/quicktime" icon="document.png"
                  description="QuickTime video"/>
        <mimetype extensions=".mpg|.mpeg" name="video/mpeg" icon="document.png"
                  description="mpeg video"/>
        <mimetype extensions=".avi" name="video/x-msvideo" icon="document.png"
                  description="Microsoft video"/>
        <mimetype extensions=".ppt|.pps" name="application/vnd.ms-powerpoint" icon="document.png"
                  description="Power point"/>
        <mimetype extensions=".pptx" name="application/vnd.openxmlformats-officedocument.presentationml.presentation"
                  icon="document.png"
                  description="Power point"/>
    </mimetypemapping>

    <!-- the default pdf merging is handled by a product that has a license.  This license can be server specific so
    this line may have to be repeated for each server.  -->
    <param name="PDFMergeHandlerLicenseKey" value=""/>

    <!-- Enable this to update to 64bit IDs in the database and on SQLServer it will also update to datetime2 datatypes for timestamps -->
    <param name="MigrateToLargeIDsAndDatetime2" value="false"/>

    <!-- In previous versions on SQL Server, tuning queries was difficult because DBAs could not determine what part of
       the application generated the queries. Now, you can enable the IdentifyQueryBuilderViaComments parameter in
       config.xml (or just use the default true value) to provide comments with contextual information in certain SQL Select statements sent to the
       relational database.  The SQL comments are in the format:
             ApplicationName:ActionName
           ApplicationName is ClaimCenter, PolicyCenter, or BillingCenter.
           ActionName is the name of the page configuration file that submitted the SQL Select statement. -->
  <param name="IdentifyQueryBuilderViaComments" value="true"/>
  <!-- Enabling IdentifyORMLayerViaComments will add comments to low level system usage like BROOT, QROOT, AROOT calls. -->
  <param name="IdentifyORMLayerViaComments" value="false"/>

    <!--
    =================================================================================
      Archive Parameters
      (even though BillingCenter doesn't support archiving, yet, the build will
      complain if these parameters aren't specified.)
    =================================================================================
    -->

    <!-- The default encryption id to use for all exports (including archiving) -->
    <param name="DefaultXmlExportIEncryptionId" value=""/>

  <!--
  ==============================================================================
    WS-I Webservices
  ==============================================================================
  -->

  <!-- the path to a list of WS-I webservices that are available to the WS-I webservices servlet.  This is
   first checked against config, then against gosu type system, then against class loader, and finally
   as a file path (or fully qualified).

   If empty then it will search the typesystem for any @WsiWebService
  -->
  <param name="WebservicesAvailableServices" value=""/>

  <!-- "true" if the WS-I service listing page is to be displayed, false otherwise.
  -->
  <param name="WebservicesHideListPage" value="false"/>

  <!--
  ==============================================================================
    RPCE Webservices (deprecated)
  ==============================================================================
  -->

  <!--
    The RPCE webservices subsystem uses a finite set of namespaces - something is either in the api, entity, fault, or enumeration namespace.
    This quite often leads to conflicts/overwriting of classes in that namespace.  This prevents you from having duplicate
    RPCE webservice class names.  But for referenced classes this is not an issue unless you call these RPCE webservices via
    soap.local, or generate the clients clients in the same directory. So to turn off the warning in studio change this to true.
  -->

  <param name="AllowSoapWebServiceReferenceNamespaceCollisions" value="false"/>

  <!--
    The RPCE webservices bundle was set to ignore bean version conflicts, several people have pointed out that this
    is quite dangerous. So we have changed the default behavior, and added an annotation to get back to that behavior,
    however we do not want to disrupt current customers in a minor version upgrade so the new behavior is dependent
    on setting this to true.
   -->
  <param name="UseSafeBundleForWebServiceOperations" value="true"/>

  <!-- The RPCE webservices have to initialize the definition and create the service objects.
    If true this will cause the creation of the service objects at startup of the RPCE webservice servlet, it does
    this by creating a thread and that thread will wait until the application servlet is started and will then
    start the RPCE webservices.  This can be overridden on a per node basis if only some nodes respond to RPCE requests.
  -->
  <param name="LoadSoapServicesOnStartup" value="false"/>

  <!-- The keyboard shortcut for the Actions button -->
  <param name="ActionsShortcut" value="A"/>

  <!-- Upper bound on how long caches of activity pattern entities are allowed to exist without refresh, measured in seconds-->
  <param name="ActivityPatternCacheMaxDuration" value="86400"/>

  <!-- Set to true to have Address Verification failures as errors instead of warnings.  Meaningless if 'EnableAddressVerification' is set to false -->
  <param name="AddressVerificationFailureAsError" value="false"/>

  <!-- Whether or not the archive feature is enabled in the system -->
  <!-- If ArchiveEnabled was ever true, it must remain true -->
  <param name="ArchiveEnabled" value="false"/>

  <!-- Whether or not to display the UI portions of the assignment queue mechanism. Once turned on it can not be turned off again -->
  <param name="AssignmentQueuesEnabled" value="false"/>

  <!-- The maximum number of autocomplete suggestions to show. -->
  <param name="AutocompleteLimit" value="10"/>

  <!-- The number of days to keep batch process history before they can be deleted -->
  <param name="BatchProcessHistoryPurgeDaysOld" value="45"/>

  <!-- Setting to enable or disable parallelism (oracle only) in the populate search columns batch process. -->
  <param name="BatchProcessPopulateSearchColumnsParallelDML" value="true"/>

  <!-- The number of days to keep cluster member records before they can be deleted. -->
  <param name="ClusterMemberPurgeDaysOld" value="30"/>

  <!-- If clustering is enabled, whether to check this server's configuration against the other
          servers in the cluster. -->
  <param name="ConfigVerificationEnabled" value="true"/>

  <!-- The number of threads to use when running the consistency checker -->
  <param name="ConsistencyCheckerThreads" value="1"/>

  <!-- The maximum number of contacts to be processed per ContactAutoSyncWorkItem -->
  <param name="ContactAutoSyncWorkItemChunkSize" value="400"/>

  <!-- The name of the current encryption plugin. -->
  <param name="CurrentEncryptionPlugin" value=""/>

  <!-- The Content-Disposition setting to use when generated content (exports, printing, etc, but _not_ documents) is returned directly to the browser. Must be either 'inline' or 'attachment' (the default) -->
  <param name="DefaultContentDispositionMode" value="attachment"/>

  <!-- This is list of links with known issues, they are formated as "<relativeName>.<linkAttributeName>" -->
  <param name="DomainGraphKnownLinksWithIssues" value=""/>

  <!-- This is list of known unreachable tables -->
  <param name="DomainGraphKnownUnreachableTables" value=""/>

  <!-- Enable to provide address verification warnings -->
  <param name="EnableAddressVerification" value="false"/>

  <!-- If UseACLPermissions is true, setting this parameter to true means that supervisors will inherit permissions on
        a policy that have been added for a supervised user or group.-->
  <param name="EnableDownlinePermissions" value="true"/>

  <!-- The time between refreshes of the ExchangeRateSet cache, in seconds -->
  <param name="ExchangeRatesCacheRefreshIntervalSecs" value="600"/>

  <!-- Enables/Disables support for Solr Search based capabilities, including both UI support
     and the searching and indexing plugins. -->
  <param name="FreeTextSearchEnabled" value="false"/>

  <!-- Time period (in minutes) when cached items are considered "active", i.e. the cache should give higher priority to preserve these items. -->
  <!-- This can be thought of as the period when items are being heavily used, e.g. how long a user stays on a page. It should be less than the reaping time. -->
  <param name="GlobalCacheActiveTimeMinutes" value="5"/>

  <!-- This parameter determines whether or not detailed statistics should be collected. -->
  <param name="GlobalCacheDetailedStats" value="false"/>

  <!-- Time (in minutes) since last use before cached items are considered eligible for reaping. This can be thought of as the period during which an entity is most likely to be re-used. -->
  <param name="GlobalCacheReapingTimeMinutes" value="15"/>

  <!-- The percentage of the heap to allocate to the global cache. -->
  <param name="GlobalCacheSizePercent" value="15"/>

  <!-- Time (in minutes) since last write before cached items are considered stale and eligible for reaping. -->
  <param name="GlobalCacheStaleTimeMinutes" value="60"/>

  <!-- This parameter denotes the period of time (in days), in addition to today,
     for how long statistics are preserved for historical comparison. -->
  <param name="GlobalCacheStatsRetentionPeriodDays" value="7"/>

  <!-- Period of time (in minutes) to preserve statistics for global cache -->
  <param name="GlobalCacheStatsWindowMinutes" value="30"/>

  <!-- The time between refreshes of the group cache, in seconds -->
  <param name="GroupCacheRefreshIntervalSecs" value="600"/>

  <!-- If true, the help text for an input will be displayed when the input gets the focus -->
  <param name="InputHelpTextOnFocus" value="true"/>

  <!-- If true, the help text for an input will be displayed when the user moves mouse over the input -->
  <param name="InputHelpTextOnMouseOver" value="true"/>

  <!-- Whether or not to process contact auto sync at the time of receiving the notification -->
  <param name="InstantaneousContactAutoSync" value="false"/>

  <!-- The number of days to keep instrumentation information for a distributed worker instance before they can be deleted -->
  <param name="InstrumentedWorkerInfoPurgeDaysOld" value="45"/>

  <!-- Coordinator node sends a heartbeat each interval. Other nodes reset JGroups channel if they do not receive the heartbeat from their coordinator
  for several intervals. This helps to solve the potential problem of nodes which could not join the cluster after a major network failure. -->
  <param name="JGroupsWatchdogHeartbeatIntervalSecs" value="30"/>

  <!-- The number of missed heartbeats after which a node resets its JGroups channel. -->
  <param name="JGroupsWatchdogMissedHeartbeatsBeforeReset" value="10"/>

  <!-- Date validation parameters: Max allowed date -->
  <param name="MaxAllowedDate" value="2200-12-31"/>
  <!-- Min allowed date -->
  <param name="MinAllowedDate" value="1800-01-01"/>

  <!-- The maximum allowable file size (in megabytes) which may be uploaded. Any attempt to upload a file larger than this will fail. Since the uploaded document must be handled on the server, this parameter protects the server from possible memory consumption problems. -->
  <param name="MaximumFileUploadSize" value="20"/>

  <!-- OSGi plugins startup timeout -->
  <param name="PluginStartupTimeout" value="60"/>

  <!-- Path to FOP user configuration -->
  <param name="PrintFOPUserConfigFile" value=""/>

  <!-- Name of font to use for output -->
  <param name="PrintFontFamilyName" value="sans-serif"/>

  <!-- Font size of normal print text -->
  <param name="PrintFontSize" value="10pt"/>

  <!-- Font size of headers in print text -->
  <param name="PrintHeaderFontSize" value="16pt"/>

  <!-- Total size of a line of print text -->
  <param name="PrintLineHeight" value="14pt"/>

  <!-- When printing a list with elements, the list will be split into blocks of this size,
    with a title page introducing each block of elements. Large block sizes consume more memory
  during printing - for example a block size of several thousand could cause an out of memory error -->
  <param name="PrintListViewBlockSize" value="20"/>

  <!-- When printing a list nested inside a detail view, the list will be truncated to this size.
       Nested lists cause the PDF generator to consume a lot of memory so this parameter is used to
       prevent long nested lists from causing memory problems -->
  <param name="PrintMaxNestedListViewSize" value="100"/>

  <!-- Font size of text within a list view -->
  <param name="PrintListViewFontSize" value="10pt"/>

  <!-- Bottom margin size of print page -->
  <param name="PrintMarginBottom" value="0.5in"/>

  <!-- Left margin size of print page -->
  <param name="PrintMarginLeft" value="1in"/>

  <!-- Right margin size of print page -->
  <param name="PrintMarginRight" value="1in"/>

  <!-- Top margin size of print page -->
  <param name="PrintMarginTop" value="0.5in"/>

  <!-- When printing to PDF, BillingCenter first creates an intermediate XML file as input to a PDF generator.
    If the input is very large the PDF generator may run out of memory. Setting this parameter to a non negative
    value caps the size of the XML input file; if a user attempts to print something that violates this cap they
    will get an error. The cap value is in MB -->
  <param name="PrintMaxPDFInputFileSize" value="-1"/>

  <!-- Total print height of page -->
  <param name="PrintPageHeight" value="8.5in"/>

  <!-- Total print width of page -->
  <param name="PrintPageWidth" value="11in"/>

  <!-- The number of days to keep profiler data before they can be deleted -->
  <param name="ProfilerDataPurgeDaysOld" value="30"/>

  <!-- The maximum number of results to be returned by a proximity search when           -->
  <!--     using a fixed radius (n miles/km).  This is ignored for Ordinal (nearest-n)    -->
  <!--     searches.                                                                     -->
  <!-- This can be overriden in the UI or APIs by setting                                -->
  <!--     ProximitySearchParameters.RadiusSearchMaxResults                              -->
  <param name="ProximityRadiusSearchDefaultMaxResultCount" value="1000"/>

  <!-- The maximum distance allowed when performing a proximity search for the nearest-n contacts/users.      -->
  <!--     This value is treated as miles by default, but will be treated as kilometers if the system default -->
  <!--     unit of distance (as controlled by UseMetricDistancesByDefault) is set to true.                    -->
  <!-- NOTE THAT IF THIS PARAMETER DIFFERS BETWEEN ContactManager AND PolicyCenter, SOME -->
  <!--      DISTANCES-RELATED MESSAGES MAY BE DISPLAYED INCORRECTLY.                    -->
  <!-- NOTE THAT THIS PARAMETER HAS NO EFFECT ON EITHER RADIUS ("n miles") SEARCHES OR  -->
  <!--      "WALKING THE GROUP TREE" BASED PROXIMITY ASSIGNMENT                         -->
  <param name="ProximitySearchOrdinalMaxDistance" value="1000"/>

  <!-- By default, applications will use miles/US distances for driving distance/directions;  -->
  <!--     if set to true, applications will use kilometers/metric distances.                 -->
  <!-- NOTE THAT IF THIS PARAMETER DIFFERS BETWEEN ContactManager AND PolicyCenter, SOME       -->
  <!-- DISTANCES-RELATED MESSAGES MAY BE DISPLAYED INCORRECTLY.                               -->
  <param name="UseMetricDistancesByDefault" value="false"/>

  <!-- The keyboard shortcut to activate the QuickJump box -->
  <param name="QuickJumpShortcut" value="/"/>

  <!-- Whether or not contact potential match screens should restrict match results to items that the user
     has permission to view. -->
  <param name="RestrictContactPotentialMatchToPermittedItems" value="true"/>

  <!-- Whether or not search screens should restrict search results to items that the user has permission to view. -->
  <param name="RestrictSearchesToPermittedItems" value="true"/>

  <!-- Whether debug info is retained in a production server to enable debugging. Otherwise no debug info is available and,
    since a production server does not recompile types, debug info cannot be regenerated. -->
  <param name="RetainDebugInfo" value="false"/>

  <!-- The time between refreshes of the script parameter info cache, in seconds -->
  <param name="ScriptParametersRefreshIntervalSecs" value="600"/>

  <!-- Old external TransactionIds are purged when then have been there for this number of days -->
  <param name="TransactionIdPurgeDaysOld" value="30"/>

  <!-- Time in seconds that a treeview state will be cached. -->
  <param name="TreeViewRefresh" value="120"/>

  <!-- The threshold year value for determining whether to resolve a two-digit year to the earlier or later century -->
  <param name="TwoDigitYearThreshold" value="50"/>

  <!-- Name of the UI skin to use -->
  <param name="UISkin" value="Titanium"/>

  <!-- Whether or not the Gosu compiler generates errors if it detects unreachable code or missing return statements. -->
  <param name="UnreachableCodeDetection" value="true"/>

  <!-- Enable Geocoding UI on Address Book Pages. -->
  <param name="UseGeocodingInAddressBook" value="false"/>

  <!-- Enable Geocoding UI on local BC Pages. -->
  <param name="UseGeocodingInPrimaryApp" value="false"/>

  <!-- Whether to use the old-style pre-update framework or only to use the new gosu class framework.
    If true, the  PreUpdate plugin class will be called and then the validation graph will be used to determine what beans should have their pre-update rules run.
    If false, only the PreUpdate plugin class will be invoked.

    Setting this parameter to true is deprecated in PolicyCenter.-->
  <param name="UseOldStylePreUpdate" value="true"/>

  <!-- Whether or not the Gosu compiler generates warnings if an implicit coercion is occuring in a program. -->
  <param name="WarnOnImplicitCoercion" value="true"/>

  <!-- The location of the web resources directory under the root of the tomcat config directory -->
  <param name="WebResourcesDir" value="resources"/>

  <!-- The shortcut for the Next button in the WizardButtons. -->
  <!-- <param name="WizardNextShortcut" value=""/>-->

  <!-- The shortcut for the Previous button in the WizardButtons. -->
  <!-- <param name="WizardPrevShortcut" value=""/>-->

  <!-- Wizard Next/Prev buttons visibility -->
  <param name="WizardPrevNextButtonsVisible" value="false"/>

  <!-- The maximum number of threads in the work queue thread pool.
       Must be greater or equal to WorkQueueThreadPoolMinSize. All threads which are not core threads
       are additional on-demand threads which and are terminated if idle after the timeout.  Default is 50. -->
  <param name="WorkQueueThreadPoolMaxSize" value="50"/>

  <!-- The minimum number of threads in the work queue thread pool (i.e. core threads). Default is 0. -->
  <param name="WorkQueueThreadPoolMinSize" value="0"/>

  <!-- Keep alive timeout (in seconds) for additional on-demand threads in the work queue thread pool.
       An additional on-demand thread is terminated if it is idle for more than this time. -->
  <param name="WorkQueueThreadsKeepAliveTime" value="60"/>

  <!-- The maximum number of workitems a workqueue writer should create per transaction -->
  <param name="WorkItemCreationBatchSize" value="100"/>

  <!-- The maximum number of times a workitem will be retried before being marked as failed -->
  <param name="WorkItemRetryLimit" value="3"/>

  <!-- The number of seconds a work item gets advantage for each priority unit -->
  <param name="WorkItemPriorityMultiplierSecs" value="600"/>

  <!-- The number of days to keep workflow logs before they can be deleted -->
  <param name="WorkflowLogPurgeDaysOld" value="30"/>

  <!-- The number of days to keep workflow information before they can be deleted -->
  <param name="WorkflowPurgeDaysOld" value="60"/>

  <!-- The maximum number of ProcessHistory entries to consider when producing the the Work Queue History download  -->
  <param name="WorkQueueHistoryMaxDownload" value="10000"/>

  <!-- Whether debugging messages should be turned on for workflow logging . -->
  <param name="WorkflowLogDebug" value="false"/>

  <!-- Aggregation interval in minutes for workflow timing statistics.  Mean, std dev., etc statistics for time spent executing workflow steps will be reported at this interval.  Use 0 to disable stat recording. -->
  <param name="WorkflowStatsIntervalMins" value="60"/>

  <!-- The time between refreshes of the zone cache, in seconds -->
  <param name="ZoneCacheRefreshIntervalSecs" value="86400"/>


</config>
