<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- Wizard flow that should guide the user through the process of reversing a transaction -->
  <Wizard
    beforeCommit="reversal.reverse()"
    canVisit="perm.Transaction.revtxn"
    cancelWarning="displaykey.Web.NewChargeReversalWizard.CancelConfirmation"
    countsAsWork="false"
    id="AccountNewChargeReversalWizard">
    <LocationEntryPoint
      signature="AccountNewChargeReversalWizard(account : Account)"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      initialValue="new ChargeReversal()"
      name="reversal"
      type="ChargeReversal"/>
    <!-- Specify the steps of the New Reversal Wizard -->
    <WizardStep
      allowNext="reversal.Charge != null"
      id="Step1"
      label="displaykey.Web.NewChargeReversalWizard.ChargeSearch.Label"
      onExit="reversal.initiateApprovalActivityIfUserLacksAuthority()"
      screen="NewChargeReversalAccountChargesScreen(reversal, account)"
      title="displaykey.Web.NewChargeReversalWizard.ChargeSearch.Title"/>
    <WizardStep
      id="Step2"
      label="displaykey.Web.NewChargeReversalWizard.Confirmation.Label"
      screen="NewChargeReversalConfirmationScreen(reversal)"
      title="displaykey.Web.NewChargeReversalWizard.Confirmation.Title"/>
  </Wizard>
</PCF>