<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="AccountNewNegativeWriteoffWizardTargetStepScreen">
    <Require
      name="account"
      type="Account"/>
    <Require
      name="uiWriteoff"
      type="gw.api.web.accounting.UIWriteOffCreation"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="TransferSourceDV">
      <InputColumn>
        <Input
          boldLabel="true"
          id="SourceAccount"
          label="displaykey.Web.AccountNewWriteoffWizardTargetStepScreen.Account"
          value="uiWriteoff.WriteOff.TAccountOwner"/>
        <InputDivider/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>