<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="NewChargeReversalChargesLV">
    <Require
      name="reversal"
      type="ChargeReversal"/>
    <Require
      name="charges"
      type="ChargeQuery"/>
    <RowIterator
      editable="true"
      elementName="charge"
      id="Charges"
      pageSize="0"
      value="charges">
      <Row>
        <LinkCell
          id="SelectCell"
          label="displaykey.Web.NewChargeReversalChargesLV.Select">
          <Link
            action="reversal.setChargeAndAddToBundle(charge); (CurrentLocation as pcf.api.Wizard).next();"
            id="Select"
            label="displaykey.Web.NewChargeReversalChargesLV.Select"
            styleClass="miniButton"
            visible="charge.canReverse()"/>
        </LinkCell>
        <DateCell
          enableSort="false"
          id="ChargeDate"
          label="displaykey.Web.NewChargeReversalChargesLV.ChargeDate"
          value="charge.ChargeDate"/>
        <Cell
          enableSort="false"
          id="Description"
          label="displaykey.Web.NewChargeReversalChargesLV.Description"
          value="charge"/>
        <Cell
          enableSort="false"
          id="Owner"
          label="displaykey.Web.NewChargeReversalChargesLV.Owner"
          value="charge.getTAccountOwnerTypeAndDisplayName()"/>
        <MonetaryAmountCell
          currency="charge.Currency"
          enableSort="false"
          formatType="currency"
          id="Amount"
          label="displaykey.Web.NewChargeReversalChargesLV.Amount"
          value="charge.Amount"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>