<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="NewFundsTransferReversalConfirmationScreen">
    <Require
      name="transferFundsContext"
      type="gw.transaction.TransferFundsReversalWizardContext"/>
    <Variable
      name="reversalReason"
      type="ReversalReason"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <AlertBar
      id="approvalActivityAlertBar"
      label="displaykey.Web.NewTransferFundsReversal.AuthorityLimitAlertBarText"
      visible="transferFundsContext.approvalRequiredAlertBarVisible()"/>
    <DetailViewPanel>
      <InputColumn>
        <Input
          id="transactionNumber"
          label="displaykey.Web.NewTransferFundsReversal.TransactionNumber"
          value="transferFundsContext.getTransferFundTransaction().TransactionNumber"/>
        <DateInput
          id="transactionDate"
          label="displaykey.Web.NewTransferFundsReversal.Date"
          value="transferFundsContext.getTransferFundTransaction().TransactionDate"/>
        <Input
          id="source"
          label="displaykey.Web.NewTransferFundsReversal.Source"
          value="transferFundsContext.getSourceName()"/>
        <Input
          id="destination"
          label="displaykey.Web.NewTransferFundsReversal.Destination"
          value="transferFundsContext.getDestinationName()"/>
        <MonetaryAmountInput
          currency="transferFundsContext.getTransferFundTransaction().Currency"
          id="amount"
          label="displaykey.Web.NewTransferFundsReversal.Amount"
          value="transferFundsContext.getTransferFundTransaction().Amount"/>
        <TypeKeyInput
          editable="true"
          id="reason"
          label="displaykey.Web.NewTransferFundsReversal.Reason"
          required="true"
          value="reversalReason">
          <PostOnChange
            onChange="transferFundsContext.setReversalReason( reversalReason )"/>
        </TypeKeyInput>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>