<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="NewNegativeWriteoffWizardAccountSelectStepScreen">
    <Require
      name="tAccountOwnerReference"
      type="web.accounting.TAccountOwnerReference"/>
    <SearchPanel
      criteriaName="searchCriteria"
      resultsName="accountSearchViews"
      search="gw.search.SearchMethods.validateAndSearch(searchCriteria, StringCriterionMode.TC_STARTSWITH)"
      searchCriteria="new gw.search.AccountSearchCriteria()"
      searchResultsType="AccountSearchViewQuery">
      <PanelRef
        def="AccountSearchDV(searchCriteria)">
        <Toolbar/>
      </PanelRef>
      <!-- isWizard = true: we're within a wizard flow
               showHyperlinks = false: don't show the account numbers as links -->
      <PanelRef
        def="AccountSearchResultsLV(accountSearchViews, tAccountOwnerReference, true, false, false)">
        <Toolbar/>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>