<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="NewWriteoffReversalWriteoffsLV">
    <Require
      name="reversal"
      type="WriteoffReversal"/>
    <Require
      name="writeOffs"
      type="WriteoffQuery"/>
    <RowIterator
      editable="true"
      elementName="writeOff"
      id="Writeoffs"
      pageSize="0"
      value="writeOffs">
      <Row>
        <LinkCell
          id="SelectCell"
          label="displaykey.Web.NewWriteoffReversalWriteoffsLV.Select">
          <Link
            action="reversal.setWriteoffAndAddToBundle(writeOff); (CurrentLocation as pcf.api.Wizard).next();"
            id="Select"
            label="displaykey.Web.NewWriteoffReversalWriteoffsLV.Select"
            styleClass="miniButton"
            visible="writeOff.canReverse()"/>
        </LinkCell>
        <DateCell
          enableSort="false"
          id="WriteoffDate"
          label="displaykey.Web.NewWriteoffReversalWriteoffsLV.WriteoffDate"
          value="writeOff.CreateTime"/>
        <Cell
          enableSort="false"
          id="Description"
          label="displaykey.Web.NewWriteoffReversalWriteoffsLV.Description"
          value="writeOff"/>
        <Cell
          enableSort="false"
          id="Owner"
          label="displaykey.Web.NewWriteoffReversalWriteoffsLV.Owner"
          value="writeOff.getTAccountOwnerTypeAndDisplayName()"/>
        <MonetaryAmountCell
          currency="writeOff.Currency"
          enableSort="false"
          formatType="currency"
          id="Amount"
          label="displaykey.Web.NewWriteoffReversalWriteoffsLV.Amount"
          value="writeOff.Amount"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>