<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="NewWriteoffReversalWriteoffSearchScreen">
    <Require
      name="reversal"
      type="WriteoffReversal"/>
    <Require
      name="account"
      type="Account"/>
    <Variable
      initialValue="account == null"
      name="accountEditable"
      type="Boolean"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <CardViewPanel>
      <Card
        id="Writeoff"
        title="displaykey.Web.NewWriteoffReversalWriteoffSearchScreen.WriteoffCard">
        <SearchPanel
          criteriaName="searchCriteria"
          resultsName="writeOffs"
          search="gw.search.SearchMethods.validateAndSearch(searchCriteria)"
          searchCriteria="initializeSearchCriteria()"
          searchResultsType="WriteoffQuery">
          <PanelRef
            def="WriteoffSearchDV(searchCriteria, accountEditable)">
            <Toolbar/>
          </PanelRef>
          <PanelRef
            def="NewWriteoffReversalWriteoffsLV(reversal, writeOffs)"/>
        </SearchPanel>
      </Card>
    </CardViewPanel>
    <Code><![CDATA[function initializeSearchCriteria() : WriteoffSearchCriteria {
  var criteria = new WriteoffSearchCriteria();

  if (!accountEditable) {
    criteria.Account = account;
    criteria.Currency = account.Currency;
  }

  return criteria;
}
]]></Code>
  </Screen>
</PCF>