<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- This screen is a step in the New Transfer wizard, where the user will enter details of the transfer -->
  <Screen
    id="TransferDetailsScreen">
    <Require
      name="fundsTransferUtil"
      type="gw.api.web.transaction.FundsTransferUtil"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <PanelRef
      def="TransferDetailsDV(fundsTransferUtil, true)"/>
  </Screen>
</PCF>