<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="GroupDetailDV">
    <Require
      name="Group"
      type="Group"/>
    <Variable
      initialValue="gw.api.database.Query.make(SecurityZone).select()"
      name="allSecurityZones"
      type="SecurityZoneQuery"/>
    <InputColumn>
      <Input
        editable="true"
        hideIfReadOnly="true"
        id="Name"
        label="(gw.api.util.LocaleUtil.CurrentLocaleType == LocaleType.TC_JA_JP) ? displaykey.Web.Admin.GroupDetail.BasicDV.NamePhonetic : displaykey.Web.Admin.GroupDetail.BasicDV.Name"
        required="true"
        value="Group.Name"/>
      <Input
        editable="true"
        hideIfReadOnly="true"
        id="NameKanji"
        label="displaykey.Web.Admin.GroupDetail.BasicDV.Name"
        required="false"
        value="Group.NameKanji"
        visible="gw.api.util.LocaleUtil.CurrentLocaleType == LocaleType.TC_JA_JP"/>
      <GroupInput
        action="GroupDetailPage.push(Group.Parent)"
        editable="true"
        id="Parent"
        label="displaykey.Web.Admin.GroupDetail.BasicDV.Parent"
        required="false"
        value="Group.Parent"/>
      <UserInput
        action="UserDetailPage.go(Group.Supervisor)"
        editable="true"
        id="Supervisor"
        label="displaykey.Web.Admin.GroupDetail.BasicDV.Supervisor"
        required="true"
        value="Group.Supervisor"/>
      <RangeInput
        action="SecurityZoneDetail.go(Group.SecurityZone)"
        editable="true"
        id="SecurityZone"
        label="displaykey.Web.Admin.GroupDetail.BasicDV.SecurityZone"
        required="true"
        value="Group.SecurityZone"
        valueRange="allSecurityZones"/>
      <ListViewInput
        def="GroupUsersLV(Group)"
        editable="true"
        label="displaykey.Web.Admin.GroupDetail.BasicDV.Users">
        <Toolbar>
          <IteratorButtons
            iterator="GroupUsersLV.GroupUsersLV"/>
          <CheckedValuesToolbarButton
            checkedRowAction="CheckedValue.User.BackupUser = null"
            hideIfReadOnly="true"
            id="GroupDetailDV_ClearBackupUserButton"
            iterator="GroupUsersLV.GroupUsersLV"
            label="displaykey.Java.Admin.GroupUsers.ClearBackupUser"
            visible="!Group.New"/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>