<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="GroupUsersLV">
    <ExposeIterator
      valueType="entity.GroupUser"
      widget="GroupUsersLV"/>
    <Require
      name="Group"
      type="Group"/>
    <RowIterator
      editable="true"
      elementName="GroupUser"
      toAdd="Group.addToUsers(GroupUser)"
      toRemove="Group.removeFromUsers(GroupUser)"
      value="Group.Users">
      <Row>
        <PickerCell
          editable="true"
          id="User"
          label="displaykey.LV.Admin.EditableGroupUserList.GroupUsers.User"
          pickLocation="UserSearchPopup.push()"
          required="true"
          sortOrder="1"
          unique="true"
          value="GroupUser.User"/>
        <TypeKeyCell
          editable="true"
          id="VacationStatus"
          label="displaykey.LV.Admin.EditableGroupUserList.VacationStatus"
          value="GroupUser.User.VacationStatus"/>
        <PickerCell
          editable="true"
          id="BackupUser"
          label="displaykey.LV.Admin.EditableGroupUserList.BackupUser"
          pickLocation="UserSearchPopup.push()"
          value="GroupUser.User.BackupUser"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>