<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="AccountingConfig"
    title="displaykey.Web.InternalTools.AccountingConfig">
    <LocationEntryPoint
      signature="AccountingConfig()"/>
    <Variable
      initialValue="new web.accounting.AccountingConfigUtil()"
      name="accountingConfigUtil"/>
    <Screen
      id="AccountingConfigScreen">
      <CardViewPanel
        id="AccountingConfigCV">
        <Card
          id="TAccountsCard"
          title="displaykey.Web.InternalTools.AccountingConfig.TAccounts">
          <ListViewPanel
            id="TAccountsLV">
            <RowIterator
              editable="false"
              elementName="tAccountPattern"
              pageSize="0"
              value="accountingConfigUtil.getAllTAccountPatterns()">
              <Row>
                <Cell
                  id="TAccountOwner"
                  label="displaykey.Web.InternalTools.AccountingConfig.TAccountsLV.TAccountOwner"
                  sortOrder="1"
                  value="tAccountPattern.TAccountOwnerPattern.TAccountOwner"/>
                <Cell
                  id="TAccountName"
                  label="displaykey.Web.InternalTools.AccountingConfig.TAccountsLV.Name"
                  sortOrder="3"
                  value="tAccountPattern"/>
                <TypeKeyCell
                  id="TAccountType"
                  label="displaykey.Web.InternalTools.AccountingConfig.TAccountsLV.Type"
                  sortOrder="2"
                  value="tAccountPattern.TAccountType"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </Card>
        <Card
          id="TransactionsCard"
          title="displaykey.Web.InternalTools.AccountingConfig.Transactions">
          <ListViewPanel
            id="TransactionsLV">
            <RowIterator
              editable="false"
              elementName="transactionInfo"
              pageSize="0"
              value="accountingConfigUtil.getAllTransactionInfos()">
              <Row>
                <Cell
                  id="Name"
                  label="displaykey.Web.InternalTools.AccountingConfig.TransactionsLV.Name"
                  sortOrder="1"
                  value="transactionInfo.Name"/>
                <Cell
                  id="Description"
                  label="displaykey.Web.InternalTools.AccountingConfig.TransactionsLV.Description"
                  value="transactionInfo.Desc"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </Card>
        <Card
          id="ChargesCard"
          title="displaykey.Web.InternalTools.AccountingConfig.Charges">
          <ListViewPanel
            id="ChargesLV">
            <RowIterator
              editable="false"
              elementName="chargePattern"
              pageSize="0"
              value="accountingConfigUtil.getAllChargePatterns()">
              <Row>
                <Cell
                  id="ChargeName"
                  label="displaykey.Web.InternalTools.AccountingConfig.ChargesLV.Name"
                  sortOrder="1"
                  value="chargePattern.ChargeName"/>
                <Cell
                  enableSort="false"
                  id="TAccount"
                  label="displaykey.Web.InternalTools.AccountingConfig.ChargesLV.TAccount"
                  value="accountingConfigUtil.getFirstTAccountOwnerTAccount(chargePattern)"/>
              </Row>
              <!-- Subrows represent the subsequent taccounts and transactions in the ChargePattern -->
              <RowIterator
                editable="false"
                elementName="TAccountTransactionName"
                id="OtherTAccountsAndTransctionNames"
                pageSize="0"
                value="accountingConfigUtil.getLastTAccountOwnerTAccounts(chargePattern)">
                <Row>
                  <Cell
                    id="ChargeName"
                    value="null"/>
                  <Cell
                    id="TAccount"
                    value="TAccountTransactionName"/>
                </Row>
              </RowIterator>
            </RowIterator>
          </ListViewPanel>
        </Card>
      </CardViewPanel>
      <PanelRef
        def="UnsupportedToolsDisclaimerDV()"/>
    </Screen>
  </Page>
</PCF>