<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Page
    canEdit="true"
    countsAsWork="false"
    id="CommissionDrilldown"
    parent="ServerTools()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.CommissionDrilldown">
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="PolicyRole.TC_PRIMARY"
      name="role"
      type="PolicyRole"/>
    <Variable
      initialValue="new gw.api.domain.commission.PolicyCommissionTreePage(policyPeriod, role)"
      name="drilldownPage"
      recalculateOnRefresh="true"
      type="gw.api.domain.commission.PolicyCommissionTreePage"/>
    <Variable
      initialValue="new web.policy.PolicySearchConverter()"
      name="policySearchConverter"
      type="web.policy.PolicySearchConverter"/>
    <Screen
      editable="true"
      id="PolicyDetailCommissionsScreen">
      <Toolbar/>
      <DetailViewPanel
        editable="true">
        <InputColumn>
          <PickerInput
            editable="true"
            id="PolicyPeriod"
            inputConversion="policySearchConverter.getPolicyPeriod(VALUE)"
            label="displaykey.Web.InternalTools.CommissionDrilldown.PolicyPeriod"
            onPick="drilldownPage.refresh(policyPeriod, role)"
            pickLocation="PolicySearchPopup.push()"
            value="policyPeriod">
            <PostOnChange
              onChange="drilldownPage.refresh(policyPeriod, role)"
              target="DATA_ONLY"/>
          </PickerInput>
          <TypeKeyInput
            editable="true"
            id="Role"
            label="displaykey.Web.InternalTools.CommissionDrilldown.Role"
            value="role">
            <PostOnChange
              onChange="drilldownPage.refresh(policyPeriod, role)"
              target="DATA_ONLY"/>
          </TypeKeyInput>
        </InputColumn>
      </DetailViewPanel>
      <ListViewPanel
        editable="false"
        id="PolicyCommissionTreeLV">
        <RowTree
          contentType="gw.api.domain.commission.CommissionDrilldownRow"
          elementName="row"
          value="drilldownPage.PolicyCommissionTree">
          <Row
            editable="false">
            <Cell
              id="Name"
              label="displaykey.Web.InternalTools.CommissionDrilldown.Name"
              value="row.Name"
              width="300"/>
            <Cell
              align="right"
              formatType="currency"
              id="CommissionableGross"
              label="displaykey.Web.InternalTools.CommissionDrilldown.CommissionableGross"
              value="row.CommissionableGross"
              width="150"/>
            <Cell
              icon="row.Active ? &quot;profiler_green.png&quot; : &quot;profiler_gray.png&quot;"
              id="Active"
              label="displaykey.Web.InternalTools.CommissionDrilldown.Active"
              showHeaderIcon="false"
              value="true"
              width="50"/>
            <Cell
              align="right"
              formatType="currency"
              id="Reserve"
              label="displaykey.Web.InternalTools.CommissionDrilldown.Reserve"
              value="row.Reserve"
              width="80"/>
            <Cell
              align="right"
              formatType="currency"
              id="Earned"
              label="displaykey.Web.InternalTools.CommissionDrilldown.Earned"
              value="row.Earned"
              width="80"/>
            <Cell
              align="right"
              formatType="currency"
              id="Paid"
              label="displaykey.Web.InternalTools.CommissionDrilldown.Paid"
              value="row.Paid"
              width="80"/>
            <Cell
              align="right"
              formatType="currency"
              id="WrittenOff"
              label="displaykey.Web.InternalTools.CommissionDrilldown.WrittenOff"
              value="row.WrittenOff"
              width="80"/>
            <Cell
              align="right"
              formatType="currency"
              id="Total"
              label="displaykey.Web.InternalTools.CommissionDrilldown.Total"
              value="row.Total"
              width="80"/>
            <TextCell
              format="displaykey.Web.AgencyBill.CommissionPercentFormat"
              id="Rate"
              label="displaykey.Web.InternalTools.CommissionDrilldown.Rate"
              value="row.Rate"
              width="80"/>
          </Row>
        </RowTree>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>