<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <EntryPoint
    id="PolicyPeriodEntry"
    location="PolicyPeriodForward(policyNumber, termNumber)">
    <EntryPointParameter
      locationParam="policyNumber"
      type="String"/>
    <EntryPointParameter
      locationParam="termNumber"
      type="int"/>
  </EntryPoint>
</PCF>