<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    autosaveable="true"
    canEdit="perm.System.agencybillplanedit"
    countsAsWork="true"
    id="AgencyBillPlanDetailPopup"
    startInEditMode="false"
    title="displaykey.Web.AgencyBillPlanDetail.Title(agencyBillPlan.Name)"
    validateOnBundleCommit="true">
    <LocationEntryPoint
      signature="AgencyBillPlanDetailPopup(agencyBillPlan : AgencyBillPlan)"/>
    <Variable
      name="agencyBillPlan"
      recalculateOnRefresh="false"
      type="AgencyBillPlan"/>
    <ScreenRef
      def="AgencyBillPlanDetailScreen(agencyBillPlan)"/>
  </Popup>
</PCF>