<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.System.agencybillplanedit &amp;&amp; not agencyBillPlan.InUse"
    id="AgencyBillPlanDetail"
    parent="AgencyBillPlans()"
    showUpLink="true"
    title="displaykey.Web.AgencyBillPlanDetail.Title(agencyBillPlan.Name)">
    <LocationEntryPoint
      signature="AgencyBillPlanDetail(agencyBillPlan : AgencyBillPlan)"/>
    <Variable
      name="agencyBillPlan"
      type="AgencyBillPlan"/>
    <ScreenRef
      def="AgencyBillPlanDetailScreen(agencyBillPlan)"/>
  </Page>
</PCF>