<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- LocationGroup for the "Admin" tab pages -->
  <LocationGroup
    id="Admin"
    infoBar="CurrentDateInfoBar()"
    menuActions="AdminMenuActions()"
    title="displaykey.Web.Admin.Title">
    <LocationEntryPoint
      signature="Admin()"/>
    <LocationRef
      location="UsersAndSecurity()"/>
    <LocationRef
      location="BusinessSettings()"/>
    <LocationRef
      location="Monitoring()"/>
    <LocationRef
      location="Utilities()"/>
  </LocationGroup>
</PCF>
