<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="NoPermissionsPage"
    parent="Admin()"
    title="displaykey.Web.NoPermissionsPage.Title">
    <LocationEntryPoint
      signature="NoPermissionsPage()"/>
    <Screen
      id="NoPermissionsScreen">
      <DetailViewPanel
        id="NoPermissionsPageDV">
        <InputColumn>
          <Label
            label="displaykey.Web.NoPermissionsPage.Text"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>