<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="perm.Account.collateralreqedit"
    canVisit="perm.System.accttabview and perm.System.acctcollview and !account.isListBill()"
    id="AccountCollateral"
    title="displaykey.Web.AccountCollateralMenuItem.Title">
    <LocationEntryPoint
      signature="AccountCollateral(account : Account)"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      initialValue="account.Collateral"
      name="collateral"
      type="Collateral"/>
    <Variable
      initialValue="new web.account.CollateralUtil()"
      name="collateralUtil"/>
    <Screen
      editable="false"
      id="AccountCollateralScreen">
      <DetailViewPanel
        editable="false"
        id="AccountCollateralDV">
        <InputColumn
          id="generalInformation">
          <Label
            label="displaykey.Web.AccountCollateral.General"/>
          <MonetaryAmountInput
            currency="account.Currency"
            formatType="currency"
            id="totalRequirement"
            label="displaykey.Web.AccountCollateral.TotalRequirement"
            value="collateral.TotalRequirementValue"/>
          <TypeKeyInput
            id="compliant"
            label="displaykey.Web.AccountCollateral.Status"
            value="collateral.Compliance"/>
          <MonetaryAmountInput
            currency="account.Currency"
            formatType="currency"
            id="trueExcess"
            label="displaykey.Web.AccountCollateral.TotalExcess"
            value="collateral.TrueExcess"/>
        </InputColumn>
        <InputColumn
          id="balancesInformation">
          <Label
            label="displaykey.Web.AccountCollateral.Balances"/>
          <MonetaryAmountInput
            currency="account.Currency"
            formatType="currency"
            id="cashBalance"
            label="displaykey.Web.AccountCollateral.CashHeld"
            value="collateralUtil.getTotalCashHeld(collateral)"/>
          <MonetaryAmountInput
            currency="account.Currency"
            formatType="currency"
            id="requirementsCashHeld"
            label="displaykey.Web.AccountCollateral.RequirementsCashHeld"
            value="collateral.TotalCashValueAtRequirements"/>
          <MonetaryAmountInput
            currency="account.Currency"
            formatType="currency"
            id="locBalance"
            label="displaykey.Web.AccountCollateral.LettersOfCredit"
            value="collateral.TotalLOCValue"/>
          <MonetaryAmountInput
            boldLabel="true"
            currency="account.Currency"
            formatType="currency"
            id="totalBalance"
            label="displaykey.Web.AccountCollateral.TotalHeld"
            value="collateral.TotalCollateralValue"/>
        </InputColumn>
      </DetailViewPanel>
      <CardViewPanel>
        <Card
          id="requirementsCard"
          title="displaykey.Web.AccountCollateral.Requirements">
          <PanelRef>
            <Toolbar>
              <ToolbarButton
                action="AccountNewCollateralRequirementPopup.push(collateral)"
                id="addButton"
                label="displaykey.Web.AccountCollateral.Add"/>
              <CheckedValuesToolbarButton
                checkedRowAction="EditCollateralRequirementPopup.push(CheckedValue.getCollateralRequirement())"
                flags="one Row"
                id="editReqButton"
                iterator="requirementList"
                label="displaykey.Web.AccountCollateral.EditRequirement"
                visible="true"/>
              <CheckedValuesToolbarButton
                available="true"
                checkedRowAction="collateralUtil.closeRequirement(CurrentLocation, CheckedValue)"
                confirmMessage="displaykey.Web.AccountCollateral.CloseConfirm"
                flags="one Row"
                id="closeButton"
                iterator="requirementList"
                label="displaykey.Web.AccountCollateral.CloseRequirement"
                visible="true"/>
              <ToolbarDivider/>
              <CheckedValuesToolbarButton
                checkedRowAction="CollateralRequirementSegregatePopup.push(CheckedValue.getCollateralRequirement())"
                default="true"
                flags="one SegregatableRequirement"
                id="segregateButton"
                iterator="requirementList"
                label="displaykey.Web.AccountCollateral.SegregateAmount"
                visible="true"/>
              <CheckedValuesToolbarButton
                checkedRowAction="CollateralRequirementUnSegregatePopup.push(CheckedValue.getCollateralRequirement())"
                flags="one SegregatableRequirement"
                id="unSegregateButton"
                iterator="requirementList"
                label="displaykey.Web.AccountCollateral.UnSegregateAmount"
                visible="true"/>
            </Toolbar>
            <ListViewPanel
              id="CollateralRequirementsLV">
              <RowIterator
                checkBoxVisible="isStatusOpen(requirement.getCollateralRequirement())"
                editable="false"
                elementName="requirement"
                hasCheckBoxes="true"
                id="requirementList"
                type="gw.api.web.collateral.CollateralViewItem"
                value="collateralUtil.getCollateralRequirementViewItems( collateral )">
                <ToolbarFlag
                  name="Row"/>
                <ToolbarFlag
                  condition="requirement.getCollateralRequirement().Segregated"
                  name="SegregatableRequirement"/>
                <ToolbarFilter
                  name="reqFilter">
                  <ToolbarFilterOption
                    filter="new web.collateral.CollateralRequirementFilters.Open()"/>
                  <ToolbarFilterOption
                    filter="new web.collateral.CollateralRequirementFilters.Closed()"/>
                  <ToolbarFilterOption
                    filter="new web.collateral.CollateralRequirementFilters.All()"/>
                </ToolbarFilter>
                <Row>
                  <Cell
                    footerLabel="displaykey.Web.AccountCollateral.Total"
                    id="nameCell"
                    label="displaykey.Web.AccountCollateral.CollateralName"
                    value="requirement.getName()"/>
                  <TypeKeyCell
                    id="typeCell"
                    label="displaykey.Web.AccountCollateral.Type"
                    value="requirement.getType()"/>
                  <Cell
                    action="PolicyDetailSummary.push(requirement.getPolicyPeriod())"
                    id="policyNumber"
                    label="displaykey.Web.AccountCollateral.PolicyNumber"
                    value="requirement.getPolicyNumber()"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    footerSumValue="requirement.Required"
                    formatType="currency"
                    id="requirementCell"
                    label="displaykey.Web.AccountCollateral.Requirement"
                    value="requirement.getRequired()"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    footerSumValue="requirement.CashAllocated"
                    formatType="currency"
                    id="cashAllocatedCell"
                    label="displaykey.Web.AccountCollateral.Cash"
                    value="requirement.getCashAllocated()"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    footerSumValue="requirement.LOCAllocated"
                    formatType="currency"
                    id="locAllocatedCell"
                    label="displaykey.Web.AccountCollateral.LOCs"
                    value="requirement.LOCAllocated"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    footerSumValue="requirement.getTotalRequirementHeld()"
                    formatType="currency"
                    id="totalHeldCell"
                    label="displaykey.Web.AccountCollateral.TotalHeld"
                    value="requirement.getTotalRequirementHeld()"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    footerSumValue="requirement.getSurplus()"
                    formatType="currency"
                    id="surplusCell"
                    label="displaykey.Web.AccountCollateral.Surplus"
                    value="requirement.getSurplus()"/>
                  <TypeKeyCell
                    id="reqStatus"
                    label="displaykey.Web.AccountCollateral.RequirementStatus"
                    value="requirement.getStatus()"/>
                  <Cell
                    id="segregatedCell"
                    label="displaykey.Web.AccountCollateral.Segregated"
                    value="requirement.CollateralRequirement.Segregated"
                    valueVisible="requirement.CollateralRequirement.Segregated"/>
                  <DateCell
                    id="effectiveDate"
                    label="displaykey.Web.AccountCollateral.EffectiveDate"
                    value="requirement.EffectiveDate"/>
                  <DateCell
                    id="expirationDate"
                    label="displaykey.Web.AccountCollateral.ExpirationDate"
                    value="requirement.ExpirationDate"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="cashHeldCard"
          title="displaykey.Web.AccountCollateral.CashHeld">
          <PanelRef>
            <Toolbar>
              <ToolbarButton
                action="CollateralManualDrawdownWizard.push(collateral)"
                id="drawdownButton"
                label="displaykey.Web.CashHeldLV.Drawdown"
                visible="perm.Account.collateraldrawdown and collateralUtil.getTotalCashHeld( collateral ).IsPositive"/>
              <ToolbarButton
                action="CollateralDisbursementWizard.push(collateral)"
                id="disbursementButton"
                label="displaykey.Web.CashHeldLV.Disbursement"
                visible="perm.Account.collateraldisburse and collateralUtil.getTotalCashHeld( collateral ).IsPositive"/>
            </Toolbar>
            <ListViewPanel
              id="cashHeldLV">
              <RowIterator
                editable="false"
                elementName="LineItem"
                type="LineItem"
                value="collateralUtil.getCashLineItems( collateral )">
                <Row>
                  <DateCell
                    dateFormat="short"
                    footerLabel="displaykey.Web.CashHeldLV.Total"
                    id="TransactionDate"
                    label="displaykey.Web.CashHeldLV.Date"
                    sortOrder="1"
                    timeFormat="long"
                    value="LineItem.Transaction.TransactionDate"/>
                  <Cell
                    action="AccountTransactionDetail.push(account, lineItem.Transaction)"
                    id="transactionNumber"
                    label="displaykey.Web.CashHeldLV.TransactionNumber"
                    value="LineItem.Transaction.TransactionNumber"/>
                  <Cell
                    enableSort="false"
                    id="Description"
                    label="displaykey.Web.CashHeldLV.Description"
                    value="LineItem.Transaction.ShortDisplayName"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    footerSumValue="lineItem.SignedAmount"
                    formatType="currency"
                    id="lineItemAmount"
                    label="displaykey.Web.CashHeldLV.Amount"
                    value="LineItem.SignedAmount"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="LOCCard"
          title="displaykey.Web.AccountCollateral.LettersOfCredit">
          <PanelRef>
            <Toolbar>
              <ToolbarButton
                action="AccountNewLOCPopup.push(collateral)"
                id="addButton"
                label="displaykey.Web.AccountCollateral.AddLOC"/>
              <CheckedValuesToolbarButton
                checkedRowAction="EditLOCPopup.push(CheckedValue)"
                flags="one Row"
                id="editButton"
                iterator="letterOfCreditList"
                label="displaykey.Web.AccountCollateral.EditLOC"/>
              <CheckedValuesToolbarButton
                checkedRowAction="CheckedValue.Status = &quot;removed&quot;"
                confirmMessage="displaykey.Web.AccountCollateral.RemoveConfirm"
                flags="one Row"
                id="removeButton"
                iterator="letterOfCreditList"
                label="displaykey.Web.AccountCollateral.RemoveLOC"/>
            </Toolbar>
            <ListViewPanel
              id="LetterOfCreditLV">
              <RowIterator
                checkBoxVisible="isStatusCurrent(loc)"
                editable="false"
                elementName="loc"
                hasCheckBoxes="true"
                id="letterOfCreditList"
                type="LetterOfCredit"
                value="collateral.LetterOfCredits">
                <ToolbarFlag
                  name="Row"/>
                <ToolbarFilter
                  name="locFilter">
                  <ToolbarFilterOption
                    filter="new web.collateral.LetterOfCreditFilters.Current()"/>
                  <ToolbarFilterOption
                    filter="new web.collateral.LetterOfCreditFilters.Expired()"/>
                  <ToolbarFilterOption
                    filter="new web.collateral.LetterOfCreditFilters.All()"/>
                </ToolbarFilter>
                <Row>
                  <Cell
                    id="idCell"
                    label="displaykey.Web.LetterOfCreditLV.LOCID"
                    value="loc.LOCID"/>
                  <Cell
                    footerLabel="displaykey.Web.LetterOfCreditLV.Total"
                    id="bankNameCell"
                    label="displaykey.Web.LetterOfCreditLV.BankName"
                    value="loc.BankName"/>
                  <DateCell
                    id="GoodThroughCell"
                    label="displaykey.Web.LetterOfCreditLV.GoodThrough"
                    value="loc.ExpirationDate"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    id="amountCell"
                    label="displaykey.Web.LetterOfCreditLV.Amount"
                    value="loc.Amount"/>
                  <TypeKeyCell
                    id="statusCell"
                    label="displaykey.Web.LetterOfCreditLV.Status"
                    value="loc.Status"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="chargedAmountsCard"
          title="displaykey.Web.AccountCollateral.ChargedAmounts">
          <PanelRef>
            <Toolbar>
              <ToolbarButton
                action="NewCollateralChargePopup.push( collateral )"
                id="addCharge"
                label="displaykey.Web.ChargedAmountsLV.AddCharge"/>
            </Toolbar>
            <ListViewPanel
              id="ChargedAmountsLV">
              <RowIterator
                editable="false"
                elementName="chargePatternOwnerPair"
                id="chargesIterator"
                type="com.google.gdata.util.common.base.Pair&lt;ChargePattern, TAccountOwner&gt;"
                value="collateral.ChargePatternsForCollateralAndRequirements">
                <Row>
                  <Cell
                    action="CollateralChargePopup.push(chargePatternOwnerPair, collateralUtil)"
                    footerLabel="displaykey.Web.ChargedAmountsLV.Total"
                    id="chargeInitialTxn"
                    label="displaykey.Web.ChargedAmountsLV.ChargeType"
                    value="chargePatternOwnerPair.First.ChargeName"/>
                  <Cell
                    id="owner"
                    label="displaykey.Web.ChargedAmountsLV.Owner"
                    value="chargePatternOwnerPair.Second"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    footerSumValue="collateralUtil.getUnbilledOnChargePattern(chargePatternOwnerPair)"
                    formatType="currency"
                    id="unbilledCell"
                    label="displaykey.Web.ChargedAmountsLV.Unbilled"
                    value="collateralUtil.getUnbilledOnChargePattern(chargePatternOwnerPair)"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    footerSumValue="collateralUtil.getBilledOnChargePattern(chargePatternOwnerPair)"
                    formatType="currency"
                    id="billedCell"
                    label="displaykey.Web.ChargedAmountsLV.Billed"
                    value="collateralUtil.getBilledOnChargePattern(chargePatternOwnerPair)"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    footerSumValue="collateralUtil.getDueOnChargePattern(chargePatternOwnerPair)"
                    formatType="currency"
                    id="dueCell"
                    label="displaykey.Web.ChargedAmountsLV.Due"
                    value="collateralUtil.getDueOnChargePattern(chargePatternOwnerPair)"/>
                  <MonetaryAmountCell
                    currency="account.Currency"
                    footerSumValue="collateralUtil.getTotalOnChargePattern(chargePatternOwnerPair)"
                    formatType="currency"
                    id="totalCell"
                    label="displaykey.Web.ChargedAmountsLV.Total"
                    value="collateralUtil.getTotalOnChargePattern(chargePatternOwnerPair)"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
    <Code><![CDATA[function isStatusCurrent(loc : LetterOfCredit) : boolean {
       return loc.Status == LetterOfCreditStatus.TC_CURRENT;
      }

      function isStatusOpen(requirement : CollateralRequirement) : boolean {
        if(requirement == null){
          return false 
        }
       return requirement.Compliance != ComplianceStatus.TC_CLOSED;
      }]]></Code>
  </Page>
</PCF>