<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="CollateralManualDrawdownAmountScreen">
    <Require
      name="collateralDrawdown"
      type="gw.api.web.collateral.CollateralDrawdownUtil"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="CollateralManualDrawdownAmountDV">
      <InputColumn>
        <Label
          label="displaykey.Web.CollateralManualDrawdownAmountScreen.DrawdownTo"/>
        <MonetaryAmountInput
          currency="collateralDrawdown.Collateral.Currency"
          formatType="currency"
          id="cashHeld"
          label="displaykey.Web.CollateralManualDrawdownAmountScreen.CashHeld"
          value="collateralDrawdown.getCashAvailable()"/>
        <MonetaryAmountInput
          currency="collateralDrawdown.Collateral.Currency"
          formatType="currency"
          id="disbursementPending"
          label="displaykey.Web.CollateralManualDrawdownAmountScreen.DisbursementPending"
          value="collateralDrawdown.getDisbursementPending()"/>
        <MonetaryAmountInput
          currency="collateralDrawdown.Collateral.Currency"
          formatType="currency"
          id="cash"
          label="displaykey.Web.CollateralManualDrawdownAmountScreen.CashAvailable"
          value="collateralDrawdown.getAmountAvailableForDrawdown()"/>
        <MonetaryAmountInput
          currency="collateralDrawdown.Collateral.Currency"
          editable="true"
          formatType="currency"
          id="drawdownAmount"
          label="displaykey.Web.CollateralManualDrawdownAmountScreen.Amount"
          required="true"
          validationExpression="collateralDrawdown.isAmountValid() ? null : displaykey.Web.CollateralManualDrawdownAmountScreen.AmountWarning"
          value="collateralDrawdown.Amount">
          <PostOnChange
            onChange="collateralDrawdown.calculateShortfall()"/>
        </MonetaryAmountInput>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>