<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="DelinquencyProcess"
    parent="AccountDetailDelinquencies(account)"
    showUpLink="true"
    title="displaykey.Web.DelinquencyProcess.Title">
    <LocationEntryPoint
      signature="DelinquencyProcess(account : Account, delinquencyProcess : DelinquencyProcess)"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      name="delinquencyProcess"
      type="DelinquencyProcess"/>
    <Screen
      id="DelinquencyProcessScreen">
      <Toolbar/>
      <PanelRef
        def="DelinquencyProcessDetailPanelSet(delinquencyProcess)"/>
    </Screen>
  </Page>
</PCF>