<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    editable="false"
    id="DelinquencyProcessActivitiesLV">
    <Require
      name="DelinquencyProcess"
      type="DelinquencyProcess"/>
    <RowIterator
      editable="false"
      elementName="Activity"
      value="DelinquencyProcess.Activities">
      <Row>
        <Cell
          action="ActivityDetailForward.goInWorkspace(Activity);"
          helpText="displaykey.Web.DelinquencyProcessActivitiesLV.DetailsButtonHelpText"
          id="ViewActivityDetails"
          styleClass="miniButton"
          value="displaykey.Web.DelinquencyProcessActivitiesLV.DetailsButton"/>
        <TypeKeyCell
          available="web.admin.ActivityPatternsUtil.getActivityPattern(&quot;approval&quot;) == (Activity.ActivityPattern)"
          id="Status"
          label="displaykey.Web.DelinquencyProcessActivitiesLV.Status"
          sortOrder="1"
          value="Activity.Status"/>
        <DateCell
          id="CreateDate"
          label="displaykey.Web.DelinquencyProcessActivitiesLV.CreateDate"
          sortDirection="descending"
          sortOrder="1"
          value="Activity.CreateTime"/>
        <TypeKeyCell
          id="Type"
          label="displaykey.Web.DelinquencyProcessActivitiesLV.Type"
          value="Activity.Type"/>
        <CheckBoxCell
          id="Approved"
          label="displaykey.Web.DelinquencyProcessActivitiesLV.Approved"
          value="Activity.Approved"/>
        <Cell
          id="Subject"
          label="displaykey.Web.DelinquencyProcessActivitiesLV.Subject"
          value="Activity.Subject"/>
        <Cell
          id="Mandatory"
          label="displaykey.Web.DelinquencyProcessActivitiesLV.Mandatory"
          value="Activity.Mandatory"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>