<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- This is a popup page that displays the details of a delinquency process -->
  <Popup
    canEdit="false"
    id="DelinquencyProcessDetailPopup"
    title="displaykey.Web.DelinquencyProcessDetailPopup.Title">
    <LocationEntryPoint
      signature="DelinquencyProcessDetailPopup(delinquencyProcess : DelinquencyProcess)"/>
    <Variable
      name="delinquencyProcess"
      type="DelinquencyProcess"/>
    <Screen
      id="DelinquencyProcessDetailPopupScreen">
      <Toolbar/>
      <PanelRef
        def="DelinquencyProcessDetailPanelSet(delinquencyProcess)"/>
    </Screen>
  </Popup>
</PCF>