<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="DelinquencyProcessDetailsDV">
    <Require
      name="DelinquencyProcess"
      type="DelinquencyProcess"/>
    <Variable
      initialValue="util.DateUtil.currentDate()"
      name="today"/>
    <Variable
      initialValue="0 &lt; DelinquencyProcess.Workflows.length"
      name="workflowStateVisible"/>
    <InputColumn>
      <Label
        label="displaykey.Web.DelinquencyProcessDetailsDV.DelinquencyDetails"/>
      <Input
        action="pcf.DelinquencyPlanDetail.go(DelinquencyProcess.DelinquencyPlan)"
        id="DelinquencyPlan"
        label="displaykey.Web.DelinquencyProcessDetailsDV.DelinquencyPlan"
        value="DelinquencyProcess.DelinquencyPlan"/>
      <TypeKeyInput
        id="DelinquencyReason"
        label="displaykey.Web.DelinquencyProcessDetailsDV.DelinquencyReason"
        value="DelinquencyProcess.Reason"/>
      <DateInput
        id="StartDate"
        label="displaykey.Web.DelinquencyProcessDetailsDV.StartDate"
        value="DelinquencyProcess.StartDate"/>
      <Input
        id="GracePeriodDays"
        label="displaykey.Web.DelinquencyProcessDetailsDV.GracePeriodDays"
        value="DelinquencyProcess.DelinquencyPlan.GracePeriodDays"/>
      <DateInput
        id="GracePeriodEndDate"
        label="displaykey.Web.DelinquencyProcessDetailsDV.GracePeriodEndDate"
        value="DelinquencyProcess.GracePeriodEndDate"/>
      <TypeKeyInput
        id="Status"
        label="displaykey.Web.DelinquencyProcessDetailsDV.Status"
        value="DelinquencyProcess.Status"/>
      <Label
        label="displaykey.Web.DelinquencyProcessDetailsDV.Workflow"
        visible="workflowStateVisible"/>
      <TypeKeyInput
        id="WorkflowState"
        label="displaykey.Web.DelinquencyProcessDetailsDV.WorkflowState"
        value="DelinquencyProcess.WorkflowState"
        visible="workflowStateVisible"/>
      <Input
        id="CurrentEvent"
        label="displaykey.Web.DelinquencyProcessDetailsDV.CurrentEvent"
        value="DelinquencyProcess.PreviousEvent.EventName.Description"
        visible="workflowStateVisible"/>
      <Input
        id="NextEvent"
        label="displaykey.Web.DelinquencyProcessDetailsDV.NextEvent"
        value="DelinquencyProcess.NextEvent.EventName.Description"
        visible="workflowStateVisible"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.DelinquencyProcessDetailsDV.FinancialInformation"/>
      <MonetaryAmountInput
        align="right"
        currency="DelinquencyProcess.Currency"
        formatType="currency"
        id="AmountPastDue"
        label="displaykey.Web.DelinquencyProcessDetailsDV.AmountPastDue"
        value="DelinquencyProcess.Account.DelinquentAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="DelinquencyProcess.Currency"
        formatType="currency"
        id="TotalBilledAndOutstanding"
        label="displaykey.Web.DelinquencyProcessDetailsDV.TotalBilledAndOutstanding"
        value="DelinquencyProcess.Account.OutstandingAmount"/>
      <MonetaryAmountInput
        align="right"
        currency="DelinquencyProcess.Currency"
        formatType="currency"
        id="TotalUnbilled"
        label="displaykey.Web.DelinquencyProcessDetailsDV.TotalUnbilled"
        value="DelinquencyProcess.Account.UnbilledAmount"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.DelinquencyProcessDetailsDV.LastPayment"/>
      <DateInput
        id="LastPaymentDate"
        label="displaykey.Web.DelinquencyProcessDetailsDV.LastPaymentDate"
        value="DelinquencyProcess.Account.findReceivedPaymentMoneysSortedByReceivedDateDescending().FirstResult.ReceivedDate"/>
      <MonetaryAmountInput
        currency="DelinquencyProcess.Currency"
        id="LastPaymentAmount"
        label="displaykey.Web.DelinquencyProcessDetailsDV.LastPaymentAmount"
        value="DelinquencyProcess.Account.findReceivedPaymentMoneysSortedByReceivedDateDescending().FirstResult.Amount"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.DelinquencyProcessDetailsDV.AccountEvaluation"/>
      <InputSetRef
        def="AccountEvaluationInputSet(delinquencyProcess.Account, DelinquencyProcess)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>