<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="DelinquencyProcessesDetailScreen">
    <Require
      name="target"
      type="gw.api.domain.delinquency.DelinquencyTarget"/>
    <Require
      name="initialDelinquencyProcess"
      type="DelinquencyProcess"/>
    <TitleBar
      title="displaykey.Web.DelinquencyProcessesDetailScreen.Title"/>
    <Toolbar/>
    <ListDetailPanel
      id="DetailPanel"
      selectionName="selectedDelinquencyProcess"
      selectionOnEnter="selectedDelinquencyProcess"
      selectionType="DelinquencyProcess">
      <ListViewPanel
        editable="false"
        id="DelinquencyProcessLV">
        <RowIterator
          editable="false"
          elementName="DelinquencyProcess"
          pageSize="0"
          value="target.getDelinquencyProcesses()">
          <ToolbarFilter
            name="ActiveFilter">
            <ToolbarFilterOptionGroup
              filters="new web.delinquency.DelinquencyProcessFilters().FilterOptions"/>
          </ToolbarFilter>
          <Row>
            <TypeKeyCell
              id="Status"
              label="displaykey.Web.DelinquencyProcessLV.Status"
              value="DelinquencyProcess.Status"/>
            <TypeKeyCell
              id="Reason"
              label="displaykey.Web.DelinquencyProcessLV.DelinquencyReason"
              value="DelinquencyProcess.Reason"/>
            <Cell
              action="DelinquencyTargetDetailsForward.go(DelinquencyProcess.Target)"
              id="DelinquencyTarget"
              label="displaykey.Web.DelinquencyProcessLV.DelinquencyTarget"
              value="DelinquencyProcess.Target"/>
            <DateCell
              id="StartDate"
              label="displaykey.Web.DelinquencyProcessLV.StartDate"
              value="DelinquencyProcess.StartDate"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
      <CardViewPanel>
        <Card
          id="DelinquencyProcessDetailCard"
          title="displaykey.Web.DelinquencyProcessesDetailScreen.Detail">
          <PanelRef
            def="DelinquencyProcessDetailPanelSet(selectedDelinquencyProcess)">
            <Toolbar/>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </Screen>
</PCF>