<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Forward
    id="DelinquencyTargetDetailsForward">
    <LocationEntryPoint
      signature="DelinquencyTargetDetailsForward(target : gw.api.domain.delinquency.DelinquencyTarget)"/>
    <Variable
      name="target"
      type="gw.api.domain.delinquency.DelinquencyTarget"/>
    <ForwardCondition
      action="PolicyDetailSummary.go( target as PolicyPeriod )"
      condition="target typeis PolicyPeriod"/>
    <ForwardCondition
      action="AccountDetailSummary.go( target as Account )"
      condition="target typeis Account"/>
  </Forward>
</PCF>