.#{$prefix}form-textarea{
  margin-left: 0;
}

.ux-timefield{
  //reduce padding and center date label
  input.#{$prefix}form-text{
    padding: 2px 2px 1px 2px;
    text-align: center;
  }
  td.#{$prefix}trigger-cell{
    width: 20px;
  }
  .#{$prefix}form-spinner-up,
  .#{$prefix}form-spinner-down{
    width: 18px !important;
  }
}

.#{$prefix}form-text {
  vertical-align: middle;
}

/**
 *  targeted reset for margin, Chrome adds 2 pixels to the left and right of inputs
 */
input.#{$prefix}form-text {
  margin: 0px;
}



