<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="TransferPolicyConfirmationLV">
    <Require
      name="policyTransfer"
      type="PolicyTransfer"/>
    <RowIterator
      editable="false"
      elementName="policyPeriod"
      value="policyTransfer.PolicyPeriodsToTransfer">
      <Row>
        <Cell
          action="PolicyDetailSummaryPopup.push(policyPeriod)"
          footerLabel="displaykey.Web.TransferPolicyConfirmationLV.Total"
          id="policynumber"
          label="displaykey.Web.TransferPolicyConfirmationLV.PolicyNumber"
          sortBy="policyPeriod.PolicyNumber"
          value="policyPeriod.DisplayName"/>
        <Cell
          id="insured"
          label="displaykey.Web.TransferPolicyConfirmationLV.Insured"
          sortBy="policyPeriod.Policy.Account.AccountName"
          value="policyPeriod.Policy.Account.AccountNameLocalized"/>
        <TypeKeyCell
          id="product"
          label="displaykey.Web.TransferPolicyConfirmationLV.Product"
          value="policyPeriod.Policy.Account.Segment"/>
        <MonetaryAmountCell
          currency="policyPeriod.Currency"
          footerSumValue="policyPeriod.TotalValue"
          formatType="currency"
          id="Premium"
          label="displaykey.Web.TransferPolicyConfirmationLV.Premium"
          value="policyPeriod.TotalValue"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>