<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.System.retpremplanedit"
    id="ReturnPremiumPlanDetail"
    parent="ReturnPremiumPlans()"
    showUpLink="true"
    title="displaykey.Web.ReturnPremiumPlanDetail.Title(returnPremiumPlan.Name)">
    <LocationEntryPoint
      signature="ReturnPremiumPlanDetail(returnPremiumPlan : ReturnPremiumPlan)"/>
    <Variable
      name="returnPremiumPlan"
      type="ReturnPremiumPlan"/>
    <ScreenRef
      def="ReturnPremiumPlanDetailScreen(returnPremiumPlan)"/>
  </Page>
</PCF>