<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="AgencyDistributionWizard_DistributionInfoPanelSet">
    <Require
      name="wizardState"
      type="gw.agencybill.AgencyDistributionWizardHelper"/>
    <PanelRef
      id="DistributionInfo">
      <TitleBar
        id="DistributionInfoHeader"
        title="wizardState.DistributionInfo"
        visible="wizardState.IsNewDistAndNotFromPromise"/>
      <DetailViewPanel
        id="DistributionInfoDV">
        <Variable
          initialValue="wizardState.AgencyCycleDistView.AgencyCycleDist"
          name="agencyCycleDist"/>
        <Variable
          initialValue="agencyCycleDist.BaseMoneyReceived"
          name="money"/>
        <Variable
          initialValue="wizardState.MoneySetup.Producer"
          name="producer"
          type="Producer"/>
        <InputColumn>
          <Label
            id="DistributionInfoHeader"
            label="displaykey.Web.AgencyDistributionWizard.DistributionInfoPanelSet.DistributionInfoDV.DistributionInfoHeader(wizardState.MoneySetup.DistributionTypeName)"/>
          <MonetaryAmountInput
            currency="producer.Currency"
            formatType="currency"
            id="MoneyAmount"
            label="displaykey.Web.AgencyDistributionWizard.DistributionInfoPanelSet.DistributionInfoDV.MoneyAmount(wizardState.MoneySetup.DistributionTypeName)"
            value="money.Amount"
            visible="!wizardState.IsCreditDistribution"/>
          <MonetaryAmountInput
            currency="producer.Currency"
            formatType="currency"
            id="CreditAmount"
            label="displaykey.Web.AgencyDistributionWizard.DistributionInfoPanelSet.DistributionInfoDV.CreditDistribution"
            value="wizardState.CreditAvailableForDistribution"
            visible="wizardState.IsCreditDistribution"/>
          <MonetaryAmountInput
            currency="producer.Currency"
            formatType="currency"
            id="OtherUnapplied"
            label="displaykey.Web.AgencyDistributionWizard.DistributionInfoPanelSet.DistributionInfoDV.OtherUnapplied"
            value="wizardState.OtherUnappliedAvailableForDistribution"
            visible="!wizardState.IsNewCreditDistribution"/>
          <MonetaryAmountInput
            currency="producer.Currency"
            formatType="currency"
            id="TotalAvailable"
            label="displaykey.Web.AgencyDistributionWizard.DistributionInfoPanelSet.DistributionInfoDV.TotalAvailable"
            value="wizardState.TotalAmountAvailableForDistribution"
            visible="!wizardState.IsNewCreditDistribution"/>
        </InputColumn>
        <InputColumn>
          <Label
            id="ThisDistributionHeader"
            label="displaykey.Web.AgencyDistributionWizard.DistributionInfoPanelSet.DistributionInfoDV.ThisDistributionHeader(wizardState.MoneySetup.DistributionTypeName)"/>
          <MonetaryAmountInput
            currency="producer.Currency"
            formatType="currency"
            id="Distributed"
            label="displaykey.Web.AgencyDistributionWizard.DistributionInfoPanelSet.DistributionInfoDV.Distributed"
            value="agencyCycleDist.DistributedAmountForUnexecutedDist"/>
          <MonetaryAmountInput
            currency="producer.Currency"
            formatType="currency"
            id="InSuspense"
            label="displaykey.Web.AgencyDistributionWizard.DistributionInfoPanelSet.DistributionInfoDV.InSuspense"
            value="agencyCycleDist.NetSuspenseAmountForSavedOrExecuted"/>
          <MonetaryAmountInput
            currency="producer.Currency"
            formatType="currency"
            id="Remaining"
            label="displaykey.Web.AgencyDistributionWizard.DistributionInfoPanelSet.DistributionInfoDV.Remaining"
            value="wizardState.Remaining"/>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>