<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="AgencyDistItemsLV"
    mode="item">
    <Require
      name="agencyCycleDistView"
      type="gw.api.web.producer.agencybill.distributionwizard.AgencyCycleDistView"/>
    <Require
      name="wizardState"
      type="gw.agencybill.AgencyDistributionWizardHelper"/>
    <Row
      renderAsSmartHeader="true">
      <Cell
        align="center"
        icon="&quot;flag_red.png&quot;"
        iconLabel="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.PaymentExceptionHeader"
        id="FlagHeader"
        value="true"/>
      <Cell
        id="StatementNumberHeader"
        value="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.StatementNumberHeader"/>
      <Cell
        align="center"
        id="LineItemNumberHeader"
        value="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.LineItemNumber"
        width="50"/>
      <Cell
        id="TransactionDateHeader"
        value="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.StatementDate"/>
      <Cell
        id="DescriptionHeader"
        value="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.ItemDescription"/>
      <Cell
        id="NetAmountOwedHeader"
        value="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.NetOwed"/>
      <Cell
        align="center"
        id="FillDefaultsBlankHeader"
        value="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.Copy"/>
      <Cell
        id="NetAmountToApplyHeader"
        value="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.NetToApply"/>
      <Cell
        align="center"
        id="DetailsHeader"
        value="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.DetailsHeader"/>
      <Cell
        id="DifferenceHeader"
        value="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.Difference"/>
      <Cell
        id="CommentsHeader"
        value="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.Comments"/>
    </Row>
    <RowIterator
      editable="true"
      elementName="policyPeriodView"
      id="PolicyPeriodInvoiceItems"
      value="agencyCycleDistView.ChargeOwners">
      <Row
        useTitleStyle="true">
        <Cell
          align="center"
          id="ExceptionBlank"
          width="50"/>
        <Cell
          action="AgencyChargeOwnerDetailForward.push(policyPeriodView)"
          actionAvailable="policyPeriodView.ChargeOwner typeis PolicyPeriod or policyPeriodView.ChargeOwner typeis Account"
          id="PolicyDescription"
          value="policyPeriodView.DisplayName"/>
        <Cell
          align="center"
          id="LineItemNumberBlank"
          width="50"/>
        <Cell
          id="StatementBlank"/>
        <Cell
          id="ItemBlank"/>
        <MonetaryAmountCell
          currency="policyPeriodView.NetAmountOwed.Currency"
          formatType="currency"
          id="PolicyNetOwed"
          value="policyPeriodView.NetAmountOwed"/>
        <Cell
          align="center"
          id="CopyBlank"/>
        <Cell
          id="NetToApplyBlank"/>
        <LinkCell
          align="center"
          width="70">
          <Link
            action="AgencyDistributionWizard_DetailsPopup.push(policyPeriodView, policyPeriodView.TotalNetAmountToDistribute, wizardState)"
            icon="&quot;viewdetail.png&quot;"
            id="DetailsButton"
            label="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.DetailsButton"
            tooltip="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.DetailsButton.Tooltip"/>
        </LinkCell>
        <Cell
          id="DifferenceBlank"/>
        <Cell
          id="CommentsBlank"/>
      </Row>
      <RowIterator
        editable="true"
        elementName="agencyDistItem"
        id="InvoiceItems"
        pageSize="0"
        value="policyPeriodView.AgencyDistItems">
        <Variable
          initialValue="agencyDistItem.InvoiceItem"
          name="invoiceItem"
          type="InvoiceItem"/>
        <Variable
          initialValue="agencyDistItem.NetAmountToApply"
          name="netToApply"/>
        <Row
          editable="invoiceItem.Type != InvoiceItemType.TC_COMMISSIONREMAINDER">
          <Cell
            align="center"
            icon="agencyDistItem.InvoiceItem.PaymentException ? &quot;flag_red.png&quot; : &quot;flag_gray.png&quot;"
            iconLabel="invoiceItem.PaymentException ? displaykey.Java.AgencyBillStatementItem.ExceptionStatus.CurrentException : displaykey.Java.AgencyBillStatementItem.ExceptionStatus.PastException"
            id="ExceptionFlag"
            showHeaderIcon="false"
            value=" invoiceItem.HasBeenPaymentException"
            width="50"/>
          <Cell
            action="invoiceItem.StatementInvoiceDetailViewAction()"
            actionAvailable="invoiceItem.Invoice typeis StatementInvoice"
            id="StatementNumber"
            value="invoiceItem.Invoice.InvoiceNumber"/>
          <Cell
            align="center"
            id="LineItemNumber"
            value="invoiceItem.LineItemNumber"
            width="50"/>
          <DateCell
            id="Statement"
            value="invoiceItem.Invoice.EventDate"
            width="80"/>
          <Cell
            action="InvoiceItemHistoryPopup.push(invoiceItem)"
            id="ItemDescription"
            value="invoiceItem.DisplayNameAsItemType"/>
          <MonetaryAmountCell
            currency="agencyDistItem.NetAmountOwed.Currency"
            enableSort="false"
            formatType="currency"
            id="ItemNetOwed"
            value="agencyDistItem.NetAmountOwed"/>
          <LinkCell
            align="center"
            id="FillDefaultsButtonCell"
            tooltip="">
            <Link
              action="agencyDistItem.fillUnpaidAmounts()"
              icon="&quot;copyover.png&quot;"
              id="FillDefaultsButton"
              styleClass="none"
              tooltip="displaykey.Web.AgencyDistributionWizard.Step.Distribution.AgencyDistItemsLV.FillDefaultsButtonInfo"
              visible="invoiceItem.Type != InvoiceItemType.TC_COMMISSIONREMAINDER &amp;&amp; agencyDistItem.CommissionModifiable"/>
          </LinkCell>
          <MonetaryAmountCell
            currency="agencyDistItem.Currency"
            editable="agencyDistItem.CommissionModifiable"
            enableSort="false"
            formatType="currency"
            id="NetToApply"
            validationExpression="return wizardState.isNetAmountToApplyInvalid(agencyDistItem)? displaykey.Java.Error.AgencyCycleDistChargeOwnerView.InvalidGrossAndCommissionDistributionAmount : null"
            value="netToApply">
            <PostOnChange
              disablePostOnEnter="false"
              onChange="gw.agencybill.CommissionCalculator.convertNetToApplyToGrossAndCommissionToApply(netToApply, agencyDistItem)"
              target="DATA_ONLY"/>
          </MonetaryAmountCell>
          <Cell
            align="center"
            id="DetailsBlank"/>
          <MonetaryAmountCell
            currency="agencyDistItem.Currency"
            formatType="currency"
            id="Difference"
            value="agencyDistItem.NetAmountOwed - netToApply"/>
          <Cell
            editable="true"
            id="Comments"
            value="agencyDistItem.PaymentComments"/>
        </Row>
      </RowIterator>
    </RowIterator>
  </ListViewPanel>
</PCF>