<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AgencySuspDistItemsLV">
    <ExposeIterator
      flags="Row"
      valueType="entity.BaseSuspDistItem"
      widget="AgencySuspDistItemsLV"/>
    <Require
      name="suspenseDistItems"
      type="BaseSuspDistItemQuery"/>
    <RowIterator
      editable="false"
      elementName="item"
      hasCheckBoxes="true"
      type="BaseSuspDistItem"
      value="suspenseDistItems">
      <Variable
        initialValue="item.BaseDist as AgencyCycleDist"
        name="agencyCycleDist"
        type="AgencyCycleDist"/>
      <Variable
        initialValue="agencyCycleDist.Producer"
        name="producer"
        type="Producer"/>
      <ToolbarFlag
        name="Row"/>
      <Row>
        <Cell
          action="ProducerDetail.go(producer)"
          enableSort="false"
          id="Producer"
          label="displaykey.AgencySuspPmntItem.Producer"
          value="producer"/>
        <Cell
          id="PolicyNumber"
          label="displaykey.AgencySuspPmntItem.PolicyNumber"
          value="item.PolicyNumber"/>
        <Cell
          action="PolicyDetailSummary.go( item.MatchingPolicy )"
          actionAvailable="item.MatchingPolicy != null"
          id="MatchingPolicy"
          label="displaykey.AgencySuspPmntItem.MatchingPolicy"
          value="item.MatchingPolicy.PolicyNumber"/>
        <DateCell
          action="AgencyBillExecutedPayments.go(producer, (agencyCycleDist.BaseMoneyReceived as AgencyBillMoneyRcvd))"
          enableSort="false"
          id="AgencyPayment"
          label="displaykey.AgencySuspPmntItem.AgencyPayment"
          value="agencyCycleDist.DistributedDate"/>
        <MonetaryAmountCell
          currency="item.Currency"
          id="GrossToApply"
          label="displaykey.AgencySuspPmntItem.GrossToApply"
          value="item.GrossAmountToApply"/>
        <MonetaryAmountCell
          currency="item.Currency"
          id="CommissionToApply"
          label="displaykey.AgencySuspPmntItem.CommissionToApply"
          value="item.CommissionAmountToApply"/>
        <MonetaryAmountCell
          currency="item.Currency"
          enableSort="false"
          formatType="currency"
          id="NetToApply"
          label="displaykey.AgencySuspPmntItem.NetToApply"
          value="item.NetAmountToApply"/>
        <Cell
          id="Age"
          label="displaykey.AgencySuspPmntItem.Age"
          sortBy="item.CreateTime"
          value="item.CreateTime.DaysSince"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>