<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="perm.System.mydelinquenciesview and perm.System.viewdesktop"
    id="DesktopDelinquencies"
    title="displaykey.Web.DesktopDelinquencies">
    <LocationEntryPoint
      signature="DesktopDelinquencies()"/>
    <Variable
      initialValue="util.DateUtil.currentDate()"
      name="today"/>
    <!-- EDF: Note that the query here is filtered by the ToolbarFilter below,
    so despite first appearances, this shouldn't be a performance problem. -->
    <Variable
      initialValue="gw.api.database.Query.make(DelinquencyProcess).select()"
      name="delinquencyProcesses"
      type="DelinquencyProcessQuery"/>
    <Screen
      id="DesktopDelinquenciesScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.DesktopDelinquencies"/>
      <Toolbar/>
      <ListViewPanel
        id="DesktopDelinquenciesLV">
        <RowIterator
          checkBoxVisible="false"
          editable="false"
          elementName="delinquencyProcess"
          numEntriesRequired="0"
          type="DelinquencyProcess"
          value="delinquencyProcesses">
          <ToolbarFilter
            name="Filter">
            <ToolbarFilterOption
              filter="new web.delinquency.DelinquencyProcessFilterSet.OpenedThisWeek()"
              selectOnEnter="true"/>
            <ToolbarFilterOption
              filter="new web.delinquency.DelinquencyProcessFilterSet.AllOpen()"/>
          </ToolbarFilter>
          <Row>
            <Cell
              action="AccountDetailDelinquencies.push(delinquencyProcess.Account)"
              id="delinquencyDate"
              label="displaykey.Web.DesktopDelinquencies.DelinquencyDate"
              sortDirection="descending"
              sortOrder="1"
              value="delinquencyProcess.StartDate"/>
            <Cell
              action="AccountDetailSummary.push(delinquencyProcess.Account)"
              enableSort="false"
              id="account"
              label="displaykey.Web.DesktopDelinquencies.Account"
              value="delinquencyProcess.Account.AccountNumber"/>
            <Cell
              enableSort="false"
              id="insured"
              label="displaykey.Web.DesktopDelinquencies.Insured"
              value="delinquencyProcess.Account.AccountNameLocalized"/>
            <Cell
              enableSort="false"
              id="age"
              label="displaykey.Web.DesktopDelinquencies.Age"
              outputConversion="displaykey.Web.DesktopDelinquencies.AgeInDays(VALUE)"
              value="delinquencyProcess.Age"/>
            <Cell
              enableSort="false"
              id="currentEvent"
              label="displaykey.Web.DesktopDelinquencies.CurrentEvent"
              value="delinquencyProcess.PreviousEvent"/>
            <MonetaryAmountCell
              align="right"
              currency="delinquencyProcess.Currency"
              enableSort="false"
              formatType="currency"
              id="totalUnbilled"
              label="displaykey.Web.DesktopDelinquencies.TotalUnbilled"
              value="delinquencyProcess.Account.UnbilledAmount"/>
            <MonetaryAmountCell
              align="right"
              currency="delinquencyProcess.Currency"
              enableSort="false"
              formatType="currency"
              id="billedCurrent"
              label="displaykey.Web.DesktopDelinquencies.BilledCurrent"
              value="delinquencyProcess.Account.BilledAmount"/>
            <MonetaryAmountCell
              align="right"
              currency="delinquencyProcess.Currency"
              enableSort="false"
              formatType="currency"
              id="pastDue"
              label="displaykey.Web.DesktopDelinquencies.PastDue"
              value="delinquencyProcess.Account.DelinquentAmount"/>
            <MonetaryAmountCell
              align="right"
              currency="delinquencyProcess.Currency"
              enableSort="false"
              formatType="currency"
              id="total"
              label="displaykey.Web.DesktopDelinquencies.Total"
              value="delinquencyProcess.Account.TotalValue"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>