<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.System.viewdesktop"
    id="DesktopApprovals"
    title="displaykey.Web.DesktopApprovals">
    <LocationEntryPoint
      signature="DesktopApprovals()"/>
    <Variable
      initialValue="new web.approval.DesktopApprovalsView()"
      name="approvals"
      type="web.approval.DesktopApprovalsView"/>
    <Screen
      id="DesktopApprovalsScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.DesktopApprovals"/>
      <Toolbar/>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.DesktopApprovals.Note"/>
        </InputColumn>
      </DetailViewPanel>
      <ListViewPanel
        id="DesktopApprovalsLV">
        <RowIterator
          editable="false"
          elementName="approval"
          pageSize="0"
          value="approvals.DesktopApprovalsViewItems">
          <ToolbarFilter
            name="Filter">
            <ToolbarFilterOptionGroup
              filters="new web.approval.DesktopApprovalsFilterSet().FilterOptions"/>
          </ToolbarFilter>
          <Row>
            <DateCell
              id="DateCreated"
              label="displaykey.Web.DesktopApprovalsLV.DateCreated"
              sortOrder="1"
              value="approval.DateCreated"/>
            <Cell
              id="Subject"
              label="displaykey.Web.DesktopApprovalsLV.Subject"
              value="approval.Subject"/>
            <MonetaryAmountCell
              currency="approval.Amount.Currency"
              formatType="currency"
              id="Amount"
              label="displaykey.Web.DesktopApprovalsLV.Amount"
              value="approval.Amount"/>
            <TypeKeyCell
              id="ApprovalStatus"
              label="displaykey.Web.DesktopApprovalsLV.ApprovalStatus"
              value="approval.ApprovalStatus"/>
            <Cell
              id="ApprovingUser"
              label="displaykey.Web.DesktopApprovalsLV.ApprovingUser"
              value="approval.ApprovingUser"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>