<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuActions
    id="DesktopMenuActions">
    <MenuItem
      id="DesktopMenuActions_NewPayment"
      label="displaykey.Web.DesktopMenuActions.NewPayment">
      <MenuItem
        action="NewSuspensePayment.go(gw.api.util.CurrencyUtil.getDefaultCurrency())"
        id="DesktopMenuActions_NewSuspensePayment"
        label="displaykey.Web.DesktopMenuActions.NewSuspensePayment"
        visible="perm.SuspensePayment.process">
        <MenuItemIterator
          elementName="currency"
          value="Currency.getTypeKeys(false)"
          visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()">
          <MenuItem
            action="NewSuspensePayment.go(currency)"
            id="SuspensePaymentCurrencyItem"
            label="currency"/>
        </MenuItemIterator>
      </MenuItem>
      <MenuItem
        action="pcf.MultiPaymentEntryWizard.go(gw.api.util.CurrencyUtil.getDefaultCurrency())"
        id="DesktopMenuActions_MultiPaymentEntryWizard"
        label="displaykey.Web.DesktopMenuActions.MultiPaymentEntryWizard"
        visible="perm.DirectBillMoneyRcvd.pmntmanproc and perm.DirectBillMoneyRcvd.pmntmanmultproc">
        <MenuItemIterator
          elementName="currency"
          value="Currency.getTypeKeys(false)"
          visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()">
          <MenuItem
            action="pcf.MultiPaymentEntryWizard.go(currency)"
            id="MultiplePaymentCurrencyItem"
            label="currency"/>
        </MenuItemIterator>
      </MenuItem>
      <MenuItem
        action="NewPaymentRequestWizard.go()"
        id="DesktopMenuActions_NewPaymentRequest"
        label="displaykey.Web.DesktopMenuActions.NewPaymentRequest"/>
    </MenuItem>
    <MenuItem
      id="DesktopMenuActions_NewTransaction"
      label="displaykey.Web.DesktopMenuActions.NewTransaction">
      <MenuItem
        action="CreateDisbursementWizard.go()"
        id="DesktopMenuActions_NewDisbursementTransaction"
        label="displaykey.Web.DesktopMenuActions.NewTransaction.Disbursement"
        visible="perm.Transaction.disbcreate"/>
      <MenuItem
        action="NewTransferWizard.go()"
        id="DesktopMenuActions_NewTransactionTransfer"
        label="displaykey.Web.DesktopMenuActions.NewTransaction.Transfer"
        visible="perm.Transaction.cashtx"/>
      <MenuItem
        action="NewWriteoffWizard.go()"
        id="DesktopMenuActions_NewTransactionWriteoff"
        label="displaykey.Web.DesktopMenuActions.NewTransaction.WriteOff"
        visible="perm.Transaction.acctwo or perm.Transaction.plcywo"/>
      <MenuItem
        action="NewNegativeWriteoffWizard.push()"
        id="DesktopMenuActions_NewTransactionNegativeWriteoff"
        label="displaykey.Web.DesktopMenuActions.NewTransaction.NegativeWriteoff"
        visible="perm.Transaction.acctwo or perm.Transaction.plcywo"/>
      <MenuItem
        action="CreateSubrogationWizard.go()"
        id="DesktopMenuActions_NewTransactionSubrogation"
        label="displaykey.Web.DesktopMenuActions.NewTransaction.Subrogation"
        visible="perm.Transaction.subrtxn"/>
      <MenuItem
        action="NewChargeReversalWizard.go()"
        id="DesktopMenuActions_NewChargeReversal"
        label="displaykey.Web.DesktopMenuActions.NewTransaction.ChargeReversal"
        visible="perm.Transaction.revtxn"/>
      <MenuItem
        action="NewWriteoffReversalWizard.go()"
        id="DesktopMenuActions_NewWriteoffReversal"
        label="displaykey.Web.DesktopMenuActions.NewTransaction.WriteoffReversal"
        visible="perm.Transaction.revtxn"/>
      <MenuItem
        action="NewNegativeWriteoffReversalWizard.go()"
        id="DesktopMenuActions_NewNegativeWriteoffReversal"
        label="displaykey.Web.DesktopMenuActions.NewTransaction.NegativeWriteoffReversal"
        visible="perm.Transaction.revtxn"/>
      <MenuItem
        action="NewFundsTransferReversalWizard.go()"
        id="DesktopMenuActions_NewFundsTransferReversal"
        label="displaykey.Web.DesktopMenuActions.NewTransaction.FundsTransferReversal"
        visible="perm.System.transferreversal"/>
      <MenuItem
        action="NewTransactionWizard.go()"
        id="DesktopMenuActions_NewTransactionGeneral"
        label="displaykey.Web.DesktopMenuActions.NewTransaction.General"
        visible="perm.Transaction.gentxn"/>
    </MenuItem>
    <MenuItem
      id="NewAssignedActivity"
      label="displaykey.Web.DesktopMenuActions.NewAssignedActivity"
      shortcut="A"
      visible="perm.Activity.create">
      <MenuItemSetRef
        def="NewActivityMenuItemSet(false, null)"/>
    </MenuItem>
    <MenuItem
      id="NewSharedActivity"
      label="displaykey.Web.DesktopMenuActions.NewSharedActivity"
      shortcut="S"
      visible="perm.Activity.create">
      <MenuItemSetRef
        def="NewActivityMenuItemSet(true, null)"/>
    </MenuItem>
    <MenuItem
      action="UserPreferencesWorksheet.goInWorkspace()"
      id="DesktopMenuActions_UserPreferences"
      label="displaykey.Web.DesktopMenuActions.UserPreferences"
      shortcut="P"/>
  </MenuActions>
</PCF>