<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ProducersWithExceptionsLV">
    <ExposeIterator
      flags="Row"
      valueType="gw.api.web.invoice.ProducerWithExceptionsView"
      widget="ProducersWithExceptionsLV"/>
    <Require
      name="producers"
      type="web.invoice.ProducerWithExceptionsView[]"/>
    <RowIterator
      checkBoxVisible="true"
      editable="false"
      elementName="producerWithExceptions"
      hasCheckBoxes="true"
      numEntriesRequired="0"
      value="producers">
      <ToolbarFlag
        name="Row"/>
      <Row>
        <DateCell
          id="ProducerWithMismatchDate"
          label="displaykey.Web.ProducersWithMismatchExceptions.Date"
          value="producerWithExceptions.OldestMismatchExceptionDate"/>
        <Cell
          action="AgencyBillExceptions.go(producerWithExceptions.Producer)"
          id="ProducerWithMismatchAgency"
          label="displaykey.Web.ProducersWithMismatchExceptions.Agency"
          value="producerWithExceptions.Producer"/>
        <Cell
          id="ProducerWithMismatchNumberOfExceptions"
          label="displaykey.Web.ProducersWithMismatchExceptions.NumberOfExceptions"
          value="producerWithExceptions.NumberOfExceptions"/>
        <Cell
          id="ProducerWithMismatchOldestException"
          label="displaykey.Web.ProducersWithMismatchExceptions.OldestException"
          value="producerWithExceptions.OldestMismatchExceptionDate.DaysSince"/>
        <Cell
          footerLabel="displaykey.Web.ProducersWithMismatchExceptions.Total"
          id="ProducerWithMismatchNewestException"
          label="displaykey.Web.ProducersWithMismatchExceptions.NewestException"
          value="producerWithExceptions.NewestMismatchExceptionDate.DaysSince"/>
        <MonetaryAmountCell
          currency="producerWithExceptions.Producer.Currency"
          footerSumValue="producerWithExceptions.NetAmountOfMismatchExceptions"
          formatType="currency"
          id="ProducerWithMismatchAmount"
          label="displaykey.Web.ProducersWithMismatchExceptions.Amount"
          value="producerWithExceptions.NetAmountOfMismatchExceptions"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>