<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ReceivedAndUnappliedMoneyLV">
    <ExposeIterator
      flags="Row"
      valueType="entity.AgencyBillMoneyRcvd"
      widget="ReceivedAndUnappliedMoneyLV"/>
    <Require
      name="unappliedPayments"
      type="PaymentMoneyReceivedQuery"/>
    <RowIterator
      checkBoxVisible="true"
      editable="false"
      elementName="receivedAndUnappliedMoney"
      hasCheckBoxes="true"
      numEntriesRequired="0"
      type="AgencyBillMoneyRcvd"
      value="unappliedPayments">
      <ToolbarFlag
        name="Row"/>
      <Row>
        <DateCell
          id="agencyItemDate"
          label="displaykey.Web.ReceivedAndUnappliedMoney.Date"
          value="receivedAndUnappliedMoney.ReceivedDate"/>
        <Cell
          action="ProducerDetailPopup.push(receivedAndUnappliedMoney.Producer)"
          id="Agency"
          label="displaykey.Web.ReceivedAndUnappliedMoney.Agency"
          value="receivedAndUnappliedMoney.Producer"/>
        <MonetaryAmountCell
          currency="receivedAndUnappliedMoney.Currency"
          formatType="currency"
          id="amount"
          label="displaykey.Web.ReceivedAndUnappliedMoney.Amount"
          value="receivedAndUnappliedMoney.Amount"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>